<div>
  <!-- <div class="mt-3" *ngIf="scenarioList">
    <div class="col scenarioContainer position-relative flex flex-col gap-2 min-h-0"> -->
  <!-- <div class="flex items-center justify-between">
        <label class="col-form-label" for="inputDefault">Scenarios :</label>
        <button matTooltip="Compare Scenarios" matTooltipPosition="above" class="btn btn-small compare-icon scenerio-icon" (click)="compareScenarios()">
          <mat-icon svgIcon="scenario_icon"></mat-icon>
        </button>
      </div> -->
  <!-- <div class="section-head flex items-center">
        <h2 class="section-header mb-0 mr-auto">Scenarios</h2>
        <div class="flex items-center gap-2 justify-end head-controls">
          <button matTooltip="Compare Scenarios" matTooltipPosition="above" class="btn btn-small compare-icon scenerio-icon" (click)="compareScenarios()">
            <mat-icon svgIcon="scenario_icon"></mat-icon>
          </button>
          <button mat-button class="flex items-center justify-center" (click)="addScenario($event)" matTooltip="Add Scenario" matTooltipPosition="above">
            <mat-icon svgIcon="circle_plus"></mat-icon>
          </button>
        </div>
      </div>
      <ul class="scenarioLists flex flex-col gap-2" cdkDropList (cdkDropListDropped)="dropScenario($event)">
        @for (node of scenarioList; track node) {
          <li class="justify-between w-full gap-2" cdkDrag>
            <div *cdkDragPlaceholder></div>
            <button class="button scenarionameButton" [class.selected]="node.scenarioId === selectedScenario" (click)="onSelectScenarioClick($event, node)"> -->
  <!-- <span class="badges"></span> -->
  <!-- <span class="scenarioname">{{ node.scenarioName }}</span>
            </button>
            @if (canUpdate) {
              <div class="flex items-center gap-2 scenario-icons">
                <button class="btn btn-small btn-outline-primary p-2" (click)="editScenarioCall(node)" matTooltip="Edit Scenario" matTooltipPosition="above">
                  <mat-icon color="black">editpen_icon</mat-icon>
                </button>
                <button
                  class="btn btn-small btn-outline-primary p-2"
                  (click)="onSelectDeleteScenarioClick($event, node)"
                  *ngIf="!node.isDefault"
                  matTooltip="Delete Scenario"
                  matTooltipPosition="above">
                  <mat-icon color="warn">delete</mat-icon>
                </button> -->
  <!-- <button class="btn btn-small btn-outline-primary p-2" (click)="addScenario($event)" *ngIf="node.isDefault" matTooltip="Add Scenario" matTooltipPosition="above">
                  <mat-icon color="primary" svgIcon="add_icon">add</mat-icon>
                  <mat-icon color="black">add</mat-icon>
                </button> -->
  <!-- </div>
            }
          </li>
        }
      </ul>
    </div>
  </div> -->
  <div class="section-seperator my-3"></div>
  <div class="col mt-3">
    <div class="flex flex-col bomContainer">
      <div class="section-head flex items-center">
        <h2 class="section-header mb-0 mr-auto">Items</h2>
        <div class="flex items-center gap-1 justify-end head-controls">
          <button *ngIf="canUpdate" mat-button class="flex items-center justify-center" (click)="addBomClick()" matTooltip="Add Bom" matTooltipPosition="above">
            <mat-icon svgIcon="circle_plus"></mat-icon>
          </button>
          <!-- Uncomment -->
          <button *ngIf="canUpdate" mat-button class="flex items-center justify-center p-1" (click)="openBomMove()" matTooltip="Move Parts" matTooltipPosition="above">
            <mat-icon svgIcon="move"></mat-icon>
          </button>
          <button mat-button class="flex items-center justify-center expand-cta" (click)="openBomCostSummary()" matTooltip="Expanded Summary" matTooltipPosition="above">
            <mat-icon svgIcon="expand"></mat-icon>
          </button>
        </div>
      </div>
      <div class="search-wrap relative">
        <div class="searchIcon absolute flex items-center justify-center top-0 left-0 w-10 h-full icon-16">
          <mat-icon svgIcon="search_icon"></mat-icon>
        </div>
        <input type="text" #searchBomInput class="form-control" placeholder="Search" (keyup)="searchBom($event)" (blur)="searchBom($event)" (keyup.enter)="onEnterSearch($event)" />
      </div>
      <div class="jstree-bom-container" #scrollBox (scroll)="onScroll()">
        <div id="bomjstree">
          <div class="jstree-node" appDynamicComponentDirective></div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap row-col-3 mt-3 action-button">
      <!-- <div class="col">
        <a mat-button (click)="openBomCostSummary()">
          <mat-icon class="mb-0">expand</mat-icon>
          <span class="aligned-with-icon">Expand</span>
        </a>
      </div>
      <div class="col">
        <a mat-button (click)="openBomMove()">
          <mat-icon class="mb-0">move</mat-icon>
          <span class="aligned-with-icon">Move</span>
        </a>
      </div>
      <div class="col">
        <a mat-button (click)="addBomClick()">
          <mat-icon svgIcon="add_icon"></mat-icon>
          <span class="aligned-with-icon">Add</span>
        </a>
      </div> -->
      <!-- <div class="col">
        <a mat-button (click)="removeBomClick()">
          <mat-icon svgIcon="remove_icon"></mat-icon>
          <span class="aligned-with-icon ml-1">Remove</span>
        </a>
      </div> -->
      <!-- <div class="col" *ngIf="treeHasChildren">
        <a mat-button (click)="moveCheckedNodes('showCheckbox')" class="{{ purchasePartButton.class }}">
          <mat-icon class="mb-0">exit_to_app</mat-icon>
          <span class="aligned-with-icon ml-1">{{ purchasePartButton.text }}</span>
        </a>
      </div> -->
    </div>

    <div class="col mt-3" *ngIf="!metaDataModel?.fileName">
      <button class="btn uploadImage">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        Upload Image
      </button>
    </div>
    <div class="section-seperator my-3"></div>
    <div class="col mt-3 cadexbomContainer">
      <div id="example-container" class="fileviewer-container" (click)="openCadViewer()">
        <h2 class="section-header mb-0 mr-auto">Model</h2>
        <!-- <div id="file-viewer" #fileViewer></div> -->
        <img *ngIf="!!modalImage" [src]="'data:image/jpeg;base64,' + modalImage" class="cursor-pointer part-image" alt="" />
      </div>
    </div>
  </div>
</div>
