.mat-icon {
  // height: 32px;
  // margin-bottom: 4px;
  cursor: pointer;
}

.compare-icon {
  top: 0.5rem;
  right: 0.5rem;

  button {
    &:hover,
    &:focus {
      mat-icon {
        color: var(--bs-primary);
      }
    }

    mat-icon {
      color: #000000;
    }
  }
}

.action-button {
  div {
    a.default {
      color: #0d6efd;
    }

    a.red {
      color: #dc3545;
    }

    a {
      font-size: 14px;
      cursor: pointer;
      padding: 0 16px;
      min-width: 64px;
      line-height: 36px;
      border-radius: 4px;
      align-items: center;
      display: inline-flex;

      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }

      .mat-icon {
        flex-shrink: 0;
      }
    }
  }
}

// .scenarionameButton {
//   // min-width: 190px;
//   padding: 8px 20px 8px 20px;
//   gap: 8px;
//   border-radius: 6px;
//   border: solid 1px #f3f7ff;
//   opacity: 0px;
//   background: #f3f7ff;
//   color: var(--bs-primary);
//   transition: border-color 0.2s ease-in-out;
//   font-size: 0.875rem;
//   font-weight: 500;

//   &:hover,
//   &:focus {
//     border-color: var(--bs-primary);
//   }
// }

// .scenarioname {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

.bomContainer {
  gap: 12px;
  height: 300px;
  overflow-y: auto;
  padding: 4px 16px 0 16px;
}

// .scenarioContainer {
//   border: 1px solid #cadcff;
//   box-shadow: 0px 4px 24px 0px #0000000f;
//   border-radius: 16px;
//   padding: 1rem;
//   overflow-y: auto;
//   height: auto;
// }

.cadexbomContainer {
  height: auto;
  // overflow-y: auto;
  padding: 16px 10px 10px 10px;
}

button.exportimportbtn {
  border: 1px solid #dcdcdc;
  color: var(--bs-link-hover-color);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.part-image {
  width: 23rem;
}

.uploadImage {
  width: 100%;
  height: 150px;
}

.uploadImage i {
  font-size: 50px;
  display: block;
  color: var(--bs-link-hover-color);
  margin-bottom: 10px;
}

.aligned-with-icon {
  margin-left: 5px;
  font-weight: 400;
  white-space: nowrap;
  color: var(--bs-body-color);
}

.fileviewer-container {
  height: 200px !important;
  // width: 330px !important;
}

#file-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

#file-viewer .cadex-logo {
  visibility: hidden;
  background-color: #ffffff !important;
  color: #dee2e6 !important;
}

@media screen and (min-width: 700px) and (max-width: 1280px) {
  .fileviewer-container {
    width: 12.5rem !important;
  }
}

/* scenarioListsComponent's private CSS styles */
// .scenarioLists {
//   margin: 0;
//   list-style-type: none;
//   padding: 0;
//   width: 100%;
//   min-width: 0;
// }

// .scenarioLists li {
//   display: flex;
//   min-width: 200px;
//   align-items: center;

//   .scenario-icons {
//     --bs-btn-border-color: #f3f7ff;

//     span {
//       top: 10px;
//       position: absolute;
//     }

//     span:nth-child(2) {
//       left: 28px;
//     }

//     mat-icon {
//       height: 18px;
//       width: 18px;
//       font-size: 18px;
//     }

//     .btn {
//       height: 36px;
//     }
//   }
// }

// .scenarioLists .button {
//   // flex: 1;
//   cursor: pointer;
//   position: relative;
//   left: 0;
//   background-color: #eee;
//   display: flex;
//   align-items: stretch;
//   height: 33px;
// }

// .scenarioLists .button:hover {
//   color: #2c3a41;
//   background-color: #e6e6e6;
//   left: 0.1em;
// }

// .scenarioLists .button:active {
//   background-color: #525252;
//   color: #fafafa;
// }

// .scenarioLists .button.selected {
//   background-color: #0d6efd;
//   color: white;
// }

// .scenarioLists .button.selected:hover {
//   background-color: #eee;
//   color: black;
// }

// .scenarioLists .button.selected:active {
//   background-color: #0d6efd;
//   color: white;
// }

// .scenarioLists .badges {
//   display: inline-block;
//   font-size: small;
//   color: white;
//   padding: 0.8em 0.7em 0 0.7em;
//   background-color: #1874d6;
//   line-height: 1em;
//   margin-right: 0.8em;
//   border-radius: 4px 0 0 4px;
// }

// .scenarioLists .scenarioname {
//   align-self: center;
// }

// .scenerio-icon {
//   color: #0d6efd;
//   padding: 0 !important;
// }

.section-header {
  font-size: 14px;
  font-weight: 600;
}

.head-controls {
  > button {
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: var(--bs-black);

    &:hover {
      background-color: var(--icon-btn-hover);
    }
    &:focus-visible {
      color: var(--bs-white);
      background-color: var(--primary-shade);
    }
    .mat-icon {
      width: 18px;
      height: 18px;
    }
  }
}

.search-wrap {
  .form-control {
    height: 34px;
    padding-inline-start: 35px;
  }
}

.section-seperator {
  height: 1px;
  margin: 0 auto;
  width: calc(100% - 32px);
  background-color: #dcdcdc;
}

::ng-deep .contextmenu-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  font-weight: bold;
  padding: 0 8px;

  &:hover {
    color: #000;
  }
}

.jstree-bom-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.expand-cta {
  .mat-icon {
    transform: scale(1.2);
  }
}
