<div class="card mt-3">
  <div class="card-header">Material Summary</div>
  <div class="card-body">
    <table aria-describedby="Material" class="table m-0">
      <thead>
        <tr>
          <th scope="col">Sl #</th>
          <th scope="col">Mold Item Description</th>
          <th scope="col">Quantity</th>
          <th scope="col">Weight(Kg):</th>
          <th scope="col">Raw Material Cost($)</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="_toolConfig.commodity.isInjMoulding || _toolConfig.commodity.isCasting">
        <tr scope="row" *ngFor="let material of compVals.coreMaterialInfoList; let i = index" [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ i + 1 }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.totalPlateWeight }}</td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr *ngIf="compVals.coreMaterialInfoList?.length > 0">
          <td colspan="2" class="border-0"></td>
          <td><strong>Sub Total (Core/Cavity):</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totCoreWeight }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totCoreCost }}</strong>
          </td>
        </tr>
        <tr scope="row" *ngFor="let material of compVals.mouldMaterialInfoList; let i = index" [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ mouldIndex + i }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.totalPlateWeight }}</td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr *ngIf="compVals.mouldMaterialInfoList?.length > 0">
          <td colspan="2" class="border-0"></td>
          <td><strong>Sub Total (Mould Base)</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totMouldWieght }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totMouldCost }}</strong>
          </td>
        </tr>
        <tr
          scope="row"
          *ngFor="let material of compVals.electrodeMaterialInfoList; let i = index"
          [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ copperIndex + i }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.totalPlateWeight }}</td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr *ngIf="!(_toolConfig.commodity.isCasting && compVals.selectedToolingNameId === 2) && compVals.electrodeMaterialInfoList?.length > 0">
          <td colspan="2" class="border-0"></td>
          <td><strong>Electrode Material Cost -(in Kgs)</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totElectrodWeight }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totElectrodCost }}</strong>
          </td>
        </tr>
        <tr scope="row" *ngFor="let material of compVals.otherMaterialInfoList; let i = index" [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ otherIndex + i }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td></td>
          <td></td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="border-0"></td>
          <td><strong>Total</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totWeight }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totCost }}</strong>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!_toolConfig.commodity.isInjMoulding && !_toolConfig.commodity.isSheetMetal && !_toolConfig.commodity.isCasting">
        <tr scope="row" *ngFor="let material of compVals.toolingMaterialInfoList; let i = index" [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ i + 1 }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.totalPlateWeight }}</td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="border-0"></td>
          <td><strong>Total</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totWeight }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totCost }}</strong>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="_toolConfig.commodity.isSheetMetal">
        <tr scope="row" *ngFor="let material of compVals.diePunchMaterialInfoList; let i = index" [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ i + 1 }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.totalPlateWeight }}</td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr *ngIf="compVals.diePunchMaterialInfoList?.length > 0">
          <td colspan="2" class="border-0"></td>
          <td><strong>Sub Total (Die/Punches):</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totDiePunchWeight }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totDiePunchCost }}</strong>
          </td>
        </tr>
        <tr scope="row" *ngFor="let material of compVals.mouldMaterialInfoList; let i = index" [ngClass]="{ 'selected-item-color': material.toolingMaterialId === compVals.selectedToolMaterialId }">
          <td scope="row">{{ mouldIndex + i }}</td>
          <!-- <td>{{ getMoldTypeName(material.moldDescriptionId) }}</td> -->
          <td>{{ material.toolingMaterialName }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.totalPlateWeight }}</td>
          <td>{{ material.totalRawMaterialCost }}</td>
          <td style="text-align: center">
            <a href="javascript:void(0)" (click)="onEditMaterialInfo(material)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteMaterialClick(material.toolingMaterialId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr *ngIf="compVals.mouldMaterialInfoList?.length > 0">
          <td colspan="2" class="border-0"></td>
          <td><strong>Sub Total (Die Set):</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totMouldWieght }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totMouldCost }}</strong>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="border-0"></td>
          <td><strong>Total</strong></td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totWeight }}</strong>
          </td>
          <td>
            <strong>{{ _toolingMaterialConfig.materialInfo?.totCost }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="links-block d-flex">
      <a *ngIf="canUpdate" class="link-info ml-auto" title="Add Material" (click)="addMaterial()">Add Material</a>
    </div>
    <!-- <div class="row mt-2">     
        <div class="col-4 mt-2">
            <label class="form-label">Total Core/Cavity Material Weight (Kg):</label>
            <input type="number" class="form-control" formControlName="totalCoreCavityWeight" [OnlyNumber]="true"
                (blur)="calculateMaterialCost()" min="0"  readonly/>
        </div>
        <div class="col-4 mt-2">
            <label class="form-label">Total Core/Cavity  Material Cost ($):</label>
            <input type="number" class="form-control" formControlName="totalCoreCavityMaterialCost" [OnlyNumber]="true"
                (blur)="calculateMaterialCost()" min="0" readonly/>
        </div>
</div> -->
    <!-- <div class="row mt-2">
    <div class="col-4 mt-2">
        <label class="form-label"> Total Mould Base Material Weight (Kg):</label>
        <input type="number" class="form-control" formControlName="totalMouldBaseWeight" [OnlyNumber]="true"
            (blur)="calculateMaterialCost()" min="0"  readonly/>
    </div>
    <div class="col-4 mt-2">
        <label class="form-label"> Total Mould Base  Material Cost ($):</label>
        <input type="number" class="form-control" formControlName="totalMouldBaseMaterialCost" [OnlyNumber]="true"
            (blur)="calculateMaterialCost()" min="0" readonly/>
    </div>
</div> -->
  </div>
</div>
