.content-wrap {
  border-radius: 6px;
  border: solid 1px var(--readonly-surface);
  background-color: var(--readonly-surface);
}
::ng-deep .competitive-analysis .mat-mdc-tab-body-wrapper {
  flex: 1;
  padding-top: 60px;
}
.best-region-graph-section {
  position: relative;
  padding-top: 14px;

  &::before {
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    height: 1px;
    position: absolute;
    background-color: var(--material-table-border);
  }
  .graph-footer {
    .label {
      line-height: 150%;
      margin-bottom: 4px;
      color: var(--label-text);
    }
    .stock-value {
      line-height: 150%;
      border-radius: 6px;
      max-width: calc((100% - 32px) / 3);
    }
    .stock-up {
      border: 1px solid var(--status-green-border);
      background-color: var(--stock-green-bg);
      .value {
        color: var(--table-green-text);
      }
    }
    .stock-down {
      border: 1px solid var(--stock-red-border);
      background-color: var(--bg-light-red);
      .value {
        color: var(--stock-red-text);
      }
    }
  }
}
.page-header {
  top: 56px;
  z-index: 20;
  position: fixed;
  background: var(--bs-white);
}
::ng-deep .competitive-analysis .mat-mdc-tab-header {
  top: 100px;
  z-index: 19;
  width: 100%;
  position: fixed !important;
  background: var(--bs-white);
}
.edit-btn {
  color: var(--bs-black);
  mat-icon {
    width: 12px;
    height: 12px;
    color: currentColor;
  }
}
.breadcrumb-wrap {
  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}
.competitive-analysis {
  min-height: calc(100dvh - 56px);
}
