<div [formGroup]="formGroup">
  <div class="card mt-2">
    <div class="card-header"><strong>Array Creation</strong></div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">PCB size X(mm)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'openingTime'"></app-field-comment>
          <input type="number" formControlName="openingTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">PCB size Y(mm)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'colorantPer'"></app-field-comment>
          <input type="number" formControlName="colorantPer" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Board Spacing X(mm)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'colorantCost'"></app-field-comment>
          <input type="number" formControlName="colorantCost" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Board Spacing Y(mm)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'colorantPrice'"></app-field-comment>
          <input type="number" formControlName="colorantPrice" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Matrix X</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'runnerDia'"></app-field-comment>
          <input type="number" formControlName="runnerDia" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Matrix Y</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'runnerLength'"></app-field-comment>
          <input type="number" formControlName="runnerLength" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Handling Area Left</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'flowFactor'"></app-field-comment>
          <input type="number" formControlName="flowFactor" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Handling Area Right</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'wallThickFactor'"></app-field-comment>
          <input type="number" formControlName="wallThickFactor" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Handling Area Top</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'maxFlowlength'"></app-field-comment>
          <input type="number" formControlName="maxFlowlength" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Handling Area Bottom</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'injPressure'"></app-field-comment>
          <input type="number" formControlName="injPressure" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">No. of PCB'S/ARRAY</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'txtWindows'"></app-field-comment>
          <input type="number" formControlName="txtWindows" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">ARRAY SIZE X(mm)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'closingTime'"></app-field-comment>
          <input type="number" formControlName="closingTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">ARRAY SIZE Y(mm)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'injectionTime'"></app-field-comment>
          <input type="number" formControlName="injectionTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">ARRAY SIZE X(inch)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'holdingTime'"></app-field-comment>
          <input type="number" formControlName="holdingTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">ARRAY SIZE Y(inch)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coolingTime'"></app-field-comment>
          <input type="number" formControlName="coolingTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header"><strong>Panel Creation</strong></div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">PCB array SIZE X</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'ejectionTime'"></app-field-comment>
          <input type="number" formControlName="ejectionTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">PCB array SIZE Y</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'pickPlaceTime'"></app-field-comment>
          <input type="number" formControlName="pickPlaceTime" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Utilization</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coilLength'"></app-field-comment>
          <input type="number" formControlName="coilLength" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Panel Width</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'partInnerDiameter'"></app-field-comment>
          <input type="number" formControlName="partInnerDiameter" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Panel Length</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coilDiameter'"></app-field-comment>
          <input type="number" formControlName="coilDiameter" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">No.Of Arrays Per Panel</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coilWeight'"></app-field-comment>
          <input type="number" formControlName="coilWeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Choose Utilization</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'noOfDrawSteps'"></app-field-comment>
          <select formControlName="noOfDrawSteps" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option *ngFor="let item of calculatedUtilizationList" [value]="item.index">{{ item.fullNumber }}</option>
          </select>
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">No Of PCB</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'standardDeviation'"></app-field-comment>
          <input type="number" formControlName="standardDeviation" (blur)="calculateCost()" class="form-control" readonly="readonly" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-12 links-block" style="justify-content: end">
          <a href="javascript:void(0)" (click)="viewPanelutilization()">View Panel Utilization</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header"><strong>Stack-up Technology</strong></div>
    <div class="card-body">
      <div id="_matmoredetailsCore">
        <div class="card mt-1">
          <div class="card-header"><strong>Copper Entries</strong></div>
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label class="form-label no-wrap">No.of copper layers</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'typeOfWeld'"></app-field-comment>
                <select formControlName="typeOfWeld" class="form-control" (change)="calculateCost()">
                  <option value="" selected>-------Select--------</option>
                  <option *ngFor="let item of copperLayers" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div class="col-4">
                <label class="form-label no-wrap">Outer Layer Start Copper Thickness(oz):</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'partTickness'"></app-field-comment>
                <select formControlName="partTickness" class="form-control" (change)="calculateCost()">
                  <option value="" selected>-------Select--------</option>
                  <option *ngFor="let item of copperThicknessList" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>
              </div>

              <div class="col-4">
                <label class="form-label no-wrap">Outer Layer Finish Copper Thickness(oz):</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primerMatPrice'"></app-field-comment>
                <select formControlName="primerMatPrice" class="form-control" (change)="calculateCost()">
                  <option value="" selected>-------Select--------</option>
                  <option *ngFor="let item of copperThicknessList" [value]="item.id">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <ng-container formArrayName="materialPkgs">
              <ng-container *ngFor="let items of getControlsByCore(1); let index = index; trackBy: trackByControl">
                <div [formGroupName]="sandForCoreFormArray.controls.indexOf(items)">
                  <div class="row mt-3">
                    <div class="col-4">
                      <label class="form-label no-wrap">Inner layer copper thickness(oz)-{{ index + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreLength'"></app-field-comment>
                      <select formControlName="coreLength" class="form-control" (change)="calculateCost()">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of copperThicknessList" [value]="item.id">
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label no-wrap">No.of Inner layer copper thickness-{{ index + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWidth'"></app-field-comment>
                      <input type="number" formControlName="coreWidth" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
                    </div>
                    <div class="col-4">
                      <a mat-icon-button class="float-end" (click)="onDeleteSubCore(index, 1)" matTooltip="Delete Copper" matTooltipPosition="above">
                        <mat-icon class="warn">delete</mat-icon>
                      </a>
                    </div>
                  </div>
                  <hr class="devider" />
                </div>
              </ng-container>
            </ng-container>
            <div class="col-12 links-block" style="justify-content: end">
              <a href="javascript:void(0)" (click)="addMoreCore(1)">Add Inner Layer</a>
            </div>
          </div>
        </div>

        <div class="card mt-1">
          <div class="card-header"><strong>Core Entries</strong></div>
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label class="form-label no-wrap">No of cores</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'stockLength'"></app-field-comment>
                <input type="number" formControlName="stockLength" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
              </div>
            </div>

            <ng-container formArrayName="materialPkgs">
              <ng-container *ngFor="let items of getControlsByCore(2); let filteredIndex = index; trackBy: trackByControl">
                <div [formGroupName]="sandForCoreFormArray.controls.indexOf(items)">
                  <div class="row mt-3">
                    <div class="col-4">
                      <label class="form-label">Core thickness(microns)-{{ filteredIndex + 1 }}:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreLength'"></app-field-comment>
                      <select formControlName="coreLength" class="form-control" (change)="coreThicknessChange($event, filteredIndex)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let thickness of fullLaminateCoreThicknessList[filteredIndex]" [value]="thickness.electronicsMaterialMasterId">
                          {{ thickness.coreThickness }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label">Copper Thickness-{{ filteredIndex + 1 }}:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreHeight'"></app-field-comment>
                      <select formControlName="coreHeight" class="form-control" (change)="copperThicknessChange($event, filteredIndex)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullLaminateCopperThicknessList[filteredIndex]" [value]="item.electronicsMaterialMasterId">
                          {{ item.copperThickness }}
                        </option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label class="form-label">Category(Tg)-{{ filteredIndex + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWidth'"></app-field-comment>
                      <select formControlName="coreWidth" class="form-control" (change)="categoryChange(filteredIndex)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullLaminateCategoryList[filteredIndex]" [value]="item.electronicsMaterialMasterId">
                          {{ item.materialCategory }}
                        </option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label class="form-label">Material Type-{{ filteredIndex + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreShape'"></app-field-comment>
                      <select formControlName="coreShape" class="form-control" (change)="materialTypeChange($event, filteredIndex)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullLaminateMaterialTypeList[filteredIndex]" [value]="item.electronicsMaterialMasterId">
                          {{ item.materialType }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label">Material Grade-{{ filteredIndex + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreArea'"></app-field-comment>
                      <select formControlName="coreArea" class="form-control" (change)="materialGradeChange($event, filteredIndex)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullLaminateMaterialGradeList[filteredIndex]" [value]="item.electronicsMaterialMasterId">
                          {{ item.materialGrade }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label">No. of Core thickness-{{ filteredIndex + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWeight'"></app-field-comment>
                      <input type="number" formControlName="coreWeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <a mat-icon-button class="float-end" (click)="onDeleteSubCore(filteredIndex, 2)" matTooltip="Delete Core" matTooltipPosition="above">
                        <mat-icon class="warn">delete</mat-icon>
                      </a>
                    </div>
                  </div>
                  <hr class="devider" />
                </div>
              </ng-container>
            </ng-container>
            <div class="col-12 links-block" style="justify-content: end">
              <a href="javascript:void(0)" (click)="addMoreCore(2)">Add Core</a>
            </div>
          </div>
        </div>

        <div class="card mt-1">
          <div class="card-header"><strong>Prepreg Entries</strong></div>
          <div class="card-body">
            <ng-container formArrayName="materialPkgs">
              <ng-container *ngFor="let materialprocessForm of getControlsByCore(3); let index = index; trackBy: trackByControl">
                <div [formGroupName]="sandForCoreFormArray.controls.indexOf(materialprocessForm)">
                  <div class="row mt-3">
                    <div class="col-4">
                      <label class="form-label">Prepreg Code-{{ index + 1 }}:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreLength'"></app-field-comment>
                      <select formControlName="coreLength" class="form-control" (change)="prepregCodeChange($event, index)" #thicknessInput>
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullPrepregCodeList[index]" [value]="item.electronicsMaterialMasterId">
                          {{ item.materialCategory }}
                        </option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label">Prepreg Type-{{ index + 1 }}:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreHeight'"></app-field-comment>
                      <select formControlName="coreHeight" class="form-control" (change)="prepregTypeChange($event, index)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullPrepregTypesList[index]" [value]="item.electronicsMaterialMasterId">
                          {{ item.materialType }}
                        </option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label class="form-label">Prepreg Grade-{{ index + 1 }}:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWidth'"></app-field-comment>
                      <select formControlName="coreWidth" class="form-control" (change)="prepregGradeChange($event, index)">
                        <option value="" selected>-------Select--------</option>
                        <option *ngFor="let item of fullPrepregGradeList[index]" [value]="item.electronicsMaterialMasterId">
                          {{ item.materialGrade }}
                        </option>
                      </select>
                    </div>

                    <div class="col-4">
                      <label class="form-label">No. of Prepreg thickness-{{ index + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWeight'"></app-field-comment>
                      <input type="number" formControlName="coreWeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
                    </div>

                    <div class="col-4">
                      <label class="form-label">RC content(%) -{{ index + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreVolume'"></app-field-comment>
                      <input type="number" formControlName="coreVolume" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" readonly min="0" />
                    </div>
                    <div class="col-4">
                      <label class="form-label">Prepreg Thickness(microns)-{{ index + 1 }}</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreArea'"></app-field-comment>
                      <input type="number" formControlName="coreArea" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" readonly min="0" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <a mat-icon-button class="float-end" (click)="onDeleteSubCore(index, 3)" matTooltip="Delete Prepreg" matTooltipPosition="above">
                        <mat-icon class="warn">delete</mat-icon>
                      </a>
                    </div>
                  </div>
                  <hr class="devider" />
                </div>
              </ng-container>
            </ng-container>
            <div class="col-12 links-block" style="justify-content: end">
              <a href="javascript:void(0)" (click)="addMoreCore(3)">Add Prepreg</a>
            </div>
          </div>
        </div>

        <div class="card mt-2">
          <div class="card-header"><strong>Material Costs</strong></div>
          <div class="card-body">
            <div class="row">
              <ng-container formArrayName="materialPkgs">
                <ng-container *ngFor="let materialprocessForm of getControlsByCore(5); let index = index; trackBy: trackByControl">
                  <div [formGroupName]="sandForCoreFormArray.controls.indexOf(materialprocessForm)">
                    <div class="row">
                      <div class="col-4">
                        <label class="form-label">Core Cost from DB-{{ index + 1 }}:</label>
                        <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreLength'"></app-field-comment>
                        <input formControlName="coreLength" class="form-control" (blur)="calculateCost()" />
                      </div>

                      <div class="col-4">
                        <label class="form-label">Core Cost Calculated-{{ index + 1 }}:</label>
                        <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWidth'"></app-field-comment>
                        <input formControlName="coreWidth" class="form-control" (blur)="calculateCost()" />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>

            <div class="row">
              <ng-container formArrayName="materialPkgs">
                <ng-container *ngFor="let materialprocessForm of getControlsByCore(6); let index = index; trackBy: trackByControl">
                  <div [formGroupName]="sandForCoreFormArray.controls.indexOf(materialprocessForm)">
                    <div class="row">
                      <div class="col-4">
                        <label class="form-label">Prepreg Cost from DB-{{ index + 1 }}:</label>
                        <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreLength'"></app-field-comment>
                        <input formControlName="coreLength" class="form-control" (blur)="calculateCost()" />
                      </div>
                      <div class="col-4">
                        <label class="form-label">Prepreg Cost Calculated-{{ index + 1 }}:</label>
                        <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreWidth'"></app-field-comment>
                        <input formControlName="coreWidth" class="form-control" (blur)="calculateCost()" />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="card mt-1">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <label class="form-label no-wrap">Soldermask thickness(um)</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'typeOfConductor'"></app-field-comment>
                <select formControlName="typeOfConductor" class="form-control" (change)="calculateCost()">
                  <option value="" selected>-------Select--------</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="30">30</option>
                </select>
              </div>
              <div class="col-4">
                <label class="form-label no-wrap">Board Thickness(um)</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'totalCableLength'"></app-field-comment>
                <input type="number" class="form-control" formControlName="totalCableLength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
              </div>

              <div class="col-4">
                <label class="form-label no-wrap">Calculated Thicknesss(um)</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primerCoatingTickness'"></app-field-comment>
                <input type="number" class="form-control" formControlName="primerCoatingTickness" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
              </div>
            </div>
          </div>

          <div class="col-12 links-block" style="justify-content: end">
            <a href="javascript:void(0)" (click)="viewDiagram()">View Stackup</a>
          </div>
        </div>

        <div class="card mt-1">
          <div class="card-header"><strong>Drilling Entries</strong></div>
          <div class="card-body">
            <ng-container formArrayName="materialPkgs">
              <ng-container *ngFor="let materialprocessForm of getControlsByCore(4); let index = index; trackBy: trackByControl">
                <div [formGroupName]="sandForCoreFormArray.controls.indexOf(materialprocessForm)">
                  <div class="row mt-3">
                    <div class="col-4">
                      <label class="form-label no-wrap">Hole Type:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreArea'"></app-field-comment>
                      <select formControlName="coreArea" class="form-control" (change)="calculateCost()">
                        <option value="1" selected>Hole</option>
                        <option value="2">Slot</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label no-wrap">Diameter in mm:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreLength'"></app-field-comment>
                      <input type="number" formControlName="coreLength" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
                    </div>

                    <div class="col-4" *ngIf="materialprocessForm?.get('coreArea').value === 2">
                      <label class="form-label no-wrap">Length in mm:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreVolume'"></app-field-comment>
                      <input type="number" formControlName="coreVolume" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
                    </div>
                    <div class="col-4">
                      <label class="form-label no-wrap">Plating info:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreHeight'"></app-field-comment>
                      <select formControlName="coreHeight" class="form-control" (change)="calculateCost()">
                        <option value="" selected>-------Select--------</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                    <div class="col-4">
                      <label class="form-label no-wrap">Quantity:</label>
                      <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'coreShape'"></app-field-comment>
                      <input type="number" formControlName="coreShape" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <a mat-icon-button class="float-end" (click)="onDeleteSubCore(index, 4)" matTooltip="Delete Drilling" matTooltipPosition="above">
                        <mat-icon class="warn">delete</mat-icon>
                      </a>
                    </div>
                  </div>
                  <hr class="devider" />
                </div>
              </ng-container>
            </ng-container>
            <div class="col-12 links-block" style="justify-content: end">
              <a href="javascript:void(0)" (click)="addMoreCore(4)">Add Drill Info</a>
            </div>
          </div>
        </div>

        <div class="card mt-1">
          <div class="card-body">
            <div class="row mt-3">
              <div class="col-4">
                <label class="form-label no-wrap">No of Hole items:</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'stockCrossSectionWidth'"></app-field-comment>
                <input type="number" formControlName="stockCrossSectionWidth" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
              </div>
              <div class="col-4">
                <label class="form-label no-wrap">Total Hole Qty:</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'stockCrossSectionHeight'"></app-field-comment>
                <input type="number" formControlName="stockCrossSectionHeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
              </div>
              <div class="col-4">
                <label class="form-label no-wrap">Plating Surface:</label>
                <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'stockCrossSectionArea'"></app-field-comment>
                <input type="number" formControlName="stockCrossSectionArea" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #popContent>
      <div [innerHTML]="popupName"></div>
      <div class="div-img" *ngIf="popupUrl">
        <img alt="" class="img-class" [src]="popupUrl" />
      </div>
    </ng-template>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <label class="form-label no-wrap">Core Laminate price/PCB($)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'moldBoxHeight'"></app-field-comment>
          <input type="number" formControlName="moldBoxHeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Prepreg price/PCB($)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'moldBoxWidth'"></app-field-comment>
          <input type="number" formControlName="moldBoxWidth" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Consumable/PCB($)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'moldSandWeight'"></app-field-comment>
          <input type="number" formControlName="moldSandWeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Copper Foil Cost/PCB($)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'percentageOfReduction'"></app-field-comment>
          <input type="number" formControlName="percentageOfReduction" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">LW/SP less than 4/4 mil</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primaryCount'"></app-field-comment>
          <select formControlName="primaryCount" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Solder mask color</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primaryWeight'"></app-field-comment>
          <select formControlName="primaryWeight" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">Green</option>
            <option value="2">White</option>
            <option value="3">Blue</option>
            <option value="4">Black</option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Solder mask sides required</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primaryPrice'"></app-field-comment>
          <input type="number" formControlName="primaryPrice" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Surface Finish</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'secondaryCount'"></app-field-comment>
          <select formControlName="secondaryCount" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option *ngFor="let item of surfaceFInishList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Via Plug</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'secondaryWeight'"></app-field-comment>
          <select formControlName="secondaryWeight" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Silk Screen color</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'secondaryPrice'"></app-field-comment>
          <select formControlName="secondaryPrice" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">N/A</option>
            <option value="2">White</option>
            <option value="3">Black</option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Silk Screen sides required</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'cavityEnvelopLength'"></app-field-comment>
          <select formControlName="cavityEnvelopLength" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Depaneling method</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'cavityEnvelopWidth'"></app-field-comment>
          <select formControlName="cavityEnvelopWidth" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">V-Score</option>
            <option value="2">Routing</option>
          </select>
        </div>
        <div class="col-4" *ngIf="showMinRouterBit">
          <label class="form-label no-wrap">Min Router bit Required</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'beadSize'"></app-field-comment>
          <input type="number" formControlName="beadSize" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">IPC Class</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primerDensity'"></app-field-comment>
          <select formControlName="primerDensity" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Impedance control</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'typeOfCable'"></app-field-comment>
          <select formControlName="typeOfCable" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
        </div>
        <div class="col-4" *ngIf="showImpedenceFields">
          <label class="form-label no-wrap">Type of Impedance</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'primerNetWeight'"></app-field-comment>
          <select formControlName="primerNetWeight" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">Single ended</option>
            <option value="2">Differential</option>
          </select>
        </div>

        <div class="col-4" *ngIf="showImpedenceFields">
          <label class="form-label no-wrap">No.of impedance coupons required</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'mainCableSheathingMaterial'"></app-field-comment>
          <input type="number" formControlName="mainCableSheathingMaterial" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Scrap%</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'noOfCablesWithSameDia'"></app-field-comment>
          <input type="number" formControlName="noOfCablesWithSameDia" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Layer construction</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'mainInsulatorID'"></app-field-comment>
          <select formControlName="mainInsulatorID" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option value="1">Foil</option>
            <option value="2">Core</option>
          </select>
        </div>

        <div class="col-4" *ngIf="!processFlag.IsProcessConventionalPCB">
          <label class="form-label no-wrap">Rigid Layer construction</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'mainInsulatorOD'"></app-field-comment>
          <select formControlName="mainInsulatorOD" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select--------</option>
            <option *ngFor="let item of rigidLayerConstructionList" [value]="item.id">
              {{ item.layerName }}
            </option>
          </select>
        </div>

        <div class="col-4">
          <label class="form-label no-wrap">Surface finish cost/PCB ($)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'cavityEnvelopHeight'"></app-field-comment>
          <input type="number" formControlName="cavityEnvelopHeight" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" readonly />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap">Net Material Cost($)</label>
          <app-field-comment [formIdentifier]="passivationVals.formIdentifier" [fieldIdentifier]="'netMaterialCost'"></app-field-comment>
          <input type="number" formControlName="netMaterialCost" class="form-control" [OnlyNumber]="true" min="0" readonly />
        </div>
      </div>
    </div>
  </div>
</div>
