::ng-deep {
  .cdk-overlay-container {
    z-index: 99999 !important;
  }
}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 224px;
  width: 516px;
  max-height: 516px;

  .content-holder {
    .content {
      word-wrap: break-word;
      font-size: 0.75rem;
      padding: 0;
      color: var(--black);
      font-weight: 400;
    }

    .mat-mdc-dialog-title {
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.3;
    }
  }

  .actions-holder {
    justify-content: flex-end;
    min-height: 34px;

    button {
      min-width: 100px;
    }
  }
}
