.close-button {
  top: 10px;
  right: 10px;
  z-index: 1;
  width: 26px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  mat-icon {
    width: 10px;
    height: 10px;
    font-size: 10px;
    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  display: none !important;
}

.mat-step-header.select-step .mat-select-trigger {
  display: flex;
  align-items: center;
}
.mat-form-field {
  max-width: 180px;
}
.mat-mdc-form-field {
  min-height: 36px;
}
.mat-mdc-form-field-infix {
  --mat-form-field-container-height: 28px;
  width: auto;
  display: flex;
  min-height: 28px;
  align-items: center;
  padding: 0 !important;
}
.mat-step-label {
  width: 100%;
}

.mat-mdc-select-trigger {
  min-height: 28px !important;
  height: 28px !important;
  line-height: 28px !important;
  display: flex;
  align-items: center;
  .mat-mdc-select-placeholder {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 150% !important;
    color: var(--primary-shade) !important;
  }
}

.sub-label {
  color: var(--grey05);
  font-size: 10px;
  line-height: 150%;
}
.workflow-status-label {
  min-width: 77px;
  padding: 2px 8px;
  width: fit-content;
  border-radius: 16px;
  line-height: 150%;
  mat-icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
    margin-right: 2px;
    color: currentColor !important;
    svg {
      fill: currentColor !important;
    }
  }
}
::ng-deep .workflow-status-label {
  mat-icon {
    svg {
      fill: currentColor !important;
    }
  }
}

.mat-mdc-form-field-type-mat-select {
  width: auto;
  max-width: fit-content;
  background: var(--bs-white);
  border-radius: 6px;
}
.mdc-menu-surface--open {
  min-width: 200px;
}

.mat-mdc-option .mat-icon {
  margin-right: 2px;
}
.mat-mdc-text-field-wrapper {
  height: 100%;
  max-height: 36px;
  padding: 4px 16px !important;
}
.select-header {
  color: var(--label-shade) !important;
}

::ng-deep .mat-select-panel-on-body {
  left: auto !important;
  right: auto !important;
  transform: translateX(0) !important;
  min-width: 200px;
  max-width: 200px;
}

.workflow-step-edit {
  --mdc-outlined-text-field-outline-color: var(--primary-shade);
  --mdc-outlined-text-field-hover-outline-color: var(--primary-shade);
  .mdc-text-field--outlined {
    overflow: hidden;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.workflow-step-edit .workflow-select {
  width: fit-content;
  display: inline-flex;
}

.workflow-step-edit .mat-mdc-form-field-infix {
  width: auto;
}

.cdk-overlay-pane .workflow-panel {
  min-width: 200px;
  max-width: 260px;
  border-radius: 6px !important;
  --mat-select-container-elevation-shadow: 0px 4px 40px 0px #52617f33;
  .workflow-option.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
    background: var(--blue-light-border) !important;
  }
  mat-pseudo-checkbox {
    display: none !important;
  }
}
