<ng-container [formGroup]="formGroup">
  <div class="row">
    <div class="col-4 mt-3 position-relative" *ngIf="compVals.processFlag.IsProcessMetalTubeExtrusion || compVals.processFlag.IsProcessMetalExtrusion">
      <label class="form-label no-wrap">Force Required for Metal Extrusion (Ton):</label>
      <ng-container *ngTemplateOutlet="theoreticalForce; context: { labelRequired: false }"></ng-container>
    </div>
    <div class="col-4 mt-3 position-relative">
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessBandSaw || compVals.processFlag.IsProcessIngotBandSawCutting || compVals.processFlag.IsProcessCutToLength">
        Cutting Rate of Machine
        {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + '^2/min)' : '(mm^2/min)' }}
        :
      </label>
      <label
        class="form-label no-wrap"
        *ngIf="
          compVals.processFlag.IsProcessInductionHeatingMachine ||
          compVals.processFlag.IsProcessMetalTubeExtrusion ||
          compVals.processFlag.IsProcessMetalExtrusion ||
          compVals.processFlag.IsProcessInductionHeating
        ">
        Machine Rated Output (Kg/hr):
      </label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessRollingStraightening || compVals.processFlag.IsProcessEddyCurrentTesting || compVals.processFlag.IsProcessBrightAnnealing">
        Machine Rated Output (m/min):
      </label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsVisualInspection">Manufacturing Lot Fraction:</label>
      <ng-container *ngTemplateOutlet="cuttingSpeed; context: { labelRequired: false }"></ng-container>
    </div>
    <div class="col-4 mt-3 position-relative">
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessBandSaw || compVals.processFlag.IsProcessIngotBandSawCutting || compVals.processFlag.IsProcessCutToLength">
        Time for Band Saw Cutting (s/part):
      </label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessInductionHeatingMachine || compVals.processFlag.IsProcessInductionHeating">Time for Induction Heating (s/part):</label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessMetalTubeExtrusion || compVals.processFlag.IsProcessMetalExtrusion">Time for Metal Extrusion (s/part):</label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessRollingStraightening">Time for Rolling & Straightening (s/part):</label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessEddyCurrentTesting">Time for Eddy Current Testing (s/part):</label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessBrightAnnealing">Time for Bright Annealing (s/part):</label>
      <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsVisualInspection">Visual Inspection Time (s/part):</label>
      <ng-container *ngTemplateOutlet="processTime; context: { labelRequired: false }"></ng-container>
    </div>
    <div class="col-4 mt-3" *ngIf="!compVals.processFlag.IsVisualInspection">
      <label class="form-label no-wrap">Loading + Unloading Time (s/part):</label>
      <ng-container *ngTemplateOutlet="unloadingTime; context: { labelRequired: false }"></ng-container>
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">Material Efficiency (%) :</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'efficiency'"></app-field-comment>
      <input type="number" class="form-control" formControlName="efficiency" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
    </div>

    <ng-template #processTime let-labelRequired="labelRequired">
      <label class="form-label no-wrap" *ngIf="labelRequired">Process Cycle Time(s):</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'processTime'"></app-field-comment>
      <input type="number" formControlName="processTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </ng-template>
    <ng-template #unloadingTime let-labelRequired="labelRequired">
      <label class="form-label no-wrap" *ngIf="labelRequired">Part Unloading(s):</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'unloadingTime'"></app-field-comment>
      <input type="number" formControlName="unloadingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </ng-template>
    <ng-template #cuttingSpeed let-labelRequired="labelRequired">
      <label class="form-label no-wrap" *ngIf="labelRequired">{{ compVals.isEnableUnitConversion ? 'Cutting speed(' + compVals.conversionValue + '/min)' : 'Cutting speed(mm/min)' }} :</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cuttingSpeed'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.cuttingSpeed.errors, 'input-valid': f.cuttingSpeed.valid }"
        formControlName="cuttingSpeed"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </ng-template>
    <ng-template #theoreticalForce let-labelRequired="labelRequired">
      <label class="form-label no-wrap" *ngIf="labelRequired">Theoretical Force(Ton):</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'theoreticalForce'"></app-field-comment>
      <input type="number" formControlName="theoreticalForce" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </ng-template>
    <div
      class="col-4 mt-3"
      [ngClass]="{
        'offset-8': compVals.processFlag.IsProcessIngotBandSawCutting || compVals.processFlag.IsProcessCutToLength,
        'offset-4': compVals.processFlag.IsProcessInductionHeating,
      }">
      <label class="form-label no-wrap">Net Process Cost ($):</label>
      <input type="number" formControlName="directProcessCost" class="form-control" readonly="readonly" />
    </div>
  </div>
</ng-container>
