<!-- <div> -->
<!-- <form [formGroup]="costingProjectDetails" autocomplete="off"> -->
<div class="form p-3 page-section">
  <div class="form-group has-search">
    <!-- <div class="searhWrapper">
      <div class="searchIcon absolute flex items-center justify-center top-0 left-0 w-10 h-full icon-16">
        <mat-icon svgIcon="search_icon"></mat-icon>
      </div>
      <input type="text" class="form-control" placeholder="Project Name/Number" aria-label="Project Name/Number" [matAutocomplete]="projectAuto" [formControlName]="projectSearchControlName" />
      <mat-autocomplete autoActiveFirstOption #projectAuto="matAutocomplete" (optionSelected)="projectOptionSelected($event)" [displayWith]="displayProject">
        <mat-option *ngFor="let project of filteredProjects$ | async" [value]="project">{{ project?.projectName }} - {{ project?.projectInfoId }}</mat-option>
      </mat-autocomplete>
      <button class="btn" type="button" id="settingButton">
        <mat-icon svgIcon="settings_icon"></mat-icon>
      </button>
    </div> -->
    <div class="searhWrapper flex items-center">
      <a href="home/projects/active" class="text-xs text-black underline link">Projects</a>
      <mat-icon class="play-icon !size-2 mx-[6px] shrink-0" svgIcon="play-filled-icon"></mat-icon>
      <p-select
        [(ngModel)]="selectedProj"
        [options]="currentprojectInfoList"
        placeholder="Select a Project"
        [filter]="true"
        filterBy="projectName,projectInfoId"
        [virtualScroll]="true"
        [virtualScrollItemSize]="20"
        size="small"
        class="w-full md:w-56 project-multiselect"
        panelStyleClass="costing-project-select-overlay"
        (onChange)="projectOptionSelected($event)"
        [filterValue]="customFilterValue"
        appendTo="self">
        <ng-template #filter let-options="options">
          <div class="custom-filter-wrapper w-full">
            <i class="pi pi-search search-icon"></i>
            <input type="text" pInputText [(ngModel)]="customFilterValue" class="filter-input w-full" placeholder="Search..." />
            <i *ngIf="customFilterValue" class="pi pi-times clear-icon" matTooltip="Clear Search" matTooltipPosition="above" (click)="customFilterValue = ''"></i>
          </div>
        </ng-template>
        <ng-template #item let-option>
          <div class="flex items-center gap-2 custom" [matTooltip]="option.projectName + ' - ' + option.projectInfoId" matTooltipPosition="above">
            <div>{{ option.projectName + ' - ' + option.projectInfoId }}</div>
          </div>
        </ng-template>
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2" *ngIf="selectedOption" [matTooltip]="selectedOption.projectName + ' - ' + selectedOption.projectInfoId" matTooltipPosition="above">
            <div>{{ selectedOption.projectName + ' - ' + selectedOption.projectInfoId }}</div>
          </div>
        </ng-template>
        <ng-template #selectedItem let-selectedOption>
          <div class="flex items-center gap-2" *ngIf="selectedOption">
            <div>{{ selectedOption.projectName + ' - ' + selectedOption.projectInfoId }}</div>
          </div>
        </ng-template>
      </p-select>
    </div>
  </div>
  <!-- <div class="form-group mt-4">
        <input type="text" placeholder="Project Description" [formControlName]="projectDescriptionControlName" class="form-control description" />
      </div> -->

  <!-- Project Details -->
  <div class="flex flex-col app-l-description mt-2" *ngIf="selectedProj">
    <h2 class="description-header-id font-semibold mb-0">{{ selectedProj?.projectName + ' ' + selectedProj?.projectInfoId }}</h2>
    <h3 class="description-subheader font-semibold mb-0">Project Details</h3>
    <div class="flex flex-col label-value-group" *ngIf="selectedProj?.projectDesc !== ''">
      <label>Description</label>
      <p class="mb-0">
        @if (selectedProj?.projectDesc?.length > 100) {
          {{ showMore ? selectedProj?.projectDesc.substring(0, 100) + '...' : selectedProj?.projectDesc }}
          <a href="javascript:void(0)" *ngIf="showMore" (click)="showMore = !showMore">Show More</a>
          <a href="javascript:void(0)" *ngIf="!showMore" (click)="showMore = !showMore">Show Less</a>
        } @else {
          {{ selectedProj?.projectDesc }}
        }
      </p>
    </div>
    <div class="flex flex-col label-value-group" *ngIf="targetMonth !== ''">
      <label>Costing Target Month</label>
      <p class="mb-0">
        {{ targetMonth }}
      </p>
    </div>
    <div class="flex flex-col label-value-group" *ngIf="user">
      <label>Created By</label>
      <p class="mb-0">
        {{ user?.firstName + ' ' + user?.lastName }}
      </p>
    </div>
    <div class="flex flex-col label-value-group">
      <div class="form-group-row justify-between flex items-center mb-1 leading-normal">
        <label class="text-xs">Status</label>
        <a *ngIf="canUpdate" href="javascript:void(0)" (click)="launchWorkFlow()" class="text-xs">View Full Workflow</a>
      </div>
      <div class="workflow-status-label flex items-center justify-start" [ngStyle]="{ color: colorId, 'background-color': bkColorId, 'border-color': borderColorId }">
        <mat-icon class="" [svgIcon]="workFlowStatusIcon"></mat-icon>
        <span class="text-xs setp-header">{{ selectedWorkFlowStatus }}</span>
      </div>
    </div>
    <!-- Uncomment below to enable tags section -->
    <!-- <div class="flex flex-col gap-1">
      <div class="flex items-center justify-between tag-header">
        <label class="text-xs">Tags</label>
        <a href="javascript:void(0)" (click)="openTagManager()" class="text-xs">Manage tags</a>
      </div>
      <div class="flex items-center flex-wrap tag-group">
        <div class="flex items-center tag-item text-xs font-medium">Tag A</div>
        <div class="flex items-center tag-item text-xs font-medium">Tag B</div>
        <div class="flex items-center tag-item text-xs font-medium">Tag C</div>
        <div class="flex items-center tag-item text-xs font-medium">+2</div>
      </div>
    </div> -->
  </div>
</div>
<!-- </form> -->
<!-- </div> -->
