.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.has-search .form-control {
  padding-left: 2.375rem;
  height: 40px;
  border-radius: 10px;
}

.searhWrapper {
  width: 100%;
  position: relative;

  .form-control {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }

  .mat-icon {
    color: #888888;
  }
  .link {
    text-decoration-skip-ink: none;
  }
}

button#settingButton {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  border-radius: 0;
  color: var(--bs-black);
  height: 40px;
  font-size: 18px;
  outline: none;
  background: white;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;

  &:before {
    content: '';
    width: 1px;
    height: 18px;
    background-color: #dcdcdc;
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.description {
  height: 40px;
  border-radius: 10px;
}

.app-l-description {
  gap: 12px;

  .description-header-id {
    font-size: 16px;
    line-height: 150%;
    margin-top: 6px;
  }

  .description-subheader {
    font-size: 14px;
  }
}

.label-value-group {
  > label {
    color: var(--label-shade);
    font-size: 12px;
  }

  > p {
    color: var(--bs-black);
    font-size: 12px;
  }
}

::ng-deep .workflow-status-label {
  mat-icon {
    svg {
      fill: currentColor !important;
    }
  }
}

::ng-deep .workflow-step-edit {
  .mat-mdc-select-arrow-wrapper {
    display: none !important;
  }
  .mat-mdc-select-trigger::after {
    content: '';
    width: 16px;
    height: 16px;
    margin-left: 8px;
    display: inline-block;
    background-position: center;
    background-image: url('/assets/icons/dropdown-down-blue.svg');
  }
}

::ng-deep .mdc-list-item__primary-text {
  opacity: 1 !important;
}

::ng-deep .workflow-option.mat-mdc-option {
  background: transparent;
  &.mat-mdc-option-active.mdc-list-item {
    background: transparent !important;
    &:hover {
      background: var(--blue-light-border) !important;
    }
  }
}

.tag-item {
  background-color: var(--readonly-surface);
  border: solid 1px var(--readonly-surface);
  border-radius: 16px;
  padding: 2px 8px;
  line-height: 1.3;
}

.tag-group {
  gap: 6px;
}
.tag-header {
  line-height: 130%;
}
