<form [formGroup]="costingToolingform" (change)="onToolingFormValueChange()" autocomplete="off">
  <app-tooling-info
    [formGroup]="toolingFormGroup"
    [compVals]="{ toolInfoList, materialInfoList, toolNamesList, countryList, filteredMfrCountryList$, currentPart, selectedToolId, selectedTool, selectedToolingNameId, isHotRunner, isDropSelected }"
    (doCalculateCost)="calculateMoldCost()"
    (actionEmitter)="onToolingInfoActionEmitterReceived($event)"></app-tooling-info>

  <app-material-info
    *ngIf="showMaterialProcessSection"
    [formGroup]="materialFormGroup"
    [toolingFormGroup]="toolingFormGroup"
    [toolingFieldColorsList]="toolingFieldColorsList"
    [compVals]="{
      toolingMaterialInfoList,
      coreMaterialInfoList,
      toolInfoList,
      materialDescriptionList,
      mouldMaterialInfoList,
      electrodeMaterialInfoList,
      otherMaterialInfoList,
      diePunchMaterialInfoList,
      materialGroupList,
      selectedToolMaterialId,
      selectedToolingNameId,
      selectedMaterial,
      currentPart,
      mouldid,
      materialTypeMasterList,
      materialTypeList,
      selectedToolId,
    }"
    [canUpdate]="canUpdate"
    (doCalculateCost)="calculateMaterialCost()"
    (actionEmitter)="onMaterialActionEmitterReceived($event)"></app-material-info>

  <app-process-info
    *ngIf="showMaterialProcessSection"
    [formGroup]="processFormGroup"
    [toolingFormGroup]="toolingFormGroup"
    [compVals]="{ toolingProcessInfoList, selectedToolProcessId, currentPart, toolingFieldColorsList, toolInfoList, selectedToolId, selectedProcess }"
    [canUpdate]="canUpdate"
    (doCalculateCost)="calculateProcessCost()"
    (actionEmitter)="onProcessActionEmitterReceived($event)"></app-process-info>

  <app-bop-info
    *ngIf="showMaterialProcessSection"
    [formGroup]="bopFormGroup"
    [toolingFormGroup]="toolingFormGroup"
    [compVals]="{ commodityFlags, toolingBOPInfoList, toolInfoList, selectedToolBopId, toolingFieldColorsList, selectedBop, selectedToolId, selectedToolProcessId, currentPart }"
    [canUpdate]="canUpdate"
    (doCalculateCost)="calculateBOPCost()"
    (actionEmitter)="onBOPActionEmitterReceived($event)"></app-bop-info>

  <app-overhead-info
    *ngIf="showMaterialProcessSection"
    [formGroup]="OHFormGroup"
    [compVals]="{ costOverHeadProfitobj, selectedToolId, currentPart }"
    (doCalculateCost)="calculateOHCost()"
    (actionEmitter)="onOHActionEmitterReceived($event)"></app-overhead-info>
</form>
