:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.table-wrapper {
  min-height: 300px;

  /* Optional: make sure paginator is always visible and not inside the scroll */
  ::ng-deep {
    .custom-spinner {
      font-size: 2rem;
      color: #495057;
    }
    p-table {
      height: 100%;
      min-height: 300px;
      display: flex;
      flex-direction: column;

      .p-datatable {
        --p-datatable-header-cell-background: var(--table-hover-bg);

        height: 100%;
        min-height: 300px;
        display: flex;
        flex-direction: column;

        .p-datatable-table-container {
          margin: 0 1rem;
          border-radius: 6px;
          border: solid 1px var(--table-head-cell-border);
          height: 100%;
          position: relative;
        }

        .p-datatable-mask {
          --p-mask-background: transparent;
        }

        .p-datatable-thead {
          tr {
            &:first-of-type {
              th {
                border-top-color: var(--p-datatable-header-cell-background);

                &:first-of-type {
                  border-left-color: var(--p-datatable-header-cell-background);
                }
                &:last-of-type {
                  border-right-color: var(--p-datatable-header-cell-background);
                }
              }
            }
          }
        }

        .p-datatable-tbody {
          tr {
            background-color: transparent;
            transition: background-color 0.01s ease-in-out;
            will-change: background-color;

            &:hover,
            &:focus-visible {
              background-color: var(--p-emerald-50);
              cursor: pointer;
              color: var(--bs-primary);

              &:not(:hover) {
                td {
                  opacity: 0.8;
                }
              }
            }

            td {
              font-size: 12px;
              padding: 0.75rem 1rem;
              opacity: 1;
              transition:
                opacity 0.1s ease-in-out,
                color 0.1s ease-in-out;
              will-change: opacity, color;

              &:first-of-type {
                border-left-color: transparent;
              }
              &:last-of-type {
                border-right-color: transparent;
              }
            }
          }
        }
      }

      .pagination-text {
        font-size: 0.75rem;
        line-height: 1.3;
      }

      .p-paginator {
        --p-paginator-nav-button-width: 32px;
        --p-paginator-nav-button-height: 32px;

        box-shadow: 0px 4px 40px 0px #52617f33;
        position: sticky;
        bottom: 0;
        z-index: 10;
        background: white;
        justify-content: center;
        padding: 0.75rem;

        .p-paginator-content-start {
          margin-inline-start: auto;
          margin-inline-end: 0;
          padding-inline-end: 1rem;
        }

        .p-paginator-content-end {
          margin-inline-start: 0;
          margin-inline-end: auto;
          padding-inline-start: 1rem;
        }

        .p-paginator-pages {
          font-size: 0.75rem;
          line-height: 1;
          font-weight: 500;
        }

        .p-select {
          --p-select-padding-y: 0;
          --p-select-padding-x: 0;

          .p-select-label {
            padding: 4px 8px 3px 8px;
            font-size: 0.75rem;
            line-height: 1.3;
          }
          .p-select-dropdown {
            --p-select-dropdown-width: 1.5rem;

            padding: 0;
            margin-right: 4px;
          }
        }
      }

      .loading-text {
        font-size: 1rem;
        line-height: 1.3;
        color: #6c6c6d;
      }

      .custom-loading-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--grid-loader-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
      }
    }

    .custom-loading-container {
      height: 47px;
      padding: 0;
    }

    mark {
      background-color: var(--search-mark);
      padding: 0 2px;
      border-radius: 2px;
    }
  }

  &.loading {
    ::ng-deep {
      p-table {
        .p-datatable {
          .p-datatable-tbody {
            tr {
              td {
                &:not(.custom-loading-container) {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }
  }
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.75rem;
  padding: 0;
  position: relative;
  max-width: 340px;

  .search-icon-wrap {
    top: 1px;
    left: 1px;
    width: 36px;
    height: 32px;
    padding: 8px 8px 8px 10px;
    border: solid 1px transparent;
    border-radius: 6px;

    .search-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
      color: var(--label-shade);
      opacity: 1;
    }
  }

  input {
    min-width: 336px;
    padding: 0.5rem 2.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3;
    font-weight: 500;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    transition: box-shadow 0.2s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #80bdff;
      border-color: #80bdff;
    }
  }

  .clear-search-cta {
    top: 1px;
    right: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
    border: solid 1px transparent;
    border-radius: 6px;
    color: var(--bs-black);

    &:focus-visible,
    &:hover {
      opacity: 1;
    }

    .mat-icon {
      width: 0.75rem;
      height: 0.75rem;
      font-size: 0.75rem;
    }
  }
}

.pagination-text {
  font-size: 0.875rem;
  line-height: 1.2;
}
