<ng-container [formGroup]="formGroup">
  <div class="row">
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">No of Joints :</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfCore'"></app-field-comment>
      <input type="number" class="form-control" formControlName="noOfCore" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">Tube Thickness ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}):</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partThickness'"></app-field-comment>
      <input type="number" class="form-control" formControlName="partThickness" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">Pre Joint Cleaning time per Joint (s):</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cuttingTime'"></app-field-comment>
      <input type="number" formControlName="cuttingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">Flux inclusion time per Joint (s):</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'injectionTime'"></app-field-comment>
      <input type="number" formControlName="injectionTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">Brazing time per joint (s):</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'soakingTime'"></app-field-comment>
      <input type="number" formControlName="soakingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap">Loading & Unloading Time (s) :</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'sheetLoadUloadTime'"></app-field-comment>
      <input type="number" formControlName="sheetLoadUloadTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4 mt-3 position-relative">
      <label class="form-label no-wrap">Post Joint Cleaning time per Joint (s):</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'coolingTime'"></app-field-comment>
      <input type="number" formControlName="coolingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4 mt-3 offset-8">
      <label class="form-label no-wrap">Net Process Cost($):</label>
      <input type="number" formControlName="directProcessCost" class="form-control" readonly="readonly" />
    </div>
  </div>
</ng-container>
