h4 {
  span {
    color: #3f51b5;
    font-size: 1.5rem;
  }
}

.content-wrap {
  border-radius: 6px;
  border: solid 1px var(--readonly-surface);
  background-color: var(--readonly-surface);
}

.content-section {
  + .content-section {
    padding-top: 1rem;
    border-top: solid 1px var(--material-table-border);
  }
}

.part-model-col-head {
  min-height: 54px;
}

.editable-header-controls {
  button {
    padding: 4px;
    height: 28px;
    width: 28px;
    &.btn-primary {
      background: var(--primary-shade);
      border: 1px solid var(--primary-shade);
    }
    &.btn-outline-secondary {
      background: var(--bs-white);
      border: 1px solid var(--bs-white);
      .mat-icon {
        color: var(--bs-black);
      }
    }

    .mat-icon {
      font-size: 12px;
      width: 12px;
      height: 12px;
    }

    &.save {
      .mat-icon {
        width: 20px;
        height: 20px;
        font-size: 14px;
      }
    }
  }
}
.edit-btn {
  color: var(--bs-black);
  mat-icon {
    width: 12px;
    height: 12px;
    color: currentColor;
  }
}

.d-none {
  display: none !important;
}

.page-header {
  top: 56px;
  z-index: 20;
  position: fixed;
  background: var(--bs-white);
}
::ng-deep .analytics-container .mat-mdc-tab-header {
  top: 100px;
  z-index: 19;
  width: 100%;
  position: fixed !important;
  background: var(--bs-white);
}
.edit-btn {
  color: var(--bs-black);
  mat-icon {
    width: 12px;
    height: 12px;
    color: currentColor;
  }
}
.breadcrumb-wrap {
  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}
.analytics-container {
  min-height: calc(100dvh - 56px);
}
::ng-deep .analytics-container .mat-mdc-tab-body-wrapper {
  flex: 1;
  padding-top: 90px;
}

.app-l-header-edit-btn {
  .mat-icon {
    height: 12px;
    width: 12px;
    font-size: 12px;
  }
}
