<div *ngIf="isLoaded">
  <div class="supplier-list-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-table" aria-describedby="">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width.vh]="columnDefinitions[column].width" [style.paddingLeft.px]="10">
          {{ columnDefinitions[column].displayName }}
        </th>
        <td mat-cell *matCellDef="let row" [style.width.vh]="columnDefinitions[column].width" [style.paddingLeft.px]="10" class="supplier-table-row-def">
          <span [style.fontWeight]="column === 'vendorName' ? 500 : 400" [style.fontSize.px]="14" [ngClass]="{ 'vendor-name-highlight': column === 'vendorName' }">{{ row[column] }}</span>
          <div [style.marginTop.px]="5" *ngIf="column === 'vendorName'">{{ row['address'] }}</div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></tr>
    </table>
  </div>
  <p-paginator
    (onPageChange)="paginatorPageChanged($event)"
    [first]="pageFirst"
    [rows]="20"
    [totalRecords]="recordCount"
    [showCurrentPageReport]="true"
    [showPageLinks]="true"
    [showJumpToPageDropdown]="false"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"></p-paginator>
</div>
