// Bootstrap Popover
.popover {
  --bs-popover-bg: var(--bs-black);
  --bs-popover-arrow-border: transparent;
  border: none;
  border-radius: 2px;
  background-color: var(--bs-black);
  .popover-body {
    padding: 10px;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--bs-white);
  }
  .popover-header {
    display: none;
  }
  --bs-popover-arrow-height: 8px;
  --bs-popover-border-width: 0px;
  .popover-arrow {
    --bs-popover-arrow-height: 7px;
  }
  &[data-popper-placement^='top'] {
    .popover-arrow {
      bottom: -6px;
    }
  }
  &[data-popper-placement^='bottom'] {
    .popover-arrow {
      top: -6px;
    }
  }
  &[data-popper-placement^='left'] {
    .popover-arrow {
      right: -6px;
    }
  }
  &[data-popper-placement^='right'] {
    .popover-arrow {
      left: -6px;
    }
  }
  .tooltip-formula {
    padding: 4px 10px;
    border-radius: 4px;
    line-height: 150%;
    color: var(--bs-black);
    background: var(--bs-btn-disabled-bg);
    margin-top: 10px;
    span {
      margin: 1px 4px;
      padding: 2px 4px;
      font-weight: 500;
      line-height: 150%;
      border-radius: 4px;
      display: inline-flex;
      color: var(--bs-black);
      background-color: var(--component-border);
    }
    p {
      display: block;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 3px;
      color: var(--sub-heading-text);
    }
  }
}

.custom-popover-with-img {
  --bs-popover-max-width: 400px;
  width: var(--bs-popover-max-width);
  .popover-body {
    padding: 10px;
    .div-img {
      img {
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}

// Material Tooltip
.mdc-tooltip.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: var(--bs-black);
  &::before {
    content: '';
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    border-top: 6px solid var(--bs-black) !important;
    top: auto !important;
    bottom: -5px !important;
  }
}

// Tooltip arrow for above position
.mat-mdc-tooltip-panel-above {
  .mdc-tooltip.mat-mdc-tooltip {
    &::before {
      left: 50% !important;
      right: auto !important;
      top: auto !important;
      bottom: -5px !important;
      transform: translateX(-50%) !important;
      border-left: 6px solid transparent !important;
      border-right: 6px solid transparent !important;
      border-top: 6px solid var(--bs-black) !important;
      border-bottom: 0 solid transparent !important;
    }
  }
}

// Tooltip arrow for below position
.mat-mdc-tooltip-panel-below {
  .mdc-tooltip.mat-mdc-tooltip {
    &::before {
      left: 50% !important;
      right: auto !important;
      top: -5px !important;
      bottom: auto !important;
      transform: translateX(-50%) !important;
      border-left: 6px solid transparent !important;
      border-right: 6px solid transparent !important;
      border-bottom: 6px solid var(--bs-black) !important;
      border-top: 0 solid transparent !important;
    }
  }
}

// Tooltip arrow for right position
.mat-mdc-tooltip-panel-right {
  .mdc-tooltip.mat-mdc-tooltip {
    &::before {
      top: 50% !important;
      left: -5px !important;
      right: auto !important;
      bottom: auto !important;
      transform: translateY(-50%) !important;
      border-top: 6px solid transparent !important;
      border-bottom: 6px solid transparent !important;
      border-right: 6px solid var(--bs-black) !important;
      border-left: 0 solid transparent !important;
    }
  }
}

// Tooltip arrow for left position
.mat-mdc-tooltip-panel-left {
  .mdc-tooltip.mat-mdc-tooltip {
    &::before {
      top: 50% !important;
      left: auto !important;
      right: -5px !important;
      bottom: auto !important;
      transform: translateY(-50%) !important;
      border-top: 6px solid transparent !important;
      border-bottom: 6px solid transparent !important;
      border-left: 6px solid var(--bs-black) !important;
      border-right: 0 solid transparent !important;
    }
  }
}

.mat-mdc-tooltip-surface {
  font-weight: 400 !important;
  border-radius: 2px !important;
  color: var(--bs-white);
  background-color: var(--bs-black) !important;
  &::before {
    border: none !important;
  }
}
app-info-tooltip,
.notification {
  display: flex;
  align-items: center;
}

.sustainability-header {
  app-info-tooltip {
    width: 14px;
    height: 14px;
    display: flex;
    margin-left: 4px;
    align-items: center;
    mat-icon {
      width: 14px;
      height: 14px;
    }
  }
}
