:root {
  --primary-shade: #3f83f9;
  --primary-light: #e6eeff;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-450: #f2f2f2;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #3f83f9;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif:
    'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --body-font: var(--bs-font-sans-serif);
  --bs-body-font-size: 16px;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-color: #e2e2e2;
  --bs-border-radius: 6px;
  --hyperlink-color: #0a58ca;
  --focus-border-color: #bfdbfe;
  --bs-btn-font-size: 12px;
  --bs-font-roboto: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol;
  /* Primeng variables*/
  --p-emerald-50: #eff6ff;
  --check-box-blue: #3b82f6;
  --p-multiselect-background: #eff6ff;
  --p-select-option-color: var(--bs-black);
  --p-select-option-focus-color: var(--bs-black);
  --p-select-option-selected-color: var(--bs-gray-700);
  --p-select-option-selected-focus-color: var(--bs-gray-700);
  --p-select-option-selected-focus-background: var(--p-emerald-50);
  --p-paginator-nav-button-focus-ring-color: var(--focus-border-color);
  /* Material components variables */
  --mat-sys-corner-large: 6px;
  --mdc-switch-track-height: 20px;
  --mdc-switch-track-width: 36px;
  --mat-sort-arrow-color: #757575;
  --mat-sys-on-surface: #000000de;
  --mat-sidenav-container-shape: 0;
  --mat-sys-surface: var(--bs-white);
  --mat-sidenav-container-width: auto;
  --mat-expansion-container-shape: 4px;
  --mat-option-label-text-weight: 500;
  --mat-checkbox-label-text-size: 12px;
  --mat-expansion-container-shape: 4px;
  --mat-option-label-text-size: 0.75rem;
  --mat-checkbox-label-text-weight: 500;
  --mat-dialog-container-max-width: 80vw;
  --mat-switch-with-icon-handle-size: 16px;
  --mat-sys-primary: var(--primary-shade);
  --mat-sys-background: rgb(250, 250, 250);
  --mat-sys-on-surface-variant: #0000008a;
  --mat-expansion-container-text-size: 14px;
  --mat-table-header-headline-size: 12px;
  --mat-switch-pressed-handle-size: 16px;
  --mat-table-header-headline-weight: 700;
  --mat-expansion-container-text-weight: 400;
  --mat-sys-surface-container: var(--bs-white);
  --bs-link-hover-color-rgb: rgb(10, 88, 202);
  --mdc-protected-button-container-shape: 4px;
  --mat-datepicker-calendar-container-shape: 6px;
  --mat-expansion-container-text-tracking: normal;
  --mdc-plain-tooltip-container-color: #707070;
  --mat-expansion-container-text-line-height: 20px;
  --mat-sys-surface-container-low: var(--bs-white);
  --mat-expansion-header-indicator-color: #e5e7eb;
  --mat-sys-surface-container-high: var(--bs-white);
  --mdc-switch-handle-surface-color: var(--bs-white);
  --mdc-dialog-subhead-font: var(--bs-body-font-family);
  --mdc-switch-unselected-handle-color: var(--bs-white);
  --mat-tab-header-inactive-label-text-color: #000000de;
  --mdc-filled-text-field-container-color: var(--bs-white);
  --mdc-switch-selected-focus-handle-color: var(--bs-white);
  --mdc-list-list-item-focus-state-layer-color: #f5f9ff;
  --mdc-switch-selected-hover-handle-color: var(--bs-white);
  --mdc-switch-unselected-hover-handle-color: var(--bs-white);
  --mdc-switch-unselected-focus-handle-color: var(--bs-white);
  --mat-sidenav-container-divider-color: rgb(229, 231, 235);
  --mdc-switch-unselected-track-color: var(--bs-border-color);
  --mdc-filled-text-field-container-color: rgba(0, 0, 0, 0);
  --mat-switch-selected-pressed-handle-horizontal-margin: 0 17px;
  --mat-switch-selected-with-icon-handle-horizontal-margin: 0 17px;
  --mdc-switch-unselected-hover-track-color: var(--bs-border-color);
  --mat-switch-unselected-with-icon-handle-horizontal-margin: 0 3px;
  --mdc-switch-unselected-focus-track-color: var(--bs-border-color);
  --mat-datepicker-calendar-container-background-color: var(--bs-white);
  --mat-datepicker-calendar-container-elevation-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  --mat-expansion-header-expanded-state-height: 48px;
  --table-border: #f5f6f9;
  --table-head-row-bg: #f5f6f9;
  --table-head-cell-border: #f2f2f2;
  --table-outer-border: 6px;
  --label-shade: #6c6c6d;
  --component-border: #dcdcdc;
  --badge-border: #cadcff;
  --page-bg-shade: #f6f7f8;
  --esg-border: #2ba746;
  --label-text: #1d1d1d;
  --esg-tab-green: #2ba746;
  --dropdown-bg: #1362f31a;
  --black: #000;
  --blue-light-border: #ecf2fe;
  --light-blue-border: #f3f7ff;
  --icon-btn-hover: #edf3ff;
  --readonly-surface: #f5f6f9;
  --treeview-row-level1: #dee7f2;
  --treeview-row-level2: #edf2f8;
  --treeview-row-level3: #f8fafc;
  --button-light-bg: #f0f5ff;
  --button-light-bg-hover: #e6f0ff;
  --bg-light-green: #e6f6ea;
  --text-dark-green: #144f37;
  --bg-light-yellow: #fdf4ce;
  --text-dark-brown: #8d5704;
  --bg-light-red: #fbe8ed;
  --text-dark-red: #c1272d;
  --tree-list-hover-bg: #f0f5ff;
  --material-table-border: #abbfe4;
  --material-table-header-bg: #ecf2fe;
  --grey04: #dcdcdc;
  --grey05: #6c6c6d;
  --grid-thumb-border: #535353;
  --grid-highlight-text: #234d88;
  --table-text: #393939;
  --table-green-text: #2ba746;
  --table-hover-bg: #f5f6f9;
  --tab-border: #dcdcdc;
  --card-head-bg: #f5f6f9;
  --bs-btn-disabled-bg: #f2f2f2;
  --bs-btn-disabled-color: #6c6c6d;
  --loader-bg: #f5f6f9;
  --search-mark: #fcf9e8;
  --grid-loader-bg: rgba(255, 255, 255, 0.8);
  --sub-heading-text: #333333;
  --bs-btn-color: var(--primary-shade);
  --disabled-checkbox-bg: #b2cdfd;
  --disabled-graph-control-text: #84bbfc;
  --tab-selection-bg: #f0f6ff;
  --banner-yellow-bg: #fcf9e8;
  --banner-red-bg: #fbe8ed;
  --input-border-color: #e2e2e2;
  --status-negotiation: #811bc0;
  --status-green-border: #5ed1b1;
  --success-green-bg: #25a45e;
  --purple-border: #e6beff;
  --purple-bg: #efe7fd;
  --archive-grey: #9ba3a6;
  --stepper-dashed-border: #898989;
  --stock-green-bg: #eaf9eb;
  --stock-red-border: #ffa987;
  --stock-red-text: #ed3333;
  --primary-shade-hover: #3a7df2;
  --red-text: #ff7e65;
  --light-red: #fbd9d3;
}
