.mat-accordion {
  .mat-expansion-panel {
    + .mat-expansion-panel {
      margin-top: 1rem;
    }

    .mat-expansion-panel-header {
      &:hover,
      &:focus {
        .mat-expansion-indicator {
          --mat-expansion-header-indicator-color: #b3b3b3;
        }
      }
    }
  }
}

/* Sustainability accordion */
.sustainability-panel {
  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-expansion-panel.mat-expansion-panel.mat-expanded > .mat-expansion-panel-content-wrapper {
    padding: 0;
  }

  &.mat-expansion-panel.mat-expansion-panel.mat-expanded > .mat-expansion-panel-content-wrapper {
    padding: 0;
    padding-top: 0;

    .mat-expansion-panel {
      padding-left: 12px;
      padding-right: 12px;

      &:not(.mat-expanded):hover {
        background-color: var(--readonly-surface);
      }
    }
  }
}

.costing-page-accordion {
  .mat-expansion-panel:not(.supporting-documents) {
    .mat-expansion-panel-content-wrapper {
      .mat-expansion-panel-content {
        > .mat-expansion-panel-body {
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.home-project-listing-outer {
  app-active-folder-project {
    flex: 1;
  }
  .mat-accordion {
    .mat-expansion-panel {
      box-shadow: none;
      border: 1px solid var(--input-border-color);
      &.mat-expanded {
        border: 1.5px solid var(--primary-shade);
      }
    }
  }
  .mat-expansion-panel-header {
    border-radius: 0;
    padding: 0 12px;
    .mat-expansion-panel-header-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0px;

      mat-icon {
        margin-right: 3px;
        svg {
          max-width: 15px;
        }
      }
      .count {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        padding: 1px 12px;
        margin-left: 6px;
        letter-spacing: 0px;
        border-radius: 16px;
        background-color: var(--readonly-surface);
      }
    }
    .mat-expansion-indicator {
      svg {
        path {
          fill: var(--bs-black);
        }
      }
    }
    .mat-expansion-indicator {
      display: none;
    }
    .dropdown-arrow {
      transition: transform 0.3s ease;
      &.expanded {
        transform: rotate(180deg);
      }
    }
  }
  .mat-expansion-panel-body {
    padding: 0;
  }
  .accordion-folder.mat-expansion-panel.mat-expanded {
    .mat-expansion-panel-content-wrapper {
      padding: 6px 0;
    }
  }
}
.df-sustainability-layout {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }
}
