.watermark {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: rotate(-35deg);
  transform-origin: left bottom;
  font-size: 36px;
  font-weight: bold;
  opacity: 0.8;
  color: #757373;
  pointer-events: none;
  /* Prevents the watermark from blocking interactions with the underlying elements */
  z-index: 999;
}

.analytics-container {
  min-height: 88vh;
}

.graph-container {
  display: block;
  margin: 10px;
  overflow: auto;
  width: 100%;
  resize: both;
  // height: 560px;
}

.refresh-button {
  position: absolute;
  top: -38px;
  right: 20px;
  color: #888;

  &:hover,
  &:focus {
    color: var(--primary-shade);
  }
}

// Mat Table styles
.analytics-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .search-wrapper {
    mat-icon {
      color: #888;
    }

    input {
      padding-left: 8px;
      position: relative;
      top: -2px;
      font-size: larger;
    }

    mat-hint {
      color: #f44336;
    }
  }

  .table-container {
    overflow: auto;
    width: 100%;
    max-height: 80vh;
    border: 1px solid var(--table-border);
    border-radius: var(--table-outer-border);

    .table-scroll-wrapper {
      display: inline-block;
      width: 100%;

      .mat-table {
        min-width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }

      .mat-mdc-header-row {
        background-color: var(--material-table-header-bg);

        .mat-mdc-header-cell {
          border-bottom: solid 1px var(--table-head-cell-border);
          border-right: solid 1px var(--table-head-cell-border);

          &:first-of-type {
            border-top-left-radius: var(--table-outer-border);
            padding-left: 16px;
          }
          &:last-of-type {
            border-top-right-radius: var(--table-outer-border);
            padding-right: 16px;
            border-right: none;
          }
        }
      }

      .mat-header-row,
      .mat-row {
        display: inline-flex;
        min-width: 100%;
      }

      .mat-row:hover {
        background-color: #f5f5f5;
      }

      .mat-header-cell,
      .mat-cell {
        padding: 8px !important;
        text-align: left;
        min-width: 120px;
      }

      .mdc-data-table__row {
        .mat-mdc-cell {
          border-bottom: solid 1px var(--table-head-cell-border);
          border-right: solid 1px var(--table-head-cell-border);

          &:first-of-type {
            padding-left: 16px;
          }
          &:last-of-type {
            padding-right: 16px;
            border-right: none;
          }
        }

        &:last-of-type {
          .mat-mdc-cell {
            &:first-of-type {
              border-bottom-left-radius: var(--table-outer-border);
            }
            &:last-of-type {
              border-bottom-right-radius: var(--table-outer-border);
            }
          }
        }
      }
    }

    .first-child-sticky {
      .mat-header-cell:first-child,
      .mat-cell:first-child {
        left: 0;
        position: sticky;
        border-right: 1px solid #ddd;
        background-color: #fff;
        color: #333;
        z-index: 1;
      }
    }

    .second-child-sticky {
      .mat-header-cell:nth-child(2),
      .mat-cell:nth-child(2) {
        left: 120px; // should correspond to the first-child width
        min-width: 150px;
        position: sticky;
        border-right: 1px solid #ddd;
        background-color: #fff;
        color: #333;
        z-index: 1;
      }
    }
  }
}

// Scrollbar
.custom-scroller::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.custom-scroller::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroller::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2em;
}

.custom-scroller::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scroller::-webkit-scrollbar-button {
  background: #555;
  border-radius: 2em;
}

.custom-scroller::-webkit-scrollbar-button:vertical:start:increment,
.custom-scroller::-webkit-scrollbar-button:vertical:end:decrement,
.custom-scroller::-webkit-scrollbar-button:horizontal:start:increment,
.custom-scroller::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

.analytics-page {
  .analytics-tabs {
    margin-top: 60px;

    &.mat-list-base {
      .mat-list-item {
        &.mat-list-item-with-avatar {
          .mat-list-text {
            font-size: 0.875rem;
            font-weight: 500;
            padding-left: 8px;
          }
        }
      }
    }

    .mat-mdc-list-item {
      &.is-active {
        .mdc-list-item__content {
          border: solid 1px var(--button-light-bg);
          background-color: var(--button-light-bg);
          color: var(--black);
        }
      }

      .mdc-list-item__content {
        padding: 5px 8px;
        border-radius: 5px;
        transition:
          color 0.1s ease,
          border-color 0.1s ease,
          background-color 0.1s ease;
        will-change: border-color, background-color;
      }
    }
  }
  .page-header {
    margin-left: 0px;
    will-change: margin;
    transition: margin 0.1s ease-in-out;
  }

  .mat-drawer-side {
    transition:
      width 0.1s ease,
      opacity 0.1s ease;
    will-change: width, opacity;
  }

  .mat-drawer-content {
    margin-left: 224px;
    transition:
      width 0.1s ease,
      margin 0.1s ease;
    will-change: width, margin;
  }

  &.collapsed {
    .page-title {
      max-width: 3rem;

      h2 {
        width: 0;
        opacity: 0;
      }
    }
    .page-header {
      margin-left: 32px;
    }
    .mat-drawer-container {
      .mat-drawer-side {
        --mat-sidenav-container-width: 0;
        opacity: 0;

        * {
          width: 0;
          opacity: 0;
        }
      }
    }
    .mat-drawer-content {
      margin-left: 0;
    }
  }
}
