.grid-bg-color {
  td {
    background-color: rgba(157, 160, 156, 0.377);
  }
}

.table-container {
  width: 100%;
  // max-width: 1000px;
  margin: auto;

  .mat-table {
    width: 100%;

    th.mat-header-cell,
    td.mat-cell {
      color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
      font-size: 0.8rem;
      padding-left: 10px;
    }

    th.mat-header-cell {
      font-weight: 700;
    }

    td.mat-column-action {
      padding-right: 0px;
    }
  }

  .no-data-message {
    width: 100%;
    font-size: 0.85rem;
    text-align: center;
    padding: 0.5rem 0;
    font-weight: 400;
    color: grey;
  }
}

.drag-handle {
  cursor: grab;
}

.cdk-drag-preview {
  background-color: #f3f3f3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .table-container.cdk-drop-list-dragging .table-container:not(.cdk-drag-placeholder) {
//     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
