.scenario-modal {
  .modal-dialog {
    --bs-modal-margin: 0;
    --bs-modal-width: clamp(80vw, 95vw, 95vw);
  }

  &.show {
    .modal-dialog {
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: 0;
      padding: 1rem 0px;

      .modal-content {
        height: 100%;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .modal-header {
          --bs-modal-header-border-width: 0;

          .modal-close {
            .close-icon {
              color: var(--black);
              font-size: 16px;
              width: 16px;
              height: 16px;
              position: static;
            }
          }
        }
      }
    }
  }
}

.edit-scenario-modal {
  .modal-dialog {
    --bs-modal-margin: 0;
    --bs-modal-width: clamp(40vw, 472px, 90vw);
  }

  &.show {
    .modal-dialog {
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: 0;
      padding: 1rem 0px;
      align-items: center;
      justify-content: center;

      .modal-content {
        min-height: 0;
        display: flex;
        flex-direction: column;

        .modal-header {
          --bs-modal-header-padding: 1rem 1rem 0.25rem 1rem;
          border-bottom: none;
        }

        .modal-close {
          .close-icon {
            color: var(--black);
            font-size: 16px;
            width: 16px;
            height: 16px;
            position: static;
          }
        }

        .modal-body {
          --bs-modal-padding: 0.25rem 1rem;
        }

        .modal-footer {
          --bs-modal-footer-gap: 0;
          --bs-modal-footer-border-width: 0;

          padding: 0.25rem 1rem 1rem 1rem;
        }
      }
    }
  }
}

.comments-modal {
  --mat-dialog-container-max-width: 80vw;

  mat-dialog-container.mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      padding: 0;

      .modal-content {
        --bs-modal-border-radius: 6px;

        .modal-header {
          padding: 1rem 1rem 0.5rem 1rem;

          .modal-close {
            .close-icon {
              color: var(--black);
              font-size: 16px;
              width: 16px;
              height: 16px;
              position: static;
            }
          }
        }

        .modal-body {
          padding: 0.5rem 1rem 1rem 1rem;
        }
      }
    }
  }
}

.material-modal {
  --mat-dialog-container-max-width: 90vw;
  --mat-dialog-container-min-width: 70vw;
  padding: 24px 0px;
  height: 100%;

  .modal-dialog {
    --bs-modal-margin: 0;
    --bs-modal-width: clamp(70vw, 1000px, 90vw);
  }

  &.show {
    .modal-dialog {
      height: 100%;
      display: flex;
      flex-direction: column;
      min-height: 0;
      padding: 1rem 0px;

      .modal-content {
        height: 100%;
        min-height: 0;
        display: flex;
        flex-direction: column;
      }
    }
  }

  mat-dialog-container {
    &.mat-mdc-dialog-container {
      .mat-mdc-dialog-inner-container {
        flex-direction: column;
        min-height: 0;
      }
      .mat-mdc-dialog-surface {
        padding: 0;
        min-height: 0;
      }
      .modal-header {
        --bs-modal-header-padding: 1rem 1rem 0.25rem 1rem;
        border-bottom: none;

        .modal-close {
          opacity: 0.8;
          transition: opacity 0.2s ease-in-out;

          .close-icon {
            color: var(--black);
            font-size: 16px;
            width: 16px;
            height: 16px;
            position: static;
          }

          &:hover,
          &:focus-visible {
            opacity: 1;
          }
        }
      }
    }
  }
}

.bom-move-modal {
  .modal-header {
    --bs-modal-header-padding: 1rem 1rem 0.25rem 1rem;
    --bs-modal-header-border-color: transparent;
    --bs-modal-header-border-width: 0;

    .modal-title {
      font-size: 0.75rem;
    }

    .modal-close {
      .close-icon {
        color: var(--black);
        font-size: 16px;
        width: 16px;
        height: 16px;
        position: static;
      }
    }
  }
}

.confirm-modal {
  &.mat-mdc-dialog-panel {
    mat-dialog-container {
      &.mat-mdc-dialog-container {
        .mat-mdc-dialog-surface {
          padding: 0;

          .dialog-container {
            .content-holder {
              padding: 1rem;
            }
            .mat-mdc-dialog-actions {
              padding: 1rem;
            }
          }
        }

        .mat-mdc-dialog-content {
          padding-inline: 0;
        }
      }
    }
  }
}

.add-part-modal {
  border: solid 1px var(--bs-white);
  border-radius: 6px;

  &.mat-mdc-dialog-panel {
    mat-dialog-container {
      &.mat-mdc-dialog-container {
        .mat-mdc-dialog-surface {
          padding: 0;
        }

        .mat-mdc-dialog-content {
          padding-inline: 0;
        }
      }
    }
  }
}

// Scenario list rearrangement - JSTree 3 dot options

.vakata-context {
  padding: 0;
  z-index: 99;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 22px 0px #e6e8ec;

  li {
    a {
      font-family: var(--body-font);
      font-size: 0.75rem;
      line-height: 1;
      font-weight: 500;
      padding: 8px 16px;
      border-radius: 6px;
      color: var(--black) !important;
      background-color: var(--bs-white);

      &:hover,
      &:focus-visible {
        background-color: var(--icon-btn-hover);
      }

      i {
        width: 14px;
        height: 14px;
        margin-left: -14px;
      }

      .vakata-contextmenu-sep {
        display: none;
      }
    }
  }
  .vakata-context-hover > a {
    position: relative;
    background-color: var(--bs-white) !important;
    box-shadow: none !important;
  }
}

.custom-modal {
  height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 90vw;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 1rem;
  position: relative;
  overflow-y: auto;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-content {
    max-height: 80vh;
    overflow-y: auto;
  }

  .modal-body {
    padding-top: 1rem;
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .close-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #888;
    transition: color 0.3s;
    position: unset !important;

    &:hover {
      color: #555;
    }
  }
}

.add-folder-modal {
  mat-dialog-container.mat-mdc-dialog-container .close-icon {
    top: unset;
    right: unset;
    position: relative;
    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.custom-folder-delete-dialog {
  --mat-dialog-container-max-width: 413px;
  mat-dialog-container.mat-mdc-dialog-container {
    .mat-mdc-dialog-content {
      padding-top: 8px;
      color: var(--bs-black);
      font-size: 0.75rem;
      strong {
        font-weight: 700;
      }
    }
    .mat-mdc-dialog-actions.mdc-dialog__actions.actions-holder {
      min-height: 32px;
      margin-top: 24px;
      .btn-outline-primary {
        margin-right: 0;
        &:active {
          --bs-btn-active-color: #3f83f9;
        }
      }
    }
  }
}
.ai-filter-popover {
  margin-top: 30px;
}
.ai-filter-menu {
  .p-virtualscroller {
    overflow-x: hidden;
  }
}

// AI search header popover styles
app-ai-search-header {
  .p-popover {
    margin-top: 0;
    border-radius: 0;
    left: 0 !important;
    top: 100% !important;
    border: 1px solid #e5e7eb;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  }

  .p-popover-content {
    padding: 0 !important;
  }

  .p-multiselect {
    width: 100%;
  }
}

// Ai search sidebar styles
.ai-info-sidebar {
  width: 340px;
  transition: all 0.35s ease !important;

  .p-sidebar-content {
    overflow: auto;
    will-change: transform;
  }
  .section-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--bs-black);
    padding: 16px 0 8px 0;
  }
  .p-drawer-header {
    align-items: flex-start;
    padding: 16px 16px 4px 16px;
  }

  .more-info-label,
  .more-info-value {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0px;
  }
  .more-info-label {
    color: var(--label-shade);
  }
  .more-info-value {
    color: var(--bs-black);
    &.value-increase {
      color: var(--table-green-text);
    }
    &.value-decrease {
      color: var(--red-text);
    }
  }
  .info-grid {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .info-group {
    width: calc((100% - 12px) / 2);
  }
  .p-drawer-content {
    padding: 0 16px 16px 16px;
    .info-section {
      position: relative;
      margin-bottom: 16px;
      &::before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        margin-bottom: 16px;
        background-color: var(--component-border);
      }
      &:first-child:before {
        display: none;
      }
    }
  }
  .closeButton {
    width: 24px;
    height: 24px;
    display: flex;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: var(--icon-btn-hover);
    }
    &:active {
      background-color: var(--primary-shade);
      .p-component {
        color: var(--bs-white);
      }
    }
    &:focus-visible {
      background-color: var(--icon-btn-hover);
      border: 1px solid var(--badge-border);
    }
    .p-component {
      color: var(--bs-black);
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }
}
/* Notification sidebar styles */
.app-notification-sidebar {
  width: 420px;
  top: 56px;
  max-width: 100%;
  --p-drawer-shadow: -8px -4px 4px 0px #00000014;

  .p-drawer-content {
    padding: 0;
  }
  .p-drawer-header,
  .closeButton {
    display: none;
  }

  .notif-close-btn {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    color: var(--bs-black);

    &:hover {
      background: var(--icon-btn-hover);
    }

    &:focus-visible,
    &:active,
    &:focus {
      background: var(--icon-btn-hover);
      border: 1px solid var(--badge-border);
    }

    mat-icon {
      width: 10px;
      height: 10px;
      color: var(--bs-black);
    }
  }
  .tab-wrap {
    border-bottom: 1.5px solid var(--table-border);
  }

  .notif-tab {
    border: none;
    font-size: 0.875rem;
    padding: 6px 12px;
    cursor: pointer;
    color: #6b7280;
    background: transparent;

    &.active {
      background-color: #eef2ff;
      color: #111827;
    }
  }

  .tab-badge {
    display: block;
    color: #334155;
    margin-left: 4px;
    font-size: 0.75rem;
    border-radius: 10px;
    padding: 2px 8px;
    background-color: #f2f4f7;
  }
  .mdc-tab__text-label {
    display: flex;
    --mat-tab-header-label-text-size: 12px;
    --mat-tab-header-inactive-label-text-color: var(--bs-btn-disabled-color);
  }

  .notif-mark-all {
    color: var(--primary-shade);
  }

  .notif-list {
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    padding: 8px 16px 16px;
  }

  .notif-item {
    gap: 12px;
    display: flex;
    padding: 12px 0px;
    border-bottom: 1px solid var(--component-border);
    &:last-child {
      border-bottom: none;
    }
  }

  .notif-item-left-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    background-color: var(--light-blue-border);
  }

  .notif-status-dot {
    top: 3px;
    right: 3px;
    width: 8px;
    height: 8px;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    background-color: var(--stock-red-text);
  }

  .notif-icon {
    width: 24px;
    height: 24px;
    display: flex;
    margin-left: 4px;
    align-items: center;
    justify-content: center;
    mat-icon {
      width: 20px;
      height: 20px;
      color: var(--primary-shade);
      svg {
        path {
          fill: var(--primary-shade);
        }
      }
    }
  }
  .notif-meta {
    color: var(--bs-btn-disabled-color);
  }
  .notif-more-btn {
    color: var(--bs-black);
    mat-icon {
      font-weight: 400;
      font-size: 16px;
    }
  }
  .no-notifications {
    mat-icon {
      width: 72px;
      height: 72px;
    }
  }
}
.notification-action-menu.mat-mdc-menu-panel {
  --mat-menu-item-spacing: 8px;
  --mat-menu-container-shape: 6px;
  --mat-menu-container-elevation-shadow: 0px 4px 40px 0px #52617f33;
  --mat-menu-item-hover-state-layer-color: var(--material-table-header-bg);
  .mat-mdc-menu-content {
    padding: 12px;
  }

  .mat-mdc-menu-item {
    min-height: 30px;
    border-radius: 6px;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.move-folder-dialog {
  mat-dialog-container.mat-mdc-dialog-container .mat-mdc-dialog-surface {
    padding: 0;
  }
}
.version-dialog {
  .mat-mdc-dialog-container {
    --mat-dialog-headline-padding: 8px;
    .dialog-container {
      width: 100%;
      max-height: 516px;
      min-height: 110px;

      .content-holder {
        .content {
          word-wrap: break-word;
        }
      }

      .actions-holder {
        justify-content: flex-end;

        button {
          min-width: 100px;
        }
      }
    }
  }
}
