<div [formGroup]="panelDescriptionForm">
  <p style="margin-bottom: 0px; border-bottom: 1px solid">Dimension (mm)</p>
  <div class="row">
    <div class="col">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Panel Length:</label>
        <input type="number" class="form-control hideupdownnumberinput" formControlName="panelLength" placeholder="Panel Length" />
      </div>
    </div>
    <div class="col">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Panel Width:</label>
        <input type="number" class="form-control hideupdownnumberinput" formControlName="panelWidth" placeholder="Panel Width" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">PCB Length:</label>
        <input type="number" class="form-control hideupdownnumberinput" formControlName="pcbLength" placeholder="PCB Length" />
      </div>
    </div>
    <div class="col">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">PCB Width:</label>
        <input type="number" class="form-control hideupdownnumberinput" formControlName="pcbWidth" placeholder="PCB Width" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">PCB Thickness:</label>
        <input type="number" class="form-control hideupdownnumberinput" formControlName="pcbThickness" placeholder="PCB Thickness" />
      </div>
    </div>
    <div class="col">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Panel Keepout:</label>
        <input type="number" class="form-control hideupdownnumberinput" formControlName="panelKeepout" placeholder="Panel Keepout" />
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="panelDescriptionCal()">
        <i class="bx bxs-calculator"></i>
        Calculate
      </button>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <label class="form-check-label">Row:</label>
      <input class="form-control hideupdownnumberinput" formControlName="rowValue" type="number" name="rowValue" id="rowvalue" [attr.disabled]="1" />
    </div>
    <div class="col">
      <label class="form-check-label">Column:</label>
      <input class="form-control hideupdownnumberinput" formControlName="columnValue" type="number" name="colValue" id="colvalue" [attr.disabled]="1" />
    </div>
    <div class="col">
      <label class="form-check-label">No.of PCB per Panel:</label>
      <input class="form-control hideupdownnumberinput" formControlName="noOfPcbPanel" type="number" name="noOfPcbPanel" id="pcbpanelcount" [attr.disabled]="1" />
    </div>
  </div>

  <hr />
  <!--bottom part-->
  <div>
    <span class="bottomline">De-Panelization</span>
    <div class="row ml-2 mr-2 alignitemscenter">
      <div class="col offset-md-3">
        <input class="form-check-input" type="checkbox" (change)="checkDepanlizationbox($event)" id="depanelizationCheckbox1" value="option1" formControlName="depanelization" />
        <label class="form-check-label" for="depanelizationCheckbox1">Yes</label>
      </div>
    </div>
    <div class="row ml-2 mr-2 alignitemscenter">
      <div class="col offset-md-3">
        <input
          class="form-check-input"
          type="radio"
          name="depanelizationSelected"
          value="0"
          formControlName="depanelizationSelected"
          (change)="checkDepanlizationOptions($event)"
          [readOnly]="!depanlizationCheckBoxEnabled"
          id="depanelization1"
          checked />
        <label class="form-check-label" for="depanelization1">Default</label>
      </div>
      <div class="col mr-5">
        <input
          class="form-check-input"
          type="radio"
          name="depanelizationSelected"
          value="1"
          (change)="checkDepanlizationOptions($event)"
          id="depanelization2"
          formControlName="depanelizationSelected"
          [readOnly]="!depanlizationCheckBoxEnabled" />
        <label class="form-check-label" for="depanelization2">Manual</label>
      </div>
    </div>
    <div class="row ml-2 mr-2 alignitemscenter">
      <div class="col offset-md-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="depanelizationCheckbox11"
          formControlName="mouseBiteSelected"
          (change)="mouseBiteChecked($event)"
          value="option1"
          [readOnly]="!depanlizationCheckBoxEnabled" />
        <label class="form-check-label" for="depanelizationCheckbox11">Mouse Bite</label>
      </div>
      <div class="col">
        <input
          class="form-check-input"
          type="checkbox"
          id="depanelizationCheckbox22"
          formControlName="vGroveSelected"
          (change)="vgroveChecked($event)"
          value="option2"
          [readOnly]="!depanlizationCheckBoxEnabled" />
        <label class="form-check-label" for="depanelizationCheckbox22">v-Groove</label>
      </div>
    </div>
    <div class="row" *ngIf="dePanelizationSelectedRadio === 1">
      <div class="form-group col" *ngIf="mouseBiteEnabled">
        <label>No. of Mouse Bites:</label>
        <input type="number" [(ngModel)]="noofmousebites" [ngModelOptions]="{ standalone: true }" class="form-control hideupdownnumberinput" />
      </div>
      <div class="form-group col" *ngIf="vgroveEnabled">
        <label>No. of V-groove Cutting sides:</label>
        <input type="number" [(ngModel)]="noofvgrove" [ngModelOptions]="{ standalone: true }" class="form-control hideupdownnumberinput" />
      </div>
    </div>
    <div class="alignitemscenter" style="justify-content: center">
      <button type="button" class="btn btn-primary" (click)="depanelizationCal()" [disabled]="!depanlizationCheckBoxEnabled">
        <i class="bx bxs-calculator"></i>
        Estimate
      </button>
    </div>
    <div class="row" *ngIf="depanlizationCheckBoxEnabled">
      <div class="form-group col" *ngIf="mouseBiteEnabled">
        <label>Mouse bites Time Duration:</label>
        <!-- <input type="text" [(ngModel)]="mouseBiteDuration" [ngModelOptions]="{standalone: true}" disabled
                    class="form-control"> -->
        <input type="text" formControlName="mouseBite" readonly class="form-control" />
      </div>
      <div class="form-group col" *ngIf="vgroveEnabled">
        <label>V-Groove Time Duration:</label>
        <!-- <input type="text" [(ngModel)]="vGroveTimeDuration" [ngModelOptions]="{standalone: true}" disabled
                    class="form-control"> -->
        <input type="text" formControlName="vgrove" readonly class="form-control" />
      </div>
    </div>
  </div>
</div>
