::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}

:host {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.modal-header {
  justify-content: space-between;
}

.close-icon {
  cursor: pointer;
}

.undo-button {
  cursor: pointer;
  background-color: #888;
}

.small-close-icon {
  cursor: pointer;
  top: 0.6rem;
  right: 0.6rem;
  font-size: large;
  color: var(--black);

  .mat-icon {
    width: 16px;
    max-width: 16px;
    height: 16px;
    max-height: 16px;
    font-size: 1rem;
  }
}

.mat-option {
  padding: 0;

  div {
    padding: 0 16px;
  }
}

.scenario-col {
  min-width: clamp(350px, 35vw, 400px);
}

.card-header {
  --bs-card-cap-bg: var(--bs-white);
  --bs-card-border-color: var(--card-head-bg);

  opacity: 1;
}

.card-header-text {
  font-size: 1rem;
  line-height: 1.2;
}

.compare-container {
  background-color: var(--card-head-bg);

  .scenario-cards {
    --bs-gutter-x: 1rem;
  }

  .card {
    --bs-card-border-color: transparent;

    > .card-body {
      --bs-card-spacer-y: 0;
      --bs-card-spacer-x: 0;
    }
  }
}
