.dialog-container {
  width: 516px;
  .actions-holder {
    justify-content: flex-end;
    button {
      margin-right: 10px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
  }
}
