<ng-container [formGroup]="formGroup">
  <div class="row mt-3">
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">{{ compVals.isEnableUnitConversion ? 'Length Of Cut (Perimeter)(' + compVals.conversionValue + ')' : 'Length Of Cut (Perimeter)(mm)' }}</span>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'lengthOfCut'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.lengthOfCut.errors, 'input-valid': f.lengthOfCut.valid }"
        formControlName="lengthOfCut"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">{{ compVals.isEnableUnitConversion ? 'Flash thickness(' + compVals.conversionValue + ')' : 'Flash thickness(mm)' }}</span>
        <app-info-tooltip [infoId]="'Forging_Flash_Thickness'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'flashThickness'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.flashThickness.errors, 'input-valid': f.flashThickness.valid }"
        formControlName="flashThickness"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Factor Of Safety</span>
        <app-info-tooltip [infoId]="'Forging_Factor_Of_Safety'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'hlFactor'"></app-field-comment>
      <input type="number" formControlName="hlFactor" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Shear Strength Of Material (Mpa)</span>
        <app-info-tooltip [infoId]="'Forging_Shear_Strength_Material'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'clampingPressure'"></app-field-comment>
      <input type="number" formControlName="clampingPressure" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Theoretical Force(Ton)</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'theoreticalForce'"></app-field-comment>
      <input type="number" formControlName="theoreticalForce" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" readonly />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Selected Tonnage (Ton)</span>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'selectedTonnage'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.selectedTonnage.errors, 'input-valid': f.selectedTonnage.valid }"
        formControlName="selectedTonnage"
        class="form-control"
        [OnlyNumber]="true"
        min="0"
        (blur)="calculateCost()" />
    </div>
  </div>
</ng-container>
