.supplier-profile-container {
  height: 60%;
}

.supplier-profile-header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1d1d1d;
}

.details-field-name {
  font-size: 12px;
  color: #333333;
}

.supplier-profile-row {
  display: flex;
  flex-flow: row;
  width: 50%;
}

.details-field {
  width: 50%;
}

.supplier-profile-details {
  display: flex;
  flex-flow: column;
  font-size: 12px;
  height: 85%;
  gap: 2vh;
}

.supplier-profile-value {
  font-size: 14px;
}

.supplier-profile-buttons {
  display: flex;
  position: fixed;
  z-index: 300;
  transform: translate(-50%);
  padding: 10px;
  border-radius: 6px;
  background: var(--bs-white);
  inset: auto auto 38px 50%;
  box-shadow: 0px 4px 24px 0px #0000001a;
}

.digital-factory-btn {
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  flex-flow: row;
  align-items: center;
  min-width: 135px;
  display: flex;
  justify-content: center;
}

.unsaved-changes-text {
  font-size: 14px;
  font-weight: 500;
  align-self: center;
}

.notification {
  text-align: left;
  .mat-icon {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-bottom: -2px;
  }
}

// Table styles
.table-container {
  overflow-x: auto;
  width: auto;
  display: inline-block;
}

.mat-table {
  width: 100%;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  .mat-mdc-header-cell {
    border-right: 1px solid var(--badge-border);
    &:last-child {
      border-right: 0;
    }
  }
  .mat-mdc-cell {
    border: 1px solid var(--blue-light-border);
  }
  .parent-td {
    padding-left: 8px;
    border-bottom: none;
    position: relative;
    .parent-category {
      z-index: 1;
      position: relative;
      background-color: inherit;
    }
  }
  .child-td {
    padding-left: 15px;
    border-bottom: none;
    border-top: none;
    position: relative;
    overflow: visible;
    &::before {
      content: '';
      left: 15px;
      top: -50%;
      width: 1px;
      height: 100%;
      position: absolute;
      background-color: var(--component-border);
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
    .child-category {
      position: relative;
      display: inline-block;
      padding-left: 11px;
      &::before {
        content: '';
        left: 0;
        top: 50%;
        width: 11px;
        height: 1px;
        position: absolute;
        transform: translateY(-50%);
        background-color: var(--component-border);
      }
    }
  }
  .desc-tree {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding-left: 16px;
      position: relative;
      &::before {
        left: 0;
        top: 50%;
        width: 11px;
        content: '';
        height: 1px;
        position: absolute;
        transform: translateY(-50%);
        background-color: var(--component-border);
      }
    }
  }
  .value-unit {
    .unit {
      top: 50%;
      right: 8px;
      position: absolute;
      transform: translateY(-50%);
    }
  }
  .parent-row:hover {
    td {
      background-color: var(--bs-white);
    }
  }
  .mat-column-marketComparison {
    span {
      width: 100%;
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }
  }
}

.card {
  background: var(--table-head-row-bg);
}
.add-fields {
  --bs-gutter-x: 1rem;
}

.radio-control {
  .radio-label {
    min-width: 20px;
  }
}
