.costing-page {
  margin-top: -16px;
  background-color: var(--page-bg-shade);
}
.card-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  > h2 {
    font-size: 14px;
  }
}

.lblProject {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
}

.lblProjectNumber {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  // line-height: 100%;
  display: inline-block;
  margin-left: 5px;

  a {
    text-decoration: none;
  }
}

.section-group {
  position: relative;
}
.collapse-switch {
  top: 16px;
  width: 24px;
  right: 16px;
  z-index: 10;
  height: 24px;
  position: absolute;
  color: var(--black);
  border-radius: 4px;
  &:focus,
  &:hover {
    color: var(--bs-black);
    background-color: #edf3ff;
  }
  .mat-icon {
    width: 20px;
    height: 20px;
  }
}

.expand-switch {
  top: 20px;
  left: 16px;
  width: 24px;
  right: auto;
  z-index: 10;
  height: 24px;
  position: absolute;
  color: var(--black);
  border-radius: 4px;

  &:focus,
  &:hover {
    color: var(--bs-black);
    background-color: #edf3ff;
  }
  .mat-icon {
    width: 20px;
    height: 20px;
  }
}

.col-left {
  padding: 0;
  z-index: 1;
  flex-shrink: 0;
  position: relative;
  background: var(--bs-white);
  transition:
    width 0.1s ease,
    opacity 1s ease;
  border-right: 1px solid var(--component-border);
  will-change: width, opacity;
  opacity: 1;

  .scroll-details-section {
    width: 23.4%;
    transform: translateX(0);
    transition: transform 0.6s ease;
    will-change: transform;
  }

  &.collapsed {
    width: 0;
    opacity: 0;

    * {
      width: 0;
      opacity: 0;
    }

    .scroll-details-section {
      transform: translateX(-100%);
      overflow-y: hidden;
    }
  }
}

.col-center {
  flex-grow: 1;
  padding-top: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  will-change: width;
  transition: width 0.1s ease;

  * {
    will-change: width;
  }
}

.section-seperator {
  height: 1px;
  margin: 0 auto 4px auto;
  width: calc(100% - 32px);
  background-color: #dcdcdc;
}

.col-right {
  padding-left: 0;
  will-change: width;
}
