<div class="row">
  <div class="col-12">
    <select id="ddlComponentPlacement" class="form-control" [(ngModel)]="conversionCostType">
      <option *ngFor="let item of componentPlacements" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
  </div>
</div>
<br />

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Panel Description</mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container>
    <app-pcb-paneldescription [panelDescriptionForm]="panelDescriptionForm"></app-pcb-paneldescription>
  </ng-container>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>SMD Placement</mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container>
    <app-pcb-smdplacement
      [smdPlacementForm]="smdPlacementForm"
      [placementId]="conversionCostType"
      [boardComponents]="boardComponents"
      [conversionCostId]="conversionCostObj?.conversionCostId"></app-pcb-smdplacement>
  </ng-container>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Through Hole Placement</mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container>
    <app-pcb-throughholeplacement
      [throughHolePlacementForm]="throughHolePlacementForm"
      [placementId]="conversionCostType"
      [boardComponents]="boardComponents"
      [conversionCostId]="conversionCostObj?.conversionCostId"></app-pcb-throughholeplacement>
  </ng-container>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Time - Testing / Modification</mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container>
    <app-pcb-timetesting [timeTestingForm]="timeTestingForm" [boardComponents]="boardComponents" [conversionCostId]="conversionCostObj?.conversionCostId"></app-pcb-timetesting>
  </ng-container>
</mat-expansion-panel>
<br />
<div class="row">
  <div class="col mt-3 text-center">
    <button type="button" class="btn btn-primary" (click)="saveConversionCost()">Update & Save</button>
  </div>
</div>
<br />
<mat-expansion-panel *ngIf="resultLoaded">
  <mat-expansion-panel-header>
    <mat-panel-title>Result</mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <app-pcb-result
      [part]="currentPart"
      [paneldescriptionformdata]="panelDescriptionForm"
      (loaded)="triggerResultLoaded($event)"
      [smdPlacementFormData]="smdPlacementForm"
      [conversionCostId]="conversionCostObj?.conversionCostId"
      [throughHolePlacementFormData]="throughHolePlacementForm"
      [timeTestingFormData]="timeTestingForm"></app-pcb-result>
  </ng-template>
</mat-expansion-panel>
