.suggestion-container {
  display: flex;
  flex-flow: row;
  padding: 1%;
  gap: 3vh;
  margin-left: 2%;
  margin-right: 2%;
  height: 80vh;
}

.notes-editor {
  max-height: 60vh;
  overflow: auto;
}

.suggestion-header {
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0;
}

.suggestion-left-header {
  font-style: 14px;
}

.suggestion-header-border {
  border-bottom: 1px solid gray;
  width: max-content;
}

.suggested-button-container {
  display: flex;
  gap: 1%;
  align-items: center;
}

.costing-button {
  display: flex;
}

.suggestion-details {
  display: flex;
  height: min-content;
}

.suggestion-project-info {
  font-weight: 600;
  padding: 1%;
}

.material-header {
  font-weight: 600;
  padding: 1% 0 1% 0;
}

.material-body {
  padding: 1%;
  border: 1px solid gray;
  border-radius: 5px;
}

.suggestion-info {
  display: flex;
  flex-flow: column;
}

.cadexbomContainer {
  width: 35vh;
}

.suggestion-data {
  margin-top: 2%;
  display: flex;
  gap: 2%;
}

.text-area-container {
  height: 60vh;
}

.pdf-suggestion-section {
  width: 30%;
  border-right: 1px dotted gray;
  padding-right: 5px;
}

.image-suggestion-section {
  width: 70%;
  border-right: 1px dotted gray;
  padding-right: 5px;
}

.image-container {
  display: flex;
  flex-flow: column;
  gap: 5%;
  height: 60vh;
  overflow: auto;
}

.suggestion-overlay {
  height: 80vh;
  width: 92%;
  margin-left: 2%;
}

.project-info-column {
  display: flex;
  align-items: center;
  gap: 10%;
}

.no-suggestion-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 1.2rem;
  color: gray;
  font-weight: 600;
}

.highlight-row {
  background-color: #d4edda; /* light green */
}
