<form [formGroup]="costingPartInfoform" (ngSubmit)="onFormSubmit()" (change)="onPartFormValueChange()" autocomplete="off">
  <mat-tab-group class="costing-page-part-information-tab">
    <mat-tab label="Part Details">
      <div class="row">
        <div class="col">
          <div>
            <ng-template #popContent>
              <div [innerHTML]="name"></div>
              <div class="div-img" *ngIf="url">
                <img alt="" class="img-class" [src]="url" />
              </div>
            </ng-template>
          </div>

          <label class="form-label no-wrap has-icon" for="inputDefault">
            <span class="label-text" [matTooltip]="'Internal Part Number'" matTooltipPosition="above" [matTooltipShowDelay]="300">Internal Part Number</span>
            <!-- <span class="notification" (click)="showinfo('Internal_Part_Number')"><mat-icon class="info-icon" svgIcon="information"></mat-icon></span> -->
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Internal_Part_Number')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            [ngClass]="{
              'input-mandatory': f.IntPartNumber.errors,
              'input-valid': f.IntPartNumber.valid && !f.IntPartNumber.dirty,
              'input-overridden': f.IntPartNumber.dirty && f.IntPartNumber.touched,
            }"
            type="text"
            class="form-control"
            placeholder="Enter Part Number"
            formControlName="IntPartNumber"
            name="IntPartNumber"
            readonly="readonly" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Drawing Number'" matTooltipPosition="above" [matTooltipShowDelay]="300">Drawing Number</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Drawing_Number')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'drawingNumber'"></app-field-comment>
          <input type="text" formControlName="drawingNumber" class="form-control" [maxLength]="50" placeholder="Enter Drawing value" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Revision Number'" matTooltipPosition="above" [matTooltipShowDelay]="300">Revision Number</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Revision_Level')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'partRevision'"></app-field-comment>
          <input type="text" formControlName="partRevision" class="form-control" maxlength="3" placeholder="Enter Revision value" SpecialIsAlphaNumeric />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Part Description</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Part_Description')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'intPartDesc'"></app-field-comment>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Part Description"
            formControlName="IntPartDesc"
            [ngClass]="{
              'input-mandatory': f.IntPartDesc.errors,
              'input-valid': f.IntPartDesc.valid && !f.IntPartDesc.dirty,
              'input-overridden': f.IntPartDesc.dirty && f.IntPartDesc.touched,
            }"
            SpecialIsAlphaNumeric />
        </div>

        <!-- <div class="col">
            <label class="form-label no-wrap has-icon">Supplier Revenue <span class="notification" [ngbPopover]="popContent"
                    placement="auto" popoverTitle="Description"
                    (click)="showinfo('Supplier_Revenue')"><mat-icon class="info-icon" svgIcon="information"></mat-icon></span>:</label>
            <input type="text" placeholder="Enter Supplier Revenue" [attr.disabled]="true"
                formControlName="supplierRevenue"
                [ngClass]="{'input-mandatory':f.supplierRevenue.errors,'input-valid': f.supplierRevenue.valid && !f.supplierRevenue.dirty, 'input-overridden': f.supplierRevenue.dirty && f.supplierRevenue.touched}"
                class="form-control">
        </div> -->

        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Manufacturing Category'" matTooltipPosition="above" [matTooltipShowDelay]="300">Manufacturing Category</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Commodity')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'commdityValue'"></app-field-comment>
          <div class="dropdown-wrap">
            <select
              [ngClass]="{
                'input-mandatory': f.commdityvalue.errors,
                'input-valid': f.commdityvalue.valid,
                'input-overridden': f.commdityvalue.dirty && f.commdityvalue.touched,
              }"
              formControlName="commdityvalue"
              (change)="onCommodityChange($event)"
              class="form-control"
              placeholder="---Select Commodity----">
              <option value="" selected>-------Select Commodity---------</option>
              <option *ngFor="let commodity of commodityList" value="{{ commodity.commodityId }}" [attr.disabled]="commodity.isActive ? null : true">
                {{ commodity.commodity }}
              </option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'BOM Qty (Nos.)'" matTooltipPosition="above" [matTooltipShowDelay]="300">BOM Qty (Nos.)</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('BOM_Qty')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'bomqty'"></app-field-comment>
          <input type="number" formControlName="bomqty" class="form-control" placeholder="Enter Qty" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Annual Volume Qty ' + (isCustomCable ? '(Mtr)' : '(Nos.)')" matTooltipPosition="above" [matTooltipShowDelay]="300">
              Annual Volume Qty {{ isCustomCable ? '(Mtr)' : '(Nos.)' }}
            </span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Annual_Volume_Nos')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>

          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'annualVolume'"></app-field-comment>
          <input
            [ngClass]="{
              'input-valid': (f.AnnualVolume.touched && f.AnnualVolume.valid) || f.AnnualVolume.value !== null,
              'input-mandatory': (f.AnnualVolume.touched && f.AnnualVolume.invalid) || f.AnnualVolume.value === null,
              'input-overridden': f.AnnualVolume.dirty && f.AnnualVolume.touched,
            }"
            type="number"
            formControlName="AnnualVolume"
            class="form-control"
            max="100000000"
            placeholder="Estimated Annual Volume (EAV)"
            [OnlyNumber]="true"
            (blur)="updateLotSize(); updateLifeTimeQtyRemaining()"
            (change)="updateLotSize(); updateLifeTimeQtyRemaining()" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Lot size ' + (isCustomCable ? '(Mtr)' : '(Nos.)')" matTooltipPosition="above" [matTooltipShowDelay]="300">
              Lot size {{ isCustomCable ? '(Mtr)' : '(Nos.)' }}
            </span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Lot Size_Nos')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'lotsize'"></app-field-comment>
          <input
            type="number"
            [ngClass]="{
              'input-valid': f.lotsize.touched && f.lotsize.value !== null,
              'input-mandatory': f.lotsize.invalid || f.lotsize.value === null || f.lotsize.value === '',
              'input-yellow': f.lotsize.value !== null,
              'input-overridden': f.lotsize.dirty && f.lotsize.touched,
            }"
            max="100000000"
            formControlName="lotsize"
            class="form-control"
            placeholder="Lot size"
            (blur)="updateLotSize()"
            (change)="onLotSizeChange($event); onPartFormValueChange()" />
        </div>
        <div class="col position-relative">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Product Life Remaining (Yrs)'" matTooltipPosition="above" [matTooltipShowDelay]="300">Product Life Remaining (Yrs)</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Product_life_remaining_Years')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="formIdentifier" [fieldIdentifier]="'prodLifeRemaining'"></app-field-comment>
          <input
            [ngClass]="{
              'input-valid': f.prodLifeRemaining.touched && f.prodLifeRemaining.value !== null,
              'input-mandatory': f.prodLifeRemaining.invalid || f.prodLifeRemaining.value === null || f.prodLifeRemaining.value === '',
              'input-yellow': f.prodLifeRemaining.value !== null,
              'input-overridden': f.prodLifeRemaining.dirty && f.prodLifeRemaining.touched,
            }"
            formControlName="prodLifeRemaining"
            type="number"
            [OnlyNumber]="true"
            class="form-control"
            (change)="updateLifeTimeQtyRemaining()"
            placeholder="Product life" />
        </div>
        <div class="col position-relative">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Life Time Qty Remaining' + (isCustomCable ? ' (Mtr)' : ' (Nos.)')" matTooltipPosition="above" [matTooltipShowDelay]="300">
              Life Time Qty Remaining {{ isCustomCable ? '(Mtr)' : '(Nos.)' }}
            </span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Life_time_quantity_remaining_Nos')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="formIdentifier" [fieldIdentifier]="'lifeTimeQtyRemaining'"></app-field-comment>
          <input
            [ngClass]="{
              'input-valid': f.lifeTimeQtyRemaining.touched && f.lifeTimeQtyRemaining.value !== null,
              'input-mandatory': f.lifeTimeQtyRemaining.invalid || f.lifeTimeQtyRemaining.value === null || f.lifeTimeQtyRemaining.value === '',
              'input-yellow': f.lifeTimeQtyRemaining.value !== null,
              'input-overridden': f.lifeTimeQtyRemaining.dirty && f.lifeTimeQtyRemaining.touched,
            }"
            formControlName="lifeTimeQtyRemaining"
            max="100000000"
            type="number"
            [OnlyNumber]="true"
            class="form-control"
            placeholder="Life time quantity"
            (change)="liferemaningtimechange($event)"
            (blur)="updateLotSize()" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Supplier Name'" matTooltipPosition="above" [matTooltipShowDelay]="300">Supplier Name</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Supplier_Name')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'supplierName'"></app-field-comment>
          <div class="dropdown-wrap">
            <input
              type="text"
              placeholder="Select Supplier Name"
              formControlName="supplierName"
              [ngClass]="{
                'input-mandatory': f.supplierName.errors,
                'input-valid': f.supplierName.valid,
                'input-overridden': f.supplierName.dirty && f.supplierName.touched,
              }"
              [matAutocomplete]="supplierauto"
              class="form-control" />
            <mat-autocomplete autoActiveFirstOption #supplierauto="matAutocomplete" (optionSelected)="onSupplierOptionChange($event)" [displayWith]="displaySupplier">
              <mat-option *ngFor="let supplier of filteredSupplierList$ | async" [value]="supplier" [matTooltip]="supplier?.supplierDirectoryMasterDto?.vendorName" matTooltipPosition="right">
                {{ supplier?.supplierDirectoryMasterDto?.vendorName }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Manufacturing City'" matTooltipPosition="above" [matTooltipShowDelay]="300">Manufacturing City</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Manufacturing_City')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="text"
            placeholder="Enter City"
            formControlName="mfrCity"
            readonly="readonly"
            [ngClass]="{
              'input-mandatory': f.mfrCity.errors,
              'input-valid': f.mfrCity.valid,
            }"
            class="form-control" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Manufacturing Country'" matTooltipPosition="above" [matTooltipShowDelay]="300">Manufacturing Country</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Manufacturing_Country')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="text"
            placeholder="Select Manufacturing Country"
            aria-label="Number"
            formControlName="ManufacturingCountry"
            readonly="readonly"
            [ngClass]="{
              'input-mandatory': f.ManufacturingCountry.errors,
              'input-valid': f.ManufacturingCountry.valid,
            }"
            class="form-control"
            [matAutocomplete]="mfrAuto" />
          <mat-autocomplete autoActiveFirstOption #mfrAuto="matAutocomplete" [displayWith]="displayMfrCountry">
            <mat-option
              [ngStyle]="{
                'border-bottom': country.countryName === 'India' ? '1px solid black' : '',
              }"
              *ngFor="let country of filteredMfrCountryList$ | async"
              [value]="country">
              {{ country?.countryName }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Delivery Site Name'" matTooltipPosition="above" [matTooltipShowDelay]="300">Delivery Site Name</span>
            <span class="notification" [ngbPopover]="popContent" popoverTitle="Description" (click)="showinfo('Delivery_Site_Name')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'deliverySite'"></app-field-comment>
          <div class="dropdown-wrap">
            <input
              formControlName="DeliverySite"
              type="text"
              class="form-control"
              placeholder="Delivery Site"
              [ngClass]="{
                'input-mandatory': f.DeliverySite.errors,
                'input-valid': f.DeliverySite.valid,
                'input-overridden': f.DeliverySite.dirty && f.DeliverySite.touched,
              }"
              [matAutocomplete]="buNameAuto" />
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
          <mat-autocomplete autoActiveFirstOption #buNameAuto="matAutocomplete" (optionSelected)="onNameOptionChange($event)" [displayWith]="displayBuName">
            <mat-option *ngFor="let bu of filteredBuList$ | async" [value]="bu" [matTooltip]="bu?.buName" matTooltipPosition="right">
              {{ bu?.buName }}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Delivery City'" matTooltipPosition="above" [matTooltipShowDelay]="300">Delivery City</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Delivery_City')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="text"
            placeholder="Enter city"
            readonly="readonly"
            [ngClass]="{
              'input-mandatory': f.DeliveryCity.errors,
              'input-valid': f.DeliveryCity.valid,
            }"
            class="form-control"
            formControlName="DeliveryCity" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text" [matTooltip]="'Delivery Country'" matTooltipPosition="above" [matTooltipShowDelay]="300">Delivery Country</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Delivery_Country')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="text"
            placeholder="Select Delivery Country"
            aria-label="Number"
            class="form-control"
            formControlName="DeliveryCountry"
            readonly="readonly"
            [ngClass]="{
              'input-mandatory': f.DeliveryCountry.errors,
              'input-valid': f.DeliveryCountry.valid,
            }"
            [matAutocomplete]="deliveryauto" />
          <mat-autocomplete autoActiveFirstOption #deliveryauto="matAutocomplete" [displayWith]="displayDeliveryCountry">
            <mat-option
              [ngStyle]="{
                'border-bottom': country?.countryName === 'India' ? '1px solid' : '',
              }"
              *ngFor="let country of filteredDeliveryCountryList$ | async"
              [value]="country">
              {{ country?.countryName }}
            </mat-option>
          </mat-autocomplete>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Supply Terms">
      <div class="row">
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Inco Terms</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Inco_Terms')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'incoTerms'"></app-field-comment>
          <div class="dropdown-wrap">
            <select
              [ngClass]="{
                'input-valid': f.IncoTerms.touched && f.IncoTerms.valid,
                'input-mandatory': (f.IncoTerms.touched && f.IncoTerms.invalid) || f.IncoTerms.value === null || f.IncoTerms.value === '',
                'input-yellow': f.IncoTerms.value !== null,
                'input-overridden': f.IncoTerms.dirty && f.IncoTerms.touched,
              }"
              formControlName="IncoTerms"
              placeholder="Select Incoterms"
              class="form-control">
              <option value="" selected>Select Incoterms</option>
              <option *ngFor="let term of incoterms; let i = index" [ngValue]="term.value">
                {{ term.name }}
              </option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
        <div class="col position-relative">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Delivery Frequency (Days)</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Delivery_Frequency_days')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="formIdentifier" [fieldIdentifier]="'deliveryFrequency'"></app-field-comment>
          <input
            formControlName="DeliveryFrequency"
            [ngClass]="{
              'input-valid': f.DeliveryFrequency.touched && f.DeliveryFrequency.value !== null,
              'input-mandatory': f.DeliveryFrequency.invalid || f.DeliveryFrequency.value === null || f.DeliveryFrequency.value === '',
              'input-yellow': f.DeliveryFrequency.value !== null,
              'input-overridden': f.DeliveryFrequency.dirty && f.DeliveryFrequency.touched,
            }"
            type="number"
            class="form-control"
            [OnlyNumber]="true"
            placeholder="Delivery Frequency" />
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon no-wrap">
            <span class="label-text">Packaging Type</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Packing_Type')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'packingType'"></app-field-comment>
          <div class="dropdown-wrap">
            <select
              [ngClass]="{
                'input-mandatory': f.packingtype.errors,
                'input-valid': f.packingtype.valid,
                'input-yellow': f.packingtype.value !== null,
                'input-overridden': f.packingtype.dirty && f.packingtype.touched,
              }"
              formControlName="packingtype"
              class="form-control"
              (change)="onPackingChange($event)"
              placeholder="Select Packaging Type">
              <option value="">----Select Packaging Type -----</option>
              <option value="2">No Packing</option>
              <option value="0">Reusable Packing</option>
              <option value="1" selected>Non Reusable Packing</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Payment Terms (Days)</span>
            <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Payment_Terms_days')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'paymentTerms'"></app-field-comment>
          <div class="dropdown-wrap">
            <select
              [ngClass]="{
                'input-valid': f.PaymentTerms.touched && f.PaymentTerms.valid,
                'input-mandatory': (f.PaymentTerms.touched && f.PaymentTerms.invalid) || f.PaymentTerms.value === null || f.PaymentTerms.value === '',
                'input-yellow': f.PaymentTerms.value !== null,
                'input-overridden': f.PaymentTerms.dirty && f.PaymentTerms.touched,
              }"
              formControlName="PaymentTerms"
              class="form-control"
              placeholder="Select Payment Terms">
              <option value="">Select Payment Terms</option>
              <option value="7">15 Days</option>
              <option value="1">30 Days</option>
              <option value="2">45 Days</option>
              <option value="3" selected>60 Days</option>
              <option value="4">75 Days</option>
              <option value="5">90 Days</option>
              <option value="6">120 Days</option>
              <option value="8">150 Days</option>
              <option value="9">180 Days</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Additional Details">
      <div class="row">
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Part Complexity</span>
            <span [ngbPopover]="popContent" placement="auto" popoverTitle="Description" class="notification" (click)="showinfo('Part_Complexity')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'partComplexcity'"></app-field-comment>
          <!-- <div class="part-complexity-wrap">
            <div class="col">
              <div class="form-check radio-font-12">
                <input class="form-check-input radio-font-12" [value]="1" type="radio" formControlName="partcomplexcity" id="partcomplexcity" />
                <label class="form-check-label labelSpacing" for="Low" checked>Low</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check radio-font-12">
                <input class="form-check-input radio-font-12" [value]="2" type="radio" formControlName="partcomplexcity" id="partcomplexcity" />
                <label class="form-check-label labelSpacing" for="Medium">Medium</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check radio-font-12">
                <input class="form-check-input radio-font-12" [value]="3" type="radio" formControlName="partcomplexcity" id="partcomplexcity" />
                <label class="form-check-label labelSpacing" for="High">High</label>
              </div>
            </div>
          </div> -->
          <!-- <div class="dropdown-wrap">
            <input
              formControlName="partcomplexcity"
              type="text"
              class="form-control"
              placeholder="Select Part Complexity"
              [ngClass]="{
                'input-mandatory': f.partcomplexcity?.errors,
                'input-valid': f.partcomplexcity?.valid,
              }"
              [matAutocomplete]="partComplexityAuto" />
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
          <mat-autocomplete autoActiveFirstOption #partComplexityAuto="matAutocomplete">
            <mat-option [value]="'1'">Low</mat-option>
            <mat-option [value]="'2'">Medium</mat-option>
            <mat-option [value]="'3'">High</mat-option>
          </mat-autocomplete> -->
          <div class="dropdown-wrap">
            <select
              [ngClass]="{
                'input-mandatory': f.partcomplexcity?.errors,
                'input-valid': f.partcomplexcity?.valid,
                'input-overridden': f.partcomplexcity?.dirty && f.partcomplexcity?.touched,
              }"
              formControlName="partcomplexcity"
              class="form-control"
              placeholder="Select Part Complexity">
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
        <div class="col">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Supply Chain Model</span>
            <span [ngbPopover]="popContent" placement="auto" popoverTitle="Description" class="notification" (click)="showinfo('Supply_Chain_Model')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'supplyChainModel'"></app-field-comment>
          <!-- <div class="row row-cols-3 pt-2">
            <div class="col">
              <div class="form-check radio-font-12">
                <input class="form-check-input radio-font-12" formControlName="supplychainmodel" type="radio" [value]="1" name="supplychainmodel" id="supplychainmodel" />
                <label class="form-check-label" for="make">Make</label>
              </div>
            </div>
            <div class="col">
              <div class="form-check form-check-inline">
                <input class="form-check-input radio-font-12" formControlName="supplychainmodel" type="radio" [value]="2" name="supplychainmodel" id="supplychainmodel" checked />
                <label class="form-check-label" for="Buy">Buy</label>
              </div>
            </div>
          </div> -->
          <!-- <div class="dropdown-wrap">
            <input
              formControlName="supplychainmodel"
              type="text"
              class="form-control"
              placeholder="Select Supply Chain Model"
              [ngClass]="{
                'input-mandatory': f.supplychainmodel?.errors,
                'input-valid': f.supplychainmodel?.valid,
              }"
              [matAutocomplete]="supplyChainModelAuto" />
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
          <mat-autocomplete autoActiveFirstOption #supplyChainModelAuto="matAutocomplete">
            <mat-option [value]="'1'">Make</mat-option>
            <mat-option [value]="'2'">Buy</mat-option>
          </mat-autocomplete> -->
          <div class="dropdown-wrap">
            <select
              [ngClass]="{
                'input-mandatory': f.supplychainmodel?.errors,
                'input-valid': f.supplychainmodel?.valid,
                'input-overridden': f.supplychainmodel?.dirty && f.supplychainmodel?.touched,
              }"
              formControlName="supplychainmodel"
              class="form-control"
              placeholder="Select Supply Chain Model">
              <option value="1">Make</option>
              <option value="2">Buy</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Supplier Profile">
      <div class="tab-supplier-profile pt-4 pr-2 pl-2">
        <div class="map-container w-full" *ngIf="marker?.lat && marker?.lng">
          <google-map [center]="{ lat: marker?.lat, lng: marker?.lng }" [zoom]="5">
            <map-marker [position]="{ lat: marker?.lat, lng: marker?.lng }" [icon]="marker?.icon"></map-marker>
          </google-map>
        </div>
        <div class="details-row">
          <h3 class="font-medium text-black mb-2 text-sm">Company Profile</h3>
          <div class="details-sec-wrap flex flex-wrap">
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Founded</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.yearFounded ? supplierInfo?.yearFounded : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Owner/CEO</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.owner ? supplierInfo?.owner : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Country</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.countryName ? supplierInfo?.countryName : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Region</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.regionName ? supplierInfo?.regionName : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Company Type</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.companyType ? supplierInfo?.companyType : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Parent Company</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.parentCompany ? supplierInfo?.parentCompany : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Company Size (Employees)</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.companySizeByEmployees ? supplierInfo?.companySizeByEmployees : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Company Size (Sales)</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.companySizeBySales ? '$ ' + supplierInfo?.companySizeBySales : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Diverse / Small Bus Status</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.diverse ? supplierInfo?.diverse : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Alternate Facility Location(s)</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.diverse ? supplierInfo?.diverse : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">DUNS</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.dunsId ? supplierInfo?.dunsId : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">EID</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.eid ? supplierInfo?.eid : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-12">
              <div class="label text-xs">Mission Statement</div>
              <div class="data font-medium text-xs text-black">
                {{ supplierInfo?.missionStatement ? supplierInfo?.missionStatement : '-' }}
              </div>
            </div>
          </div>
        </div>
        <div class="details-row">
          <h3 class="font-medium text-black mb-2 text-sm">Company Profile</h3>
          <div class="details-sec-wrap flex flex-wrap">
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Website</div>
              <a href="{{ supplierInfo?.website }}" target="_blank" class="data font-medium text-xs link" rel="noopener">{{ supplierInfo?.website ? supplierInfo?.website : '-' }}</a>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Phone</div>
              @if (supplierInfo?.phone) {
                <a href="tel:{{ supplierInfo?.phone }}" target="_blank" tel class="data font-medium text-xs link text-black" rel="noopener">{{ supplierInfo?.phone }}</a>
                <!-- <a href="tel:+123 667992002" target="_blank" tel class="data font-medium text-xs link text-black">+123 667992002</a> -->
              } @else {
                -
              }
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Address</div>
              <div class="data font-medium text-xs text-black">{{ supplierInfo?.address ? supplierInfo?.address : '-' }}</div>
            </div>
            <div class="single-data flex flex-col col-4">
              <div class="label text-xs">Email</div>
              <div class="data font-medium text-xs text-black">
                @if (supplierInfo?.contactEmail) {
                  <span class="flex items-center">
                    <a href="mailto:{{ supplierInfo?.contactEmail }}" target="_blank" class="data font-medium text-xs text-black link" rel="noopener">
                      {{ supplierInfo?.contactEmail }}
                    </a>
                    <button type="button" class="copy-button" (click)="copyEmail(supplierInfo?.contactEmail)"><mat-icon class="dropdown-arrow" svgIcon="copy-icon"></mat-icon></button>
                  </span>
                } @else {
                  -
                }
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-4" *ngIf="['3','5'].includes(f.commdityvalue.value.toString())">
            <label class="form-label no-wrap has-icon">Cast Type:</label>
            <app-field-comment [formIdentifier]="formIdentifier" [fieldIdentifier]="'castType'"></app-field-comment>
            <div class="pt-2">
                <div class="form-check form-check-inline me-5">
                    <input class="form-check-input" formControlName="castType" type="radio" [value]="1" name="castType"
                        id="CastType1" /> <label class="form-check-label" for="CastType1">As Cast</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" formControlName="castType" type="radio" [value]="2" name="castType"
                        id="CastType2" /> <label class="form-check-label" for="CastType2">Machined</label>
                </div>
            </div>
        </div>

        <div class="col-4" *ngIf="['3','5'].includes(f.commdityvalue.value.toString()) && f.castType.value===2">
            <label class="form-label no-wrap has-icon">Machining Processes:</label>
            <app-field-comment [formIdentifier]="formIdentifier"
                [fieldIdentifier]="'machiningProcesses'"></app-field-comment>
            <select formControlName="machiningProcesses" class="form-control"
                (change)="onMachiningProcessChange($event)">
                <option value="" selected>---Select <label *ngIf="selectedMachiningProcesses?.length > 0">More</label>
                    Machining Processes---</option>
                <option *ngFor="let process of machiningConfigService.machineProcessList" value="{{process.id}}">
                    {{process.process | camelcaseToWords}}
                </option>
            </select>
        </div> -->
      </div>
    </mat-tab>
    <!-- <div *ngIf="['3','5'].includes(f.commdityvalue.value.toString()) && f.castType.value===2 && selectedMachiningProcesses?.length > 0"
        class="d-flex justify-content-end flex-wrap mt-2">
        <span class="badge bg-primary position-relative my-1 pe-4 me-2"
            *ngFor="let process of selectedMachiningProcesses">
            {{machiningConfigService.machineProcessObject[process] | camelcaseToWords}}
            <span class="position-absolute top-0 ms-2 cursor-pointer" (click)="removeMachiningProcess(process)">x</span>
        </span>
    </div> -->
    <!-- <div class="row text-center justify-content-center">
        <button class="btn btn-primary wd-25" type="submit" [ngClass]="afterChange? 'dirty-button' : ''" type="submit">
            Update & Save
        </button>
    </div> -->
  </mat-tab-group>
</form>
