:host {
  height: calc(100% - 56px);
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 7;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px; /* Adds space between icon and text */
  padding: 8px 12px;
  text-decoration: none;
}

.mat-icon {
  font-size: 20px; /* Optional: ensures size consistency */
  height: 24px;
  width: 24px;
}

.nav-item-text {
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
}
