<div [formGroup]="formGroup">
  <div class="card">
    <div class="card-header">Forging Cost Details</div>
    <div class="card-body">
      <ng-container>
        <ng-container formArrayName="subProcessList">
          <ng-container *ngFor="let subitem of subProcessFormArray?.controls; let index = index">
            <div [formGroupName]="index">
              <div class="row">
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Sub Process Group</span>
                    <app-info-tooltip [infoId]="'Sub_Process_Group'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'subProcessTypeID'"></app-field-comment>
                  <select formControlName="subProcessTypeID" class="form-control" (change)="setFormBasedOnSubProcessType($event, index)">
                    <option value="0" selected>Select Sub Process Group</option>
                    <option *ngFor="let item of subProcessNamesList" [value]="item.id">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
                <div class="col-6"></div>
                <div class="col-2" style="justify-content: end" *ngIf="index > 0">
                  <a href="javascript:void(0)" (click)="onDeleteSubProcess(index)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </div>
              </div>
              <div class="row mt-3" *ngIf="forging.coldForgingClosedDieCold">
                <!-- punchPerimeter -->
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">{{ forgingVals.isEnableUnitConversion ? 'Initial Dia of head D0(' + forgingVals.conversionValue + ')' : 'Initial Dia of head D0(mm)' }}</span>
                    <app-info-tooltip [infoId]="'Forging_Initial_Dia_of_head_D0'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'helixAngle'"></app-field-comment>
                  <input type="number" formControlName="helixAngle" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <!-- formPerimeter -->
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">{{ forgingVals.isEnableUnitConversion ? 'Final Dia of head Df(' + forgingVals.conversionValue + ')' : 'Final Dia of head Df (mm)' }}</span>
                    <app-info-tooltip [infoId]="'Forging_Final_Dia_of_head_Df'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'pitchDiameter'"></app-field-comment>
                  <input type="number" formControlName="pitchDiameter" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">{{ forgingVals.isEnableUnitConversion ? 'Final length of head Hf(' + forgingVals.conversionValue + ')' : 'Final length of head Hf (mm)' }}</span>
                    <app-info-tooltip [infoId]="'Forging_Final_length_of_head_Hf'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'spiralAngle'"></app-field-comment>
                  <input type="number" formControlName="spiralAngle" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">{{ forgingVals.isEnableUnitConversion ? 'Initial Height Ho (' + forgingVals.conversionValue + ')' : 'Initial Height Ho (mm)' }}</span>
                    <app-info-tooltip [infoId]="'Forging_Initial_Height_Ho'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'partInitialDia'"></app-field-comment>
                  <input type="number" formControlName="partInitialDia" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <div class="col-4" *ngIf="subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingUpsetting">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">{{ forgingVals.isEnableUnitConversion ? 'Area Before Forming A0 (mm2)(' + forgingVals.conversionValue + ')' : 'Area Before Forming A0 (mm2)' }}</span>
                    <app-info-tooltip [infoId]="'Forging_Area_Before_Forming_A0'"></app-info-tooltip>
                  </label>
                  <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'finalGrooveDia'"></app-field-comment>
                  <input type="number" formControlName="finalGrooveDia" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <div class="col-4" *ngIf="subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingUpsetting">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">
                      {{ forgingVals.isEnableUnitConversion ? 'Area After Forming A1 (mm2)(' + forgingVals.conversionValue + ')' : 'Area After Forming A1 (mm2)' }}
                    </span>
                    <app-info-tooltip [infoId]="'Forging_Area_After_Forming_A1'"></app-info-tooltip>
                  </label>
                  <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'widthOfCut'"></app-field-comment>
                  <input type="number" formControlName="widthOfCut" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>

                <!-- <div class="col-4">
                                    <label class="form-label no-wrap">
                                        {{forgingVals.isEnableUnitConversion ?
                                        'Initial Height Ho('+ forgingVals.conversionValue + ')' : 'Initial Height
                                        Ho(mm)'
                                        }} :</label>
                                    <app-field-comment [formIdentifier]="forgingVals.formIdentifier"
                                        [fieldIdentifier]="'formPerimeter'"></app-field-comment>
                                    <input type="number" formControlName="formPerimeter"
                                        [ngClass]="{'input-mandatory':f.formPerimeter.errors,'input-valid': f.formPerimeter.valid}"
                                        class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()">
                                </div> -->
                <div
                  class="col-4"
                  *ngIf="
                    forging.coldForgingClosedDieCold &&
                    subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingForwardExtrusion &&
                    subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingBackwardExtrusion
                  ">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">{{ forgingVals.isEnableUnitConversion ? 'Cross Sectional Area(' + forgingVals.conversionValue + ')' : 'Cross SectionalArea(mm)' }}</span>
                    <app-info-tooltip [infoId]="'Forging_Cross_Sectional_Area'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'blankArea'"></app-field-comment>
                  <input type="number" formControlName="blankArea" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <div class="col-4" *ngIf="forging.coldForgingClosedDieCold">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">
                      {{ forgingVals.isEnableUnitConversion ? 'Tensile Strength (Mpa)' : 'Tensile Strength (Mpa)' }}
                    </span>
                    <app-info-tooltip [infoId]="'Forging_Tensile_Strength'"></app-info-tooltip>
                  </label>
                  <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'pressureAngle'"></app-field-comment>
                  <input type="number" formControlName="pressureAngle" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>

                <div
                  class="col-4"
                  *ngIf="
                    subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingForwardExtrusion &&
                    subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingBackwardExtrusion
                  ">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Strain hardening exponent ((n))</span>
                    <app-info-tooltip [infoId]="'Forging_Strain_Hardening_Exponent'"></app-info-tooltip>
                  </label>
                  <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'workpieceInitialDia'"></app-field-comment>
                  <input type="number" formControlName="workpieceInitialDia" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>

                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Equivalent Strain (έ):</span>
                    <app-info-tooltip [infoId]="'Forging_Equivalent_Strain'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'workpieceOuterDia'"></app-field-comment>
                  <input type="number" formControlName="workpieceOuterDia" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Factor of safety</span>
                    <app-info-tooltip [infoId]="'Forging_Factor_of_Safety'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'workpieceInnerDia'"></app-field-comment>
                  <input type="number" formControlName="workpieceInnerDia" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>

                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Forging Force (Tonne) :</span>
                    <app-info-tooltip [infoId]="'Forging_Forging_Force'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'formingForce'"></app-field-comment>
                  <input type="number" formControlName="formingForce" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <!-- <div class="col-4">
                                    <label class="form-label no-wrap">
                                        Tensile Strength (Mpa) :</label>
                                    <app-field-comment [formIdentifier]="forgingVals.formIdentifier"
                                        [fieldIdentifier]="'widthOfCut'"></app-field-comment>
                                    <input type="number" formControlName="widthOfCut" class="form-control"
                                        [OnlyNumber]="true" min="0" (blur)="calculateCost()">
                                </div> -->
                <div class="col-4" *ngIf="subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingUpsetting">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Deformation Efficiency ηF</span>
                    <app-info-tooltip [infoId]="'Forging_Deformation_Efficiency'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'totalDepOfCut'"></app-field-comment>
                  <input type="number" formControlName="totalDepOfCut" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>

                <div
                  class="col-4"
                  *ngIf="
                    subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingForwardExtrusion &&
                    subitem.get('subProcessTypeID')?.value !== ColdDieForgingSubProcess.ColdForgingBackwardExtrusion
                  ">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Flow Stress (Mpa)</span>
                    <app-info-tooltip [infoId]="'Forging_Flow_Stress'"></app-info-tooltip>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'wheelWidth'"></app-field-comment>
                  <input type="number" formControlName="wheelWidth" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
                <div class="col-4">
                  <label class="form-label no-wrap has-icon">
                    <span class="label-text">Number of Stages (Nos.)</span>
                  </label>
                  <app-field-comment [formIdentifier]="forgingVals.formIdentifier" [fieldIdentifier]="'typeOfSplice'"></app-field-comment>
                  <input type="number" formControlName="typeOfSplice" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>
              </div>
              <!-- <div class="row">
                                <div class="col-4 mt-3"
                                    *ngIf="forging.heatTreatment || (forging.cleaning && !isConveyourTypeOfOperation) || forging.coldForgingClosedDieCold || forging.coldColdHeadingForging || forging.lubricationPhosphating || forging.billetHeating">
                                    <label class="form-label no-wrap"
                                        *ngIf="forging.coldForgingClosedDieCold || forging.coldColdHeadingForging">
                                        Machine Stroke Per Min:</label>
                                    <input type="number" formControlName="noofStroke" (blur)="calculateCost()"
                                        class="form-control" [OnlyNumber]="true" min="0" />
                                </div>
                                <div class="col-4 mt-3"
                                    *ngIf="forging.hotForgingClosedDieHot || forging.stockShearing || forging.trimmingPress|| forging.cleaning || forging.control || forging.testing || forging.staigtening || forging.heatTreatment || forging.cutting || forging.hotForgingOpenDieHot || forging.shotBlasting ||
                                forging.coldForgingClosedDieCold || forging.coldColdHeadingForging || forging.lubricationPhosphating || forging.threadRolling || forging.threadRollingColdHeadingForging || forging.billetHeating">
                                    <label class="form-label no-wrap"> Set-Up Time Per Batch(mins)</label>
                                    <app-field-comment class="position-absolute right-top-comment"
                                        [formIdentifier]="forgingVals.formIdentifier"
                                        [fieldIdentifier]="'setUpTime'"></app-field-comment>
                                    <input type="number" formControlName="setUpTime" class="form-control "
                                        (blur)="calculateCost()" [OnlyNumber]="true" min="0">
                                </div>
                                <div class="col-4 mt-3 position-relative"
                                    *ngIf="forging.hotForgingClosedDieHot || forging.stockShearing || forging.trimmingPress || forging.cleaning || forging.testing || forging.staigtening || forging.heatTreatment || forging.cutting || forging.hotForgingOpenDieHot || forging.shotBlasting || forging.threadRolling || forging.threadRollingColdHeadingForging || forging.coldForgingClosedDieCold || forging.coldColdHeadingForging || forging.billetHeating">
                                    <label
                                        *ngIf="forging.hotForgingClosedDieHot || forging.stockShearing || forging.trimmingPress || forging.cleaning || forging.testing || forging.staigtening || forging.heatTreatment || forging.cutting || forging.hotForgingOpenDieHot || forging.shotBlasting || forging.lubricationPhosphating || forging.threadRolling || forging.coldForgingClosedDieCold || forging.coldColdHeadingForging || forging.billetHeating">Process
                                        Cycle Time(s):</label>
                                    <label *ngIf="forging.threadRollingColdHeadingForging">Actual Rolling Time
                                        (Sec):</label>
                                    <input type="number" formControlName="processTime" class="form-control "
                                        (blur)="calculateCost()" [OnlyNumber]="true" min="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 mt-3"
                                    *ngIf="forging.hotForgingClosedDieHot || forging.stockShearing || forging.trimmingPress || forging.cleaning || forging.control || forging.testing || forging.staigtening || forging.heatTreatment || forging.hotForgingOpenDieHot ||
            forging.coldForgingClosedDieCold || forging.coldColdHeadingForging || forging.lubricationPhosphating || forging.threadRolling || forging.threadRollingColdHeadingForging || forging.billetHeating">
                                    <label>Setup Time (S/piece):</label>
                                    <input type="number" formControlName="dryCycleTime" class="form-control "
                                        (blur)="calculateCost()" [OnlyNumber]="true" min="0">
                                </div>

                            </div> -->
            </div>
            <hr class="devider" />
          </ng-container>
        </ng-container>
      </ng-container>
      <div class="col-12 links-block" style="justify-content: end">
        <a class="link-info" (click)="addMore()">Add Process</a>
      </div>
    </div>

    <ng-template #popContent>
      <div [innerHTML]="popupName"></div>
      <div class="div-img" *ngIf="popupUrl">
        <img alt="" class="img-class" [src]="popupUrl" />
      </div>
    </ng-template>
  </div>
</div>
