// .grid-bg-color {
//     td {
//         background-color: rgba(157, 160, 156, 0.377);
//     }
// }

// .table-head {
//     font-size: 12px;
// }

// tbody {
//     background-color: #ffffff;
//     color: #000000;
// }

.header-highlight {
  color: var(--table-green-text);
}

.material-table-btn {
  padding: 11px;
  font-size: 0.75rem;

  .mat-icon {
    max-width: 8px;
    max-height: 8px;
    font-size: 8px;
  }
}

.btn-add-material {
  margin-top: 12px;
  margin-bottom: 16px;
}
