<div class="card mt-3">
  <div class="card-header">Tooling</div>
  <div class="card-body">
    <table class="table m-0" aria-describedby="Tooling">
      <thead>
        <tr>
          <th scope="col" class="table-head">Sl #</th>
          <th scope="col" class="table-head">Tool Name</th>
          <th scope="col" class="table-head">Tool Life (Nos)</th>
          <th scope="col" class="table-head">Tool Cost (USD)</th>
          <th scope="col" class="table-head">Subsequent Cost (USD)</th>
          <th scope="col" class="table-head">Total cost of the Tool (USD)</th>
          <th scope="col" class="table-head">Amortization/Part(USD)</th>
          <th scope="col" class="table-head">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let tool of compVals.toolInfoList; let i = index" [ngClass]="{ 'selected-item-color': tool.toolingId === compVals.selectedToolId }">
          <td scope="row">{{ i + 1 }}</td>
          <td>{{ tool.toolingName }}</td>
          <td>{{ tool.toolLifeInParts }}</td>
          <td>{{ tool.toolingCost }}</td>
          <td>{{ tool.subsequentToolCost }}</td>
          <td>{{ tool.toolingCost + tool.subsequentToolCost | number: '1.0-4' }}</td>
          <td>{{ tool.amortizationPerPart }}</td>
          <td style="text-align: center">
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onEditToolInfo(tool)"><mat-icon>edit</mat-icon></a>
            <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteToolClick(tool.toolingId)"><mat-icon>delete</mat-icon></a>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="border-0"></td>
          <td><strong class="table-head">Total Tooling Investment</strong></td>
          <td>
            <strong>{{ _toolConfig.toolingTotal.totCost }}</strong>
          </td>
          <td>
            <strong>{{ _toolConfig.toolingTotal.amortizationTot }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="links-block d-flex">
      <a *ngIf="canUpdate" class="link-info ml-auto" title="Add Tooling" (click)="addTooling()">Add Tool</a>
    </div>
  </div>
</div>
