.add-modal-container {
  display: flex;
  flex-flow: column;
  background: var(--table-head-row-bg);
}

.add-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0;

  &.row {
    --bs-gutter-x: 1rem;
  }
}

.add-label {
  font-size: 12px;
}

.add-model-heading {
  font-size: 14px;
  font-weight: 600;
}

.category-dropdown {
  display: flex;
  height: 34px;
  border-radius: 6px;
  align-items: center;
  background: var(--bs-white);
  border: 1px solid var(--bs-border-color);

  mat-icon[matSuffix] {
    cursor: pointer;
    margin-left: -24px;
    pointer-events: none;
    color: var(--bs-black);
  }
}

.category-input-dropdown {
  border: none !important;
  cursor: pointer;
  padding-right: 40px;
}

.df-input-field {
  height: 20px;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  border-radius: 5px;
  background: var(--bs-white);
  border: 1px solid var(--bs-border-color);

  &[disabled] {
    background: var(--readonly-surface);
  }
}

.digital-factory-btn {
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  flex-flow: row;
  align-items: center;
  min-width: 135px;
  display: flex;
  justify-content: center;
}

.add-fields-footer {
  display: flex;
  position: absolute;
  bottom: 15vh;
  right: 2vh;
}

.dropdown-arrow {
  width: 16px;
  height: 16px;
}

::ng-deep .df-date-picker {
  .mat-datepicker-toggle {
    top: 50%;
    right: 2px;
    z-index: 10;
    height: 100%;
    aspect-ratio: 1;
    padding-right: 0;
    position: absolute;
    transform: translateY(-50%);

    .mdc-icon-button {
      width: 34px;
      height: 100%;
    }
  }
}

:host ::ng-deep .mat-mdc-form-field .mdc-notched-outline__leading,
:host ::ng-deep .mat-mdc-form-field .mdc-notched-outline__notch,
:host ::ng-deep .mat-mdc-form-field .mdc-notched-outline__trailing {
  border: none !important;
}

:host ::ng-deep .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0 !important;
  min-height: 0;
}

:host ::ng-deep .mat-mdc-tab-body-content {
  overflow: visible;
}

.supplier-profile-buttons {
  display: flex;
  position: fixed;
  z-index: 300;
  transform: translate(-50%);
  padding: 10px;
  border-radius: 6px;
  background: var(--bs-white);
  inset: auto auto 38px 50%;
  box-shadow: 0px 4px 24px 0px #0000001a;
}

.unsaved-changes-text {
  font-size: 12px;
  font-weight: 500;
  align-self: center;
}

.form-control {
  min-width: 200px !important;
  line-height: 1 !important;
  border: none !important;
  --bs-border-radius: 6px;
  --bs-border-color: var(--input-border-color);
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  min-height: 34px !important;

  &:-webkit-input-placeholder {
    color: #6c6c6d;
  }

  &:-moz-placeholder {
    /* Firefox 19+ */
    color: #6c6c6d;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: #6c6c6d;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: #6c6c6d;
  }
}

.machine-details-layout {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
.machine-details-chart-container {
  max-width: 333px;
  width: 100%;
  padding-right: 80px;
  height: 253px;
}

.machine-details-legend {
  min-width: 352px;
}

.legend-row {
  gap: 8px;
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.legend-color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

.legend-value {
  min-width: 147px;
  border-radius: 6px;
  background: var(--bs-white);
  border: 1px solid var(--input-border-color);
}

.legend-total {
  display: flex;
  margin-top: 8px;
  padding-top: 4px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--material-table-border);
  .legend-value {
    border: none;
    background: transparent;
  }
}
