<div [formGroup]="formGroup">
  <div *ngIf="processFlags.ThroughHoleLine || processFlags.Coating || processFlags.AdhesivePotting || processFlags.RoutingVScoring || processFlags.SMTLine">
    <ng-container formArrayName="subProcessList">
      <ng-container *ngFor="let subitem of subProcessFormArray?.controls; let index = index">
        <div [formGroupName]="index">
          <div class="row mt-2">
            <div class="col-4">
              <label class="form-label no-wrap">Sub Process Group:</label>
              <app-field-comment [formIdentifier]="electroVals.formIdentifier" [fieldIdentifier]="'subProcessTypeID'"></app-field-comment>
              <select
                formControlName="subProcessTypeID"
                [ngClass]="{ 'input-mandatory': f.subProcessTypeID.errors, 'input-valid': f.subProcessTypeID.valid }"
                class="form-control"
                (change)="setFormBasedOnSubProcessType($event, index)">
                <option value="" selected>-------Select Sub Process Group---------</option>
                <option *ngFor="let item of subProcessNamesList" value="{{ item.id }}">{{ item.name }}</option>
              </select>
            </div>
            <div class="col-6"></div>
            <!-- <div class="col-2" style="justify-content: end" *ngIf="index>0">
                                <a href="javascript:void(0)" (click)="onDeleteSubProcess(index)">
                                    <mat-icon>delete</mat-icon>
                                </a>
                            </div> -->
          </div>
        </div>
      </ng-container>
    </ng-container>

    <!-- <div class="col-12 links-block" style="justify-content: end;">
                <a class="link-info" (click)="addMore()">Add Process</a>
            </div> -->
  </div>

  <ng-template #popContent>
    <div [innerHTML]="popupName"></div>
    <div class="div-img" *ngIf="popupUrl">
      <img alt="" class="img-class" [src]="popupUrl" />
    </div>
  </ng-template>
</div>
