.tag-item {
  background-color: var(--readonly-surface);
  border: solid 1px var(--readonly-surface);
  border-radius: 16px;
  padding: 2px 8px;
  line-height: 1.3;
}

.tag-group {
  border-radius: 6px;
  border: solid 1px var(--input-border-color);
}

.close-cta {
  width: 12px;
  height: 12px;

  .mat-icon {
    width: 12px;
    height: 12px;
    display: flex;
    font-size: 12px;
  }
}
p-autocomplete {
  width: 100%;
}
