::ng-deep {
  .current-analysis-table-wrap {
    .table-wrap {
      border: solid 1px var(--badge-border);
      border-radius: 6px;
    }
    .p-datatable-column-filter-button {
      display: none !important;
    }
    .p-datatable-filter {
      gap: 0;
      width: 100% !important;
      .p-fluid {
        width: 100% !important;
      }
    }
    .custom-p-table {
      .p-datatable-thead th:not([class*='min-w-']),
      .p-datatable-tbody td:not([class*='min-w-']) {
        min-width: 70px;

        &.action-cell {
          width: 60px;
          min-width: 60px;
        }
        &.chart-cell {
          min-width: 320px;
          width: 320px;
        }
      }
      .p-datatable-thead th,
      .p-datatable-tbody td {
        max-width: 210px;
        white-space: normal;
        word-break: break-word;
        overflow-wrap: break-word;
      }
      .analysis-link {
        color: var(--primary-shade) !important;
      }
      .p-datatable-thead {
        z-index: 11;
        th {
          border-top: 0;
          line-height: 130%;
          vertical-align: top;
          border-left: none;
          border-right: none;
          background-color: var(--material-table-header-bg);
        }
      }
      p-sorticon {
        margin-left: 12px;
        float: none !important;
        .p-iconwrapper {
          transform: translateY(2px);
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
      .p-datatable-table-container {
        max-height: calc(100vh - 223px);
        overflow-y: auto;
      }
      .p-datatable-thead > tr > th {
        position: sticky;
        top: 0;
        z-index: 1;
        vertical-align: bottom;
        &:last-child {
          z-index: 3;
        }

        &.frozen-col {
          z-index: 3;
        }
      }
      .p-datatable-tbody > tr > td.sticky-col {
        position: sticky;
        right: 0;
        z-index: 2;
      }
    }
    .part-icon-div {
      width: 38px;
      display: flex;
      height: 38px;
      overflow: hidden;
      align-items: center;
      border-radius: 4px;
      justify-content: center;
      border: 1px solid var(--grid-thumb-border);
      .part-icon {
        width: 38px;
        height: 38px;
        object-fit: cover;
      }
    }
    .frozen-col,
    .field-cell {
      z-index: 3;
      &.p-datatable-frozen-column-left {
        position: sticky;
        &::after {
          top: 0;
          bottom: 0;
          width: 6px;
          height: 100%;
          left: auto;
          right: 0px;
          content: '';
          position: absolute;
          border-right: 1px solid var(--table-head-cell-border);
          box-shadow: 6px 0px 9px 0px #e5e8f04d;
        }
      }
      &.frozen-col-right {
        position: sticky;
      }
    }
    .p-datatable-tbody > tr > td:nth-of-type(7).frozen-col-right,
    .p-datatable-thead > tr > th:nth-of-type(7).frozen-col-right {
      input {
        margin-left: 8px;
      }
      &::before {
        top: 0;
        bottom: 0;
        right: 0;
        left: 6px;
        width: 6px;
        content: '';
        position: absolute;
        box-shadow: -6px 0px 9px 0px #e5e8f04d;
        border-left: 1px solid var(--table-head-cell-border);
      }
    }
  }
}

::ng-deep .p-datatable {
  font-size: 0.875rem;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  color: #495057;
  padding: 6px 8px;
  border: 1px solid var(--material-table-header-bg);
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  height: 52px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.75rem;
  border-bottom-color: var(--blue-light-border);
  border-top-color: var(--blue-light-border);
  border-right-color: var(--bs-white);
  border-left-color: var(--bs-white);
  text-align: center;
}

::ng-deep .frozen-col {
  background-color: #ffffff;
  font-weight: 600;
  text-align: left !important;
  position: sticky;
  left: 0;
  z-index: 10;
}

::ng-deep .frozen-col-right {
  background-color: #ffffff;
  position: sticky;
  z-index: 1;
}

::ng-deep .field-cell {
  padding: 0.5rem !important;
  width: 100px;
  min-width: 100px;
}

::ng-deep .action-cell {
  text-align: center !important;
}

.chart-container {
  display: flex;
  align-items: center;
  height: 24px;
  position: relative;
  gap: 1px;
}

.negative-wrap {
  max-width: 50%;
}

.positive-wrap {
  max-width: 50%;
}

.negative-bar {
  height: 14px;
  background: var(--esg-tab-green);
  margin-left: auto;
  min-width: 2px;
}

.positive-bar {
  height: 14px;
  background: var(--stock-red-text);
  margin-right: auto;
  min-width: 2px;
}

.negative-label {
  font-size: 0.75rem;
  color: var(--esg-tab-green);
  font-weight: 500;
  left: -30px;
}

.positive-label {
  font-size: 0.75rem;
  color: var(--stock-red-text);
  font-weight: 500;
  right: -30px;
}

.add-driver-btn {
  margin-top: 1rem;
}

::ng-deep .p-button.p-button-text.p-button-danger {
  color: #dc2626;
}

::ng-deep .p-button.p-button-text.p-button-danger:hover {
  background-color: #fee2e2;
}

.head-controls {
  > button {
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: var(--bs-black);

    &:hover {
      background-color: var(--icon-btn-hover);
    }
    &:focus-visible {
      color: var(--bs-white);
      background-color: var(--primary-shade);
    }
    .mat-icon {
      width: 18px;
      height: 18px;
    }
  }
}

// Modal Styles
.modal-overlay {
  position: absolute;
  bottom: 0;
  top: 52px;
  right: 60px;
  width: 320px;
  height: calc(100% - 52px); // height of the table header
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-modal {
  width: 296px;
  min-height: 110px;
  max-height: 110px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 40px 0px #52617f33;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.75rem;
  margin-top: 12px;
}

.modal-content {
  text-align: center;
  width: 100%;
}

.modal-text {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 0.75rem;
  color: var(--bs-black);

  i {
    color: #0d6efd;
    font-size: 1rem;
    margin-top: 2px;
  }

  .mat-icon {
    height: 12px;
    width: 12px;
    font-size: 12px;
  }
}

.recalculate-btn {
  background-color: var(--primary-shade);
  color: var(--bs-white);
  border: none;
  padding: 0.375rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 500;
  margin-top: 0.75rem;
  &:active {
    background-color: #0a58ca;
  }
}

.add-driver-cta {
  .mat-icon {
    height: 12px;
    width: 12px;
    font-size: 12px;
  }
}

.left-content {
  .mat-icon {
    color: var(--table-green-text);
    height: 12px;
    width: 12px;
    font-size: 12px;
  }
}

.right-content {
  .mat-icon {
    color: var(--stock-red-text);
    height: 12px;
    width: 12px;
    font-size: 12px;
  }
}

.form-control {
  &.touched-field {
    --bs-body-bg: var(--search-mark);
  }
}
