<form *ngIf="costSummaryInfoForm" [formGroup]="costSummaryInfoForm" autocomplete="off" class="flex flex-col !gap-4 w-full min-h-0 relative">
  <div class="card bg-white cost-card" [ngClass]="{ 'green-border': tabGroup?.selectedIndex === 1 }">
    <div class="card-header flex items-center">
      <h2 class="font-semibold mb-0">Cost Summary</h2>
      <div class="toggle-controls flex items-center ml-auto">
        <button [ngClass]="{ active: isToggleNumeric() }" class="toggle-control numeric" (click)="changeViewType()" matTooltip="Numerical" matTooltipPosition="above">
          <mat-icon class="cls-item-icon" svgIcon="number"></mat-icon>
        </button>
        <button [ngClass]="{ active: !isToggleNumeric() }" class="toggle-control graphic" (click)="changeViewType()" matTooltip="Graphical" matTooltipPosition="above">
          <mat-icon class="cls-item-icon" svgIcon="graph"></mat-icon>
        </button>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="flex min-w-0 flex-col">
        @if (!isToggleNumeric()) {
          <mat-tab-group class="cost-summary-tabs" #tabChartGroup [selectedIndex]="activeTabIndex()" (selectedIndexChange)="changeTab($event)">
            <mat-tab label="Cost"><app-cost-waterfall-chart [chartType]="'cost'" [chartDataPercentage]="chartDataCost"></app-cost-waterfall-chart></mat-tab>
            <mat-tab label="ESG"><app-cost-waterfall-chart [chartType]="'esg'" [chartDataPercentage]="chartDataEsg"></app-cost-waterfall-chart></mat-tab>
          </mat-tab-group>
        } @else {
          <mat-tab-group class="cost-summary-tabs" #tabGroup [selectedIndex]="activeTabIndex()" (selectedIndexChange)="changeTab($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <span>Cost</span>
              </ng-template>
              <div class="flex flex-col form pt-2 mt-1">
                <div class="container-fluid">
                  <div class="row !gap-4 g-0 text-center">
                    <div class="col offset-md-4 costing-label !font-normal">
                      <span class="pl-2">Should Cost</span>
                    </div>
                    <div class="col-3 costing-label !font-normal">% Should cost</div>
                  </div>
                  <div class="row !gap-4 g-0 mt-1 align-middle">
                    <div class="col labelcenterAlign costing-label font-semibold flex items-center">Material Cost</div>
                    <div class="col">
                      <div class="input-icon">
                        <input
                          type="text"
                          class="form-control"
                          style="text-align: right"
                          formControlName="MaterialCostAmount"
                          readonly="readonly"
                          id="MaterialCostAmount"
                          [OnlyNumber]="true"
                          min="0" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="MaterialCostPercentage" readonly="readonly" id="MaterialCostPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                  <div class="row !gap-4 g-0 mt-3 align-middle">
                    <div class="col labelcenterAlign costing-label font-semibold flex items-center">Manufact. Cost</div>
                    <div class="col">
                      <div class="input-icon">
                        <input
                          type="text"
                          class="form-control"
                          style="text-align: right"
                          readonly="readonly"
                          formControlName="ManufacturingCostAmount"
                          id="ManufacturingCostAmount"
                          [OnlyNumber]="true"
                          min="0" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="ManufacturingCostPercentage" readonly="readonly" id="ManufacturingCostPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                  <div class="row !gap-4 g-0 mt-3 align-middle">
                    <div class="col labelcenterAlign costing-label font-semibold flex items-center">Tooling Cost</div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="ToolingCostAmount" readonly="readonly" id="ToolingCostAmount" [OnlyNumber]="true" min="0" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="ToolingCostPercentage" readonly="readonly" id="ToolingCostPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>

                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center">Overhead & Profit</div>
                    <div class="col">
                      <div class="input-icon">
                        <input
                          type="text"
                          class="form-control"
                          style="text-align: right"
                          formControlName="OverheadandProfitAmount"
                          readonly="readonly"
                          id="OverheadandProfitAmount"
                          [OnlyNumber]="true"
                          min="0" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="OverheadandProfitPercentage" readonly="readonly" id="OverheadandProfitPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>

                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center">Packing Cost</div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="PackingCostAmount" readonly="readonly" id="PackingCostAmount" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="PackingCostPercentage" readonly="readonly" id="PackingCostPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex w-full form-horizontal-separator my-3"></div>
                <div class="container-fluid">
                  <div class="row !gap-4 g-0">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center fw-bold">
                      EX-W Part Cost
                      <span class="notification ml-1" [ngbPopover]="'EX-W Part Cost'" placement="auto" [popoverTitle]="'EX-W Part Cost'">
                        <mat-icon class="graph-icon" svgIcon="information"></mat-icon>
                      </span>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" readonly="readonly" formControlName="EXWPartCostAmount" id="EXWPartCostAmount" [OnlyNumber]="true" min="0" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="EXWPartCostPercentage" readonly="readonly" id="EXWPartCostPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center">Freight Cost</div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="FreightCostAmount" readonly="readonly" id="FreightCostAmount" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="FreightCostPercentage" readonly="readonly" id="FreightCostPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center">Duties and Tariff</div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="DutiesandTariffAmount" readonly="readonly" id="DutiesandTariffAmount" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="DutiesandTariffPercentage" readonly="readonly" id="DutiesandTariffPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="flex w-full form-horizontal-separator my-3"></div>
                <div class="container-fluid">
                  <div class="row !gap-4 g-0">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center fw-bold">
                      Part Should Cost
                      <span class="notification ml-1" [ngbPopover]="'Part Should Cost'" placement="auto" [popoverTitle]="'Part Should Cost'">
                        <mat-icon class="graph-icon" svgIcon="information"></mat-icon>
                      </span>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control font-semibold" formControlName="ShouldCostAmount" style="text-align: right" readonly="readonly" id="ShouldCostAmount" />
                        <i>$</i>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" formControlName="ShouldCostPercentage" style="text-align: right" class="form-control font-semibold" readonly="readonly" id="inputDefault" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span class="esg-tab">ESG</span>
              </ng-template>
              <div class="flex flex-col form pt-4">
                <div class="container-fluid">
                  <div class="row !gap-4 g-0 text-center">
                    <div class="col offset-md-4 costing-label !font-normal">
                      <span class="pl-2">ESG (Kg CO2)</span>
                    </div>
                    <div class="col-3 costing-label !font-normal">% ESG</div>
                  </div>
                  <div class="row !gap-4 g-0 mt-1 align-middle">
                    <div class="col labelcenterAlign costing-label font-semibold flex items-center">Material ESG</div>
                    <div class="col">
                      <div class="input-icon">
                        <input
                          type="text"
                          class="form-control"
                          style="text-align: right"
                          formControlName="MaterialPotentialSaving"
                          readonly="readonly"
                          id="MaterialPotentialSaving"
                          [OnlyNumber]="true"
                          min="0" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input
                          type="text"
                          style="text-align: right"
                          class="form-control"
                          formControlName="MaterialPotentialSavingPercentage"
                          readonly="readonly"
                          id="MaterialPotentialSavingPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                  <div class="row !gap-4 g-0 mt-3 align-middle">
                    <div class="col labelcenterAlign costing-label font-semibold flex items-center">Manufact. ESG</div>
                    <div class="col">
                      <div class="input-icon">
                        <input
                          type="text"
                          class="form-control"
                          style="text-align: right"
                          formControlName="ManufacturingPotentialSaving"
                          readonly="readonly"
                          id="ManufacturingPotentialSaving"
                          [OnlyNumber]="true"
                          min="0" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input
                          type="text"
                          style="text-align: right"
                          class="form-control"
                          formControlName="ManufacturingPotentialSavingPercentage"
                          readonly="readonly"
                          id="ManufacturingPotentialSavingPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>

                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center">Packing ESG</div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="PackingCostPotentialSaving" readonly="readonly" id="PackingCostPotentialSaving" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input
                          type="text"
                          style="text-align: right"
                          class="form-control"
                          formControlName="PackingCostPotentialSavingPercentage"
                          readonly="readonly"
                          id="PackingCostPotentialSavingPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center fw-bold">
                      EX-W Part ESG
                      <span class="notification ml-1" [ngbPopover]="'EX-W Part ESG'" placement="auto" [popoverTitle]="'EX-W Part ESG'">
                        <mat-icon class="graph-icon" svgIcon="information"></mat-icon>
                      </span>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input
                          type="text"
                          class="form-control"
                          style="text-align: right"
                          formControlName="eXWPartCostPotentialSaving"
                          readonly="readonly"
                          id="eXWPartCostPotentialSaving"
                          [OnlyNumber]="true"
                          min="0" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input
                          type="text"
                          style="text-align: right"
                          class="form-control"
                          formControlName="eXWPartCostPotentialSavingPercentage"
                          readonly="readonly"
                          id="eXWPartCostPotentialSavingPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center">Freight ESG</div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="freightCostPotentialSaving" readonly="readonly" id="freightCostPotentialSaving" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input
                          type="text"
                          style="text-align: right"
                          class="form-control"
                          formControlName="freightCostPotentialSavingPercentage"
                          readonly="readonly"
                          id="freightCostPotentialSavingPercentage" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid">
                  <div class="row !gap-4 g-0 mt-3">
                    <div class="col labelCenterAlign costing-label font-semibold flex items-center fw-bold">
                      Total Part ESG
                      <span class="notification ml-1" [ngbPopover]="'Total Part ESG'" placement="auto" [popoverTitle]="'Total Part ESG'">
                        <mat-icon class="graph-icon" svgIcon="information"></mat-icon>
                      </span>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" formControlName="PartESG" style="text-align: right" readonly="readonly" id="PartESG" />
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-icon">
                        <input type="text" formControlName="PartESGPercentage" style="text-align: right" class="form-control" readonly="readonly" id="inputDefaultESG" />
                        <i>%</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        }
      </div>
    </div>
  </div>

  <div class="card bg-white cost-card">
    <div class="card-header flex items-center">
      <h2 class="font-semibold mb-0 pt-2">Opportunity</h2>
    </div>
    <div class="card-body pt-0">
      <div class="flex flex-col form">
        <div class="container-fluid">
          <div class="row !gap-4 g-0 mt-1">
            <div class="col labelCenterAlignTotal costing-label font-semibold">Part Cost</div>
            <div class="col">
              <label class="costing-label !font-normal" for="inputDefault">Should Cost</label>
              <div class="input-icon">
                <input type="text" class="form-control" formControlName="ShouldCostAmount" style="text-align: right" readonly="readonly" id="ShouldCostAmount" />
                <i>$</i>
              </div>
            </div>
            <div class="col position-relative">
              <label class="costing-label !font-normal" for="inputDefault">Current Cost</label>
              <app-field-comment *ngIf="!viewOnly" class="position-absolute field-comment" [formIdentifier]="formIdentifier" [fieldIdentifier]="'currentCost'"></app-field-comment>
              <div class="input-icon">
                <input
                  [ngClass]="{
                    'input-failure': !f.CurrentCost.errors,
                    'input-success': f.CurrentCost.errors,
                  }"
                  type="number"
                  formControlName="CurrentCost"
                  style="text-align: right"
                  class="form-control"
                  id="inputDefault"
                  (blur)="setCostSummarySection()"
                  [OnlyNumber]="true"
                  min="0" />
                <i>$</i>
              </div>
            </div>
          </div>

          <div class="row !gap-4 g-0 mt-3">
            <div class="col labelCenterAlign costing-label font-semibold">Annual Spend</div>
            <div class="col">
              <div class="input-icon">
                <input type="text" class="form-control hh text-right" readonly="readonly" [value]="costSummaryInfoForm.controls.CurrentSpend.value | number: '1.0-0'" id="CurrentSpend" />
                <i>$</i>
              </div>
            </div>
            <div class="col">
              <div class="input-icon">
                <input type="text" class="form-control text-right" style="text-align: right" formControlName="ShouldCostSpend" readonly="readonly" id="ShouldCostSpend" />
                <i>$</i>
              </div>
            </div>
          </div>
          <div class="horizontal-separator my-3"></div>
          <div class="row !gap-4 g-0 mt-3">
            <div class="col labelCenterAlign costing-label font-semibold">Unit Opportunity</div>
            <div class="col">
              <div class="input-icon">
                <input
                  type="text"
                  class="form-control font-size font-semibold text-right"
                  [value]="costSummaryInfoForm.controls.UnitOpportunityShouldCost.value"
                  readonly="readonly"
                  [style.color]="costSummaryInfoForm.controls.UnitOpportunityShouldCost.value >= 0 ? 'green' : 'red'"
                  id="UnitOpportunityShouldCost" />
                <i>$</i>
              </div>
            </div>
            <div class="col">
              <div class="input-icon">
                <input type="text" class="form-control font-size font-semibold text-right" formControlName="UnitOpportunityCurrentCost" readonly="readonly" id="UnitOpportunityCurrentCost" />
                <i>%</i>
              </div>
            </div>
          </div>
          <!-- <div class="row !gap-4 g-0 mt-3">
                              <div class="col labelCenterAlign">Life Time Saving</div>
                              <div class="col">
                                  <div class="input-icon">
                                      <input type="text" class="form-control hh" style="text-align: right"
                                          [value]="costSummaryInfoForm.controls.LifeTimeSavingCurrentCost.value"
                                          readonly="readonly"
                                          [ngModel]="costSummaryInfoForm.controls.LifeTimeSavingCurrentCost.value | number : '1.0-0'"
                                          [ngModelOptions]="{standalone: true}" id="LifeTimeSavingCurrentCost">
                                      <i>$</i>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="input-icon">
                                      <input type="text" class="form-control" style="text-align: right"
                                          formControlName="LifeTimeSavingShouldCost" readonly="readonly"
                                          id="LifeTimeSavingShouldCost">
                                      <i>$</i>
                                  </div>
                              </div>
                          </div> -->
          <div class="row !gap-4 g-0 mt-3">
            <div class="col labelCenterAlign costing-label font-semibold">Annual Opportunity</div>
            <div class="col-8">
              <div class="input-icon field-wrapper">
                <input
                  type="text"
                  class="form-control font-size field-control font-semibold text-center"
                  [value]="costSummaryInfoForm.controls.OpportunityAmount.value | number: '1.0-0'"
                  readonly="readonly"
                  [style.color]="costSummaryInfoForm.controls.OpportunityAmount.value >= 0 ? 'green' : 'red'" />
                <i>$</i>
              </div>
            </div>
          </div>
          <div class="row !gap-4 g-0 mt-3">
            <div class="col labelCenterAlign costing-label font-semibold">Lifetime Opportunity</div>
            <div class="col-8">
              <div class="input-icon field-wrapper">
                <input
                  type="text"
                  class="form-control font-size field-control font-semibold text-center"
                  [value]="costSummaryInfoForm.controls.LifeTimeSavingCurrentCost.value | number: '1.0-0'"
                  readonly="readonly"
                  [style.color]="costSummaryInfoForm.controls.LifeTimeSavingCurrentCost.value >= 0 ? 'green' : 'red'" />
                <i>$</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-white cost-card green-border">
    <div class="card-header flex items-center">
      <h2 class="font-semibold mb-0 pt-2 esg-header">ESG</h2>
    </div>
    <div class="card-body pt-0">
      <div class="flex flex-col form">
        <div class="container-fluid">
          <div class="row !gap-4 g-0 mt-1">
            <div class="col labelCenterAlign costing-label font-semibold">Total Part ESG</div>
            <div class="col-8">
              <div class="input-icon lg-label field-spacer">
                <input
                  type="text"
                  class="form-control font-size input-highlight-green field-lg text-right font-semibold"
                  [value]="
                    costSummaryInfoForm.controls.PartESG.value >= 1 ? (costSummaryInfoForm.controls.PartESG.value | number: '1.0-0') : (costSummaryInfoForm.controls.PartESG.value | number: '1.0-4')
                  "
                  readonly="readonly"
                  [style.color]="costSummaryInfoForm.controls.PartESG.value >= 0 ? 'green' : 'red'" />
                <p class="field-text absolute cursor-default">kgCO2</p>
              </div>
            </div>
          </div>
          <div class="row !gap-4 g-0 mt-3">
            <div class="col labelCenterAlign costing-label font-semibold">Annual ESG</div>
            <div class="col-8">
              <div class="input-icon lg-label field-spacer">
                <input
                  type="text"
                  class="form-control font-size input-highlight-green field-lg text-right font-semibold"
                  [value]="
                    costSummaryInfoForm.controls.AnnualESG.value >= 1
                      ? (costSummaryInfoForm.controls.AnnualESG.value | number: '1.0-0')
                      : (costSummaryInfoForm.controls.AnnualESG.value | number: '1.0-4')
                  "
                  readonly="readonly"
                  [style.color]="costSummaryInfoForm.controls.AnnualESG.value >= 0 ? 'green' : 'red'" />
                <p class="field-text absolute cursor-default">kgCO2</p>
              </div>
            </div>
          </div>
          <div class="row !gap-4 g-0 mt-3">
            <div class="col labelCenterAlign costing-label font-semibold">Lifetime ESG</div>
            <div class="col-8">
              <div class="input-icon lg-label field-spacer">
                <input
                  type="text"
                  class="form-control font-size input-highlight-green field-lg text-right font-semibold"
                  [value]="
                    costSummaryInfoForm.controls.LifetimeESG.value >= 1
                      ? (costSummaryInfoForm.controls.LifetimeESG.value | number: '1.0-0')
                      : (costSummaryInfoForm.controls.LifetimeESG.value | number: '1.0-4')
                  "
                  readonly="readonly"
                  [style.color]="costSummaryInfoForm.controls.LifetimeESG.value >= 0 ? 'green' : 'red'" />
                <p class="field-text absolute cursor-default">kgCO2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card bg-white cost-card">
    <div class="card-body pt-0">
      <div class="block row-cols-1">
        <div class="block">
          <app-costing-note
            [partId]="currentSelectedPartId ?? partDto?.partInfoId"
            [partInfo]="partDto"
            [suggestedCategoryNotes]="costSummaryViewData?.suggestedCategoryNotes"
            [nestingNotes]="costSummaryViewData?.nestingNotes"
            [costingNotes]="costSummaryViewData?.costingNotes"></app-costing-note>
          <button class="btn btn-link card-expand-link" (click)="openGdntModal()">View Gdnt Modal</button>
          <!-- <button *ngIf="partDto.commodityId === 2" class="btn btn-link card-expand-link" (click)="openAttributeModal()">View Attribute Modal</button> commenting it now as we are testing with other API -->
          <button class="btn btn-link card-expand-link" (click)="openSuggestionModal()">View AI Costing Suggestions</button>
          <button *ngIf="partDto?.commodityId === 16" class="btn btn-link card-expand-link" (click)="openGerberDetailsModel()">View Gerber details</button>
        </div>
        <div class="block">
          <label class="mt-4 lblcostsummarynotes mb-2">Cost Summary Notes</label>
          <app-field-comment *ngIf="!viewOnly" [formIdentifier]="formIdentifier" [fieldIdentifier]="'comments'"></app-field-comment>
          <textarea class="form-control" formControlName="Comments" id="Comments" rows="4" maxlength="200" (change)="commentChange()"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="block py-2 text-center sticky bottom-0 bg-white z-40" *ngIf="viewOnly">
    <button class="btn btn-primary col-5 save-cta font-medium capitalize" (click)="saveCostSummary()">Save</button>
  </div>
</form>
