<form [formGroup]="dutiesTariffForm" (ngSubmit)="onFormSubmit()" (change)="onFormValueChange()" autocomplete="off" class="duties-and-tariff-form">
  <!-- <div *ngIf="tariffLoader" class="spinner-overlay">
    <div class="bt-spinner"></div>
  </div> -->
  <div class="hts-classification !py-2 px-2">
    <div class="card !pt-0">
      <div class="card-header border-none pb-0 bg-transparent">HTS Classification</div>
      <div class="card-body pt-0">
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Code</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Code')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <input
                type="text"
                formControlName="htsCode"
                class="form-control"
                name="htsCode"
                placeholder="Enter HTS Code (e.g. 7616.99.51.60)"
                (blur)="onHtsCodeEntered()"
                [ngClass]="{ 'input-failure': !f.htsCode.errors, 'input-success': f.htsCode.errors }"
                [OnlyNumber]="true" />
            </div>
          </div>
          <div class="col-6">
            <a class="search-link" (click)="openDialog(dialogTemplate)">
              <mat-icon color="primary" svgIcon="search_icon"></mat-icon>
              Search HTS code
            </a>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Section</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Section')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <mat-form-field
                class="custom-mat-select w-100"
                [ngClass]="{
                  'input-mandate': f.htsSectionId?.errors,
                }">
                <mat-select
                  formControlName="htsSectionId"
                  panelClass="select-field-panel"
                  name="htsSection"
                  (selectionChange)="onHtsSelectionsChange($event, 'htsSection')"
                  [ngClass]="{
                    'is-invalid': f.htsSectionId?.invalid && f.htsSectionId?.touched,
                    'is-valid': f.htsSectionId?.valid,
                  }"
                  [disableRipple]="true">
                  <mat-option value="">Select HTS Section</mat-option>

                  <mat-optgroup *ngFor="let group of htsGroupedSections" [label]="group.groupName">
                    <mat-option *ngFor="let htsSection of group.items" [value]="htsSection.htsSectionId" [matTooltip]="htsSection.htsSectionName">
                      <span class="ellipsis-option">{{ htsSection.htsSectionName }}</span>
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- <div class="col-6">
            <div class="form-group">
              <label class="form-label">Chapter</label>
              <select
                formControlName="htsChapterId"
                name="htsChapter"
                [ngClass]="{ 'input-mandatory': f.htsChapterId.errors, 'input-valid': f.htsChapterId.valid }"
                (change)="onHtsSelectionsChange($event)"
                class="form-control">
                <option value="" selected> Select HTS Chapter</option>
                <option *ngFor="let htsChapter of htsChapterList" [value]="htsChapter.htsChapterId" [title]="htsChapter.htsChapterName">{{ htsChapter.htsChapterName }}</option>
              </select>
            </div>
          </div> -->
          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Chapter</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Chapter')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <mat-form-field
                class="custom-mat-select w-100"
                [ngClass]="{
                  'input-mandate': f.htsChapterId?.errors,
                }">
                <mat-select
                  formControlName="htsChapterId"
                  panelClass="select-field-panel"
                  name="htsChapter"
                  (selectionChange)="onHtsSelectionsChange($event, 'htsChapter')"
                  [ngClass]="{
                    'is-invalid': f.htsChapterId?.invalid && f.htsChapterId?.touched,
                    'is-valid': f.htsChapterId?.valid,
                  }"
                  [disableRipple]="true">
                  <mat-option value="">Select HTS Chapter</mat-option>
                  <mat-option *ngFor="let htsChapter of htsChapterList" [value]="htsChapter.htsChapterId" [matTooltip]="htsChapter.htsChapterName">
                    <span class="ellipsis-option">{{ htsChapter.htsChapterName }}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Heading</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Heading')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <mat-form-field
                class="custom-mat-select w-100"
                [ngClass]="{
                  'input-mandate': f.htsHeadingId?.errors,
                }">
                <mat-select
                  panelClass="select-field-panel"
                  formControlName="htsHeadingId"
                  name="htsHeading"
                  (selectionChange)="onHtsSelectionsChange($event, 'htsHeading')"
                  [ngClass]="{
                    'is-invalid': f.htsHeadingId?.invalid && f.htsHeadingId?.touched,
                    'is-valid': f.htsHeadingId?.valid,
                  }"
                  [disableRipple]="true">
                  <mat-option value="">Select HTS Heading</mat-option>
                  <mat-option *ngFor="let htsHeading of htsHeadingList" [value]="htsHeading.htsHeadingId" [matTooltip]="htsHeading.htsHeadingName">
                    <span class="ellipsis-option">{{ htsHeading.htsHeadingName }}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Sub Heading</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Sub_Heading')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>

              <mat-form-field
                class="custom-mat-select w-100"
                [ngClass]="{
                  'input-mandate': f.htsSubHeadingId?.errors,
                }">
                <mat-select
                  formControlName="htsSubHeadingId"
                  panelClass="select-field-panel"
                  name="htsSubHeading"
                  (selectionChange)="onHtsSelectionsChange($event, 'htsSubHeading')"
                  [ngClass]="{
                    'is-invalid': f.htsSubHeadingId?.invalid && f.htsSubHeadingId?.touched,
                    'is-valid': f.htsSubHeadingId?.valid,
                  }"
                  [disableRipple]="true">
                  <mat-option value="">Select HTS Sub Heading</mat-option>
                  <mat-option *ngFor="let htsSubHeading of htsSubHeadingList" [value]="htsSubHeading.htsSubHeadingId" [matTooltip]="htsSubHeading.htsSubHeadingName">
                    <span class="ellipsis-option">{{ htsSubHeading.htsSubHeadingName }}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Sub Heading1</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Sub_Heading1')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>

              <mat-form-field
                class="custom-mat-select w-100"
                [ngClass]="{
                  'input-mandate': f.htsSubHeading1Id?.errors,
                }">
                <mat-select
                  panelClass="select-field-panel"
                  formControlName="htsSubHeading1Id"
                  name="htsSubHeading1"
                  (selectionChange)="onHtsSelectionsChange($event, 'htsSubHeading1')"
                  [ngClass]="{
                    'is-invalid': f.htsSubHeading1Id?.invalid && f.htsSubHeading1Id?.touched,
                    'is-valid': f.htsSubHeading1Id?.valid,
                  }"
                  [disableRipple]="true">
                  <mat-option value="">Select HTS Sub Heading1</mat-option>
                  <mat-option *ngFor="let htsSubHeading1 of htsSubHeading1List" [value]="htsSubHeading1.htsSubHeading1Id" [matTooltip]="htsSubHeading1.htsSubHeading1Name">
                    <span class="ellipsis-option">{{ htsSubHeading1.htsSubHeading1Name }}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label class="form-label has-icon no-wrap">
                <span class="label-text">HTS Sub Heading2</span>
                <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Sub_Heading2')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <mat-form-field
                class="custom-mat-select w-100"
                [ngClass]="{
                  'input-mandate': f.htsSubHeading2Id?.errors,
                }">
                <mat-select
                  formControlName="htsSubHeading2Id"
                  panelClass="select-field-panel"
                  name="htsSubHeading2"
                  (selectionChange)="onHtsSelectionsChange($event, 'htsSubHeading2')"
                  [ngClass]="{
                    'is-invalid': f.htsSubHeading2Id?.invalid && f.htsSubHeading2Id?.touched,
                    'is-valid': f.htsSubHeading2Id?.valid,
                  }"
                  [disableRipple]="true">
                  <mat-option value="">Select HTS Sub Heading2</mat-option>
                  <mat-option *ngFor="let htsSubHeading2 of htsSubHeading2List" [value]="htsSubHeading2.htsSubHeading2Id" [matTooltip]="htsSubHeading2.htsSubHeading2Name">
                    <span class="ellipsis-option">{{ htsSubHeading2.htsSubHeading2Name }}</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-6">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Country of Origin</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Country_of_Origin')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input type="text" formControlName="coo" class="form-control" placeholder="Country of Origin" readonly />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Delivery Country</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Hts_Delivery_Country')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="text"
            formControlName="deliveryCountry"
            class="form-control"
            placeholder="Delivery Country"
            readonly
            [ngClass]="{ 'input-failure': !f.deliveryCountry.errors, 'input-success': f.deliveryCountry.errors }" />
        </div>
      </div>
    </div>
  </div>
  <div class="tariff-breakdown">
    <div class="card no-seperation">
      <div class="card-header px-0 !pb-3 !pt-2">Tariff Breakdowns</div>
      <div class="card-body">
        <div class="row">
          <div class="duties-tariff-table px-0">
            <div class="table-container">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="tariffBreakdown">
                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let row; let i = index" class="text-center">
                    <label>
                      <input type="radio" name="tariffEditRadio" (click)="onEditTariff(row, i)" [checked]="row.tariffBreakDownId === selectedTariffBreakdownId" />
                    </label>
                  </td>
                  <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <ng-container matColumnDef="tariffTypeExtraction">
                  <th mat-header-cell *matHeaderCellDef>Tariff Type</th>
                  <td mat-cell *matCellDef="let row">{{ row.tariffTypeExtraction ? row.tariffTypeExtraction : '-' }}</td>
                  <td mat-footer-cell *matFooterCellDef class="footer-label">Subtotal</td>
                </ng-container>

                <ng-container matColumnDef="tariffAppliesTo">
                  <th mat-header-cell *matHeaderCellDef>Applies To</th>
                  <td mat-cell *matCellDef="let row">{{ row.tariffAppliesToName ? row.tariffAppliesToName : '-' }}</td>
                  <td mat-footer-cell *matFooterCellDef class="footer-value"></td>
                </ng-container>

                <ng-container matColumnDef="tariffPercentage">
                  <th mat-header-cell *matHeaderCellDef [ngClass]="{ 'header-highlight': true }" class="!text-right">Tariff (%)</th>
                  <td mat-cell *matCellDef="let row" class="!text-right">{{ row.tariffPercentage ?? 0 }}</td>
                  <td mat-footer-cell *matFooterCellDef class="footer-value !text-right">{{ getTotalPercent() | number: '1.2-2' }}</td>
                </ng-container>

                <ng-container matColumnDef="tariff">
                  <th mat-header-cell *matHeaderCellDef [ngClass]="{ 'header-highlight': true }" class="!text-right">Tariff ($)</th>
                  <td mat-cell *matCellDef="let row" class="!text-right">{{ row.tariff ?? 0 }}</td>
                  <td mat-footer-cell *matFooterCellDef class="footer-value !text-right">{{ getTotalTariff() | number: '1.0-4' }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                  <td mat-cell *matCellDef="let row; let i = index">
                    <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeleteTariff(row)" class="icon-delete">
                      <mat-icon svgIcon="delete_icon"></mat-icon>
                    </a>
                  </td>
                  <td mat-footer-cell *matFooterCellDef class="footer-value"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tbody>
                  <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns" [ngClass]="{ 'grid-bg-color': i === selectedIndex }"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </tbody>
              </table>
              <div *ngIf="dataSource.data.length === 0" class="no-data-message">No tariff breakdown added Yet</div>
            </div>
          </div>
          <div class="col-12 links-block pe-3 !mt-3 !mb-4" *ngIf="canUpdate">
            <button type="button" (click)="onAddTariff()" id="aBCmat" class="btn tariff-table-btn btn-outline-primary flex items-center gap-2 leading-none">
              <mat-icon svgIcon="plus-add-icon"></mat-icon>
              <span>Add Tariff Type</span>
            </button>
          </div>
        </div>

        <div formGroupName="tariffBreakDown" *ngIf="tariffBreakdownControls" class="tariff-breakdown-fields p-1">
          <div class="row mt-3">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label has-icon no-wrap">
                  <span class="label-text">Tariff Type</span>
                  <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Tariff_Type')">
                    <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                  </span>
                </label>
                <!-- <select formControlName="tariffType" (change)="onTariffChange($event)" class="form-control" name="tariffType">
                  <option value="" selected> Select Tariff Type</option>
                  <option *ngFor="let tariffType of tariffTypeList" [value]="tariffType.tariffTypeId">
                    {{ tariffType.tariffTypeName }}
                  </option>
                </select> -->
                <input type="text" formControlName="tariffTypeExtraction" class="form-control" placeholder="Enter Tariff" />
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label class="form-label has-icon no-wrap">
                  <span class="label-text">Tariff Applies To</span>
                  <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Tariff_Applies_To')">
                    <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                  </span>
                </label>
                <div class="dropdown-wrap">
                  <select formControlName="tariffAppliesTo" name="tariffAppliesTo" (change)="onTariffChange($event)" class="form-control">
                    <option value="" selected>Select Tariff Applies To</option>
                    <option *ngFor="let tariffAppliesTo of tariffAppliesToList" [value]="tariffAppliesTo.tariffAppliesToId">{{ tariffAppliesTo.tariffAppliesToName }}</option>
                  </select>
                  <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div class="form-group">
                <label class="form-label has-icon no-wrap">
                  <span class="label-text">Tariff Percentage (%)</span>
                  <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Tariff_Percentage')">
                    <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                  </span>
                </label>
                <input
                  type="number"
                  formControlName="tariffPercentage"
                  class="form-control"
                  name="tariffPercentage"
                  placeholder="Enter Tariff Percentage"
                  [OnlyNumber]
                  (change)="onTariffChange($event)" />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="form-label has-icon no-wrap">
                  <span class="label-text">Tariff ($)</span>
                  <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Tariff_Amount')">
                    <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                  </span>
                </label>
                <input type="number" formControlName="tariff" class="form-control" placeholder="Tariff ($)" [OnlyNumber] readonly />
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 px-2">
              <div class="form-group">
                <label class="form-label">Comments</label>
                <textarea formControlName="comments" class="form-control" placeholder="Comments here" rows="3" style="resize: none"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3"></div>
      </div>
    </div>
  </div>
  <ng-template #dialogTemplate>
    <div class="flex flex-col w-full h-full min-h-0">
      <div class="modal-header flex items-center justify-between w-full">
        <h4 class="modal-title" id="modal-basic-title">HTS Lookup</h4>
        <button aria-label="Close modal" title="Close Modal" class="modal-close flex items-center justify-center border-none bg-white" (click)="onCancel()">
          <mat-icon class="close-icon" matTooltip="Close" matTooltipPosition="above">close_icon</mat-icon>
        </button>
      </div>
      <div class="modal-body flex flex-col h-full min-h-0">
        <app-generic-data-table
          [apiUrl]="'/api/master/HtsMaster'"
          [columns]="columns"
          [selectable]="true"
          [dataKey]="'htsMasterId'"
          (rowSelect)="handleSearchSelection($event)"></app-generic-data-table>
      </div>
    </div>
  </ng-template>
</form>
<ng-template #popContent>
  <div [innerHTML]="popupName"></div>
  <div class="div-img" *ngIf="popupUrl">
    <img alt="" class="img-class" [src]="popupUrl" />
  </div>
</ng-template>
