.version-banner {
  background-color: #373737;
  border-radius: 0 0 5px 5px;
  color: var(--bs-white);
  position: fixed;
  left: 96px;
  top: 56px;
  right: 0;
  z-index: 10;
}

.table-container {
  border: 1px solid var(--table-head-cell-border);
  border-radius: 6px;
  overflow: hidden;

  .table-wrapper {
    overflow-x: auto;
  }
  .p-datatable-thead tr th {
    background-color: var(--table-head-row-bg);
  }
}
.badge {
  line-height: 1.5;
  font-weight: 400;
  padding: 2px 12px;
  font-size: 0.75rem;
  align-items: center;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
}

.badge-primary {
  background-color: var(--button-light-bg);
  color: var(--grid-highlight-text);
  border: 1px solid var(--material-table-border);
}
.compare-versions-section {
  margin-top: 2rem;
  --material-table-header-bg: var(--bs-white);
  .p-datatable .p-datatable-thead tr th {
    border-color: var(--bs-border-color);
  }
}
.action-btn {
  mat-icon {
    color: var(--bs-black);
    svg {
      width: 17px;
      height: 17px;
    }
  }
}
.visibility-icon {
  color: var(--primary-shade);
}
.bg-row {
  td {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.3;
    background-color: var(--light-blue-border);
  }
}
.info-text {
  color: var(--label-shade);
}
.badge-cell {
  padding: 7.5px 5px 7.5px 16px;
}
.btn-outline-primary {
  border: 1px solid var(--icon-btn-hover);
  background: var(--icon-btn-hover);
}
.version-history-section {
  .btn {
    padding: 9px 20px;
  }
}
