.supplier-info-container {
  display: flex;
  flex-flow: column;
  background-color: var(--readonly-surface);
  margin-top: -16px;
}

.back-to-supplier {
  font-size: 12px;
  cursor: pointer;
}

.supplier-name-left {
  font-weight: 500;
}

.supplier-info-header-left-content {
  display: flex;
  gap: 14px;
}

.supplier-logo {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  background: var(--bs-white);
  border: 1px solid var(--table-head-cell-border);
}

.supplier-info-header {
  margin-left: 1px;
  display: flex;
  flex-flow: row;
  padding: 0 16px 16px 16px;
  justify-content: space-between;
  background-color: var(--bs-white);
  border-bottom: 1px solid var(--bs-border-color);
  position: sticky;
  top: 56px;
  z-index: 10;
  padding-top: 16px;
}

.digital-factory-btn {
  height: 34px;
  font-size: 12px;
  display: inline-flex;
  flex-flow: row;
  align-items: center;
}

.supplier-info-sidenav {
  background-color: var(--bs-white);
  .mat-list-item {
    cursor: pointer;
    height: 40px;
    font-size: 14px;

    &:hover {
      background-color: #f4f4f4;
    }
  }

  .mat-list-item.is-active {
    font-weight: 600;
    background-color: #f4f4f4;
  }

  .mat-drawer.mat-drawer-side {
    padding-right: 10px;
    min-width: 11%;
  }

  .supplier-side-nav-content {
    margin: 20px;
  }

  .mat-drawer-content {
    height: calc(90vh - 100px);
  }
}

.supplier-info-header-left {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-flow: column;
  gap: 14px;
}

.supplier-name-sub-heading {
  font-weight: 500;
  font-size: 12px;
  color: var(--sub-heading-text);
}

.supplier-name-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  width: max-content;
}

.mission-statement {
  max-width: 150vh;
}

.accordion-container {
  background: #f5f6f9;
  padding: 20px;
  min-height: 75vh;
}

.supplier-change-btn {
  font-size: 12px;
  color: #3f83f9;
  cursor: pointer;
}

::ng-deep .supplier-info-container {
  .mat-content {
    justify-content: space-between;
  }

  .mat-expansion-panel-header-description {
    flex-grow: 0 !important;
  }

  .mat-expansion-panel-header .mat-expansion-indicator {
    display: none;
  }

  .mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-header:focus,
  .mat-expansion-panel-header:hover {
    background: none;
  }

  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
    background: none;
  }

  .mat-expansion-panel-spacing {
    margin: 0 !important;
  }
  .mat-mdc-tab-group {
    .mat-mdc-tab-header {
      z-index: 9;
      position: sticky;
      .mat-mdc-tab {
        font-size: 0.75rem;
        padding: 0px 16px;
        min-width: 50px;

        .mdc-tab__text-label {
          font-family: var(--body-font);
          font-size: 0.75rem;
          line-height: 1.2;
          font-weight: 600;
          color: var(--label-shade);
        }

        &.mdc-tab--active {
          .mdc-tab__text-label {
            color: var(--primary-shade);
          }
        }
      }
    }
    .mat-mdc-tab-body-wrapper {
      padding: 16px;
    }
  }
}
