<div class="container-fluid costing-page">
  <div class="flex-container m-b-1 d-none">
    <label class="lblProject" for="">Projects /</label>
    <label class="lblProjectNumber" for="">{{ specificProjectId }}</label>
  </div>
  <div class="d-flex flex-row-reverse mb-2" *ngIf="projectVistHistory?.length > 0 && (hostUrl.indexOf('localhost') >= 0 || showRecentVisits)">
    <label class="lblProjectNumber" *ngFor="let project of projectVistHistory">
      -
      <a href="{{ hostUrl }}/costing/{{ project?.projectInfoId }}" (click)="onProjectIdChange(project?.ProjectId)">{{ project?.projectName }}</a>
    </label>
    <label class="lblProject">Recent Visits</label>
  </div>
  <div class="row">
    <div class="col-3 col-left" [class.collapsed]="isCollapsed">
      <div class="scroll-details-section pb-4">
        <button class="collapse-switch flex items-center justify-center" [ngClass]="{ hidden: isCollapsed }" (click)="toggleSidebar()">
          <mat-icon class="cls-item-icon" svgIcon="left-collapse"></mat-icon>
        </button>
        <div class="card-body">
          <div>
            <app-costing-project-details
              [projectInfoList]="projectInfoList"
              [canUpdate]="canUpdate"
              (projectIdChange)="onProjectIdChange($event)"
              (selectedProject)="onProjectSelected($event)"
              [specificProjectId]="specificProjectId"></app-costing-project-details>
          </div>
          <div class="section-seperator"></div>
          <div>
            <app-costing-scenario
              [selectedProject]="selectedProject"
              [selectedProjectId]="selectedProjectId"
              [selectedScenario]="selectedScenario"
              [_pData]="getCostInfoDirtyMethod()"
              (scenarioChange)="onScenarioChange($event)"></app-costing-scenario>
          </div>
          <div>
            <app-costing-project-bom-details
              [hidden]="pcbCommodities.includes(currentPartCommodityId)"
              [commodityId]="currentPartCommodityId"
              [canUpdate]="canUpdate"
              [selectedProjectId]="selectedProjectId"
              [azureSharedId]="azureSharedId"
              (bomObj)="onBomSelected($event)"
              [manualSelectedScenario]="selectedScenario"
              [savedPartInfoId]="savedPartInfoId"
              [_pData]="getCostInfoDirtyMethod()">
              <!-- [currentDoc]="docRecord" -->
            </app-costing-project-bom-details>
            <app-gerber-viewer-ai *ngIf="pcbCommodities.includes(currentPartCommodityId)" [partInfoId]="selectedPartId"></app-gerber-viewer-ai>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 section-group col-center" [class.collapsed]="isCollapsed" [ngClass]="{ 'pt-4': !selectedProject?.projectName }">
      <button class="expand-switch flex items-center justify-center" (click)="toggleSidebar()" [ngClass]="{ hidden: !isCollapsed }">
        <mat-icon class="cls-item-icon" svgIcon="window-collapse-icon"></mat-icon>
      </button>
      <app-costing-information
        [selectedProject]="selectedProject"
        [selectedPartId]="selectedPartId"
        [selectedProjectId]="selectedProjectId"
        [bomQty]="bomQty"
        [bomId]="bomId"
        [selectedScenario]="selectedScenario"
        (submissionTriggered)="submissionTriggered($event)"
        (azureFileSharedEmiiter)="setAzureSharedId($event)"
        #constingInformation
        [isCostSummarydirty]="isCostSummarydirty"
        (dynamicComponentRegistered)="registerDynamicComponentForms($event.componentName, $event.formName, $event.loadTime)"
        [projectInfoList]="projectInfoList"
        (canUpdateChange)="canUpdate = $event"
        (commodityChange)="onCommodityChange($event)"></app-costing-information>
    </div>
    <div class="col-3 col-right mt-3">
      <!-- Add 'green-border' class for ESG-->
      <div class="scroll-details-section h-full">
        <app-costing-cost-summary [selectedPartId]="selectedPartId" [viewOnly]="false" (dirtyCheckEvent)="dirtyCheck($event)"></app-costing-cost-summary>
        <div class="card-body">
          <app-summary-comments [partInfoId]="selectedPartId"></app-summary-comments>
        </div>
      </div>
    </div>
  </div>
</div>
