.attach-file {
  color: #0d6efd;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.attach-file-icon {
  font-size: 16px;
  transform: rotate(20deg);
  width: 17px;
  height: 15px;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #0d6efd;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #0d6efd;
}

.share {
  color: #0d6efd;
}

.class_name {
  background-color: rgba(157, 160, 156, 0.377);
}

.table-head {
  font-size: 12px;
}
