<div class="row">
  <div class="card">
    <div class="card-header" title="Additional files that provide relevant details or verification for the extraction file">Supporting Documents</div>
    <div class="card-body">
      <div class="table-responsive">
        <table aria-describedby="Supporting Documents" class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="table-head">Document Name</th>
              <th scope="col" class="table-head">File Size</th>
              <th scope="col" class="table-head">File Type</th>
              <th scope="col" class="table-head">External Share</th>
              <th scope="col" class="table-head">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let d of currentList">
              <td>
                <a href="javascript: void(0);" (click)="getFileView(d)" class="table-head">{{ d.docName }}</a>
                <!-- <a target="_blank" [href]="getLink(d.documentRecordId)">
                                        {{d.docName}}
                                    </a> -->
              </td>
              <td>
                <span class="table-head">{{ d.docLength | fileSizeMb }}</span>
              </td>
              <td>
                <span class="table-head">{{ d.contentType }}</span>
              </td>
              <td>
                <mat-slide-toggle (change)="onChangePrivate($event, d)" [(ngModel)]="d.isPrivate">
                  <span *ngIf="d.isPrivate" class="share table-head">(YES)</span>
                  <span *ngIf="!d.isPrivate" class="table-head">(NO)</span>
                </mat-slide-toggle>
              </td>
              <td>
                @if (canUpdate) {
                  <a href="javascript:void(0)" (click)="onDelete(d)" class="table-head">
                    <mat-icon>delete</mat-icon>
                  </a>
                }
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <p align="right">
          <input #fileInput type="file" id="actual-btn" (change)="onUpload(fileInput.files)" hidden />
          <label for="actual-btn" class="attach-file">
            <mat-icon class="attach-file-icon">attach_file</mat-icon>
            Add file
          </label>
        </p>
        <p align="left">
          <a href="javascript: void(0);" (click)="showSupportedFormats()">Show Supported Formats</a>
        </p>
      </div>
    </div>
  </div>
</div>
