<ng-container [formGroup]="formGroup">
  <ng-container formArrayName="subProcessList">
    <ng-container *ngFor="let subProcess of subProcessFormArray.controls; let index = index">
      <div [formGroupName]="index">
        <div class="row">
          <div class="col-4 mt-2">
            <label class="form-label no-wrap">Sub Process Group:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'subProcessTypeID'"></app-field-comment>
            <select formControlName="subProcessTypeID" class="form-control" (change)="setLayoutForWiringHarness($event, index)">
              <option value="0" selected>-------Select Sub Process Group---------</option>
              <option *ngFor="let option of compVals.subProcessNamesList" value="{{ option.processTypeId }}">
                {{ option.primaryProcess }}
              </option>
            </select>
          </div>

          <div
            class="col-4 mt-2"
            *ngIf="
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingStrippingCrimping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Unsheathing8AWGto4AWG ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Unsheathing4AWGto40AWG ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingStrippingTinning ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RibbonCableCutting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RibbonCableCuttingCrimping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingStrippingSealInsertionCrimping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingUnsheathingMulticoreCable
            ">
            <label class="form-label no-wrap">No. Of Cables:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HSTInsertionShrinking">
            <label class="form-label no-wrap">No. Of HST (Nos):</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConduitTubeCuttingSlitting">
            <label class="form-label no-wrap">No. Of Conduit Tubes:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CopperBraidSteelWireHeavyDutyHSTCutting">
            <label class="form-label no-wrap">No. Of Braid/Tube:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HeatShrinkTubeNylonBraidCutting">
            <label class="form-label no-wrap">No. Of HST/Braid:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConduitTubePVCSleeveCutting">
            <label class="form-label no-wrap">No. Of Tube/Sleeve:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TubeSleeveBraidInsertionFixing">
            <label class="form-label no-wrap">No. Of Tube/Sleeve/Braid:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RASTConnectorCrimping">
            <label class="form-label no-wrap">No. Of Connectors:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalCrimpingSCOpenBarrelFerrule">
            <label class="form-label no-wrap">No. Of Different Cable Gauge</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (change)="showAdditionalLengthFields($event, index)" />
          </div>

          <div
            class="col-4 mt-2"
            *ngIf="
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.StrippingStrandsTwisting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalCrimpingClosedBarrel ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.StrandsTwistingTinning ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SolderingWiretoWire ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.IPEXConnectorCrimping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.AluminiumFoilCutting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.UltrasonicWireWelding ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.UltrasonicWiretoTerminalWelding ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.UltrasonicWiretoLugWelding ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BraidBrushingTwisting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BraidCuttingFolding ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RubberSealInsertionManual ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.StrippingandCrimping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SpliceCrimping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.WireSplicing ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.PartAssembly ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTieFixing ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TapeWrapping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.LabelFixingOffline ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ProtectorFitmentBoltTightening ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Taping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.PartIDLabelFixing ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.GrommetFerriteInsertionFixing ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ComponentPotting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.DummyPlugInsertion ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalInsertionConnectorization ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.EMPartInsertionFuseRelaySwitch ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ClipClampFixing ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableGlandAssembly ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ContinuityTestShortCircuitIRTest ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ContinuityTestHVTest ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ClipClampFitmentTest ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.EOLLabelFixing ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.FuseRelaySwitchInsertionTesting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HSTMarkingCutting ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SecLockCoverStrainReliefBootInsertion ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BracketProtectorFitment ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.FakraStraightConnectorAssembly ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Fakra90DegreeConnectorAssembly ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTwistingWithEndTaping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.IDCConnectorCrimpingFRC ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.WireCableTinning ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.InsulationStripping ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SleeveShrinking ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ShieldBraidPreparation ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.JackConnectorCrimpingRJ45RJ11 ||
              +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConnectorKitAssembly
            ">
            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.StrippingStrandsTwisting ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.StrandsTwistingTinning
              ">
              No. Of Wire Ends(Nos):
            </label>
            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.FakraStraightConnectorAssembly ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Fakra90DegreeConnectorAssembly ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.IDCConnectorCrimpingFRC ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyRightAngle ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.JackConnectorCrimpingRJ45RJ11
              ">
              No. Of Connectors (Nos):
            </label>
            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalCrimpingClosedBarrel ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalInsertionConnectorization
              ">
              No. Of Terminals:
            </label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SolderingWiretoWire">No. Of Solder Joints:</label>
            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.IPEXConnectorCrimping || +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SpliceCrimping
              ">
              No. Of Crimps:
            </label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.AluminiumFoilCutting">No. Of Foils(Nos):</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RubberSealInsertionManual">No. Of Seals</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.StrippingandCrimping">No. Of Wire Ends</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.WireSplicing">No. Of Splices</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.PartIDLabelFixing">No. Of Part ID Labels</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ComponentPotting">No. Of Components</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.DummyPlugInsertion">No. Of Plugs</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.EMPartInsertionFuseRelaySwitch">No. Of EM Components</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ClipClampFixing">No. Of Clip/Clamps</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableGlandAssembly">No. Of Cable Glands</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.FuseRelaySwitchInsertionTesting">No. Of EM Components</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HSTMarkingCutting">No. Of HST</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTwistingWithEndTaping">No. Of Twisted Pairs(Nos)</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.InsulationStripping">No. Of Stripping Ends(Nos)</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SleeveShrinking">No. Of Sleeves (Nos)</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ShieldBraidPreparation">No. Of Cable Ends(Nos)</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConnectorKitAssembly">No. Of Sub-Parts(Nos)</label>

            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ContinuityTestShortCircuitIRTest ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ContinuityTestHVTest ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ClipClampFitmentTest
              ">
              No. Of Test Points
            </label>

            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.PartAssembly ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.SecLockCoverStrainReliefBootInsertion ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.GrommetFerriteInsertionFixing ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BracketProtectorFitment
              ">
              No. Of Parts
            </label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTieFixing">No. Of Cable Tie</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TapeWrapping">Tape Length(Meters)</label>
            <label
              class="form-label no-wrap"
              *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.LabelFixingOffline || +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.EOLLabelFixing">
              No. Of Labels
            </label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ProtectorFitmentBoltTightening">No. Of Assembly</label>
            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Taping">Tape Length (Meters)</label>

            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BraidBrushingTwisting || +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BraidCuttingFolding
              ">
              No. Of Shielded Braid:
            </label>
            <label
              class="form-label no-wrap"
              *ngIf="
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.UltrasonicWireWelding ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.UltrasonicWiretoTerminalWelding ||
                +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.UltrasonicWiretoLugWelding
              ">
              No. Of Weld Joints(Nos):
            </label>

            <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.WireCableTinning">No. Of Tinning Ends (Nos)</label>

            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CoaxialStrippingMultiLayer">
            <label class="form-label no-wrap">Cable Gauge(AWG):</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <select formControlName="noOfBends" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select Cable Gauge---------</option>
              <option *ngFor="let option of cableGaugeList" value="{{ option.id }}">
                {{ option.name }}
              </option>
            </select>
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CoaxialStrippingMultiLayer">
            <label class="form-label no-wrap">No. Of Cable Ends:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'lengthOfCut'"></app-field-comment>
            <input type="number" formControlName="lengthOfCut" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div
            class="col-4 mt-2"
            *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.LayoutRouting || +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.VisualInspection">
            <label class="form-label no-wrap">Part Complexity:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <select formControlName="noOfBends" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select Part Complexity---------</option>
              <option *ngFor="let option of routingComplexityList" value="{{ option.id }}">
                {{ option.name }}
              </option>
            </select>
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalCrimpingDCOpenBarrelFerrule">
            <label class="form-label no-wrap">Cable Gauge(AWG):</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <select formControlName="noOfBends" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select Cable Gauge---------</option>
              <option *ngFor="let option of cableGaugeList" value="{{ option.id }}">
                {{ option.name }}
              </option>
            </select>
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalCrimpingDCOpenBarrelFerrule">
            <label class="form-label no-wrap">No. Of Terminals:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'lengthOfCut'"></app-field-comment>
            <input type="number" formControlName="lengthOfCut" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyStraight">
            <label class="form-label no-wrap">Type:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'lengthOfCut'"></app-field-comment>
            <select formControlName="lengthOfCut" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select---------</option>
              <option value="1">Straight</option>
              <option value="2">Angled</option>
            </select>
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyStraight">
            <label class="form-label no-wrap">No. Of Connectors:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfBends'"></app-field-comment>
            <input type="number" formControlName="noOfBends" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyStraight">
            <label class="form-label no-wrap">No. Of Terminals:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'formLength'"></app-field-comment>
            <input type="number" formControlName="formLength" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyStraight">
            <label class="form-label no-wrap">Adhesive Sealing:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'formHeight'"></app-field-comment>
            <select formControlName="formHeight" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select ---------</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyStraight">
            <label class="form-label no-wrap">Connector Potting:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'formPerimeter'"></app-field-comment>
            <select formControlName="formPerimeter" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select ---------</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </div>
          <div class="col-4 mt-2" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.BackshellAssemblyStraight">
            <label class="form-label no-wrap">Protective Cap Assembly:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'hlFactor'"></app-field-comment>
            <select formControlName="hlFactor" class="form-control" (change)="calculateCost()">
              <option value="0" selected>-------Select ---------</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </div>
        </div>

        <div class="row" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTwistingWithEndTaping">
          <div class="col-4 mt-2">
            <label>2 Wire Twisted Pair (Nos):</label>
            <input type="number" formControlName="formLength" class="form-control" (blur)="validateTwistedPairs(index)" />
          </div>
          <div class="col-8 !mt-0">
            <div class="row flex-wrap flex">
              <ng-container formArrayName="cableLengthArray">
                <ng-container *ngFor="let c of getCableLengthArray(index).controls; index as i">
                  <div *ngIf="i >= segmentIndex[0]?.start && i <= segmentIndex[0]?.end" class="col-6 mt-2">
                    <label>{{ wireGroups[0]?.label }} {{ i - segmentIndex[0]?.start + 1 }} (mm)</label>
                    <input type="number" [formControlName]="i" class="form-control" />
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTwistingWithEndTaping">
          <div class="col-4 mt-2">
            <label>3 Wire Twisted Pair (Nos):</label>
            <input type="number" formControlName="formHeight" class="form-control" (blur)="validateTwistedPairs(index)" />
          </div>
          <div class="col-8 !mt-0">
            <div class="row flex-wrap flex">
              <ng-container formArrayName="cableLengthArray">
                <ng-container *ngFor="let c of getCableLengthArray(index).controls; index as i">
                  <div *ngIf="i >= segmentIndex[1]?.start && i <= segmentIndex[1]?.end" class="col-6 mt-2">
                    <label>{{ wireGroups[1]?.label }} {{ i - segmentIndex[1]?.start + 1 }} (mm)</label>

                    <input type="number" [formControlName]="i" class="form-control" />
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CableTwistingWithEndTaping">
          <div class="col-4 mt-2">
            <label>4 Wire Twisted Pair (Nos):</label>
            <input type="number" formControlName="formPerimeter" class="form-control" (blur)="validateTwistedPairs(index)" />
          </div>
          <div class="col-8 !mt-0">
            <div class="row flex-wrap flex">
              <ng-container formArrayName="cableLengthArray">
                <ng-container *ngFor="let c of getCableLengthArray(index).controls; index as i">
                  <div *ngIf="i >= segmentIndex[2]?.start && i <= segmentIndex[2]?.end" class="col-6 mt-2">
                    <label>{{ wireGroups[2]?.label }} {{ i - segmentIndex[2]?.start + 1 }} (mm)</label>

                    <input type="number" [formControlName]="i" class="form-control" />
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>

        <div *ngIf="getCableLengthArray(index).controls?.length > 0 && +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CableTwistingWithEndTaping">
          <div class="row">
            <ng-container formArrayName="cableLengthArray">
              <ng-container *ngFor="let additional of getCableLengthArray(index).controls; index as i">
                <div
                  class="col-4 mt-2"
                  *ngIf="
                    subProcess.get('subProcessTypeID').value > 0 &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.TerminalCrimpingSCOpenBarrelFerrule &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CuttingStrippingCrimping &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CuttingStrippingSealInsertionCrimping &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.Unsheathing8AWGto4AWG &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.Unsheathing4AWGto40AWG &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CuttingStrippingTinning &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.RibbonCableCutting &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.RibbonCableCuttingCrimping &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.HSTInsertionShrinking &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.ConduitTubeCuttingSlitting &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CopperBraidSteelWireHeavyDutyHSTCutting &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.HeatShrinkTubeNylonBraidCutting &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.ConduitTubePVCSleeveCutting &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.TubeSleeveBraidInsertionFixing &&
                    +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CuttingUnsheathingMulticoreCable
                  ">
                  <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.RASTConnectorCrimping">
                    Cable Length
                    <span class="mr-1">{{ i + 1 }}</span>
                    (mm):
                  </label>
                  <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RASTConnectorCrimping">
                    No. Of Crimps- Conn.
                    <span class="mr-1">{{ i + 1 }}</span>
                    (mm):
                  </label>
                  <input type="number" [formControlName]="i" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                </div>

                <ng-container
                  *ngIf="
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingStrippingCrimping ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingStrippingSealInsertionCrimping ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Unsheathing8AWGto4AWG ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.Unsheathing4AWGto40AWG ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingStrippingTinning ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RibbonCableCutting ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.RibbonCableCuttingCrimping ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HSTInsertionShrinking ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConduitTubeCuttingSlitting ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CopperBraidSteelWireHeavyDutyHSTCutting ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HeatShrinkTubeNylonBraidCutting ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConduitTubePVCSleeveCutting ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TubeSleeveBraidInsertionFixing ||
                    +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CuttingUnsheathingMulticoreCable
                  ">
                  <div class="col-4 mt-2" *ngIf="i % 2 === 1">
                    <label class="form-label no-wrap">Quantity (Nos):</label>
                    <input type="number" [formControlName]="i" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                  </div>

                  <div class="col-4 mt-2" *ngIf="i % 2 === 0">
                    <label
                      class="form-label no-wrap"
                      *ngIf="
                        +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.HSTInsertionShrinking &&
                        +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.ConduitTubeCuttingSlitting &&
                        +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.CopperBraidSteelWireHeavyDutyHSTCutting &&
                        +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.HeatShrinkTubeNylonBraidCutting &&
                        +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.ConduitTubePVCSleeveCutting &&
                        +subProcess.get('subProcessTypeID').value !== harnessSubProcessTypes?.TubeSleeveBraidInsertionFixing
                      ">
                      Cable Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HSTInsertionShrinking">
                      HST Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConduitTubeCuttingSlitting">
                      Tube Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.CopperBraidSteelWireHeavyDutyHSTCutting">
                      Braid/Tube Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.HeatShrinkTubeNylonBraidCutting">
                      HST/Braid Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.ConduitTubePVCSleeveCutting">
                      Tube/Sleeve Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <label class="form-label no-wrap" *ngIf="+subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TubeSleeveBraidInsertionFixing">
                      Tube/Sleeve/Braid Length
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }} (mm)</span>
                    </label>
                    <input type="number" [formControlName]="i" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                  </div>
                  <div class="w-100" *ngIf="i % 2 === 1"></div>
                </ng-container>

                <ng-container *ngIf="subProcess.get('subProcessTypeID').value > 0 && +subProcess.get('subProcessTypeID').value === harnessSubProcessTypes?.TerminalCrimpingSCOpenBarrelFerrule">
                  <div class="col-4 mt-2" *ngIf="i % 2 === 1">
                    <label class="form-label no-wrap">
                      No. Of Terminals
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }}</span>
                    </label>
                    <input type="number" [formControlName]="i" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
                  </div>
                  <div class="col-4 mt-2" *ngIf="i % 2 === 0">
                    <label class="form-label no-wrap">
                      Cable Gauge
                      <span class="mr-1">{{ Math.floor(i / 2) + 1 }}</span>
                      (AWG):
                    </label>
                    <select [formControlName]="i" class="form-control" (change)="calculateCost()">
                      <option value="0" selected>-------Select Cable Gauge---------</option>
                      <option *ngFor="let option of cableGaugeList" [value]="option.id">
                        {{ option.name }}
                      </option>
                    </select>
                  </div>
                  <div class="w-100" *ngIf="i % 2 === 1"></div>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
