<div class="table-responsive-sm p-3 data-table project-list">
  <div class="table-wrap">
    <table class="table table-striped" *ngIf="projects.length >= 1" aria-describedby="projects">
      <thead>
        <tr>
          <th scope="col">ProjectId</th>
          <th scope="col">Project Name</th>
          <th scope="col">Project Description</th>
          <th scope="col">%Completed</th>
          <th scope="col">Savings Identified($)</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects; index as i">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ project.projectName }}
          </td>
          <td>
            {{ project.projectDesc }}
          </td>
          <td>
            {{ project.currentSpend }}
          </td>
          <td>
            {{ project.shouldCostSpend }}
          </td>
          <td>
            {{ project.createDate | date }}
          </td>
          <td>
            <a [routerLink]="['/home', 'project', 'edit', project.projectInfoId]" title="Edit">
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
