.project-list {
  table {
    thead {
      tr {
        th {
          padding: 12px;
          border: 1px solid #e9e9e9;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 12px;
        }
      }
    }
  }
}
