<ng-container [formGroup]="formGroup">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card card-border">
        <div class="card-header card-header-colour">Sustainability</div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label class="form-label no-wrap has-icon">
                <span class="label-text">CO2(kg)/kw-Hr</span>
                <app-info-tooltip [infoId]="'Sheetmetal_CO2_Per_Kg_Material'"></app-info-tooltip>
              </label>
              <input type="number" formControlName="co2KwHr" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
            </div>
            <div class="col-4">
              <label class="form-label no-wrap has-icon">
                <span class="label-text">CO2(kg)/part</span>
                <app-info-tooltip [infoId]="'Sheetmetal_CO2_Per_Part'"></app-info-tooltip>
              </label>
              <input type="number" formControlName="co2KgPart" class="form-control" [OnlyNumber]="true" readonly="readonly" min="0" />
            </div>
          </div>
          <div class="row mt-3" [hidden]="true">
            <div class="col-4">
              <input type="number" formControlName="co2AnnualUsageHrs" class="form-control" [OnlyNumber]="true" min="0" readonly="readonly" />
            </div>
            <div class="col-4">
              <input type="number" formControlName="co2AnnualKgCO2" class="form-control" [OnlyNumber]="true" readonly="readonly" min="0" />
            </div>
            <div class="col-4">
              <input type="number" formControlName="co2AnnualKgCO2Part" class="form-control" [OnlyNumber]="true" readonly="readonly" min="0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
