.scenarioContainer {
  padding: 0 1rem;
  overflow-y: auto;
  height: auto;
}
.scenerio-icon {
  color: #0d6efd;
  padding: 0 !important;
}
.compare-icon {
  top: 0.5rem;
  right: 0.5rem;

  button {
    &:hover,
    &:focus {
      mat-icon {
        color: var(--bs-primary);
      }
    }

    mat-icon {
      color: #000000;
    }
  }
}
.mat-icon {
  // height: 32px;
  // margin-bottom: 4px;
  cursor: pointer;
}

.scenarionameButton {
  gap: 8px;
  opacity: 0px;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  input {
    cursor: pointer;
  }
}
.scenarioname {
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scenarioLists {
  gap: 6px;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  min-width: 0;
}
.scenarioLists li {
  display: flex;
  min-width: 200px;
  border-radius: 5px;
  align-items: center;

  &:hover,
  &.active {
    background-color: var(--button-light-bg);
    .scenarioname {
      font-weight: 500;
      font-family: var(--bs-body-font-family);
    }
  }

  .scenario-icons {
    --bs-btn-border-color: #f3f7ff;

    mat-icon {
      width: 14px;
      height: 14px;
    }

    .btn {
      width: 24px;
      height: 24px;
      display: flex;
      border-radius: 4px;
      align-items: center;
      justify-content: center;
      padding: 2px !important;

      &:hover {
        background-color: var(--primary-shade);
        mat-icon {
          color: var(--bs-white);
        }
      }
      &:active {
        border: none;
        outline: none;
      }
    }
  }
}

.scenarioLists .button {
  // flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  display: flex;
  align-items: stretch;
  height: 33px;
}

.scenarioLists .button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: 0.1em;
}

.scenarioLists .button:active {
  background-color: #525252;
  color: #fafafa;
}

.scenarioLists .button.selected {
  background-color: #0d6efd;
  color: white;
}

.scenarioLists .button.selected:hover {
  background-color: #eee;
  color: black;
}

.scenarioLists .button.selected:active {
  background-color: #0d6efd;
  color: white;
}

.scenarioLists .badges {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #1874d6;
  line-height: 1em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.scenarioLists .scenarioname {
  align-self: center;
}
.scenerio-icon {
  color: #0d6efd;
  padding: 0 !important;
}

.section-header {
  font-size: 14px;
  font-weight: 600;
}
.head-controls {
  > button {
    color: var(--bs-black);
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    .mat-icon {
      width: 18px;
      height: 18px;
    }
    &:hover {
      background: var(--button-light-bg-hover);
    }
    &:focus-visible {
      border: none;
      outline: none;
      background: var(--primary-shade);
      .mat-icon {
        color: var(--bs-white);
      }
    }
  }
}
// Preview item during drag
::ng-deep .cdk-drag-preview {
  opacity: 1;
  width: 100%;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--button-light-bg);
  overflow: hidden;
}

::ng-deep .cdk-drag-preview .scenario-icons mat-icon {
  width: 14px !important;
  height: 14px !important;
  font-size: 14px !important;
}

::ng-deep .cdk-drag-preview *,
::ng-deep .cdk-drag-preview {
  outline: none !important;
  box-shadow: none !important;
}
