.waste-generated-table {
  width: 100%;
  border-collapse: collapse;
  thead {
    tr {
      background-color: var(--material-table-header-bg);
      th {
        border-top: 0;
        font-size: 12px;
        font-weight: 600;
        padding: 14px 8px;
        line-height: 130%;
        color: var(--table-text);
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: var(--badge-border);
      }
    }
  }
  tbody {
    --table-head-cell-border: var(--blue-light-border);
    td {
      font-size: 14px;
      padding: 8px 8px;
      font-weight: 400;
    }
  }
}

.desc-wrapper {
  display: flex;
  flex-direction: column;
}
.desc-text {
  padding-left: 16px;
}

.value-unit {
  min-width: 92px;
  position: relative;
  display: inline-block;
  &.annual-volume {
    min-width: 132px;
  }
  .input {
    width: 100%;
    padding: 4px 32px 4px 6px;
  }

  .unit {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    color: #667085;
    pointer-events: none;
  }

  &.readonly .input {
    background: #f4f4f4;
  }
}
.group-row .group-header {
  padding: 12px 8px;
  border-bottom: 0;
  .group-header-text {
    z-index: 1;
    position: relative;
    background-color: var(--bs-white);
  }
}

.desc-tree {
  list-style: none;
  margin: 0;
  padding-left: 8px;
}
.desc-tree li {
  padding-left: 16px;
  position: relative;
}
.desc-tree li::before {
  left: 0;
  top: 50%;
  width: 11px;
  content: '';
  height: 1px;
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--component-border);
}
.item-row {
  td {
    vertical-align: middle;
    &:first-child {
      overflow: visible;
      position: relative;
      border-bottom: none;
      border-top: none;
      padding-left: 15px;
      &::before {
        content: '';
        left: 15px;
        top: -50%;
        width: 1px;
        height: 100%;
        position: absolute;
        background-color: var(--component-border);
      }
    }
  }
}
.error {
  color: var(--text-dark-red);
  background-color: var(--bg-light-red);
}
.toast-banner {
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  z-index: 10;
  position: fixed;
}
.yellow-banner {
  background-color: var(--banner-yellow-bg);
}

.red-banner {
  color: var(--text-dark-red);
  background-color: var(--banner-red-bg);
  .info-icon {
    color: var(--text-dark-red);
  }
}
.info-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
