<ng-container [formGroup]="formGroup">
  <div class="row mt-3">
    <div class="col-4 mt-3">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Number of Parts in a CT (Nos)</span>
        <app-info-tooltip [infoId]="'Forging_Number_Of_Parts_In_CT'"></app-info-tooltip>
      </label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfStartsPierce'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.noOfStartsPierce.errors, 'input-valid': f.noOfStartsPierce.valid }"
        formControlName="noOfStartsPierce"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Part Length {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + ')' : '(mm)' }}</span>
        <app-info-tooltip [infoId]="'Forging_Part_Length'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'allowanceAlongLength'"></app-field-comment>
      <input type="number" formControlName="allowanceAlongLength" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4 mt-3">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">
          {{ compVals.isEnableUnitConversion ? 'Part Width/Dia. (' + compVals.conversionValue + ')' : 'Part Width/Dia. (mm)' }}
        </span>
        <app-info-tooltip [infoId]="'Part_Width'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'allowanceAlongWidth'"></app-field-comment>
      <input type="number" formControlName="allowanceAlongWidth" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
  </div>
</ng-container>
