.similarity-search-container {
  height: 100%;
  width: 100%;
  max-width: 360px;
  border-right: 1px solid var(--bs-border-color);

  .ai-card-media {
    padding: 12px;
    height: 192px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    margin-bottom: 20px;
    background: var(--bs-btn-disabled-bg);

    .single-media {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }

    img {
      width: auto;
      height: auto;
      display: block;
      max-width: 100%;
      max-height: 150px;
      object-fit: contain;
    }

    .ai-card-checkbox {
      top: 8px;
      right: 8px;
      cursor: pointer;
      position: absolute;

      input {
        width: 20px;
        height: 20px;
      }
    }
  }

  .info-grid {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  .info-group {
    width: calc((100% - 12px) / 2);
  }
  .info-section {
    margin-bottom: 20px;
  }

  .more-info-label,
  .more-info-value {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0px;
  }
  .more-info-label {
    color: var(--label-shade);
  }
  .more-info-value {
    color: var(--bs-black);
    &.value-increase {
      color: var(--table-green-text);
    }
    &.value-decrease {
      color: var(--red-text);
    }
  }
  .section-title {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    color: var(--bs-black);
  }
  .carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    .carousel-inner {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .carousel-slides-container {
      display: flex;
      width: 200%;
      height: 100%;
      transition: transform 0.3s ease-in-out;

      .carousel-slide {
        width: 100%;
        display: flex;
        flex-shrink: 0;
        max-height: 150px;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }

    .nav-button {
      width: 18px;
      height: 18px;
      &.prev-button {
        transform: rotate(90deg);
      }
      &.next-button {
        transform: rotate(-90deg);
      }
    }
    .dots-container {
      display: flex;
      margin-top: 4px;
      margin-bottom: 0;
      align-items: center;
      justify-content: center;
      .dot-li {
        width: 16px;
        height: 16px;
        margin: 0 2px;
        display: flex;
        flex-shrink: 0;
        cursor: pointer;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        &.active {
          .dot {
            background: var(--bs-primary);
          }
        }
      }
      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #e0e0e0;
        transition: background-color 0.3s;
      }
    }
  }

  .close-btn {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: var(--bs-black);
    &:hover {
      background: var(--icon-btn-hover);
    }
    &:active {
      background: var(--primary-shade);
      mat-icon {
        color: var(--bs-white);
      }
    }
    &:focus {
      background: var(--icon-btn-hover);
      border: 1px solid var(--badge-border);
    }
    mat-icon {
      width: 10px;
      height: 10px;
    }
  }
}
