mat-option.mat-mdc-option {
  min-height: 30px;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
mat-option.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--blue-light-border);
}
mat-option.mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: var(--blue-light-border);
}
