.costing-material-information-form,
.costing-manufacturing-information-form,
.df-tab-table-container,
.duties-and-tariff-form,
.common-table-container,
.best-region-table {
  app-material-table,
  app-manufacturing-table,
  .df-material-main-container,
  .df-tab-grid-container,
  .duties-tariff-table,
  .common-table-inner-wrap,
  .analytics-table-wrapper {
    .table-container {
      overflow: auto;
      border-radius: 5px;
      border: 1px solid var(--material-table-border);

      .cdk-column-edit {
        .mat-sort-header-container {
          justify-content: flex-end;
        }
      }
    }
    .card {
      border: none;
    }

    .mat-mdc-header-row {
      font-size: 12px;
      padding: 9px 8px;
      line-height: 1.3;
      font-weight: 600;
      color: var(--table-text);
      background-color: var(--material-table-header-bg);
    }

    .mat-mdc-table {
      overflow: hidden;
      border-radius: 5px;
    }
    .mat-mdc-row {
      &:hover {
        td {
          background-color: rgba(#f5f6f9, 0.2);
        }
      }
      td:first-child {
        border-left: 0;
      }
      td:last-child {
        border-right: 0;
      }
    }
    .icon-delete {
      width: 28px;
      height: 28px;
      display: flex;
      margin: 0 auto;
      border-radius: 6px;
      align-items: center;
      justify-content: center;
      .mat-icon {
        width: 16px;
        height: 16px;
        font-weight: 300;
        color: #000000;
      }
      &:hover {
        background-color: #edf3ff;
      }
    }
    .mdc-data-table__cell {
      padding: 8px 8px;
      font-weight: 400;
    }
    tfoot {
      border-top: 1px solid var(--badge-border);
      background: var(--blue-light-border) !important;
      .mdc-data-table__cell {
        border: none;
        font-weight: 600;
      }
    }
    .mat-mdc-cell {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid var(--blue-light-border);
    }
    .mat-mdc-header-cell {
      border-bottom-color: var(--badge-border);
    }
    .mdc-data-table__header-cell {
      padding: 6px 8px;
    }
    tr.grid-bg-color {
      td {
        background: var(--table-hover-bg);
      }
    }
    .mat-column-edit {
      label {
        width: 28px;
        height: 28px;
        cursor: pointer;
        align-items: center;
        display: inline-flex;
        justify-content: center;
      }
      input {
        cursor: pointer;
      }
    }
  }
}

.p-datatable-thead {
  tr {
    background-color: var(--material-table-header-bg);
    th {
      font-size: 12px;
      padding: 9px 8px;
      line-height: 1.3;
      font-weight: 600;
      color: var(--table-text);
      background-color: var(--material-table-header-bg);
      border-color: var(--badge-border);
    }
  }
}

.data-grid-container {
  .table-container {
    overflow: auto;
    border-radius: 5px;
    border: 1px solid var(--table-head-cell-border);

    .cdk-column-edit {
      .mat-sort-header-container {
        justify-content: flex-end;
      }
    }
  }
  .card {
    border: none;
  }

  .mat-mdc-header-row {
    font-size: 12px;
    padding: 9px 8px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--table-text);
    background-color: var(--readonly-surface);
    position: relative;
  }

  .mat-mdc-table {
    border-radius: 5px;
  }
  .mat-mdc-row {
    position: relative;

    &:hover {
      td {
        background-color: rgba(#f5f6f9, 0.2);
      }
    }
    td:first-child {
      border-left: 0;
    }
    td:last-child {
      border-right: 0;
    }
  }
  .icon-delete {
    width: 28px;
    height: 28px;
    display: flex;
    margin: 0 auto;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    .mat-icon {
      width: 16px;
      height: 16px;
      font-weight: 300;
      color: #000000;
    }
    &:hover {
      background-color: #edf3ff;
    }
  }
  .mdc-data-table__cell {
    padding: 5px 16px;
    font-weight: 500;
    font-size: 12px;
  }
  tfoot {
    border-top: 1px solid var(--badge-border);
    background: var(--blue-light-border) !important;
    .mdc-data-table__cell {
      border: none;
      font-weight: 600;
    }
  }
  .mat-mdc-cell {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--blue-light-border);
  }
  .mat-mdc-header-cell {
    border-bottom-color: var(--badge-border);
  }
  .mdc-data-table__header-cell {
    padding: 5px 16px;
  }
  tr.grid-bg-color {
    td {
      background: var(--table-hover-bg);
    }
  }
  .mat-column-edit {
    label {
      width: 28px;
      height: 28px;
      cursor: pointer;
      align-items: center;
      display: inline-flex;
      justify-content: center;
    }
    input {
      cursor: pointer;
    }
  }
}

.p-paginator {
  --bs-gray: #000;
  .p-paginator-current {
    font-size: 0.75rem;
    color: var(--bs-black);
  }
  .p-paginator-first {
    color: var(--bs-black);
  }
  .p-paginator-pages {
    button {
      font-size: 0.75rem;
    }
  }
  button.p-paginator-page-selected {
    color: var(--primary-shade);
    background: var(--bs-white);
    border-color: var(--primary-shade);
    border: 1px solid var(--primary-shade);
  }
}
// Create Project Table Styles
.create-project-table {
  .p-datatable-thead {
    position: sticky;
    top: 0;
    background: var(--material-table-header-bg);
    z-index: 100;
    th {
      border-top: 0;
      border-bottom: 0;
      &:after {
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0px;
        position: absolute;
        border-bottom: 1px solid var(--badge-border);
      }
    }
  }
  .p-datatable-tbody {
    tr:first-child td {
      border-top: 0 !important;
    }
  }
  .no-border-right {
    border-right: 0 !important;
    border-right-width: 0 !important;
  }
}
.field-input {
  &.error {
    input {
      border-color: var(--text-dark-red);
    }
  }
}
