p-autocomplete {
  --p-autocomplete-option-focus-background: var(--p-multiselect-background);
  .custom-autocomplete {
    width: 100%;
    .p-autocomplete-input-multiple {
      padding: 8px;
      margin-bottom: 0;
    }
    .p-autocomplete-chip {
      max-width: 200px;
      padding: 2px 8px;
      border-radius: 16px;
      background-color: var(--readonly-surface);
      display: inline-flex;
      align-items: center;
    }
    .p-autocomplete-input-chip {
      input {
        font-size: 12px;
        font-weight: 500;
        color: var(--bs-black);
      }
    }
    .p-autocomplete-input-chip {
      position: relative;

      &::after {
        top: 50%;
        left: 4px;
        opacity: 1;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        content: '+ Enter Tag';
        pointer-events: none;
        transform: translateY(-50%);
        color: var(--label-shade);
      }
      &:focus-within::after {
        display: none;
      }
    }
    &.p-autocomplete-open {
      .p-autocomplete-input-chip::after {
        display: none;
      }
    }

    .p-autocomplete-input-chip input::placeholder {
      color: transparent;
    }
    .p-chip-label {
      font-size: 12px;
      font-weight: 500;
      color: var(--bs-black);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
      display: inline-block;
    }
    .p-chip-remove-icon {
      &:hover {
        border-radius: 50%;
        background: var(--input-border-color);
      }
      .p-autocomplete-chip-icon {
        width: 100%;
        height: 100%;
        display: block;
        background-size: 7px 7px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/assets/icons/close-icon.svg');
        svg {
          display: none;
        }
      }
    }
  }
  .p-autocomplete-list {
    padding: 12px;
    li {
      font-size: 12px;
      font-weight: 500;
      padding: 6px 10px;
      border-radius: 6px;
      color: var(--bs-black);
    }
  }
}

.tag-manager-modal {
  border: solid 1px var(--bs-white);
  border-radius: 6px;

  mat-dialog-container.mat-mdc-dialog-container .mat-mdc-dialog-surface {
    padding: 7px 16px 16px 16px;
  }

  &.mat-mdc-dialog-panel {
    .close-icon {
      display: flex;
      position: static;
      align-items: center;
      justify-content: center;
      svg {
        width: 11px;
        height: 11px;
      }
    }

    &.mat-mdc-dialog-container {
      .mat-mdc-dialog-surface {
        padding: 0;
      }

      .mat-mdc-dialog-content {
        padding-inline: 0;
      }
    }
  }
}

.ai-search-filter-tags-container {
  mat-icon {
    width: 16px;
    height: 16px;
    display: flex;
    margin-left: 4px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    &:hover {
      background: var(--input-border-color);
    }
    svg {
      width: 8px;
      height: 8px;
    }
  }
}
