.red-banner {
  color: var(--text-dark-red);
  background-color: var(--banner-red-bg);
  .info-icon {
    color: var(--text-dark-red);
  }
}
.info-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
