.login-container {
  margin-top: 45px;

  .card {
    background: #ffffff;
    border: 1px solid #e6effe;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
  }

  h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    text-align: center;

    color: #211f27;
  }

  h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #818181;
  }

  .forgot-passwrod-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    float: right;
    color: #363636;
  }
}

.title {
  width: 112px;
  font-style: normal;
  font-weight: 800;
  font-size: 24.3556px;
  line-height: 29px;
  color: #211f27;
  margin-left: 45px;
}

.reg-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.btn-login {
  margin-left: 12px;
}
