<div class="card mt-3">
  <div class="card-header">Machine Details</div>

  <!-- Machine basic info -->
  <div class="row flex-wrap">
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Process Group</span>
        <app-info-tooltip infoId="Manufacture_Process_Group"></app-info-tooltip>
      </label>

      <div class="dropdown-wrap">
        <!-- [value]="matPrimaryProcessName" -->
        <input type="text" [readonly]="true" class="form-control" placeholder="Select Process Group" matInput [matAutocomplete]="processGroupAuto" [value]="selectedMatProcessTypeId" />
        <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
      </div>
      <mat-autocomplete #processGroupAuto="matAutocomplete" autoActiveFirstOption>
        <mat-optgroup *ngFor="let processType of processList" [label]="processType.group">
          <mat-option *ngFor="let type of processType.data" [value]="type.processId">
            {{ type.primaryProcess }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Manufacturing Category</span>
        <app-info-tooltip infoId="Manufacturing_Category"></app-info-tooltip>
      </label>
      <div class="dropdown-wrap">
        <input
          type="text"
          [readonly]="true"
          class="form-control"
          placeholder="Select Manufacturing Category"
          matInput
          [matAutocomplete]="manufacturingCategoryAuto"
          [value]="machineDetails?.selectedProcessTypeName"
          ] />
        <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
      </div>
      <!-- formControlName="processTypeID" -->
      <mat-autocomplete autoActiveFirstOption #manufacturingCategoryAuto="matAutocomplete">
        <mat-optgroup *ngFor="let processType of processTypesList" label="{{ processType.group }}">
          <mat-option ion *ngFor="let type of processType.data" [value]="type.processTypeId">
            {{ type.primaryProcess }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Machine Name</span>
        <app-info-tooltip infoId="Machine_Name"></app-info-tooltip>
      </label>
      <div class="dropdown-wrap">
        <input [readonly]="true" type="text" class="form-control" placeholder="Select Machine Name" matInput [matAutocomplete]="machineNameAuto" [value]="machineDetails?.machineName" />
        <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
      </div>
      <mat-autocomplete autoActiveFirstOption #machineNameAuto="matAutocomplete">
        <mat-option *ngFor="let option of [{ value: 'arburg', viewValue: 'Arburg Tiberas 60 150/350mm... 400T' }]" [value]="option.viewValue">
          {{ option.viewValue }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <!-- Investment / lifespan -->
  <div class="row flex-wrap with-seperator-top-dashed">
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Investment Cost (USD)</span>
      </label>
      <input type="number" [readonly]="true" class="form-control" placeholder="Investment Cost" [value]="machineDetails?.investCost" />
    </div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Installation Cost (USD)</span>
      </label>
      <input type="number" [readonly]="true" class="form-control" placeholder="Installation Cost" [value]="machineDetails?.installation" />
    </div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Machine Lifespan (Yrs)</span>
      </label>
      <input type="number" [readonly]="true" class="form-control" placeholder="Machine Lifespan" [value]="machineDetails?.age" />
    </div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Years Installed</span>
      </label>
      <input type="number" [readonly]="true" class="form-control" placeholder="Years Installed" [value]="machineDetails?.age" />
    </div>
  </div>
  <div class="row flex-wrap with-seperator-top-dashed !mb-2">
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Annual Maintenance Cost (USD)</span>
      </label>
      ?
      <input type="number" [readonly]="true" class="form-control" placeholder="Annual Maintenance Cost (USD)" [value]="machineDetails?.amc" />
    </div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Annual Supplies Cost (USD)</span>
      </label>
      <input type="number" [readonly]="true" class="form-control" placeholder="Annual Supplies Cost (USD)" [value]="machineDetails?.asc" />
    </div>
  </div>

  <!-- Commenting below code as it is not needed right now -->
  <!-- Machine Hourly Cost Details (chart + legend) -->
  <div class="row flex-wrap with-seperator-top-solid">
    <div class="card-header">Machine Hourly Cost Details</div>
    <div class="flex flex-wrap !px-2 py-0 items-center w-100 !gap-5">
      <div class="machine-details-chart-container">
        <p-chart type="doughnut" [data]="machineChartData" [options]="machineChartOptions" class="w-full chart-container"></p-chart>
      </div>

      <div class="machine-details-legend">
        <div class="legend-header-row flex justify-between">
          <div class="legend-title text-xs font-medium">Machine Hourly Cost</div>
          <div class="legend-rate text-xs font-medium text-black text-left">$/hr</div>
        </div>

        <div class="legend-section !my-3 text-xs">FIXED COSTS</div>
        <div class="legend-row">
          <span class="legend-color" [style.background]="'#B49AE1'"></span>
          <span class="legend-label flex-1 text-sm font-medium text-black">Depreciation</span>
          <input type="number" [readonly]="true" class="legend-value !p-2 text-xs font-medium text-black" [value]="machineDetails?.depreciationCost" />
        </div>
        <div class="legend-row">
          <span class="legend-color" [style.background]="'#C9AFE9'"></span>
          <span class="legend-label flex-1 text-sm font-medium text-black">Interest</span>
          <input type="number" [readonly]="true" class="legend-value !p-2 text-xs font-medium text-black" [value]="machineDetails?.inputedInterestCost" />
        </div>
        <div class="legend-row">
          <span class="legend-color" [style.background]="'#E0D2FF'"></span>
          <span class="legend-label flex-1 text-sm font-medium text-black">Rent &amp; Overhead</span>
          <input type="number" [readonly]="true" class="legend-value !p-2 text-xs font-medium text-black" [value]="machineDetails?.rentCost" />
        </div>

        <div class="legend-section !my-3 text-xs">VARIABLE COSTS</div>
        <div class="legend-row">
          <span class="legend-color" [style.background]="'#7DD3FC'"></span>
          <span class="legend-label flex-1 text-sm font-medium text-black">Power</span>
          <input type="number" [readonly]="true" class="legend-value !p-2 text-xs font-medium text-black" [value]="machineDetails?.powerCost" />
        </div>
        <div class="legend-row">
          <span class="legend-color" [style.background]="'#A5E4FF'"></span>
          <span class="legend-label flex-1 text-sm font-medium text-black">Maintenance</span>
          <input type="number" [readonly]="true" class="legend-value !p-2 text-xs font-medium text-black" [value]="machineDetails?.maintenanceCost" />
        </div>
        <div class="legend-row">
          <span class="legend-color" [style.background]="'#CFF3FF'"></span>
          <span class="legend-label flex-1 text-sm font-medium text-black">Supplies</span>
          <input type="number" [readonly]="true" class="legend-value !p-2 text-xs font-medium text-black" [value]="machineDetails?.suppliesCost" />
        </div>

        <div class="legend-total">
          <span>Total</span>
          <div class="legend-value !p-2 text-xs font-medium text-black">
            {{
              +machineDetails?.depreciationCost +
                +machineDetails?.inputedInterestCost +
                +machineDetails?.burdenedCost +
                +machineDetails?.powerCost +
                +machineDetails?.maintenanceCost +
                +machineDetails?.suppliesCost
            }}
            $/hr
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Labor & Power Assumptions -->
  <div class="row flex-wrap with-seperator-top-solid !mb-2">
    <div class="card-header">Labor &amp; Power Assumptions</div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Low-Skilled Laborers Needed</span>
      </label>
      <input type="number" class="form-control" placeholder="Low-Skilled Laborers Needed" [value]="machineDetails?.noOfLowSkilledLabours" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Semi-Skilled Laborers Needed</span>
      </label>
      <input type="number" class="form-control" placeholder="Semi-Skilled Laborers Needed" [value]="machineDetails?.noOfSemiSkilledLabours" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">High-Skilled Laborers Needed</span>
      </label>
      <input type="number" class="form-control" placeholder="High-Skilled Laborers Needed" [value]="machineDetails?.noOfSkilledLabours" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Special-Skilled Laborers Needed</span>
      </label>
      <input type="number" class="form-control" placeholder="Special-Skilled Laborers Needed" [value]="machineDetails?.specialSkilledLabours" />
    </div>
  </div>
  <div class="row flex-wrap with-seperator-top-solid !mb-2">
    <div class="card-header">Power Assumptions</div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Rated Power (kWh)</span>
      </label>
      <input type="number" class="form-control" placeholder="Rated Power (kWh)" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Average Machine Utilization (%)</span>
      </label>
      <input type="number" class="form-control" placeholder="Average Machine Utilization (%)" [value]="machineDetails?.avgUtilization" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Power Utilization (%)</span>
      </label>
      <input type="number" class="form-control" placeholder="Power Utilization (%)" />
    </div>
  </div>

  <!-- Technical Characteristics -->
  <div class="row flex-wrap with-seperator-top-solid">
    <div class="card-header">Technical Characteristics</div>

    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Machine Characteristics 1</span>
      </label>
      <input type="text" class="form-control" placeholder="Value" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Machine Characteristics 2</span>
      </label>
      <input type="text" class="form-control" placeholder="Value" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Machine Characteristics 3</span>
      </label>
      <input type="text" class="form-control" placeholder="Value" />
    </div>
    <div class="col-4">
      <label class="add-label form-label no-wrap has-icon">
        <span class="label-text">Machine Characteristics 4</span>
      </label>
      <input type="text" class="form-control" placeholder="Value" />
    </div>
  </div>
</div>
