.machine-details-chart-container {
  max-width: 200px;
  height: 200px;
  padding-right: 20px;
  @media screen and (min-width: 1500px) {
    max-width: 300px;
    width: 100%;
    padding-right: 40px;
    height: 253px;
  }
}

.machine-details-legend {
  min-width: 0;
}

.legend-row {
  gap: 8px;
  display: flex;
  margin-bottom: 4px;
  align-items: center;
}

.legend-color {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

.legend-value {
  min-width: 80px;
  max-width: 147px;
  border-radius: 6px;
  background: var(--bs-white);
  border: 1px solid var(--input-border-color);

  @media screen and (min-width: 1500px) {
    min-width: 80px;
    max-width: 147px;
  }
  @media screen and (max-width: 1360px) {
    max-width: 80px;
  }
}

.legend-total {
  display: flex;
  margin-top: 8px;
  padding-top: 4px;
  font-weight: 600;
  justify-content: space-between;
  border-top: 1px solid var(--material-table-border);
  .legend-value {
    border: none;
    background: transparent;
  }
}
.legend-rate {
  width: 100%;
  min-width: 80px;
  max-width: 147px;

  @media screen and (min-width: 1500px) {
    min-width: 80px;
    max-width: 147px;
  }
  @media screen and (max-width: 1360px) {
    max-width: 80px;
  }
}
.with-seperator-top-dashed {
  &::before {
    margin-top: 4px;
    padding-bottom: 4px;
  }
}

.row.with-seperator-top-solid {
  &::before {
    padding-bottom: 16px;
    border-top: 1px solid var(--material-table-border);
  }
}
