<div class="costing-information-container row items-start">
  <div class="flex items-center section-group-header gap-2 max-w-full">
    <h5 class="capitalize mb-0 section-group-title font-semibold truncate">{{ partDto?.intPartNumber }}</h5>
    <div class="flex items-center badge-group gap-2 shrink-0" *ngIf="selectedProject?.tag">
      <div class="badge-item">{{ selectedProject?.tag }}</div>
    </div>
    <div class="flex items-center badge-group gap-2 shrink-0" *ngIf="selectedScenario?.scenarioName">
      <div class="badge-item">{{ selectedScenario?.scenarioName }}</div>
    </div>
  </div>
  <!-- <div class="d-inline">
    <label for="Items" class="itemlbl">Items</label>
  </div>
  <div class="d-inline" style="margin-left: 4px">
    <label for="" class="itemlbl">Month:</label>
  </div> -->
  <div class="wrapper col-md-4">
    <input matInput [matDatepicker]="dp" [min]="minDate" [max]="maxDate" class="form-control" [formControl]="projectDate" />
    <mat-datepicker-toggle matSuffix [for]="dp">
      <mat-icon matDatepickerToggleIcon svgIcon="calendar-icon"></mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #dp startView="year" (monthSelected)="setMonthAndYear($event, dp)" panelClass="project-month-picker"></mat-datepicker>
  </div>
  <div class="example-action-buttons d-inline col-md-6 ml-auto">
    <button class="btn-outline-secondary flex items-center" mat-button (click)="accordion.closeAll()">
      <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
      Collapse All
    </button>
    <button class="btn-outline-secondary btn-space flex items-center" mat-button (click)="accordion.openAll()">
      <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
      Expand All
    </button>
  </div>
  <div class="mt-2 col-md-12"></div>

  <mat-accordion class="example-headers-align costing-page-accordion" multi>
    <!-- uncomment this when version history is implemented -->
    <!-- Version History -->
    <!-- <mat-expansion-panel #panelVersionHistory class="version-history">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon version-history-icon" svgIcon="version-history"></mat-icon>
            <h6 class="cls-item-head">Version History</h6>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelVersionHistory.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelVersionHistory.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container>
        <app-version-history></app-version-history>
      </ng-container>
    </mat-expansion-panel> -->

    <!-- Part Information -->
    <mat-expansion-panel [expanded]="true" #panelPartInformation class="part-information">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="notebook_icon"></mat-icon>
            <h6 class="cls-item-head">Part Information</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
            <app-progress-bar [percentage]="partCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
          </div>
        </mat-panel-title>

        <mat-panel-description>
          <ng-container class="ml-4" *ngIf="!panelPartInformation.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container class="ml-4" *ngIf="panelPartInformation.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container>
        <app-costing-part-information
          [part]="partDto"
          [bomQty]="currentbomQty"
          [bomId]="bomId"
          (commodityChange)="onCommodityChange($event)"
          (packingChange)="onPackingChange($event)"
          (partChange)="onPartChange($event)"
          #partinfoComp
          (completionPercentageChange)="onPartComplectionPercentageChanged($event)"
          (dirtyCheckEvent)="onPartdirtyCheckEvent($event)"
          (countryChangeEmit)="countryChange($event)"
          (lifetimeremainingChangeEmit)="lifetimeremainingChange($event)"
          (reextractionLoaderChangesEvent)="reextractionLoaderChangesEvent($event)">
          <!-- (partCommodityChangeEvent)="onPartCommodityChangeEvent($event)"-->
        </app-costing-part-information>
      </ng-container>
    </mat-expansion-panel>
    <ng-container *ngIf="partDto">
      <mat-expansion-panel #panelSupportingDocuments class="supporting-documents">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <!-- <h6>Supporting Documents</h6> -->
            <mat-icon class="cls-item-icon" svgIcon="file_icon"></mat-icon>
            <h6 class="cls-item-head">Supporting Documents</h6>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelSupportingDocuments.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelSupportingDocuments.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-costing-supporting-documents [part]="partDto" [selectedProject]="selectedProject" (partChange)="onPartChange($event)"></app-costing-supporting-documents>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>

    <ng-container *ngIf="isElectronics">
      <mat-expansion-panel #panelBom>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="cls-item-icon" svgIcon="list-icon"></mat-icon>
            <h6 class="cls-item-head">Bill of Material Analysis</h6>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelBom.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelBom.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-pcb-boarddetails
            [part]="partDto"
            (dirtyCheckEvent)="onBillOfMaterialDirtyCheck($event)"
            [recalculateSubject]="reCalculateBomSubject"
            (recalculationCompletedEvent)="recalculationBomCompletedEvent($event)"></app-pcb-boarddetails>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>

    <ng-container *ngIf="isPlasticDisplay || isElectronics">
      <!-- Material Information -->
      <mat-expansion-panel #panelMaterialInformation *ngIf="!isCommodityTesting">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="items-header-left">
              <mat-icon class="cls-item-icon" svgIcon="material-info-icon"></mat-icon>
              <h6 class="cls-item-head" *ngIf="!isElectronics">Material Information</h6>
              <h6 class="cls-item-head" *ngIf="isElectronics">PCBA Attributes</h6>
            </div>
            <div class="mt-2 col-md-6 flex justify-end">
              <div class="badge-wrapper mr-3">
                <div class="status empty">-</div>
                <div class="status empty">-</div>
                <div class="status success">2</div>
              </div>
              <app-progress-bar [percentage]="materialCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelMaterialInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelMaterialInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-costing-material-information
            [selectedProject]="selectedProject"
            [part]="partDto"
            [commodityId]="currentCommodityId"
            #materialInfoComp
            (completionPercentageChange)="onMaterialComplectionPercentageChanged($event)"
            (selectedMaterialInfoOut)="onSelectedMaterialInfoOut($event)"
            (listMaterialInfoOut)="onListMaterialInfoOut($event)"
            (esgImpactCO2Kg)="onEsgImpactCO2Kg($event)"
            (dirtyCheckEvent)="onMaterialDirtyCheck($event)"
            [recalculateSubject]="reCalculateMaterialCostSubject"
            (recalculationMaterialCompletedEvent)="recalculationMaterialCompleteEvent($event)"
            [countryChangeSubject]="countryChangeSubject"
            [manufactureDataCheckSubject]="manufactureDataCheckSubject"
            (mandatoryFieldMissingEvent)="mandatoryFieldMissingEvent($event)"
            [projectInfoList]="projectInfoList"></app-costing-material-information>
        </ng-container>
      </mat-expansion-panel>

      <!-- Manufacturing Information -->
      <mat-expansion-panel #panelManufacturingInformation>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="items-header-left">
              <mat-icon class="cls-item-icon" svgIcon="manufacturing-info-icon"></mat-icon>
              <h6 class="cls-item-head">Manufacturing Information</h6>
            </div>
            <div class="mt-2 flex justify-end">
              <div class="badge-wrapper mr-3">
                <div class="status failed">2</div>
                <div class="status warning">2</div>
                <div class="status empty">-</div>
              </div>
              <app-progress-bar [percentage]="manufacturingCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelManufacturingInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelManufacturingInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-costing-manufacturing-information
            [selectedProject]="selectedProject"
            [part]="partDto"
            #manufacturingInfo
            [formprocessInfoDto]="formprocessInfoDto"
            (processInfoDtoOut)="onProcessInfoDtoOut($event)"
            (listProcessInfoDtoOut)="onListProcessInfoDtoOut($event)"
            (laborRateInfoDtoOut)="onLaborRateInfoDtoOut($event)"
            (completionPercentageChange)="onManufacturingComplectionPercentageChanged($event)"
            (dirtyCheckEvent)="onManufacturingDirtyCheck($event)"
            [recalculateSubject]="reCalculateProcessSubject"
            (recalculationCompletedEvent)="procesRecalculationCompleteEvent($event)"
            [countryChangeSubject]="countryChangeSubject"
            (manufactureDataEmit)="manufactureDataCheck($event)"
            (manufactureDataDeleteEmit)="manufactureDataDeleteEmit($event)"
            [partComplexityChangeSubject]="partComplexityChangeSubject"
            [canUpdate]="canUpdate"></app-costing-manufacturing-information>
        </ng-container>
      </mat-expansion-panel>

      <!-- Tooling -->
      <mat-expansion-panel #panelTooling *ngIf="!isPCB && !isElectronics">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="cls-item-icon" svgIcon="tooling-icon"></mat-icon>
            <h6 class="cls-item-head">Tooling</h6>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelTooling.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelTooling.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngIf="toolingExpanded">
          <section>
            <!-- <app-costing-tooling [part]="partDto"></app-costing-tooling> -->
            <app-costing-tooling-info
              [selectedProject]="selectedProject"
              [part]="partDto"
              [canUpdate]="canUpdate"
              (partChange)="onPartChange($event)"
              (dirtyCheckEvent)="onTolingDirtyCheck($event)"
              [recalculateSubject]="reCalculateToolingSubject"
              [countryChangeSubject]="countryChangeSubject"
              [lifetimeremainingChangeSubject]="lifetimeremainingChangeSubject"
              (recalculationCompletedEvent)="toolingRecalculationCompleteEvent($event)"></app-costing-tooling-info>
          </section>
        </ng-container>
      </mat-expansion-panel>

      <div *ngIf="showDFM">
        <mat-expansion-panel #panelDfm>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h6 class="cls-item-head">DFM</h6>
            </mat-panel-title>
            <mat-panel-description>
              <ng-container class="ml-4" *ngIf="!panelDfm.expanded">
                <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
              </ng-container>
              <ng-container class="ml-4" *ngIf="panelDfm.expanded">
                <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
              </ng-container>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container *ngIf="dfmExpanded">
            <section>
              <app-costing-dfm [part]="partDto"></app-costing-dfm>
            </section>
          </ng-container>
        </mat-expansion-panel>
      </div>
      <!-- Secondary Process -->
      <mat-expansion-panel #panelSecondaryProcess *ngIf="!isPCB && !isElectronics && !hideDom">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="mt-2 col-md-6">
              <mat-icon class="cls-item-icon" svgIcon="circuitry_icon"></mat-icon>
              <h6 class="cls-item-head">Secondary Process</h6>
            </div>
            <div class="mt-2 col-md-6">
              <app-progress-bar [percentage]="secondaryCompletionPercentage" mode="donut"></app-progress-bar>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelSecondaryProcess.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelSecondaryProcess.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngIf="secondaryExpanded">
          <app-costing-secondary-process
            [part]="partDto"
            #secondaryProcessInfo
            (completionPercentageChange)="onSecondaryComplectionPercentageChanged($event)"
            (dirtyCheckEvent)="onSecondaryDirtyCheck($event)"
            (formLoaded)="onFormLoaded($event)"
            [recalculateSubject]="reCalculateSecondarySubject"></app-costing-secondary-process>
        </ng-container>
      </mat-expansion-panel>

      <!-- Purchased (Catalogue) Parts Information -->
      <mat-expansion-panel #panelPurchasedPartsInformation *ngIf="!isPCB && !isElectronics">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="items-header-left">
              <mat-icon class="cls-item-icon" svgIcon="partinfo-icon"></mat-icon>
              <h6 class="cls-item-head">Purchased (Catalogue) Parts Information test</h6>
            </div>
            <div class="mt-2 col-md-6 flex justify-end">
              <div class="badge-wrapper mr-3">
                <div class="status success">2</div>
                <div class="status warning">2</div>
                <div class="status failed">2</div>
              </div>
              <!-- <app-progress-bar [percentage]="purchasedCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar> -->
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelPurchasedPartsInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelPurchasedPartsInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container *ngIf="purchasedExpanded">
          <app-costing-purchased-catalogue-part-information
            [part]="partDto"
            #purchashedCatalougeInfo
            (completionPercentageChange)="onPurchasedComplectionPercentageChanged($event)"
            (dirtyCheckEvent)="onPurchasedDirtyCheck($event)"
            [recalculateSubject]="reCalculatePurchaseSubject"
            [canUpdate]="canUpdate"></app-costing-purchased-catalogue-part-information>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>

    <ng-container *ngIf="isPCADisplay">
      <mat-expansion-panel #panelBillOfMaterialAnalysisForPCA>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="cls-item-icon" svgIcon="list-icon"></mat-icon>
            <h6 class="cls-item-head">Bill of Material Analysis</h6>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelBillOfMaterialAnalysisForPCA.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelBillOfMaterialAnalysisForPCA.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-pcb-boarddetails
            [part]="partDto"
            (dirtyCheckEvent)="onBillOfMaterialDirtyCheck($event)"
            [recalculateSubject]="reCalculateBomSubject"
            (recalculationCompletedEvent)="recalculationBomCompletedEvent($event)"></app-pcb-boarddetails>
        </ng-container>
      </mat-expansion-panel>
      <!-- Conversion Cost -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6>Conversion Cost</h6>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngIf="conversionCostExpanded">
          <app-costing-pcb-container [part]="partDto"></app-costing-pcb-container>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>

    <ng-container *ngIf="isWiringHarness">
      <mat-expansion-panel #panelBillOfMaterialAnalysisForWiringHarness>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="mt-2 col-md-6">
              <mat-icon class="cls-item-icon" svgIcon="list-icon"></mat-icon>
              <h6 class="cls-item-head">Bill of Material Analysis</h6>
            </div>
            <!-- <div class="mt-2 col-md-6">
              <app-progress-bar [percentage]="materialCompletionPercentage"></app-progress-bar>
            </div> -->
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelBillOfMaterialAnalysisForWiringHarness.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelBillOfMaterialAnalysisForWiringHarness.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-pcb-boarddetails
            [part]="partDto"
            (dirtyCheckEvent)="onBillOfMaterialDirtyCheck($event)"
            [recalculateSubject]="reCalculateBomSubject"
            (recalculationCompletedEvent)="recalculationBomCompletedEvent($event)"></app-pcb-boarddetails>
        </ng-container>
      </mat-expansion-panel>

      <mat-expansion-panel #panelMaterialInformation>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="items-header-left">
              <mat-icon class="cls-item-icon" svgIcon="info_icon"></mat-icon>
              <h6 class="cls-item-head">Material Information</h6>
            </div>
            <div class="mt-2 col-md-6 flex justify-end">
              <div class="badge-wrapper mr-3">
                <div class="status empty">-</div>
                <div class="status empty">-</div>
                <div class="status success">2</div>
              </div>
              <app-progress-bar [percentage]="materialCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelMaterialInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelMaterialInformation.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-costing-material-information
            [selectedProject]="selectedProject"
            [part]="partDto"
            [commodityId]="currentCommodityId"
            #materialInfoComp
            (completionPercentageChange)="onMaterialComplectionPercentageChanged($event)"
            (selectedMaterialInfoOut)="onSelectedMaterialInfoOut($event)"
            (listMaterialInfoOut)="onListMaterialInfoOut($event)"
            (esgImpactCO2Kg)="onEsgImpactCO2Kg($event)"
            (dirtyCheckEvent)="onMaterialDirtyCheck($event)"
            [recalculateSubject]="reCalculateMaterialCostSubject"
            (recalculationMaterialCompletedEvent)="recalculationMaterialCompleteEvent($event)"
            [countryChangeSubject]="countryChangeSubject"
            [manufactureDataCheckSubject]="manufactureDataCheckSubject"
            (mandatoryFieldMissingEvent)="mandatoryFieldMissingEvent($event)"
            [projectInfoList]="projectInfoList"></app-costing-material-information>
        </ng-container>
      </mat-expansion-panel>

      <!-- Manufacturing -->
      <mat-expansion-panel #panelManufacturingInformationForWiringHarness>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="my-1 col-md-6">
              <mat-icon class="cls-item-icon" svgIcon="warehouse_icon"></mat-icon>
              <h6 class="cls-item-head">Manufacturing Information</h6>
            </div>
            <div class="my-1 col-md-6">
              <app-progress-bar [percentage]="manufacturingCompletionPercentage"></app-progress-bar>
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panelManufacturingInformationForWiringHarness.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
            </ng-container>
            <ng-container *ngIf="panelManufacturingInformationForWiringHarness.expanded">
              <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container>
          <app-costing-manufacturing-information
            [selectedProject]="selectedProject"
            [part]="partDto"
            #manufacturingInfo
            (processInfoDtoOut)="onProcessInfoDtoOut($event)"
            (completionPercentageChange)="onManufacturingComplectionPercentageChanged($event)"
            (dirtyCheckEvent)="onManufacturingDirtyCheck($event)"
            [recalculateSubject]="reCalculateProcessSubject"
            (recalculationCompletedEvent)="procesRecalculationCompleteEvent($event)"
            [countryChangeSubject]="countryChangeSubject"
            (manufactureDataEmit)="manufactureDataCheck($event)"
            [partComplexityChangeSubject]="partComplexityChangeSubject"
            [canUpdate]="canUpdate"></app-costing-manufacturing-information>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>

    <!-- Overhead & Profit -->
    <mat-expansion-panel #panelOverheadProfit>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="overhead-profit-icon"></mat-icon>
            <h6 class="cls-item-head">Overhead & Profit</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
            <app-progress-bar [percentage]="overheadCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelOverheadProfit.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelOverheadProfit.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="overheadExpanded">
        <app-costing-overhead-profit
          [part]="partDto"
          #overHeadProfit
          (completionPercentageChange)="onOverheadComplectionPercentageChanged($event)"
          (dirtyCheckEvent)="onOverheadDirtyCheck($event)"
          [reCalculateOverheadProfitSubject]="reCalculateOverheadProfitSubject"
          [countryChangeSubject]="countryChangeSubject"
          (recalculationCompletedEvent)="overheadProfitRecalculationCompleteEvent($event)"></app-costing-overhead-profit>
      </ng-container>
    </mat-expansion-panel>
    <!-- Packaging-->
    <mat-expansion-panel #panelPackaging>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="package_icon"></mat-icon>
            <h6 class="cls-item-head">Packaging</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end" *ngIf="!isPackingLogisticSectionDisplay">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
            <app-progress-bar [percentage]="packageCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelPackaging.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelPackaging.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="packageExpanded">
        <h2 *ngIf="isPackingLogisticSectionDisplay">This section is not available.</h2>
        <section *ngIf="!isPackingLogisticSectionDisplay">
          <app-costing-packaging-information
            [selectedProject]="selectedProject"
            [part]="partDto"
            [canUpdate]="canUpdate"
            (partChange)="onPartChange($event)"
            (formProcessInfoDto)="onFormProcessInfoDto($event)"
            #packageinfo
            (completionPercentageChange)="onPackagingComplectionPercentageChanged($event)"
            (packagingInfoDtoOut)="onPackagingInfoDtoOut($event)"
            (dirtyCheckEvent)="onPackageDirtyCheck($event)"
            [reCalculatePackagingSubject]="reCalculatePackagingSubject"
            [countryChangeSubject]="countryChangeSubject"
            [processInfoDtoOut]="processInfoDtoOut"
            [listProcessInfoDtoOut]="listProcessInfoDtoOut"
            [laborRateInfoDtoOut]="laborRateInfoDtoOut"
            (recalculationCompletedEvent)="packagingRecalculationCompleteEvent($event)"></app-costing-packaging-information>
        </section>
      </ng-container>
    </mat-expansion-panel>
    <!-- Logistics -->
    <mat-expansion-panel #panelLogisticsCost>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="logistics-icon"></mat-icon>
            <h6 class="cls-item-head">Logistics Cost</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end" *ngIf="!isPackingLogisticSectionDisplay">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
            <app-progress-bar [percentage]="logisticsCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelLogisticsCost.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelLogisticsCost.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="logisticsExpanded">
        <h2 *ngIf="isPackingLogisticSectionDisplay">This section is not available.</h2>
        <section *ngIf="!isPackingLogisticSectionDisplay">
          <app-logistics-summary
            [part]="partDto"
            (partChange)="onPartChange($event)"
            #logisticCost
            (completionPercentageChange)="onLogisticsComplectionPercentageChanged($event)"
            (logisticsSummaryDtoOut)="onLogisticsSummaryDtoOut($event)"
            [recalculateSubject]="reCalculateLogisticSubject"
            (dirtyCheckEvent)="onLogisticsDirtyCheck($event)"
            [countryChangeSubject]="countryChangeSubject"></app-logistics-summary>
        </section>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="partDto" #panelSpendClassification (opened)="onSpendClassificationPanelOpened()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="barcode"></mat-icon>
            <h6 class="cls-item-head">Spend Classification</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
            <!-- <app-progress-bar [percentage]="spendClassificationCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar> -->
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelSpendClassification.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelSpendClassification.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="spendClassificationPanelOpened">
        <section>
          <app-spend-classification
            [part]="partDto"
            #spendClassification
            (completionPercentageChange)="onSpendClassificationComplectionPercentageChanged($event)"
            [recalculateSubject]="reCalculateDutiesTariffSubject"
            (formLoaded)="onFormLoaded($event)"
            (dirtyCheckEvent)="onSpendClassificationDirtyCheck($event)"></app-spend-classification>
        </section>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="partDto" #panelDutiesandTariff (opened)="onDutiesTariffPanelOpened()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="tariff-icon"></mat-icon>
            <h6 class="cls-item-head">Tariff</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end" *ngIf="!isPackingLogisticSectionDisplay">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelDutiesandTariff.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelDutiesandTariff.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-container *ngIf="dutiesTariffPanelOpened">
        <h2 *ngIf="isPackingLogisticSectionDisplay">This section is not available.</h2>
        <section *ngIf="!isPackingLogisticSectionDisplay">
          <app-duties-and-tariff
            [part]="partDto"
            #dutieTariff
            (partChange)="onPartChange($event)"
            [countryChangeSubject]="countryChangeSubject"
            (completionPercentageChange)="onDutiesTariffComplectionPercentageChanged($event)"
            (formLoaded)="onFormLoaded($event)"
            [recalculateSubject]="reCalculateDutiesTariffSubject"
            (dirtyCheckEvent)="onDutiesTariffDirtyCheck($event)"
            [canUpdate]="canUpdate"></app-duties-and-tariff>
        </section>
      </ng-container>
    </mat-expansion-panel>

    <mat-expansion-panel class="green sustainability-panel" *ngIf="partDto" #panelSustainability>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="my-1 col-md-6">
            <mat-icon class="cls-item-icon" svgIcon="leaf_icon"></mat-icon>
            <h6 class="cls-item-head section-text">Sustainability</h6>
          </div>
          <div class="my-1 col-md-6 flex justify-end">
            <div class="badge-wrapper mr-3">
              <div class="status success">2</div>
              <div class="status warning">2</div>
              <div class="status failed">2</div>
            </div>
            <!-- <app-progress-bar [percentage]="sustainabilityCompletionPercentage" mode="donut" [showPercentageText]="true"></app-progress-bar> -->
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <ng-container *ngIf="!panelSustainability.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-down-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelSustainability.expanded">
            <mat-icon class="dropdown-arrow" svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngIf="sustainabilityEesxpanded">
        <section>
          <app-sustainability
            [part]="partDto"
            [bomId]="sustainabilityBomId"
            [selectedMaterialInfo]="selectedMaterialInfoOut"
            [listMaterialInfo]="listMaterialInfoOut"
            #sustainability
            [esgImpactCO2Kg]="esgImpactCO2Kg"
            (formProcessInfoDto)="onFormProcessInfoDto($event)"
            [processInfoDtoOut]="processInfoDtoOut"
            [listProcessInfoDtoOut]="listProcessInfoDtoOut"
            [laborRateInfoDtoOut]="laborRateInfoDtoOut"
            [packagingInfoDto]="packagingInfoDto"
            [logisticsSummaryDtoOut]="logisticsSummaryDtoOut"
            (dirtyManufacturingCheckEvent)="onSustainabilityManufacturingDirtyCheck($event)"
            (dirtyPackageCheckEvent)="onSustainabilityPackageDirtyCheck($event)"
            (dirtyMaterialCheckEvent)="onSustainabilityMaterialDirtyCheck($event)"
            (completionPercentageChange)="onSustainabilityComplectionPercentageChanged($event)"
            (dirtyCheckEvent)="onSustainabilityDirtyCheck($event)"></app-sustainability>
        </section>
      </ng-container>
    </mat-expansion-panel>
    @if (canUpdate) {
      <ng-container>
        <div class="app-floating-toolbar flex items-center justify-between">
          <div class="flex items-center gap-2 undoredo-button" *ngIf="undoRedoService.isEnabledUndoRedo">
            <button
              aria-label="Undo"
              class="floating-bar-actions flex items-center justify-center"
              matTooltip="Undo"
              (click)="undoRedoService.undoRedoSubject$.next('undo')"
              [disabled]="undoRedoService.formChangeListPointer < undoRedoService.formsCount">
              <mat-icon svgIcon="undo-icon"></mat-icon>
            </button>
            <button
              aria-label="Redo"
              class="floating-bar-actions flex items-center justify-center"
              matTooltip="Redo"
              (click)="undoRedoService.undoRedoSubject$.next('redo')"
              [disabled]="undoRedoService.formChangeListPointer >= undoRedoService.formChangeList.length - 1">
              <mat-icon svgIcon="redo-icon"></mat-icon>
            </button>
          </div>
          <div class="seperator h-full mr-auto"></div>

          <div class="bottom-right-corner flex items-center justify-end gap-2 w-full">
            <div *ngIf="reextractionLoaderChanges">
              <button type="submit" class="btn btn-primary" (click)="reExtraction()" [ngClass]="dirtyCheck || reextractionLoaderChanges ? 'dirty-button' : ''">Re-Extraction</button>
            </div>
            <button type="submit" class="btn btn-primary btn-save" (click)="saveFloatingData()" [ngClass]="dirtyCheck || isCostSummarydirty ? 'dirty-button' : ''">Update & Save</button>
            <button type="submit" class="btn btn-primary" (click)="recalculateCost()" [ngClass]="recalculateNeeded ? 'dirty-button' : ''">Recalculate Cost</button>

            <!-- <div *ngIf="partCommodityChanges" style="float: left">
            <button type="submit" class="btn btn-primary" (click)="reExtraction()" [ngClass]="
                dirtyCheck || partCommodityChanges ? 'dirty-button' : ''
              ">
              Re-Extraction
            </button>
          </div> -->
          </div>
        </div>

        <!-- OLD BUTTOM BUTTON -->
        <!-- <div class="bottom-right-corner">

        <button type="submit" class="btn btn-primary ml-2" (click)="recalculateCost()"
          [ngClass]="recalculateNeeded ? 'dirty-button' : ''">
          Recalculate Cost</button>

        <button type="submit" class="btn btn-primary  ml-2" (click)="saveFloatingData()"
          [ngClass]="(dirtyCheck || isCostSummarydirty) ? 'dirty-button' : ''">
          Update & Save </button>

        <div *ngIf="partCommodityChanges" style="float: inline-start;">
          <button type="submit" class="btn btn-primary" (click)="reExtraction()"
            [ngClass]="(dirtyCheck || partCommodityChanges) ? 'dirty-button' : ''">
            Re-Extraction </button>
        </div>
      </div> 
 
      <div class="floating-container">

        <div class="undoredo-button" *ngIf="undoRedoService.isEnabledUndoRedo">
          <button mat-mini-fab color="primary" matTooltip="Undo" (click)="undoRedoService.undoRedoSubject$.next('undo')"
            [disabled]="undoRedoService.formChangeListPointer < undoRedoService.formsCount"
            class="mr-2"><mat-icon>undo</mat-icon></button>&nbsp;
          <button mat-mini-fab color="primary" matTooltip="Redo" (click)="undoRedoService.undoRedoSubject$.next('redo')"
            [disabled]="undoRedoService.formChangeListPointer >= undoRedoService.formChangeList.length-1"><mat-icon>redo</mat-icon></button>
        </div>

      </div> -->
      </ng-container>
    } @else {
      <ng-container>
        <div class="app-floating-toolbar flex items-center gap-2">
          <mat-icon aria-label="Project locked" class="icon material-icons">lock_person</mat-icon>
          <div class="seperator"></div>
          <span>** The Project is in read only mode **</span>
        </div>
      </ng-container>
    }
  </mat-accordion>

  <!-- <ng-container *ngIf="!reextractionLoaderChanges">
    <div class="overlayCosting"></div>
    <div class="loading-container">
      <div class="loading-spinner"></div>
      <p class="loadingtext">Data Extraction is in progress......</p>
    </div>
  </ng-container> -->
  <div class="overlay" *ngIf="reextractionLoaderChanges && reExtractedPartId.includes(currentSelectedPartId)">
    <div class="bt-spinners"></div>
    <p class="loadingtext">{{ message }}</p>
  </div>
</div>
