<ng-container [formGroup]="formGroup">
  <ng-template #popContent>
    <div [innerHTML]="name"></div>
    <div class="div-img" *ngIf="url">
      <img alt="" class="img-class" [src]="url" />
    </div>
  </ng-template>
  <app-tooling-manufacturing-table
    [compVals]="compVals"
    [canUpdate]="canUpdate"
    (addProcessInfo)="addProcess()"
    (editProcessInfo)="onEditProcessInfo($event)"
    (deleteProcessInfo)="onDeleteProcessClick($event)"></app-tooling-manufacturing-table>

  <div class="card">
    <div class="card-header">Process Details</div>
    <div class="card-body">
      <div>
        <div class="row gy-3">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Process Group</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Tooling_Process_Group')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <select formControlName="processGroupId" class="form-control" (change)="processGroupChange($event)">
              <option value="" selected>-------Process Group---------</option>
              <option *ngFor="let option of processGroupList" [value]="option.id">{{ option.name }}</option>
            </select>
          </div>
          <div class="col-4" *ngIf="processFlags.isMachineOperations || processFlags.isMoldDesign || (processFlags.isValidation && commodity.isSheetMetal)">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Hour rate($)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Tooling_Hour_Rate')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <input type="number" class="form-control" formControlName="hourRate" [OnlyNumber]="true" min="0" readonly />
          </div>
          <div class="col-4" *ngIf="processFlags.isMachineOperations || processFlags.isMoldDesign || (processFlags.isValidation && commodity.isSheetMetal)">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Total No Of Hours</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Tooling_Total_No_Hours')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <input type="number" class="form-control" formControlName="totalNoOfHours" [OnlyNumber]="true" min="0" readonly />
          </div>
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Total Process cost($)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Tooling_Total_Process_Cost')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <input type="number" class="form-control" formControlName="totalProcessCost" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
        </div>
      </div>
      <div [hidden]="true">
        <div class="row gy-3">
          <div class="col-4">
            <label class="form-label">Process Group:</label>
            <select formControlName="processGroupId" class="form-control" (change)="processGroupChange($event)">
              <option value="" selected>-------Process Group---------</option>
              <option *ngFor="let option of processGroupList" [value]="option.id">{{ option.name }}</option>
            </select>
          </div>
          <div class="col-4" *ngIf="processFlags.isMoldDesign || processFlags.isProgramming || processFlags.isMachinePlishing || processFlags.isAssembly">
            <label class="form-label">No. Of Skilled Labors(No.):</label>
            <input type="number" class="form-control" formControlName="noOfSkilledLabors" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4" *ngIf="processFlags.isMoldDesign || processFlags.isProgramming || processFlags.isMachinePlishing || processFlags.isToolTrialCost || processFlags.isAssembly">
            <label class="form-label">Skilled Labor Rate($/hr):</label>
            <input type="number" class="form-control" formControlName="skilledLaborRate" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4" *ngIf="processFlags.isMachineOperations">
            <label class="form-label">Total Material Weight(Kg):</label>
            <input type="number" class="form-control" formControlName="totalMaterialWeight" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4" *ngIf="processFlags.isMachineOperations || processFlags.isToolTrialCost">
            <label class="form-label">{{ processFlags.isToolTrialCost ? 'Machine Rate/Hrs($):' : 'Machining operations($/Kg)' }}</label>
            <input type="number" class="form-control" formControlName="perKgCostMachining" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4" *ngIf="processFlags.isToolHardening">
            <label class="form-label">Hardening Weight(Kg):</label>
            <input type="number" class="form-control" formControlName="hardeningWeight" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4" *ngIf="processFlags.isToolHardening">
            <label class="form-label">Per Kg Cost For Hardening($/Hr):</label>
            <input type="number" class="form-control" formControlName="perKgCostHardening" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
        </div>
        <div class="row gy-3" *ngIf="processFlags.isMoldDesign || processFlags.isProgramming || processFlags.isMachinePlishing || processFlags.isToolTrialCost">
          <div class="col-4" *ngIf="!processFlags.isMachinePlishing && processFlags.isToolTrialCost"></div>
          <div class="col-4" *ngIf="processFlags.isMachinePlishing">
            <label class="form-label">Equipment Rate($/hr):</label>
            <input type="number" class="form-control" formControlName="equipmentRate" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4">
            <label class="form-label">Cycle Time(Hr):</label>
            <input type="number" class="form-control" formControlName="cycleTime" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4">
            <label class="form-label">Total Process cost($):</label>
            <input type="number" class="form-control" formControlName="totalProcessCost" [OnlyNumber]="true" min="0" />
          </div>
        </div>
        <div class="row gy-3" *ngIf="processFlags.isAssembly">
          <div class="col-4">
            <label class="form-label">Equipment Rate($/hr):</label>
            <input type="number" class="form-control" formControlName="equipmentRate" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4">
            <label class="form-label">Cycle Time(Hr):</label>
            <input type="number" class="form-control" formControlName="cycleTime" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4">
            <label class="form-label">Total cost($):</label>
            <input type="number" class="form-control" formControlName="skilledTotalCost" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
        </div>
        <div class="row gy-3" *ngIf="processFlags.isAssembly">
          <div class="col-4"></div>
          <div class="col-4">
            <label class="form-label">No. Of Semi Skilled Labors(No.):</label>
            <input type="number" class="form-control" formControlName="noOfSemiSkilledLabors" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4">
            <label class="form-label">Semi Skilled Labor Rate($/hr):</label>
            <input type="number" class="form-control" formControlName="semiSkilledLaborRate" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
        </div>
        <div class="row gy-3" *ngIf="processFlags.isAssembly">
          <div class="col-4"></div>
          <div class="col-4">
            <label class="form-label">Cycle Time(Hr):</label>
            <input type="number" class="form-control" formControlName="semiSkilledCycleTime" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
          <div class="col-4">
            <label class="form-label">Total cost($):</label>
            <input type="number" class="form-control" formControlName="semiSkilledTotalCost" [OnlyNumber]="true" (blur)="calculateProcessCost()" min="0" />
          </div>
        </div>

        <div class="row gy-3" *ngIf="processFlags.isMachineOperations || processFlags.isToolHardening || processFlags.isAssembly">
          <div class="col-8"></div>
          <div class="col-4">
            <label class="form-label">Total Process cost($):</label>
            <input type="number" class="form-control" formControlName="totalProcessCost" [OnlyNumber]="true" min="0" />
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-footer  text-center">
        <button class="btn btn-primary" type="button" (click)="SaveProcessDetails()">Save Machine
            Info</button> 
    </div> -->
  </div>
</ng-container>
