:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

::ng-deep {
  .mat-tooltip {
    z-index: 1100;
  }

  .cdk-overlay-container {
    z-index: 1060 !important;
  }
}

.modal-header {
  --bs-modal-header-border-width: 0;
  --bs-modal-header-padding: 1rem 1rem 0.5rem 1rem;
  font-size: 1.25rem;

  .modal-close {
    .close-icon {
      color: var(--black);
      font-size: 16px;
      width: 16px;
      height: 16px;
      position: static;
    }
  }
}

.modal-body {
  --bs-modal-padding: 0.5rem 1rem 1rem 1rem;
}

.graph-controls {
  .btn {
    &:disabled {
      --bs-btn-disabled-color: var(--disabled-graph-control-text);
      --bs-btn-disabled-border-color: var(--disabled-graph-control-text);
      --bs-btn-disabled-bg: var(--bs-white);
    }
  }
}

.col-completion {
  app-progress-bar {
    display: inline-block;
  }

  span {
    display: inline-block;
    margin-left: 5px;
  }
}

.col-completion-grid-align {
  display: flex;
  justify-content: normal;
  align-items: center;
}

.highlighted-col {
  color: var(--grid-highlight-text);
}

.thumb-wrap {
  max-height: 36px;
  height: 36px;
  max-width: 36px;
  width: 36px;
  border-radius: 4px;
  border: solid 1px transparent;
  box-shadow: 0px 0px 2px var(--grid-thumb-border);
  overflow: hidden;
}

.treeview-image {
  max-height: 36px;
  max-width: 36px;
  object-fit: contain;
}

.grid-header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.graphical-col {
  width: 75%;
}

.thumbnail-col {
  width: 75px;
}

.completion-col {
  width: 7rem;
}

.bom-qty-col {
  width: 6rem;
}

.legend-marker {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 2px;
  border: solid 1px transparent;
}
