<ng-container [formGroup]="formGroup">
  <div class="row mt-3">
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Material Type</span>
      </label>
      <input type="text" formControlName="recBedSize" class="form-control" readonly />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Material Specific Heat (kJ/kg·°C)</span>
        <app-info-tooltip [infoId]="'Forging_Specific_Heat'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="MoldTemp"></app-field-comment>
      <input type="number" formControlName="moldTemp" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Part Weight (kg)</span>
      </label>
      <input type="number" formControlName="requiredCurrent" class="form-control" readonly />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Initial Temperature (°C)</span>
        <app-info-tooltip [infoId]="'Forging_Initial_Temperature'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="initialTemp"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.initialTemp.errors, 'input-valid': f.initialTemp.valid }"
        formControlName="initialTemp"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Forging Temperature (°C)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="finalTemp"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.finalTemp.errors, 'input-valid': f.finalTemp.valid }"
        formControlName="finalTemp"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Temperature Raise(°C)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partArea'"></app-field-comment>
      <input type="number" formControlName="partArea" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" readonly />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Machine Rated Power (KW)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'powerSupply'"></app-field-comment>
      <input type="number" formControlName="powerSupply" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Energy Required (kWh)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'platenSizeWidth'"></app-field-comment>
      <input type="number" formControlName="platenSizeWidth" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Energy Cost ($)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'moldedPartCost'"></app-field-comment>
      <input type="number" formControlName="moldedPartCost" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
    </div>
  </div>
</ng-container>
