<ng-container [formGroup]="formGroup">
  <div class="card mt-3 no-seperation">
    <div class="card-header">Cycle Time Details</div>
    <div class="card-body">
      <div class="row">
        <!-- <div class="col-4 mt-3" *ngIf="compVals.processFlag.IsProcessPlasticConvolutedTubeExtrusion">
            <label class="form-label no-wrap">Pipe Diameter Range:</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier"
                [fieldIdentifier]="'drillDiameter'"></app-field-comment>
            <select formControlName="drillDiameter" class="form-control" (change)="calculateCost('drillDiameter')">
                <option value="" selected>-------Select Diameter Range---------</option>
                <option value="50">4 - 9 mm</option>
                <option value="55">9 - 32 mm</option>
                <option value="140">16 - 50 mm</option>
                <option value="350">63 - 110 mm</option>
            </select>
        </div> -->
        <div class="col-4 mt-3 position-relative">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Maximum Output Rate of Machine (kg/h)</span>
            <app-info-tooltip [infoId]="'Maximum_Output_Rate_Machine_Plastic_Tube'"></app-info-tooltip>
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cuttingSpeed'"></app-field-comment>
          <input type="number" formControlName="cuttingSpeed" class="form-control" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Machine Output Efficiency (%)</span>
            <app-info-tooltip [infoId]="'Machine_Output_Efficiency_Plastic_Tube'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'efficiency'"></app-field-comment>
          <input type="number" class="form-control" formControlName="efficiency" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <!-- <div class="col-4 mt-3" *ngIf="compVals.processFlag.IsProcessPlasticTubeExtrusion">
          <label class="form-label no-wrap">No. of Parts processed per hour:</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'noOfParts'"></app-field-comment>
          <input type="number" formControlName="noOfParts" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
        </div> -->
        <!-- <div class="col-4 mt-3" *ngIf="compVals.processFlag.IsProcessPlasticConvolutedTubeExtrusion"> -->
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Machine Output Rate (%)</span>
            <app-info-tooltip [infoId]="'Machine_Output_Rate_Plastic_Tube'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'bourdanRate'"></app-field-comment>
          <input type="number" formControlName="bourdanRate" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
        </div>
        <!-- <div class="col-4 mt-3 position-relative" *ngIf="compVals.processFlag.IsProcessPlasticTubeExtrusion">
          <label class="form-label no-wrap">Time for Extrusion (s/part):</label>
          <label class="form-label no-wrap" *ngIf="compVals.processFlag.IsProcessPlasticConvolutedTubeExtrusion">Time Required
                to Extrude Pipe Length (s):</label> -->
        <!-- <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'processTime'"></app-field-comment>
          <input type="number" formControlName="processTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
        </div>  -->
        <!-- <div class="col-4 mt-3" *ngIf="compVals.processFlag.IsProcessPlasticTubeExtrusion">
          <label class="form-label no-wrap">Part Cut off Time (s) :</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cuttingTime'"></app-field-comment>
          <input type="number" formControlName="cuttingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
        </div> -->
        <!-- <div class="col-4 mt-3" *ngIf="compVals.processFlag.IsProcessPlasticConvolutedTubeExtrusion"> -->
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Machine Operation Rate (m/min)</span>
            <app-info-tooltip [infoId]="'Machine_Operation_Rate_Plastic_Tube'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'injectionRate'"></app-field-comment>
          <input type="number" formControlName="injectionRate" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" readonly />
        </div>
        <div class="col-4 offset-4">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Cycle Time/Part(Sec)</span>
            <app-info-tooltip [infoId]="'Cycle_Time_Part_Sec_Plastic_Tube'"></app-info-tooltip>
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cycleTime'"></app-field-comment>
          <input type="number" formControlName="cycleTime" class="form-control" [OnlyNumber]="true" min="0" name="cycleTime" (blur)="calculateCost()" [readonly] />
        </div>

        <!-- <div class="col-4 mt-3">
          <label class="form-label no-wrap">Net Process Cost/Part ($):</label>
          <input type="number" formControlName="directProcessCost" class="form-control" readonly="readonly" />
        </div> -->
      </div>
    </div>
  </div>
</ng-container>
