<div class="row mt-3" [formGroup]="formGroup">
  <div class="col-4 position-relative">
    <label class="form-label no-wrap has-icon">
      <span class="label-text">
        {{ compVals.isEnableUnitConversion ? 'Envelope Length (' + compVals.conversionValue + ')' : 'Envelope Length(mm)' }}
      </span>
      <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Envelope_Length_mm')">
        <mat-icon class="info-icon" svgIcon="information"></mat-icon>
      </span>
    </label>
    <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'length'"></app-field-comment>
    <input
      type="number"
      [ngClass]="{
        'input-mandatory': f.length.errors,
        'input-valid': f.length.valid && !f.length.dirty,
        'input-overridden': f.length.dirty && f.length.touched,
      }"
      class="form-control"
      formControlName="length"
      [OnlyNumber]="true"
      placeholder="Length"
      (blur)="calculateCost()"
      min="0" />
  </div>
  <div class="col-4 position-relative">
    <label class="form-label no-wrap has-icon">
      <span class="label-text">
        {{ compVals.isEnableUnitConversion ? 'Envelope Width (' + compVals.conversionValue + ')' : 'Envelope Width(mm)' }}
      </span>
      <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Envelope_Width_mm')">
        <mat-icon class="info-icon" svgIcon="information"></mat-icon>
      </span>
    </label>
    <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'width'"></app-field-comment>
    <input
      type="number"
      [ngClass]="{
        'input-mandatory': f.width.errors,
        'input-valid': f.width.valid && !f.width.dirty,
        'input-overridden': f.width.dirty && f.width.touched,
      }"
      class="form-control"
      formControlName="width"
      [OnlyNumber]="true"
      placeholder="Width"
      (blur)="calculateCost()"
      min="0" />
  </div>
  <div class="col-4 position-relative">
    <label class="form-label no-wrap has-icon">
      <span class="label-text">
        {{ compVals.isEnableUnitConversion ? 'Envelope Height (' + compVals.conversionValue + ')' : 'Envelope Height(mm)' }}
      </span>
      <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Envelope_Height_mm')">
        <mat-icon class="info-icon" svgIcon="information"></mat-icon>
      </span>
      :
    </label>
    <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'height'"></app-field-comment>
    <input
      type="number"
      [ngClass]="{
        'input-mandatory': f.height.errors,
        'input-valid': f.height.valid && !f.height.dirty,
        'input-overridden': f.height.dirty && f.height.touched,
      }"
      class="form-control"
      formControlName="height"
      [OnlyNumber]="true"
      placeholder="Height"
      (blur)="calculateCost()"
      min="0" />
  </div>

  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Geometry of Cross Section:</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockType'"></app-field-comment>
    <select class="form-control" formControlName="stockType">
      <option value="0" selected>-------Select Geometry-------</option>
      <option value="1">Circular Tube</option>
      <option value="2">Rectangle Tube</option>
      <option value="3">Square Tube</option>
      <option value="4">Custom Geometry</option>
    </select>
  </div>

  <div class="col-4 mt-3 position-relative">
    <label class="form-label no-wrap">
      Area of Cross-section
      {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + '^2)' : '(mm^2)' }}
      :
    </label>
    <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partProjectArea'"></app-field-comment>
    <input
      type="number"
      [ngClass]="{
        'input-mandatory': f.partProjectArea.errors,
        'input-valid': f.partProjectArea.valid && !f.partProjectArea.dirty,
        'input-overridden': f.partProjectArea.dirty && f.partProjectArea.touched,
      }"
      class="form-control"
      placeholder="Enter Area"
      [OnlyNumber]="true"
      formControlName="partProjectArea"
      (blur)="calculateCost()"
      min="0" />
  </div>
  <div class="col-4 mt-3 position-relative">
    <label class="form-label no-wrap">
      Part Volume
      {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + '^3)' : '(mm^3)' }}
      :
    </label>
    <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partVolume'"></app-field-comment>
    <input type="number" class="form-control" [OnlyNumber]="true" placeholder="Enter Volume" formControlName="partVolume" (blur)="calculateCost()" min="0" />
  </div>

  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Billet Diameter {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + ')' : '(mm)' }}:</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'inputBilletDiameter'"></app-field-comment>
    <input type="number" class="form-control input-sm input-auto" formControlName="inputBilletDiameter" placeholder="inputBilletDiameter" (blur)="calculateCost()" min="0" />
  </div>

  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Material Flow Strength (Mpa):</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'ultimateTensileStrength'"></app-field-comment>
    <input type="number" class="form-control" formControlName="ultimateTensileStrength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
  </div>

  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Weight of Part (g):</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'netWeight'"></app-field-comment>
    <input
      type="number"
      class="form-control"
      [ngClass]="{
        'input-mandatory': f.netWeight.errors,
        'input-valid': f.netWeight.valid && !f.netWeight.dirty,
        'input-overridden': f.netWeight.dirty && f.netWeight.touched,
      }"
      placeholder="Enter weight"
      formControlName="netWeight"
      [OnlyNumber]="true"
      (blur)="calculateCost()"
      min="0" />
  </div>
  <div class="col-4">
    <label class="form-label no-wrap">Material Utilization Ratio:</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'utilisation'"></app-field-comment>
    <input type="number" class="form-control" formControlName="utilisation" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
  </div>
  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Gross Weight (g):</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'grossWeight'"></app-field-comment>
    <input type="number" class="form-control" formControlName="grossWeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
  </div>
  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Scrap Weight/Part (g):</label>
    <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'scrapWeight'"></app-field-comment>
    <input type="number" class="form-control" formControlName="scrapWeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
  </div>
  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Material Cost/Part ($):</label>
    <input type="number" class="form-control" readonly="readonly" formControlName="grossMaterialCost" />
  </div>
  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Scrap Recovery Cost/Part($):</label>
    <input type="number" class="form-control" readonly="readonly" formControlName="scrapRecCost" />
  </div>
  <div class="col-4 mt-3">
    <label class="form-label no-wrap">Net Material Cost ($):</label>
    <input type="number" class="form-control" formControlName="netMaterialCost" readonly />
  </div>
</div>

<ng-template #popContent>
  <div [innerHTML]="popupName"></div>
  <div class="div-img" *ngIf="popupUrl">
    <img alt="" class="img-class" [src]="popupUrl" />
  </div>
</ng-template>
