.actions-holder {
  justify-content: flex-end;
}

.content {
  max-width: 400px;
  min-width: 280px;
  word-wrap: break-word;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group label {
  margin-right: 10px;
}

.itemlbl {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
}

hr {
  border: none;
  border-top: 2px solid black;
  margin: 10px 0;
}
