<div>
  <div *ngIf="!isLoaded">
    <div class="d-flex justify-content-center m-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="viewer-container" *ngIf="isLoaded && !isError">
    <div class="viewer-container-data">
      <img src="{{ existingUploadedData.file }}" class="img-rounded viewer-container-image" alt="" />
    </div>
  </div>
  <div class="d-flex justify-content-center m-5" *ngIf="isLoaded && isError">Something Went Wrong ...!</div>
</div>
