.supplier-labour-assumption-table-container {
  max-width: 70%;
  height: 60vh;

  .mat-table {
    width: max-content;
    background: #fff;
  }

  .mat-mdc-header-row {
    background: #f0f0f0;
  }

  .mat-mdc-header-cell {
    border-bottom: none;
  }

  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    font-size: 12px;
  }

  .mat-header-row {
    background-color: #f0f0f0;
    height: 34px;
    min-height: 34px;
  }
  .mat-sort-header-container:not(:first-child) {
    justify-content: end;
  }

  tr.mat-row:last-child {
    background: #f5f6f9;
  }

  .mat-cell:not(:first-child) {
    text-align: end;
  }

  .mat-header-cell:not(:first-child) {
    .mat-sort-header-container {
      justify-content: end;
    }
  }

  .mat-mdc-cell {
    border-bottom-color: #e9e9e9;
  }

  .mdc-data-table__row:last-child > .mat-mdc-cell {
    border-bottom: 1px solid #e9e9e9;
  }
}
.supplier-profile-header {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1d1d1d;
}

.supplier-profile-buttons {
  display: flex;
  position: fixed;
  z-index: 300;
  transform: translate(-50%);
  padding: 10px;
  border-radius: 6px;
  background: var(--bs-white);
  inset: auto auto 38px 50%;
  box-shadow: 0px 4px 24px 0px #0000001a;
}

.digital-factory-btn {
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  flex-flow: row;
  align-items: center;
  min-width: 135px;
  display: flex;
  justify-content: center;
}

.unsaved-changes-text {
  font-size: 14px;
  font-weight: 500;
  align-self: center;
}

.card {
  background: var(--table-head-row-bg);
}

.df-input-field {
  height: 20px;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  border-radius: 5px;
  background: var(--bs-white);
  border: 1px solid var(--bs-border-color);

  &[disabled] {
    background: var(--readonly-surface);
  }
}

.add-fields {
  --bs-gutter-x: 1rem;
}

.radio-control {
  .radio-label {
    min-width: 20px;
  }
  label {
    width: 28px;
    height: 28px;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
  input {
    cursor: pointer;
  }
}

.category-dropdown {
  display: flex;
  max-height: 50px;
  border-radius: 6px;
  align-items: center;
  background: var(--bs-white);
  border: 1px solid var(--bs-border-color);

  &:hover,
  &:focus-visible {
    mat-icon[matSuffix] {
      opacity: 1;
    }
  }

  mat-icon[matSuffix] {
    cursor: pointer;
    margin-left: -24px;
    pointer-events: none;
    color: var(--bs-black);
    width: 16px;
    height: 16px;
    font-size: 1rem;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
  }
}

.category-input-dropdown {
  border: none;
  cursor: pointer;
  padding-right: 40px;
}

.cdk-column-edit {
  text-align: right;
}
