.modal-header {
  font-size: 1.25rem;
}

// .image-btn {
//   background: none;
//   border: none;
//   cursor: pointer;
//   padding: 4px;
//   font-size: 1.2rem;
// }

// .checkbox-card {
//   width: 50px;
// }

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.col-completion {
  app-progress-bar {
    display: inline-block;
  }

  span {
    display: inline-block;
    margin-left: 5px;
  }
}

.col-completion-grid-align {
  display: flex;
  justify-content: normal;
  align-items: center;
}

.highlighted-col {
  color: var(--grid-highlight-text);
}

.thumb-wrap {
  max-height: 36px;
  height: 36px;
  max-width: 36px;
  width: 36px;
  border-radius: 4px;
  border: solid 1px transparent;
  box-shadow: 0px 0px 2px var(--grid-thumb-border);
  overflow: hidden;
}

.treeview-image {
  max-height: 36px;
  max-width: 36px;
  object-fit: contain;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  padding: 0;
  position: relative;

  .search-icon-wrap {
    top: 1px;
    left: 1px;
    width: 36px;
    height: 32px;
    padding: 8px 8px 8px 10px;
    border: solid 1px transparent;
    border-radius: 6px;

    .search-icon {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
      color: var(--label-shade);
      opacity: 1;
    }
  }

  input {
    min-width: 336px;
    padding: 0.5rem 2.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3;
    font-weight: 500;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    transition: box-shadow 0.2s ease;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #80bdff;
      border-color: #80bdff;
    }
  }

  .clear-search-cta {
    top: 1px;
    right: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    transition: opacity 0.1s ease-in-out;
    border: solid 1px transparent;
    border-radius: 6px;
    color: var(--bs-black);

    &:focus-visible,
    &:hover {
      opacity: 1;
    }

    .mat-icon {
      width: 0.75rem;
      height: 0.75rem;
      font-size: 0.75rem;
    }
  }
}

.placeholder-thumb {
  max-height: 36px;
  height: 36px;
  max-width: 36px;
  width: 36px;
  border-radius: 4px;
  border: solid 1px transparent;
  overflow: hidden;
}

.tree-wrap {
  border-color: var(--table-head-cell-border);
  border-width: 1px;
}

.thumb-col {
  width: 80px;
  max-width: 80px;
}
.move-icon {
  width: 16px !important;
  height: 16px !important;
}
