.viewer-container {
  height: calc(90vh - 50px);
}

.modal-header {
  font-size: 1rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
}

.modal-title {
  font-weight: 600;
  font-size: 1rem;
}

///////////////// CAD 3.21.1 CHANGES

#structure-panel {
  width: 300px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #dee2e6;
  font-size: 0.85rem;
}

#viewer-container-1 {
  // features/DFM
  font-size: 0.85rem;
}

#properties-panel {
  width: 300px;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #dee2e6;
}

#section-panel {
  width: 300px;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #dee2e6;
}

#pmi-panel {
  width: 300px;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #dee2e6;
  font-size: 0.85rem;
}

#selection-handling-panel {
  width: 300px;
  height: 100%;
  overflow: hidden;
  border-left: 1px solid #dee2e6;
}

#measurements-panel {
  font-size: 0.85rem;
}

.icon-file {
  background-image: url('/src/assets/images/file.svg') !important;
  background-position: center !important;
  background-size: unset !important;
}

.icon-assembly {
  background-image: url('/src/assets/images/assembly.svg') !important;
  background-position: center !important;
  background-size: unset !important;
}

.icon-instance {
  background-image: url('/src/assets/images/instance.svg') !important;
  background-position: center !important;
  background-size: unset !important;
}

.icon-part {
  background-image: url('/src/assets/images/part.svg') !important;
  background-position: center !important;
  background-size: unset !important;
}

#side-panel {
  width: 20rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

#side-panel > div:not(:first-child) {
  margin-top: 1rem;
}

#model-selector {
  position: relative;
  left: 0;
  top: 0;
}

#error-notification {
  position: absolute;
  font-size: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

#help-viewer {
  position: absolute;
  font-size: 0.75rem;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
}

#help-viewer > div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#help-viewer span {
  font-weight: bold;
}

#example-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#model-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

#model-viewer .cadex-logo {
  visibility: hidden;
  background-color: #ffffff !important;
  color: #dee2e6 !important;
}

//// CAD 3.21.1.Changes

#side-panel {
  width: 20rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

#model-selector {
  position: relative;
  left: 0;
  top: 0;
}

#exploder-slider {
  width: 100%;
  display: flex;
}

#exploder-value {
  margin-left: 1rem;
}

#exploder-fitall {
  display: flex;
  align-items: center;
}

#model-viewer {
  flex: 1 1 auto;
  height: 100%;
  width: auto;
  // overflow: hidden;
  position: relative;
}

.note-panel {
  max-width: 17%;
  border-left: 1px solid #ebebeb;
}

#notes-list {
  min-width: 300px;
  max-width: 30%;
  height: 100%;
  border-left: 1px solid #ebebeb;
}

#notes-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
}

#notes-container .card {
  width: auto;
}

#notes-container .card:hover {
  cursor: pointer;
}

#context-menu,
.note {
  position: absolute;
}

#context-menu {
  display: none;

  border-radius: 4px;
  /* Need to be the same as for button for not calling system context menu click. */
}

.card {
  width: 160px;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
}

#add-note-button {
  display: block;
  padding: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;

  background: #ffffff;

  border: 1px solid #ebebeb;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

#add-note-button:hover {
  cursor: pointer;
  color: #335eea;
}

.card {
  width: 240px;
  padding: 0.5rem;
}

.card input,
.card input:active,
.card input:focus {
  background: none;
  border: none;
  outline: none;
}

.note-label {
  padding: 0.5rem;
  flex: 1 1 auto;
  word-break: normal;
  overflow-wrap: anywhere;
  white-space: normal;
  text-align: left;
  vertical-align: top;
}

#model-viewer .card {
  min-width: 120px;
  width: auto;
  min-height: 32px;

  display: flex;
  align-items: center;

  background: #ffffff;
  box-shadow: none;
  padding: 0;

  border-radius: 6px;
}

#model-viewer .card .note-label {
  min-height: 32px;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;

  text-align: center;

  color: #333333;

  border: 1px solid #bebebe;
  border-radius: 6px;
}

.card.editing {
  width: auto;
  background: #ffffff;
  box-shadow: none;
  padding: 0;

  border: 1px solid #bebebe;
  border-radius: 6px;
}

.card.editing:hover,
.card.editing:focus {
  border: 1px solid #335eea;
}

.card__inner {
  display: flex;
  align-items: center;

  height: 32px;

  background: transparent;
}

.card__inner img {
  height: 24px;

  margin-right: 6px;
}

.card__inner img:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.card__inner input {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;

  color: #333333;
}

.card input {
  flex: 1 1 auto;
  // min-width: 100px;
  padding-left: 0.5rem;
}

.card input[type='number'] {
  -moz-appearance: textfield;
}

.card input::-webkit-outer-spin-button,
.card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.card + .card {
  margin-top: 1rem;
}

#notes-list #notes-container .card {
  display: flex;
  align-items: center;

  background: #ffffff;

  border: 1px solid #ebebeb;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
}

#notes-list #notes-container .card img {
  display: block;
  height: 24px;
}

#notes-list #notes-container .card img:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

#notes-list #notes-container .card .note-label {
  display: flex;
  align-items: center;

  padding: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;

  color: #333333;
}

.pin {
  width: 32px;
  height: 32px;
  background-color: #2d9cdb;
  border-radius: 60px 60px 0px 60px;
  transform: rotate(45deg) translate(-39px, -16px);
  transition: transform 250ms;
}

.pin:not(.active):hover {
  cursor: pointer;
  background-color: #1e7eb4;
}

.pin.active {
  background-color: #e57261;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 25%);
  transform: rotate(45deg) translate(-44px, -21px) scale(1.3);
}

.pin::after {
  content: '';
  width: 16px;
  height: 16px;
  background: white;
  position: absolute;
  left: 26%;
  top: 26%;
  border-radius: 60px;
}

#btn-add-plane,
#btn-clear {
  display: inline-block;
  margin: 2px;
}

.clip-planes {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 10px !important;
}

.plane-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;

  width: 15rem;
  margin-bottom: 0.5rem;

  background: #ffffff;

  border: 1px solid #ebebeb;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 4px;

  font-weight: 400;
  text-align: center;
  color: #212529;
  -webkit-appearance: button;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.plane-panel:hover {
  border: 1px solid #335eea;
}

.plane-panel:focus {
  border: 1px solid #335eea;
}

.plane-panel__axes-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.plane-panel__plane-title {
  display: inline-block;
  font-weight: bold;
  margin-right: 2rem;
}

.plane-panel__axis-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  width: 2rem;
}

.plane-panel__axis-section input {
  margin: 0;
}

.plane-panel__axis-section label {
  font-weight: bold;
}

.plane-panel__divider {
  width: 100%;
  height: 1px;
  background-color: #cfcfcf;
  margin: 0.5rem 0;
}

.plane-panel__reverse-checkbox-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plane-panel__reverse-checkbox-section label {
  margin-right: 1rem;
}

.plane-panel__position-range-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.plane-panel__position-percent {
  width: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
}

.plane-panel__delete-plane-btn {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.plane-panel__delete-plane-btn:hover {
  background: #f2f2f2;
}

.btn-container {
  width: 95%;
  height: 60px;
  text-align: center;

  .btn-toolbar {
    justify-content: center;
  }
}

#leftsidepanel {
  left: 0px;
  background: #fff;
  transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -webkit-transition: left 0.4s ease-in-out;
  display: block;
  z-index: 100;
  position: absolute;
  width: 275px;
  top: 0;

  .box {
    padding: 1px;
  }

  &.inactive {
    display: none;
  }
}

#rightsidepanel {
  width: 0px;
  right: 0px;
  background: #fff;
  transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -webkit-transition: right 0.4s ease-in-out;
  display: none;
  z-index: 100;
  position: absolute;

  .box {
    padding: 1px;
  }

  &.active {
    width: 100%;
    display: contents;
  }
}

button > img {
  height: 24px;
  width: 24px;
}

#file-scenegraph-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-right: 1px solid #ebebeb;
}
