<div class="modal-header flex items-center justify-between">
  <h4 class="modal-title" id="modal-basic-title">Compare Scenarios for "{{ projectName }}"</h4>
  <button aria-label="Close modal" title="Close Modal" class="modal-close flex items-center justify-center border-none bg-white" (click)="onCancel()">
    <mat-icon class="close-icon" matTooltip="Close" matTooltipPosition="above">close_icon</mat-icon>
  </button>
</div>
<div class="modal-body !pt-0">
  <form [formGroup]="searchForm" autocomplete="off">
    <div class="row">
      <div class="col-sm-4">
        <label for="partId" class="control-label">Choose a Part</label>
        <input
          type="text"
          class="form-control"
          placeholder="Select Part"
          formControlName="partId"
          [matAutocomplete]="partAuto"
          (keypress)="onPartFocus()"
          (focus)="onPartFocus()"
          (click)="onPartFocus()"
          (blur)="onPartBlur()" />
        <mat-autocomplete #partAuto="matAutocomplete" [displayWith]="displayPartName" (optionSelected)="onPartInfoChange($event)">
          <mat-option *ngFor="let part of filteredParts$ | async" [value]="part">
            <div>{{ part?.intPartNumber }}</div>
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="col-sm-4">
        <label for="partId" class="control-label">Choose Scenarios to Compare</label>
        <input type="text" class="form-control" placeholder="Select Scenarios" [matAutocomplete]="scenarioAuto" formControlName="scenarioId" (keydown)="$event.preventDefault()" />
        <mat-autocomplete #scenarioAuto="matAutocomplete" [displayWith]="displayScenarioName">
          <mat-option *ngFor="let scenarioPart of scenarioList" [value]="scenarioPart" (onSelectionChange)="optionScenarioClicked(scenarioPart)">
            <mat-checkbox [checked]="scenarioPart.selected" (change)="toggleScenarioSelection(scenarioPart)" (click)="$event.stopPropagation()">
              {{ scenarioPart?.scenario?.scenarioName }}
            </mat-checkbox>
          </mat-option>
        </mat-autocomplete>
      </div>
      <div class="col-sm-4 pt-4">
        <button type="button" class="btn btn-primary" [disabled]="searchForm.invalid" (click)="compareNow()">Compare</button>
        <button type="button" mat-mini-fab class="undo-button float-end me-3" matTooltip="Undo Hide" matTooltipPosition="left" *ngIf="hiddenScenarios.length > 0" (click)="showLastScenario()">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
<div class="modal-body border-top compare-container h-full flex flex-col min-h-0">
  <div class="row h-full flex flex-nowrap overflow-auto custom-scroller scenario-cards" *ngIf="selectedScenarios.length > 0 && compareAction === true">
    <ng-container *ngFor="let scenario of selectedScenarios">
      <div class="col-4 col-xxl-3 scenario-col" [ngClass]="{ 'd-none': hiddenScenarios.includes(scenario?.partInfoId) }">
        <div class="card position-relative font-medium">
          <div class="card-header flex items-center justify-center text-center sticky top-0 z-40 pr-5">
            <h2 class="card-header-text mb-0">{{ scenario?.scenario?.scenarioName }}</h2>
            <button aria-label="Remove" title="Remove" class="small-close-icon flex items-center justify-center border-none absolute right-4" (click)="hideScenario(scenario?.partInfoId)">
              <mat-icon class="close-icon" matTooltip="Close" matTooltipPosition="above">close_icon</mat-icon>
            </button>
          </div>
          <div class="card-body relative z-10">
            <app-costing-cost-summary [selectedPartId]="scenario?.partInfoId" [viewOnly]="true"></app-costing-cost-summary>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
