.file-upload-btn {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

.gerber-reader-container {
  margin: 1%;
  height: 90vh;
  overflow: auto;

  .p-datatable-table-container {
    overflow: auto;
    height: 50vh;
  }
}

.no-gerber-data-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: gray;
}

.file-upload-container {
  height: 5vh;
  display: flex;
  margin-left: 2%;
}

.upload-btn-container {
  margin-bottom: 1%;
}

.gerber-info-container {
  margin-bottom: 2%;
}

.copper-layer-container {
  width: max-content;
  display: flex;
  flex-flow: column;
  gap: 10px;
  border: 1px solid lightgray;
  padding: 4%;
  border-radius: 20px;
}

.drill-info-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.dimension-container {
  display: flex;
  flex-flow: column;
  gap: 10px;
  border: 1px solid lightgray;
  padding: 0% 4%;
  border-radius: 20px;
  width: 65%;
}

.copper-dimension-container {
  display: flex;
  flex-flow: row;
  gap: 2%;
  margin-bottom: 1%;
}

::ng-deep .p-datatable-table-container {
  overflow: auto;
  height: 45vh;
}
