<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Panel utilization List</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll()"></button>
</div>

<div class="modal-body" oncontextmenu="return false;">
  <div class="col-md-12">
    <div class="card">
      <div class="table-card-body data-table rounded-md">
        <form autocomplete="off" class="table-wrap">
          <table class="table table-striped" aria-describedby="">
            <thead>
              <tr>
                <th scope="col" style="width: 20%">X</th>
                <th scope="col" style="width: 1%">Y</th>
                <th scope="col" style="width: 7%">VALUE</th>
                <th scope="col" style="width: 7%">Utilization</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of calculatedUtilizationList; let i = index">
                <td>{{ item.x }}</td>
                <td>{{ item.y }}</td>
                <td>{{ item.res }}</td>
                <td>{{ item.percent }}</td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
