.cdk-overlay-container {
  z-index: 99999 !important;
}

.margintop {
  margin-top: 20px;
}

.modal-header {
  --bs-modal-header-padding: 1rem 0.5rem 1rem 1rem;
  --bs-modal-header-border-width: 0;
}

.modalfooter {
  --bs-modal-footer-border-width: 0;
  --bs-modal-footer-gap: 0;

  padding: 0.5rem 1rem 1rem 1rem;
}

::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}

.mat-option {
  padding: 0;

  div {
    padding: 0 16px;
  }
}

::ng-deep .mat-form-field .mat-form-field-label {
  font-size: 12px;
  /* Adjust the font size as needed */
}
