<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-12 mt-3">
      <div class="card card-border">
        <div class="card-header card-header-colour flex items-center sustainability-header">
          <span>Sustainability</span>
          <app-info-tooltip [infoId]="'Costing_Material_Sustainability'"></app-info-tooltip>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <label class="form-label no-wrap has-icon">
                <span class="label-text">CO2(kg)/kg -Material</span>
                <app-info-tooltip [infoId]="'Costing_Material_CO2KgMaterial'"></app-info-tooltip>
              </label>
              <input type="number" class="form-control" [OnlyNumber]="true" formControlName="co2KgMaterial" (blur)="calculateCost()" min="0" />
            </div>
            <div class="col-4">
              <label class="form-label no-wrap has-icon">
                <span class="label-text">CO2(kg)/Scrap</span>
                <app-info-tooltip [infoId]="'Costing_Material_CO2KgScrap'"></app-info-tooltip>
              </label>
              <input type="number" class="form-control" [OnlyNumber]="true" formControlName="co2KgScrap" (blur)="calculateCost()" min="0" />
            </div>
            <div class="col-4">
              <label class="form-label no-wrap has-icon">
                <span class="label-text">CO2(kg)/part:</span>
                <app-info-tooltip [infoId]="'Costing_Material_CO2KgPart'"></app-info-tooltip>
              </label>
              <input type="number" class="form-control" [OnlyNumber]="true" formControlName="co2KgPart" min="0" readonly="readonly" />
            </div>
          </div>
          <div class="row mt-3" [hidden]="true">
            <div class="col-4">
              <input type="number" class="form-control" [OnlyNumber]="true" formControlName="co2AnnualVolumeKg" min="0" readonly="readonly" />
            </div>
            <div class="col-4">
              <input type="number" class="form-control" [OnlyNumber]="true" formControlName="co2AnnualKgCO2" min="0" readonly="readonly" />
            </div>
            <div class="col-4">
              <input type="number" class="form-control" [OnlyNumber]="true" formControlName="co2AnnualKgCO2Part" min="0" readonly="readonly" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
