.df-tab-table-container {
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.machine-cost-header {
  display: flex;
  flex-flow: row;
  gap: 20px;
  align-items: center;
  margin-top: 1rem !important;
}

.df-add-icon {
  margin-top: 11px;
  font-size: larger;
  cursor: pointer;
}

.supplier-table-row-def {
  padding: 5px 5px;
  cursor: pointer;
  border-bottom: none;
}

.supplier-profile-header {
  font-size: 14px;
  font-weight: 600;
  color: #1d1d1d;
}

.new-material-add-container {
  display: flex;
  flex-flow: row;
  gap: 30px;
  margin-top: 20px;
}

.digital-factory-btn {
  height: 36px;
  font-size: 12px;
  font-weight: 400;
  flex-flow: row;
  align-items: center;
  min-width: 135px;
  display: flex;
  justify-content: center;
}

.df-empty-info {
  height: 50vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.df-empty-info-icon {
  height: 130px;
  width: 160px;
}

.df-empty-info-text {
  font-weight: 500;
  font-size: 16px;
}

.df-input-editable-field {
  width: 15vh;
  background: #f4f4f4;
  padding: 10px;
}

:host ::ng-deep {
  .mat-table {
    width: max-content;
    background: #fff;
  }

  .mat-mdc-header-row {
    background: #f5f6f9;
  }

  .mat-mdc-header-cell {
    border-bottom: 1px solid var(--badge-border);
  }

  .mat-header-cell,
  .mat-mdc-cell,
  .mat-footer-cell,
  .mdc-data-table__cell {
    padding: 6px 8px;
  }
  .mat-mdc-cell {
    line-height: 47%;
  }

  .mat-header-row {
    min-height: 34px;
  }

  .mat-paginator-container {
    max-height: 53px;
    min-height: 53px;
  }

  .mat-option-text {
    font-size: 12px;
  }

  .mdc-data-table__row:last-child > .mat-mdc-cell {
    border-bottom: 1px solid #e9e9e9;
  }
  .mat-mdc-row {
    height: auto;
    line-height: 0;
  }
}
.cdk-column-edit,
.cdk-column-volumePurchased,
.cdk-column-price,
.cdk-column-scrapPrice {
  text-align: right;
  max-width: 100px;
}

.cdk-column-remove {
  text-align: center;
}
.cdk-column-marketComparison {
  max-width: 112px;
}

.active-row {
  background: var(--table-head-row-bg);
}

.notification {
  text-align: left;
  .mat-icon {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    margin-bottom: -2px;
  }
}

.icon-delete {
  .mat-icon {
    width: 24px;
    height: 24px;
  }
}
