.clt,
.clt ul,
.clt li {
  position: relative;
  padding-top: 2px;
  padding-left: 2px;
}

.clt ul {
  list-style: none;
  padding-left: 32px;
  padding-top: 11px;
}

.clt li::before,
.clt li::after {
  content: '';
  position: absolute;
  left: -12px;
}

.clt li::before {
  border-top: 1px solid #000;
  top: 28px;
  width: 9px;
  height: 0;
}

.clt li::after {
  border-left: 1px solid #000;
  height: 100% !important;
  width: 0px;
  top: -21px;
}

.clt ul > li:first-child::after {
  height: 56px !important;
}

.clt ul > li:first-child::before {
  top: 35px !important;
}

.clt ul > li:last-child::after {
  height: 23px;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 20px;
  padding-right: 5px;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 5px;
  padding-right: 20px;
  text-align: right;
}

.width94p {
  width: 94% !important;
}

.percentage {
  margin-top: 13px;
}
