<ng-container [formGroup]="formGroup">
  <div class="card mt-3">
    <div class="card-header">OH Calculations</div>
    <div class="card-body">
      <div class="clt container-fluid">
        <div class="row gx-5">
          <ul>
            <div class="row row-cols-4 mt-3">
              <div class="col-md-5">
                <label class="form-label" for="inputDefault">Overhead</label>
                <a mat-button (click)="clickIcon('OverHead')">
                  <span class="material-icons">{{ OverHeadIcon }}</span>
                </a>
              </div>
              <div class="col mx-2"></div>
              <div class="col ng-star-inserted">
                <div class="input-icon">
                  <input type="text" style="text-align: right" class="form-control width94p" formControlName="OverheadandProfitAmount" readonly="readonly" />
                  <i>$</i>
                </div>
              </div>
            </div>
            <div *ngIf="isShowOverHead">
              <ul>
                <li>
                  <div class="row row-cols-4 mt-3">
                    <div class="col-md-5">
                      <label class="form-label" for="inputDefault">Material overhead:</label>
                    </div>
                    <div class="col">
                      <div class="input-icon input-icon-right">
                        <input type="number" #mohPer style="text-align: right" class="form-control" (blur)="calculateOHCost()" formControlName="MaterialOHPercentage" [OnlyNumber]="true" min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="MaterialOHAmount" readonly="readonly" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row row-cols-4 mt-3">
                    <div class="col-md-5">
                      <label class="form-label" for="inputDefault">Factory overhead:</label>
                    </div>
                    <div class="col">
                      <div class="input-icon input-icon-right">
                        <input type="number" #fohPer class="form-control" style="text-align: right" (blur)="calculateOHCost()" formControlName="FactoryOHPercentage" [OnlyNumber]="true" min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" formControlName="FactoryOHAmount" readonly="readonly" style="text-align: right" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row row-cols-4 mt-3">
                    <div class="col-md-5">
                      <label class="form-label" for="inputDefault">SG & A:</label>
                    </div>
                    <div class="col">
                      <div class="input-icon input-icon-right">
                        <input type="number" #sgaPer class="form-control" (blur)="calculateOHCost()" formControlName="SGandAPercentage" style="text-align: right" [OnlyNumber]="true" min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="SGandAAmount" readonly="readonly" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row row-cols-4 mt-3">
                    <div class="col-md-5">
                      <label class="form-label" for="inputDefault">Warrenty:</label>
                    </div>
                    <div class="col">
                      <div class="input-icon input-icon-right">
                        <input type="number" #sgaPer class="form-control" (blur)="calculateOHCost()" formControlName="warrentyPercentage" style="text-align: right" [OnlyNumber]="true" min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="warrentyAmount" readonly="readonly" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ul>
          <ul>
            <div class="row row-cols-4 mt-3">
              <div class="col-md-2 mx-2">
                <label class="form-label" for="inputDefault">Profit:</label>
              </div>
              <div class="col">
                <div class="input-icon input-icon-right">
                  <label class="form-label" for="inputDefault">Material:</label>
                  <input
                    type="number"
                    class="form-control"
                    style="text-align: right"
                    (blur)="calculateOHCost()"
                    formControlName="MaterialProfitPercentage"
                    id="MaterialProfitPercentage"
                    matTooltip="Material Profit Percentage"
                    #profitPer
                    [OnlyNumber]="true"
                    min="0" />
                  <i class="percentage">%</i>
                </div>
              </div>
              <div class="col">
                <div class="input-icon input-icon-right">
                  <label class="form-label" for="inputDefault">Manufacturing:</label>
                  <input
                    type="number"
                    class="form-control"
                    style="text-align: right"
                    (blur)="calculateOHCost()"
                    formControlName="ProcessProfitPercentage"
                    id="ProcessProfitPercentage"
                    matTooltip="Process Profit Percentage"
                    #profitPer
                    [OnlyNumber]="true"
                    min="0" />
                  <i class="percentage">%</i>
                </div>
              </div>
              <div class="col">
                <div class="input-icon">
                  <label class="form-label percentage" for="inputDefault"></label>
                  <input type="text" class="form-control width94p" style="text-align: right" formControlName="ProfitAmount" readonly="readonly" />
                  <i class="percentage">$</i>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
