<div class="card-body" [formGroup]="timeTestingForm">
  <div class="row">
    <div class="col left">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Gluing Operation:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Gluing Operation" formControlName="gluingOperation" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Inspection after Through Hole Operations:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Inspection after Through Hole Operations" formControlName="inspectionAfterHoleOperations" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">AXI:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="AXI" formControlName="AXI" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Mechanic Integration:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Mechanic Integration" formControlName="mechanicIntegration" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Final Inspection:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Final Inspection" formControlName="finalInspection" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Machine Conformal Coating:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Machine Conformal Coating" formControlName="machineConformalCoating" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Flying Probe Test:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Flying Probe Test" formControlName="flyingProbeTest" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">No of Mech holes &amp; components to be masked, demasked for conformal coating:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="No of Mech holes & components to be masked, demasked for conformal coating" formControlName="noofMechHoles" />
      </div>
    </div>
    <div class="col right">
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Modification,if any:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Modification,if any" formControlName="Modification" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">IC Programming:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="IC Programming" formControlName="ICProgramming" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Manual Conformal Coating:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Manual Conformal Coating" formControlName="manualConformalCoating" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Manual X-ray Inspection:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Manual X-ray Inspection" formControlName="manualXrayInspection" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Final Testing:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Final Testing" formControlName="finalTesting" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Packing:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Packing" formControlName="packing" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Automatic Optical Inspection:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Automatic Optical Inspection" formControlName="automaticOpticalInspection" />
      </div>
      <div class="mt-2">
        <label for="inputEmail4" class="mb-2">Hot Bar soldering:</label>
        <input type="number" class="form-control hideupdownnumberinput" placeholder="Hot Bar soldering" formControlName="hotBarSoldering" />
      </div>
    </div>
  </div>
</div>
