.competitive-analysis-view {
  .filters {
    .filter-chip {
      padding: 4px 8px;
      border-radius: 0;
      text-transform: none;
      color: var(--bs-black);
      border-top: 1px solid var(--component-border);
      border-bottom: 1px solid var(--component-border);
      border-right: 1px solid var(--component-border);

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-left: 1px solid var(--component-border);
      }
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-right: 1px solid var(--component-border);
      }

      &.active {
        border-radius: 6px;
        color: var(--bs-black);
        border: 1px solid var(--primary-shade);
      }
    }
  }

  .chart-wrapper {
    width: 100%;
    max-width: 100%;
    min-height: 600px;
    .bubble-chart {
      width: 100%;
      height: 100%;
      display: block;
    }
    .highcharts-container {
      width: 100%;
      max-width: 100%;
    }
  }

  .summary-grid {
    .metric-card {
      display: flex;
      padding: 10px 12px;
      border-radius: 10px;
      background: var(--table-head-row-bg);
      .metric-item {
        position: relative;
        padding: 0 16px;
        &::after {
          top: 50%;
          right: 0;
          width: 1px;
          left: auto;
          height: 90%;
          content: '';
          position: absolute;
          transform: translateY(-50%);
          background-color: var(--archive-grey);
        }
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          &::after {
            display: none;
          }
        }
      }

      .label {
        margin: 0;
        font-size: 12px;
        color: var(--label-text);
      }
      .value {
        margin: 0;
        &.value-increase {
          color: var(--esg-tab-green);
        }
        &.value-decrease {
          color: var(--stock-red-text);
        }
      }
    }
  }

  .right-panel {
    width: 340px;
    border-left: 1px solid var(--component-border);

    .placeholder-img {
      width: 72px;
      height: 74px;
      display: block;
      object-fit: contain;
    }
    .section-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0px;
      color: var(--bs-black);
      padding: 16px 0 8px 0;
    }
    .p-drawer-header {
      align-items: flex-start;
      padding: 16px 16px 4px 16px;
    }

    .info-section {
      position: relative;
      margin-bottom: 16px;
      &::before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        margin-bottom: 16px;
        background-color: var(--component-border);
      }
      &:first-child:before {
        display: none;
      }
      &:nth-of-type(1):before {
        display: none;
      }
      .info-grid {
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
      }
      .info-group {
        width: calc((100% - 12px) / 2);
      }

      .more-info-label,
      .more-info-value {
        font-size: 12px;
        line-height: 150%;
        letter-spacing: 0px;
      }
      .more-info-label {
        color: var(--label-shade);
      }
      .more-info-value {
        color: var(--bs-black);
      }
    }
  }
}
