<div class="ai-column-view d-flex">
  <!-- LEFT: list of cards -->
  <aside class="left-list" (scroll)="onScroll($event)">
    <div class="column-cards">
      <div class="ai-card" *ngFor="let item of dataSource" [class.selected]="selectedItem?.partId === item.partId" (click)="selectItem(item)" [class.checked]="isItemChecked(item)">
        <div class="ai-card-wrap">
          <div class="ai-card-media">
            <div *ngIf="item.imgThumbnailData && item.pdfThumbnailData" class="carousel-container">
              <div class="flex justify-between items-center w-full carousel-inner-container">
                <button class="nav-button prev-button icon-btn" (click)="onImageViewChange(item, 'prev')" aria-label="prev">
                  <mat-icon svgIcon="dropdown-down-icon"></mat-icon>
                </button>
                <div class="carousel-inner flex overflow-hidden justify-center items-center">
                  <div class="carousel-slides-container" [style.transform]="'translateX(' + (item.imageShowing === 'pdf' ? '-100%' : '0') + ')'">
                    <div class="carousel-slide">
                      <img *ngIf="item.imgThumbnailData" src="data:image/png;base64,{{ item.imgThumbnailData }}" alt="part" class="img-fluid" />
                    </div>
                    <div class="carousel-slide">
                      <img *ngIf="item.pdfThumbnailData" src="data:image/png;base64,{{ item.pdfThumbnailData }}" alt="part" class="img-fluid" />
                    </div>
                  </div>
                </div>
                <button class="nav-button next-button icon-btn" (click)="onImageViewChange(item, 'next')" aria-label="next">
                  <mat-icon svgIcon="dropdown-down-icon"></mat-icon>
                </button>
              </div>
              <ul class="dots-container">
                <li class="dot-li" [class.active]="item.imageShowing === 'cad'" (click)="setImageView(item, 'cad')" tabindex="0">
                  <button class="dot"></button>
                </li>
                <li class="dot-li" [class.active]="item.imageShowing === 'pdf'" (click)="setImageView(item, 'pdf')">
                  <button class="dot"></button>
                </li>
              </ul>
            </div>

            <!-- Single image -->
            <div *ngIf="item.imgThumbnailData && !item.pdfThumbnailData" class="single-media">
              <img src="data:image/png;base64,{{ item.imgThumbnailData }}" alt="part" class="img-fluid" />
            </div>

            <!-- Single pdf thumbnail -->
            <div *ngIf="!item.imgThumbnailData && item.pdfThumbnailData" class="single-media">
              <img src="data:image/png;base64,{{ item.pdfThumbnailData }}" alt="pdf thumbnail" class="img-fluid" />
            </div>

            <!-- fallback loading icon -->
            <div *ngIf="!item.imgThumbnailData && !item.pdfThumbnailData" class="single-media">
              <img alt="" src="../../../../../../assets/icons/loading-bar.svg" class="img-fluid" />
            </div>
            <label class="ai-card-checkbox">
              <input type="checkbox" class="form-check-input" (change)="onCheckboxChange($event, item)" [checked]="isItemChecked(item)" />
            </label>
          </div>
          <div class="ai-card-body">
            <div class="ai-card-actions">
              <button class="icon-btn" title="View similar parts" aria-label="View similar parts">
                <mat-icon svgIcon="search_icon"></mat-icon>
              </button>
              <button class="icon-btn" title="Open Properties" aria-label="Open Properties">
                <mat-icon svgIcon="cube-light-icon"></mat-icon>
              </button>
              <button class="icon-btn" title="Go to costing" aria-label="Go to costing">
                <mat-icon svgIcon="currency-light-icon"></mat-icon>
              </button>
              <button class="icon-btn" title="More info" aria-label="More info">
                <mat-icon svgIcon="info-icon-black"></mat-icon>
              </button>
            </div>
            <div class="part-header flex justify-between items-end">
              <div class="w-full">
                <h3 class="part-number text-sm font-semibold truncate">{{ item.intPartNumber || '991029_2941123' }}</h3>
                <p class="part-desc text-xs truncate">
                  {{
                    item.intPartDescription ||
                      'Description can be a long text that
                  can be 2 liness'
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <!-- RIGHT: details for selected item -->
  <section class="right-details flex-1 p-3" *ngIf="selectedItem; else emptyState">
    <div class="search-header mb-1">
      <div class="header-text">
        <h3 class="font-semibold text-sm text-black mb-0">{{ selectedItem.intPartNumber }}</h3>
        <div class="text-xs">{{ selectedItem.intPartDescription }}</div>
      </div>
    </div>
    <div class="info-section score-sec">
      <h4 class="section-title">Scores & Cost Insights</h4>
      <div class="info-grid">
        <div class="info-group">
          <div class="more-info-label">Purchased Price</div>
          <span class="value-increase">{{ selectedItem.purchasePrice || '—' }}</span>
        </div>
        <div class="info-group">
          <div class="more-info-label">Should Cost</div>
          <span class="value-decrease">{{ selectedItem.shouldCost || '—' }}</span>
        </div>
        <div class="info-group">
          <div class="more-info-label">Annual Spend</div>
          <span class="more-info-value">${{ selectedItem.currMaterialCost || '—' }}</span>
        </div>
        <div class="info-group">
          <div class="more-info-label">Competitiveness</div>
          <span class="more-info-value value-decrease">{{ selectedItem.competitivenessScore }}%</span>
        </div>
        <div class="info-group">
          <div class="more-info-label">Complexity Score</div>
          <span class="more-info-value value-increase">{{ selectedItem.complexityScore }}%</span>
        </div>
      </div>
    </div>
    <div class="flex gap-3">
      <div class="info-section w-full">
        <h4 class="section-title">Dimensions & Physical Data</h4>
        <div class="info-grid">
          <div class="info-group">
            <div class="more-info-label">Size (L×W×H):</div>
            <div class="more-info-value">{{ selectedItem.dimArea }}</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Surface Area</div>
            <div class="more-info-value">{{ selectedItem.surfaceArea }} mm²</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Volume</div>
            <div class="more-info-value">{{ selectedItem.volume }} mm³</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Weight</div>
            <div class="more-info-value">{{ selectedItem.netWeight }} g</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Annual Volume</div>
            <div class="more-info-value">{{ selectedItem.annualVolume || '—' }} qty</div>
          </div>
        </div>
      </div>
      <div class="info-section w-full">
        <h4 class="section-title">Part Information</h4>
        <div class="info-grid">
          <div class="info-group">
            <div class="more-info-label">Created By</div>
            <div class="more-info-value">{{ userInfos ? userInfos[selectedItem.createdUserId] : '-' }}</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Date Created</div>
            <div class="more-info-value">{{ selectedItem.createdDate | date: 'mediumDate' }}</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Project Number</div>
            <div class="more-info-value">{{ selectedItem.projectInfoId }}</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Supplier City</div>
            <div class="more-info-value">{{ supplierInfo[selectedItem.vendorId]?.city }}</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Supplier Country</div>
            <div class="more-info-value">{{ countryDataList[selectedItem.mfrCountryId]?.countryName }}</div>
          </div>
          <div class="info-group">
            <div class="more-info-label">Drawing Number</div>
            <div class="more-info-value">{{ selectedItem.drawingNumber }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-template #emptyState>
    <div class="right-details-empty flex-1 flex items-center justify-center text-muted">Select a card from the left to view details</div>
  </ng-template>
  <div class="selection-dock flex items-center p-2 bg-white" *ngIf="checkedItems.size > 1 || currentAiSearchState === 4">
    <button class="btn icon-btn leading-none p-0 w-5 h-5 opacity-100 transition-opacity focus:opacity-100 hover:opacity-100 close-cta icon-12" title="Reset Comparison" (click)="resetCompare()">
      <mat-icon svgIcon="close_icon" color="y-icon"></mat-icon>
    </button>
    <p class="mb-0 px-2 mx-2 selection-dock-text whitespace-nowrap">{{ checkedItems.size }} Selected</p>
    <button
      *ngIf="checkedItems.size === 2"
      type="button"
      class="btn btn-primary btn-lg d-flex align-items-center justify-content-center icon-16 min-w-32 gap-2"
      title="Compare"
      (click)="compareWithSearched()">
      <span>Compare Models</span>
    </button>
    <button type="button" class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center icon-16 min-w-32 gap-2" title="Compare" (click)="compareParts()">
      <span>Compare</span>
    </button>

    <button type="button" class="btn btn-outline-primary btn-lg d-flex align-items-center justify-content-center icon-16 min-w-32 gap-2" title="Clear" (click)="resetCompare()">
      <mat-icon class="d-flex align-items-center justify-content-center" svgIcon="delete_icon"></mat-icon>
      <span>Clear</span>
    </button>
  </div>
</div>
