.ai-column-view {
  .left-list {
    height: auto;
    width: 284px;
    min-width: 280px;
    max-width: 284px;
    overflow-y: auto;
    transition: width 0.3s;
    max-height: calc(100vh - 138px);
  }

  .column-cards {
    gap: 0;
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
  }
  .ai-card {
    padding: 12px;
    transition: all 0.3s;
    background: var(--bs-white);
    border-bottom: 1px solid var(--bs-border-color);
    &.selected {
      position: relative;
      background-color: var(--table-border);
      border-bottom: 1px solid transparent;
      &::before {
        top: 0;
        left: 0;
        width: 2px;
        content: '';
        height: 100%;
        position: absolute;
        background-color: var(--primary-shade);
      }
    }
    &.checked {
      .ai-card-wrap {
        border: 1px solid var(--primary-shade);
      }
    }
    .ai-card-wrap {
      display: flex;
      padding: 12px;
      overflow: hidden;
      border-radius: 10px;
      flex-direction: column;
      background: var(--bs-white);
      border: 1px solid var(--bs-white);
    }

    .ai-card-media {
      padding: 8px;
      height: 152px;
      display: flex;
      overflow: hidden;
      position: relative;
      border-radius: 6px;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      background: var(--bs-btn-disabled-bg);

      .single-media {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
      }

      img {
        width: auto;
        height: auto;
        display: block;
        max-width: 100%;
        max-height: 150px;
        object-fit: contain;
      }

      .ai-card-checkbox {
        top: 8px;
        right: 8px;
        cursor: pointer;
        position: absolute;

        input {
          margin: 0;
          width: 20px;
          height: 20px;
          cursor: pointer;
          box-shadow: none;
        }
      }
    }
    .ai-card-body {
      .ai-card-actions {
        gap: 8px;
        display: flex;
        margin: 12px 0 16px 0;

        .icon-btn {
          width: 100%;
          height: 32px;
          padding: 6px;
          cursor: pointer;
          border-radius: 6px;
          align-items: center;
          display: inline-flex;
          justify-content: center;
          transition: border 0.2s;
          border: 1px solid transparent;
          background: var(--icon-btn-hover);
          &:hover {
            border: 1px solid var(--primary-shade);
          }

          mat-icon {
            width: 20px;
            height: 20px;
            color: var(--bs-black);
          }
        }
      }
      .part-desc {
        color: var(--label-shade);
      }
      .part-number {
        margin-bottom: 4px;
        color: var(--sub-heading-text);
      }
    }
  }
  .carousel-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;

    .carousel-inner {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .carousel-slides-container {
      display: flex;
      width: 200%;
      height: 100%;
      transition: transform 0.3s ease-in-out;

      .carousel-slide {
        width: 100%;
        display: flex;
        flex-shrink: 0;
        max-height: 100px;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }

    .nav-button {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      justify-content: center;
      transition: border 0.2s;
      border: 1px solid transparent;

      &.prev-button {
        transform: rotate(90deg);
      }

      &.next-button {
        transform: rotate(-90deg);
      }
    }

    .dots-container {
      display: flex;
      margin-top: 4px;
      margin-bottom: 0;
      align-items: center;
      justify-content: center;

      .dot-li {
        width: 16px;
        height: 16px;
        margin: 0 2px;
        display: flex;
        flex-shrink: 0;
        cursor: pointer;
        border-radius: 50%;
        align-items: center;
        justify-content: center;

        &.active {
          .dot {
            background: var(--bs-primary);
          }
        }
      }

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #e0e0e0;
        transition: background-color 0.3s;
      }
    }
  }
  /* RIGHT details pane */
  .right-details {
    flex: 1;
    min-width: 0;
    overflow: auto;
    background: var(--table-border);

    .search-header {
      display: flex;
      gap: 20px;
      align-items: flex-start;

      .header-text {
        flex: 1;
      }
    }

    .info-section {
      padding: 16px;
      margin-top: 16px;
      border-radius: 10px;
      background: var(--bs-white);
      border: 1px solid var(--bs-border-color);
      &.score-sec {
        .info-grid {
          column-gap: 32px;
          row-gap: 16px;
        }
        .info-group {
          width: auto;
          padding: 0 32px 0 0;
          position: relative;
          &::after {
            top: 50%;
            left: auto;
            width: 1px;
            right: 0;
            content: '';
            height: 24px;
            position: absolute;
            transform: translateY(-50%);
            border-left: 1px solid var(--bs-border-color);
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
          .more-info-label {
            color: var(--sub-heading-text);
          }
        }
      }
      .section-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0px;
      }

      .info-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }

      .info-group {
        width: calc((100% - 12px) / 2);
        .more-info-label {
          color: var(--sub-heading-text);
          font-size: 14px;
        }

        .more-info-value {
          font-size: 16px;
          font-weight: 500;
          color: var(--sub-heading-text);
        }

        .more-info-label,
        .more-info-value {
          font-size: 12px;
          line-height: 150%;
          letter-spacing: 0px;
        }
        .more-info-label {
          color: var(--label-shade);
        }
        .more-info-value {
          color: var(--bs-black);
          &.value-increase {
            color: var(--table-green-text);
          }
          &.value-decrease {
            color: var(--red-text);
          }
        }
      }

      .info-grid {
        gap: 12px;
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

.selection-dock {
  position: fixed;
  z-index: 300;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 38px;
  border-radius: 6px;
  transform: translate(-60%, -90%);
  box-shadow: 0px 0px 30px 0px #3166c21a;

  button {
    white-space: nowrap;
    font-family: var(--body-font);
    margin: 0 6px;
  }
  .btn-outline-primary {
    --bs-btn-active-color: var(--primary-shade);
    &:active {
      color: var(--primary-shade);
    }
  }
}

.selection-dock-text {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}
