<ng-container [formGroup]="formGroup">
  <div class="row">
    <!-- <div class="row mt-3" *ngIf="compVals.processFlag.IsCustomCableDrawing"> -->
    <div class="row mt-3">
      <div class="col-4">
        <label class="form-label no-wrap">Draw speed(Mtr per Min):</label>
        <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cuttingSpeed'"></app-field-comment>
        <input
          type="number"
          [ngClass]="{ 'input-mandatory': f.cuttingSpeed.errors, 'input-valid': f.cuttingSpeed.valid }"
          formControlName="cuttingSpeed"
          (blur)="calculateCost()"
          class="form-control"
          [OnlyNumber]="true"
          min="0" />
      </div>
      <div class="col-4">
        <label class="form-label no-wrap">Number Of Draw Steps:</label>
        <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'dryCycleTime'"></app-field-comment>
        <input
          type="number"
          [ngClass]="{ 'input-mandatory': f.dryCycleTime.errors, 'input-valid': f.dryCycleTime.valid }"
          formControlName="dryCycleTime"
          (blur)="calculateCost()"
          class="form-control"
          [OnlyNumber]="true"
          min="0" />
      </div>
      <div class="col-4">
        <label class="form-label no-wrap">Percentage of Reduction(%):</label>
        <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partEjection'"></app-field-comment>
        <input
          type="number"
          [ngClass]="{ 'input-mandatory': f.partEjection.errors, 'input-valid': f.partEjection.valid }"
          formControlName="partEjection"
          (blur)="calculateCost()"
          class="form-control"
          [OnlyNumber]="true"
          min="0" />
      </div>
    </div>
    <div class="col-4 mt-3 offset-8">
      <label class="form-label no-wrap">Net Process Cost($):</label>
      <input type="number" formControlName="directProcessCost" class="form-control" readonly="readonly" />
    </div>
    <!-- <div class="row mt-3"
            *ngIf="compVals.processFlag.IsCustomCableAnnealing||compVals.processFlag.IsCustomCableThinning||compVals.processFlag.IsCustomCableTensionStreach||compVals.processFlag.IsCustomCableExtruder||compVals.processFlag.IsCustomCableDiameterControl||compVals.processFlag.IsCustomCableCoreLayUp||compVals.processFlag.IsCustomCableSheathing||compVals.processFlag.IsCustomCableSparkTest||compVals.processFlag.IsCustomCableCableMarking||compVals.processFlag.IsCustomCableSpooler">
            <div class="col-4">
                <label class="form-label no-wrap">Draw speed(Mtr per Min):</label>
                <ng-container *ngTemplateOutlet="cuttingSpeed;context:{labelRequired:false}"></ng-container>
            </div>
        </div> -->
  </div>
</ng-container>
