<ng-container [formGroup]="formGroup">
  <div class="row mt-3">
    <div class="col-4">
      <label class="form-label no-wrap">Number of Parts in a CT (Nos)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="drillDiameter"></app-field-comment>
      <input type="number" [OnlyNumber]="true" min="0" formControlName="drillDiameter" class="form-control" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Part Surface Area (mm^2)</span>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="MoldTemp"></app-field-comment>
      <input type="number" formControlName="moldTemp" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" readonly />
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Particle Application Time (sec)</span>
      </label>
      <input type="number" formControlName="requiredCurrent" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Magnetic Field Application Time (sec)</span>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="initialTemp"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.initialTemp.errors, 'input-valid': f.initialTemp.valid }"
        formControlName="initialTemp"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Visual Inspection Time (sec)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" fieldIdentifier="finalTemp"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.finalTemp.errors, 'input-valid': f.finalTemp.valid }"
        formControlName="finalTemp"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Demagnetization Time (sec)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partArea'"></app-field-comment>
      <input type="number" formControlName="partArea" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap">Documentation Time (sec)</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'powerSupply'"></app-field-comment>
      <input type="number" formControlName="powerSupply" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
  </div>
</ng-container>
