div {
  overflow-x: auto;

  table {
    width: 100%;
  }

  .table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    display: inline-block;
  }
}

.material-table-btn {
  padding: 11px;
  font-size: 0.75rem;

  .mat-icon {
    max-width: 8px;
    max-height: 12px;
    font-size: 8px;
  }
}

.p-icon-delete {
  mat-icon {
    color: var(--bs-black);
    svg {
      width: 12px;
      height: 12px;
    }
  }
}

.bom-accordion-form .custom-p-table {
  .p-datatable-thead th:not([class*='min-w-']),
  .p-datatable-tbody td:not([class*='min-w-']) {
    min-width: 130px;
  }

  .p-datatable-thead th,
  .p-datatable-tbody td {
    border: none;
    padding: 5px 8px;
    max-width: 210px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  .p-datatable-tbody {
    tr {
      border-bottom: 1px solid var(--blue-light-border);
      &:hover {
      }
      td {
        font-size: 14px;
        border: none;
      }
    }
  }

  .p-datatable-thead th {
    border-top: 0;
    line-height: 130%;
    vertical-align: top;
    white-space: nowrap;
    background-color: var(--material-table-header-bg);
    border-bottom: 1px solid var(--badge-border);
  }

  .partial,
  .grid-bg-color .partial {
    background-color: var(--bg-light-yellow);
    color: var(--text-dark-brown);
  }
  .no-match,
  .grid-bg-color .no-match {
    background-color: var(--bg-light-red);
    color: var(--text-dark-red);
  }
}

tr.grid-new-bg-color {
  background: var(--light-red);
  color: var(--stock-red-text);
  --table-hover-bg: var(--light-red);

  &:hover {
    background-color: var(--light-red);
    color: var(--stock-red-text);
  }
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

table,
tr,
td {
  overflow: visible !important;
}

td,
tr,
table {
  overflow: visible !important;
}

.img-div {
  position: relative;
  display: inline-block;
  cursor: zoom-in;
}

.zoom-popup {
  position: fixed !important;
  z-index: 9999;
  border: 1px solid #888;
  background: #fff;
  padding: 5px;
}

.zoom-popup img {
  width: 350px;
  height: auto;
}

:host ::ng-deep .p-datatable-tbody > tr > td {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
}

:host ::ng-deep th#mpn,
:host ::ng-deep td#mpn {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
  text-align: left;
}

:host ::ng-deep th#partMatch,
:host ::ng-deep td#partMatch {
  width: 80px !important;
  min-width: 80px !important;
  max-width: 80px !important;
  text-align: left;
}

:host ::ng-deep th#partImage,
:host ::ng-deep td#partImage {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  text-align: left;
}

:host ::ng-deep th#qty,
:host ::ng-deep td#qty {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  text-align: left;
}
:host ::ng-deep th#uom,
:host ::ng-deep td#uom {
  width: 50px !important;
  min-width: 50px !important;
  max-width: 50px !important;
  text-align: left;
}
:host ::ng-deep th#family,
:host ::ng-deep td#family {
  width: 150px !important;
  min-width: 150px !important;
  max-width: 150px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  padding: 0 4px !important;
  box-sizing: border-box !important;
  text-align: left;
}

:host ::ng-deep th#type,
:host ::ng-deep td#type {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
  text-align: left;
}

:host ::ng-deep th#status,
:host ::ng-deep td#status {
  width: 120px !important;
  min-width: 120px !important;
  max-width: 120px !important;
  text-align: left;
}
:host ::ng-deep th#description,
:host ::ng-deep td#description {
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  padding: 0 4px !important;
  box-sizing: border-box !important;
}
:host ::ng-deep th#preferredDistributor,
:host ::ng-deep td#preferredDistributor {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  text-align: left;
}
:host ::ng-deep th#currentCost,
:host ::ng-deep td#currentCost {
  width: 80px !important;
  min-width: 80px !important;
  max-width: 80px !important;
  text-align: left;
}
:host ::ng-deep th#extendedCost,
:host ::ng-deep td#extendedCost {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  text-align: left;
}

:host ::ng-deep th#extendedCost,
:host ::ng-deep td#extendedCost {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left;
}
:host ::ng-deep th#currentUnitPrice,
:host ::ng-deep td#currentUnitPrice {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left;
}
:host ::ng-deep th#savingOpp,
:host ::ng-deep td#savingOpp {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left;
}
:host ::ng-deep th#annualSavingOpp {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left;
}
:host ::ng-deep th#partialMatchMpn,
:host ::ng-deep td#partialMatchMpn {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left;
}
:host ::ng-deep th#action,
:host ::ng-deep td#action {
  width: 80px !important;
  min-width: 80px !important;
  max-width: 80px !important;
  white-space: normal !important;
  word-wrap: break-word;
  text-align: left;
}

.p-datatable thead th {
  overflow: visible !important;
  position: relative !important;
  z-index: 10;
}
th#family,
th#family * {
  overflow: visible !important;
  position: relative !important;
  z-index: 100;
}
.p-dropdown-panel {
  z-index: 99999 !important;
}

/* Optional: visual hint for tooltip */
:host ::ng-deep td#description:hover {
  cursor: help;
}
