<ng-container *ngIf="f">
  <form [formGroup]="costingPackagingForm" (ngSubmit)="onFormSubmit()" autocomplete="off" (change)="onFormValueChange()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Parts per Shipment</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Parts_Per_Shipment')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="partsPerShipment"
            [ngClass]="{ 'input-mandatory': f.partsPerShipment.errors, 'input-valid': f.partsPerShipment.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Weight per shipment (Kgs)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Weight_Per_Shipment')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="weightPerShipment"
            [ngClass]="{ 'input-mandatory': f.weightPerShipment.errors, 'input-valid': f.weightPerShipment.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Volume per shipment (m3)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Volume_Per_Shipment')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="volumePerShipment"
            [ngClass]="{ 'input-mandatory': f.volumePerShipment.errors, 'input-valid': f.volumePerShipment.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Material Finish</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Material_Finish')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <select
            formControlName="materialFinishId"
            name="materialFinishId"
            [ngClass]="{ 'input-mandatory': f.materialFinishId.errors, 'input-valid': f.materialFinishId.valid }"
            (change)="onPackagingChange()"
            class="form-control">
            <option value="" selected>------- Select Material Finish-------</option>
            <option *ngFor="let materialFinish of materialFinishList" [value]="materialFinish.value">{{ materialFinish.label }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Fragile or Speciality Product</span>
            <span
              class="notification"
              [ngbPopover]="popContent"
              ngbPopoverClass="custom-popover"
              placement="auto"
              popoverTitle="Description"
              (click)="showinfo('Packaging_Fragile_Or_Speciality_Product')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <select
            formControlName="fragileId"
            name="fragileId"
            [ngClass]="{ 'input-mandatory': f.fragileId.errors, 'input-valid': f.fragileId.valid }"
            (change)="onPackagingChange()"
            class="form-control">
            <option value="" selected>------- Select Fragile-------</option>
            <option *ngFor="let fragile of fragileList" [value]="fragile.value">{{ fragile.label }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Freight</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Freight')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <select
            formControlName="freightId"
            name="freightId"
            [ngClass]="{ 'input-mandatory': f.freightId.errors, 'input-valid': f.freightId.valid }"
            (change)="onPackagingChange()"
            class="form-control">
            <option value="" selected>------- Select Freight-------</option>
            <option *ngFor="let freight of freightList" [value]="freight.value">{{ freight.label }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="top-space">
      <div class="row row-cols-2">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">Packaging Materials</div>
            <div class="col-lg-12">
              <div class="table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" aria-describedby="packagingTable">
                  <!-- Packaging Type -->
                  <ng-container matColumnDef="packagingType">
                    <th mat-header-cell *matHeaderCellDef>Packaging Type</th>
                    <td mat-cell *matCellDef="let row">{{ row.packagingType || '-' }}</td>
                  </ng-container>

                  <!-- Packaging Form -->
                  <ng-container matColumnDef="packagingForm">
                    <th mat-header-cell *matHeaderCellDef>Packaging Form</th>
                    <td mat-cell *matCellDef="let row">{{ row.packagingForm || '-' }}</td>
                  </ng-container>

                  <!-- Description -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef class="header-highlight">Description</th>
                    <td mat-cell *matCellDef="let row">{{ row.description || '-' }}</td>
                  </ng-container>

                  <!-- Units -->
                  <ng-container matColumnDef="qtyNeededPerShipment">
                    <th mat-header-cell *matHeaderCellDef class="header-highlight">Units</th>
                    <td mat-cell *matCellDef="let row">{{ row.qtyNeededPerShipment ?? '' }}</td>
                  </ng-container>

                  <!-- CO2 -->
                  <ng-container matColumnDef="co2">
                    <th mat-header-cell *matHeaderCellDef class="header-highlight header-co2">CO2 (Kgs)</th>
                    <td mat-cell *matCellDef="let row">{{ row.co2 ?? 0 }}</td>
                  </ng-container>

                  <!-- Cost -->
                  <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef class="header-highlight">Cost ($)</th>
                    <td mat-cell *matCellDef="let row">{{ row.cost ?? 0 }}</td>
                  </ng-container>

                  <!-- Action -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let row; let i = index">
                      <a href="javascript:void(0)" (click)="onEditPackage(row, i)">
                        <mat-icon>edit</mat-icon>
                      </a>
                      <a *ngIf="canUpdate" href="javascript:void(0)" (click)="onDeletePackage(row)">
                        <mat-icon>delete</mat-icon>
                      </a>
                    </td>
                  </ng-container>

                  <!-- Header and Row Definitions -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ 'grid-bg-color': row.adnlId === selectedAdnlId }"></tr>
                </table>

                <!-- No data message -->
                <div *ngIf="dataSource.data.length === 0" class="no-data-message">No packaging details added yet</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: Design with UI team -->
    <div class="row">
      <div class="col" style="color: red">
        <p *ngIf="showBoxMessage">No boxes found for this part</p>
        <p *ngIf="showPalletMessage">Part is larger than the pallets</p>
      </div>
      <div class="col links-block pe-3 mt-2 justify-content-end"><a *ngIf="canUpdate" class="link-info" href="javascript:void(0)" (click)="onAddPackagingDetail()" id="aBCmat">Add Packaging</a></div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Packaging Type</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Type')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <select
            formControlName="packagingTypeId"
            name="packagingTypeId"
            [ngClass]="{ 'input-mandatory': f.packagingTypeId.errors, 'input-valid': f.packagingTypeId.valid }"
            (change)="onPackagingDetailChange($event)"
            class="form-control">
            <option value="" selected>------- Select Packaging Type-------</option>
            <option *ngFor="let packagingType of packagingTypeList" [value]="packagingType.value">{{ packagingType.label }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Packaging Material</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Material')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <select
            formControlName="packagingFormId"
            name="packagingFormId"
            [ngClass]="{ 'input-mandatory': f.packagingFormId.errors, 'input-valid': f.packagingFormId.valid }"
            (change)="onPackagingDetailChange($event)"
            class="form-control">
            <option value="" selected>------- Select Packaging Material-------</option>
            <option *ngFor="let packagingForm of packagingFormList" [value]="packagingForm.packagingFormId">{{ packagingForm.packagingForm }}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Package Description</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Description')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <select
            formControlName="packageDescriptionId"
            name="packageDescriptionId"
            [ngClass]="{ 'input-mandatory': f.packageDescriptionId.errors, 'input-valid': f.packageDescriptionId.valid }"
            (change)="onPackagingDetailChange($event)"
            class="form-control">
            <option value="" selected>------- Select Package Description-------</option>
            <option *ngFor="let packageDescription of packagingDescriptionList" [value]="packageDescription.packageDescriptionMasterId">{{ packageDescription.description }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Packaging Weight (Gms)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Weight')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="packagingWeight"
            [ngClass]="{ 'input-mandatory': f.packagingWeight.errors, 'input-valid': f.packagingWeight.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Package Max Capacity (Gms)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Max_Capacity')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="packageMaxCapacity"
            [ngClass]="{ 'input-mandatory': f.packageMaxCapacity.errors, 'input-valid': f.packageMaxCapacity.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Package Max Volume (cm3)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Max_Volume')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="packageMaxVolume"
            [ngClass]="{ 'input-mandatory': f.packageMaxVolume.errors, 'input-valid': f.packageMaxVolume.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Labor Required Per Package (Sec)</span>
            <span
              class="notification"
              [ngbPopover]="popContent"
              ngbPopoverClass="custom-popover"
              placement="auto"
              popoverTitle="Description"
              (click)="showinfo('Packaging_Labor_Required_Per_Package')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="totalPackagingTime"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.totalPackagingTime.errors, 'input-valid': f.totalPackagingTime.valid }"
            [OnlyNumber]="true"
            min="0" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Direct Labor Rate ($/hr)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Direct_Labor_Rate')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="directLaborRate"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.directLaborRate.errors, 'input-valid': f.directLaborRate.valid }"
            [OnlyNumber]="true"
            min="0" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Labor Cost/Part ($)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Labor_Cost_Per_Part')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="laborCostPerPart"
            [ngClass]="{ 'input-mandatory': f.laborCostPerPart.errors, 'input-valid': f.laborCostPerPart.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">{{ partsPerContainerLabel }}</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Parts_Per_Container')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="partsPerContainer"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.partsPerContainer.errors, 'input-valid': f.partsPerContainer.valid }"
            [OnlyNumber]="true"
            min="0" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Quantity Needed per Shipment</span>
            <span
              class="notification"
              [ngbPopover]="popContent"
              ngbPopoverClass="custom-popover"
              placement="auto"
              popoverTitle="Description"
              (click)="showinfo('Packaging_Quantity_Needed_Per_Shipment')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="qtyNeededPerShipment"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.qtyNeededPerShipment.errors, 'input-valid': f.qtyNeededPerShipment.valid }"
            [OnlyNumber]="true"
            min="0" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Cost per Container ($)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Cost_Per_Container')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="costPerContainer"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.costPerContainer.errors, 'input-valid': f.costPerContainer.valid }"
            [OnlyNumber]="true"
            min="0"
            readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">Cost per Unit ($)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_Cost_Per_Unit')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="costPerUnit"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.costPerUnit.errors, 'input-valid': f.costPerUnit.valid }"
            [OnlyNumber]="true"
            min="0" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label has-icon no-wrap">
            <span class="label-text">CO2 per Unit (Kgs)</span>
            <span class="notification" [ngbPopover]="popContent" ngbPopoverClass="custom-popover" placement="auto" popoverTitle="Description" (click)="showinfo('Packaging_CO2_Per_Unit')">
              <mat-icon class="info-icon" svgIcon="information"></mat-icon>
            </span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="cO2PerUnit"
            (blur)="calcPackage()"
            [ngClass]="{ 'input-mandatory': f.cO2PerUnit.errors, 'input-valid': f.cO2PerUnit.valid }"
            [OnlyNumber]="true"
            min="0" />
        </div>
      </div>
      <div class="col"></div>
    </div>
  </form>
</ng-container>
<ng-template #popContent>
  <div [innerHTML]="popupName"></div>
  <div class="div-img" *ngIf="popupUrl">
    <img alt="" class="img-class" [src]="popupUrl" />
  </div>
</ng-template>
