#machiningOperationType {
  app-field-comment {
    display: none;
  }
}

.delete-icon {
  display: flex;
  justify-content: end;
}

.links-block-right {
  display: flex;
  justify-content: flex-end;
}
