h5 {
  color: gray;
  text-transform: capitalize;
}

table {
  tr {
    height: 2rem;
    border: none;

    td,
    th {
      border: none;
      padding: 0rem 1rem;
      color: gray;
      text-align: left;
    }

    td:first-child,
    th:first-child {
      font-size: medium;
      font-weight: bold;
      text-align: left;
    }
  }
}
