.center {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

mat-icon {
  font-size: 20px;
  vertical-align: middle;
}
.nesting-part-btn {
  padding: 7px 24px;
  font-size: 0.75rem;

  .mat-icon {
    max-width: 8px;
    max-height: 12px;
    font-size: 9px;
  }
}
