<div [formGroup]="formGroup">
  <div class="col-12 mt-3">
    <div class="card">
      <div class="card-header">Cycle Time Details</div>
      <div class="card-body" *ngIf="!parameters.processFlag.IsProcessTypePlasticCutting">
        <div class="row">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Insert Placement Time(s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Insert_Loading')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'dryCycleTime'"></app-field-comment>
            <input type="number" formControlName="dryCycleTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4 ml-auto">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Curing Time(s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Compression_Curing')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'dieOpeningTime'"></app-field-comment>
            <input type="number" formControlName="dieOpeningTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Handling Time(s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Material_Loading_Time')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'coolingTime'"></app-field-comment>
            <input type="number" formControlName="coolingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4 ml-auto">
            <label class="form-label no-wrap has-icon position-relative">
              <span class="label-text">Time per Shot(s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('No_Of_Parts_Processed_Per_Batch')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'processTime'"></app-field-comment>
            <input type="number" formControlName="processTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <!-- <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Unloading & Cleaning (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Unloading_Cleaning')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'partExtractionTime'"></app-field-comment>
            <input type="number" formControlName="partExtractionTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div> -->
        </div>
      </div>

      <!-- <div class="card-body" *ngIf="parameters.processFlag?.IsProcessTypeTransferMolding">
        <div class="row mt-1">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Time for loading of charge (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Time_For_Loading_Of_Charge')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'coolingTime'"></app-field-comment>
            <input type="number" formControlName="coolingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Time for closing of mold (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Time_For_Closing_Of_Mold')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'pouringTime'"></app-field-comment>
            <input type="number" formControlName="pouringTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Time for injection (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Time_For_Injection')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'dryCycleTime'"></app-field-comment>
            <input type="number" formControlName="dryCycleTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Time for cooling/curing of part (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Time_For_Cooling_Curing_Of_Part')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'dieOpeningTime'"></app-field-comment>
            <input type="number" formControlName="dieOpeningTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Time for opening of mold (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Time_For_Opening_Of_Mold')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'moldOpening'"></app-field-comment>
            <input type="number" formControlName="moldOpening" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Time for part unload (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Time_For_Part_Unload')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'partExtractionTime'"></app-field-comment>
            <input type="number" formControlName="partExtractionTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Total time for Process (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Total_Processing_Time_Transfer_Molding')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'loadingTime'"></app-field-comment>
            <input type="number" formControlName="loadingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
        </div>
      </div> -->

      <div class="card-body" *ngIf="parameters.processFlag.IsProcessTypePlasticCutting">
        <div class="row mt-1">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">{{ parameters.isEnableUnitConversion ? 'Machine Cutting Speed(' + parameters.conversionValue + '/min)' : 'Machine Cutting Speed (mm/min)' }}</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Machine_Cutting_Speed')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'moldOpening'"></app-field-comment>
            <input type="number" formControlName="moldOpening" class="form-control" name="moldOpening" (blur)="calculateCost()" [OnlyNumber]="true" min="0" />
          </div>

          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Cutting Time (s)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Cutting_Time')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'coolingTime'"></app-field-comment>
            <input type="number" formControlName="coolingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>

          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Loading + Unloading Time (s/part)</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Loading_Unloading_Time')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'partExtractionTime'"></app-field-comment>
            <input type="number" formControlName="partExtractionTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-4">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Total Processing time(s):</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" (click)="showinfo('Total_Processing_Time_Cutting')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <app-field-comment [formIdentifier]="parameters.formIdentifier" [fieldIdentifier]="'loadingTime'"></app-field-comment>
            <input type="number" formControlName="loadingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #popContent>
  <div [innerHTML]="popupName"></div>
  <div class="div-img" *ngIf="popupUrl">
    <img alt="" class="img-class" [src]="popupUrl" />
  </div>
</ng-template>
