/* .card {
    border: 1px solid #108414 !important;
    background: #EAF9EB !important;
} */

.cls-item-head {
  display: inline-block !important;
}

::ng-deep .custom-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep .header-left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-left .header-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0px;
}

::ng-deep .header-right {
  display: flex;
  gap: 16px;
  font-size: 12px;
  color: var(--bs-black);
}
.co2-total {
  margin-left: 16px;
}

.co2-total .label {
  font-weight: 300;
  font-style: Light;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}
.co2-total strong {
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0px;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
}

mat-footer-cell {
  font-weight: bold;
  background: #f0f0f0;
}

.header-cell {
  font-size: 12px;
  font-weight: 600;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0px;
  color: var(--bs-black);
  background-color: var(--blue-light-border);
}
.header-cell .left-align {
  text-align: left;
}

.footer-cell {
  font-weight: bold;
  background-color: #f5f6f9;
}

.right-align {
  text-align: right;
}

.input-box {
  text-align: right;
  display: inline-block;
  color: var(--label-text);
}

.custom-header .open-icon {
  transform: rotate(-90deg);
}

.header-left .mat-icon {
  width: 16px;
  height: 16px;
  color: var(--bs-black);
}

.mat-expansion-panel {
  box-shadow: none;
  border-radius: 0 !important;
}

.mat-expansion-panel-header {
  border: none;
  height: auto;
  padding: 14px 0;
  border-radius: 0 !important;
}

.mat-mdc-footer-cell {
  font-size: 14px;
  font-weight: 600;
  padding: 6px 8px;
  line-height: 22px;
  letter-spacing: 0px;
  background-color: var(--blue-light-border);
}
.mat-mdc-cell {
  border: none;
  padding: 6px 8px;
}
.mat-mdc-footer-cell {
  border: none;
}

.custom-table {
  overflow: visible;
}
.mat-mdc-header-cell {
  padding: 6px 8px;
}

.table-wrap {
  padding: 0;
  overflow: auto;
  border-radius: 5px;
  border: 1px solid var(--material-table-border);
}
.mat-mdc-header-cell:first-child {
  border-top-left-radius: 5px;
}

mat-expansion-panel.mat-expansion-panel.mat-expanded .mat-expansion-panel-header {
  border-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
  padding-bottom: 20px;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background-color: transparent;
}

.mat-expansion-panel.mat-expanded {
  .no-padding-top {
    border-bottom: 1px solid var(--component-border);
  }
}
