.modal-body {
  max-height: 400px;
  overflow-y: auto;
}

.close-icon {
  position: absolute;
  right: -20px;
  top: -15px;
  font-size: large;
  cursor: pointer;
}

.fa {
  font-size: 18px;
  cursor: pointer;
}

.sort-icon {
  font-style: italic;
  padding-bottom: 1px;
}

textarea {
  min-width: 300px;
  min-height: 100px;
}

.comment-font {
  font-size: 14px !important;
}

.comment-font-subtext {
  font-size: 12px !important;
}

.modal-title {
  font-size: 0.75rem;
}
