.ai-grid-view {
  padding: 16px;
}
.ai-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
  gap: 16px;
}

.selection-dock {
  position: fixed;
  z-index: 300;
  top: auto;
  left: 50%;
  right: auto;
  bottom: 38px;
  border-radius: 6px;
  transform: translateX(-50%);
  box-shadow: 0px 0px 30px 0px #3166c21a;

  button {
    white-space: nowrap;
    font-family: var(--body-font);
    margin: 0 6px;
  }
  .btn-outline-primary {
    --bs-btn-active-color: var(--primary-shade);
    &:active {
      color: var(--primary-shade);
    }
  }
}

.selection-dock-text {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.ai-card {
  display: flex;
  padding: 12px;
  overflow: hidden;
  border-radius: 10px;
  flex-direction: column;
  background: var(--bs-white);
  border: 1px solid var(--input-border-color);

  .ai-card-media {
    padding: 12px;
    height: 192px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background: var(--bs-btn-disabled-bg);

    .single-media {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      &.image-loading-skeleton {
        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite;
        border-radius: 6px;
      }
    }

    img {
      width: auto;
      height: auto;
      display: block;
      max-width: 100%;
      max-height: 150px;
      object-fit: contain;
    }

    .ai-card-checkbox {
      top: 8px;
      right: 8px;
      cursor: pointer;
      position: absolute;

      input {
        width: 20px;
        height: 20px;
        cursor: pointer;
        box-shadow: none;
      }
    }
  }

  .ai-card-body {
    gap: 0;
    display: flex;
    flex-direction: column;

    .part-desc {
      min-height: 36px;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--label-shade);
    }

    .ai-card-meta {
      gap: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      &:first-child {
        max-width: 50%;
      }

      .meta-row {
        display: flex;
        flex-direction: column;

        .meta-label {
          font-size: 12px;
          color: var(--label-shade);
        }

        .meta-value {
          font-size: 12px;
          font-weight: 500;
          color: var(--bs-black);
        }

        .value-increase {
          color: var(--table-green-text);
        }

        .value-decrease {
          color: var(--red-text);
        }
      }
    }

    .ai-card-actions {
      gap: 8px;
      display: flex;
      margin: 12px 0 16px 0;

      .icon-btn {
        width: 100%;
        height: 32px;
        padding: 6px;
        cursor: pointer;
        border-radius: 6px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
        transition: border 0.2s;
        border: 1px solid transparent;
        background: var(--icon-btn-hover);
        &:hover {
          border: 1px solid var(--primary-shade);
        }

        mat-icon {
          width: 20px;
          height: 20px;
          color: var(--bs-black);
        }
      }
    }
  }

  &.unloaded {
    .ai-card-media {
      background: linear-gradient(90deg, #eef2ff, #f8fafc);
    }

    .skeleton {
      height: 140px;
    }

    .skeleton-line {
      height: 12px;
      background: linear-gradient(90deg, #f1f5f9, #e2e8f0);
      margin: 10px 0;
      border-radius: 6px;

      &.title {
        width: 60%;
        height: 14px;
      }

      &.desc {
        width: 90%;
        height: 12px;
      }

      &.meta {
        width: 40%;
        height: 12px;
      }
    }
  }
}

.grid-paginator {
  margin-top: 16px;
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;

  .carousel-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .carousel-slides-container {
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 0.3s ease-in-out;

    .carousel-slide {
      width: 100%;
      display: flex;
      flex-shrink: 0;
      max-height: 150px;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }

  .nav-button {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    transition: border 0.2s;
    border: 1px solid transparent;

    &.prev-button {
      transform: rotate(90deg);
    }

    &.next-button {
      transform: rotate(-90deg);
    }
  }

  .dots-container {
    display: flex;
    margin-top: 4px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;

    .dot-li {
      width: 16px;
      height: 16px;
      margin: 0 2px;
      display: flex;
      flex-shrink: 0;
      cursor: pointer;
      border-radius: 50%;
      align-items: center;
      justify-content: center;

      &.active {
        .dot {
          background: var(--bs-primary);
        }
      }
    }

    .dot {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #e0e0e0;
      transition: background-color 0.3s;
    }
  }
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
