<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Stackup Diagram</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissAll()"></button>
</div>
<div class="modal-body" oncontextmenu="return false;">
  <div class="row">
    <div class="red-banner flex justify-center items-center px-3 py-3 toast-banner mb-3" *ngIf="showCoreAlert">
      <p class="text-xs mb-0 flex">
        <mat-icon class="info-icon" svgIcon="information"></mat-icon>
        <span>Oops!!. Please Provide Proper Core Inputs to populate the following Layers: {{ nullLayerNames }}.</span>
      </p>
    </div>
    <div class="red-banner flex justify-center items-center px-3 py-3 toast-banner mb-3" *ngIf="showprePregAlert">
      <p class="text-xs mb-0 flex">
        <mat-icon class="info-icon" svgIcon="information"></mat-icon>
        <span>Oops!!. Please Provide Proper Prepreg Inputs.</span>
      </p>
    </div>
    <table aria-describedby="Stackup">
      <tr *ngFor="let layer of layerTable">
        <th scope="row">{{ layer.name }}</th>
        <td [style.backgroundColor]="layer.color" width="1000" height="30"></td>
        <td>{{ layer.value || '-' }}</td>
      </tr>
    </table>
  </div>
</div>
