.input-success {
  border-left: 3px solid red;
}

.input-failure {
  border-left: 3px solid green;
}

.show-more {
  cursor: pointer;
  color: #0d6efd;
  font-weight: bold;
}

label {
  height: 3rem;
  vertical-align: bottom;
  display: table-cell;
  padding-bottom: 5px;
}

.material-icons.delet {
  color: #0d6efd;
  cursor: pointer;
  margin-top: 0.5rem;
}

.custom-header {
  background-color: #f5f6f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.mat-expanded {
    margin-bottom: 16px;
  }
}

::ng-deep .custom-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep .header-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

::ng-deep .header-title {
  font-weight: 500;
  font-size: 16px;
}

::ng-deep .header-right {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #555;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
}

.header-cell {
  font-weight: bold;
  background-color: #f5f6f9;
  color: #000000;
}

.top-space {
  padding-top: 20px;
}

.header-co2 {
  background-color: #eaf9eb !important;
}

input[readonly] {
  background-color: #f0f0f0;
  color: #555;
  border: 1px solid #ccc;
  cursor: not-allowed;
}
