<ng-container [formGroup]="formGroup">
  <div class="row">
    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon">
        <span class="label-text font-medium">Type Of Operation</span>
        <app-info-tooltip [infoId]="'Forging_Type_Of_Operation'"></app-info-tooltip>
      </label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'subProcessTypeID'"></app-field-comment>
      <select formControlName="subProcessTypeID" class="form-control" (change)="calculateCost()">
        <option value="0" selected>-------Select Type Of Operation---------</option>
        <option *ngFor="let option of forgingSubProcessList" value="{{ option.id }}">{{ option.name }}</option>
      </select>
    </div>

    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Part Stacking Efficiency(%)</span>
        <app-info-tooltip [infoId]="'Forging_Part_Stacking_Efficiency'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stackingEfficiency'"></app-field-comment>
      <input type="number" formControlName="efficiencyFactor" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>

    <div class="col-4" *ngIf="f.subProcessTypeID.value === 1"></div>

    <div class="col-4 position-relative" *ngIf="f.subProcessTypeID.value === 1">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Min Chamber Length Required ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
        <app-info-tooltip [infoId]="'Forging_Min_Chamber_Length_Required'"></app-info-tooltip>
      </label>

      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'minChamberLength'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{
          'input-mandatory': f.allowanceAlongLength.errors,
          'input-valid': f.allowanceAlongLength.valid && !f.allowanceAlongLength.dirty,
          'input-overridden': f.allowanceAlongLength.dirty && f.allowanceAlongLength.touched,
        }"
        formControlName="allowanceAlongLength"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>

    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon" *ngIf="f.subProcessTypeID.value === 1">
        <span class="label-text">Min Chamber Width Required({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
        <app-info-tooltip [infoId]="'Forging_Min_Chamber_Width_Required'"></app-info-tooltip>
      </label>
      <label class="form-label no-wrap" *ngIf="f.subProcessTypeID.value === 2">Min Passage Width Required({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}):</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'minChamberWidth'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{
          'input-mandatory': f.allowanceAlongWidth.errors,
          'input-valid': f.allowanceAlongWidth.valid && !f.allowanceAlongWidth.dirty,
          'input-overridden': f.allowanceAlongWidth.dirty && f.allowanceAlongWidth.touched,
        }"
        formControlName="allowanceAlongWidth"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>

    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon" *ngIf="f.subProcessTypeID.value === 1">
        <span class="label-text">Min Chamber Height Required({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</span>
        <app-info-tooltip [infoId]="'Forging_Min_Chamber_Height_Required'"></app-info-tooltip>
      </label>
      <label class="form-label no-wrap" *ngIf="f.subProcessTypeID.value === 2">Min Passage Height Required({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'minChamberHeight'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{
          'input-mandatory': f.allowanceBetweenParts.errors,
          'input-valid': f.allowanceBetweenParts.valid && !f.allowanceBetweenParts.dirty,
          'input-overridden': f.allowanceBetweenParts.dirty && f.allowanceBetweenParts.touched,
        }"
        formControlName="allowanceBetweenParts"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>

    <div class="col-4 position-relative" *ngIf="f.subProcessTypeID.value === 1">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Chamber Length Selected({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</span>
        <app-info-tooltip [infoId]="'Forging_Chamber_Length_Selected'"></app-info-tooltip>
      </label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'chamberLength'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.muffleLength.errors, 'input-valid': f.muffleLength.valid }"
        formControlName="muffleLength"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>

    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon" *ngIf="f.subProcessTypeID.value === 1">
        <span class="label-text">Chamber Width Selected({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
        <app-info-tooltip [infoId]="'Forging_Chamber_Width_Selected'"></app-info-tooltip>
      </label>

      <label class="form-label no-wrap" *ngIf="f.subProcessTypeID.value === 2">Passage Width ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'chamberWidth'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.muffleWidth.errors, 'input-valid': f.muffleWidth.valid }"
        formControlName="muffleWidth"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>

    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon" *ngIf="f.subProcessTypeID.value === 1">
        <span class="label-text">Chamber Height Selected({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
        <app-info-tooltip [infoId]="'Forging_Chamber_Height_Selected'"></app-info-tooltip>
      </label>
      <label class="form-label no-wrap" *ngIf="f.subProcessTypeID.value === 2">Passage Height ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'chamberHeight'"></app-field-comment>
      <input
        type="number"
        [ngClass]="{ 'input-mandatory': f.initialStockHeight.errors, 'input-valid': f.initialStockHeight.valid }"
        formControlName="initialStockHeight"
        (blur)="calculateCost()"
        class="form-control"
        [OnlyNumber]="true"
        min="0" />
    </div>

    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon" *ngIf="f.subProcessTypeID.value === 1">
        <span class="label-text">Max Weight Machine Chamber Can Hold (Kg)</span>
        <app-info-tooltip [infoId]="'Forging_Max_Weight_Machine_Chamber_Can_Hold'"></app-info-tooltip>
      </label>
      <label class="form-label no-wrap" *ngIf="f.subProcessTypeID.value === 2">Max Weight Machine Passage/Conveyour Can Hold (Kg):</label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'maxWeight'"></app-field-comment>
      <input type="number" formControlName="noofStroke" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
    </div>
    <div class="col-4 position-relative" *ngIf="f.subProcessTypeID.value === 1">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Total Parts in Chamber (Minimum of weight and volume) (No.)/Batch</span>
        <app-info-tooltip [infoId]="'Forging_Total_Parts_in_Chamber_Per_Batch'"></app-info-tooltip>
      </label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'totalParts'"></app-field-comment>
      <input type="number" formControlName="noOfCore" (blur)="calculateCost()" class="form-control" [OnlyNumber]="true" min="0" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon" *ngIf="f.subProcessTypeID.value === 1">
        <span class="label-text">Loading & Unloading Time/Batch(s)</span>
        <app-info-tooltip [infoId]="'Forging_Loading_Unloading_Time_Per_Batch'"></app-info-tooltip>
      </label>
      <label class="form-label no-wrap" *ngIf="f.subProcessTypeID.value === 2">Loading & Unloading Time/Part(s):</label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'loadingUnloadingTime'"></app-field-comment>
      <input type="number" formControlName="unloadingTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>
    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Utilization(%)</span>
        <app-info-tooltip [infoId]="'Forging_Utilization'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'utilization'"></app-field-comment>
      <input type="number" formControlName="efficiency" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>

    <div class="col-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Sampling Plan</span>
        <app-info-tooltip [infoId]="'Forging_Sampling_Plan'"></app-info-tooltip>
      </label>
      <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'samplingPlan'"></app-field-comment>
      <select
        [ngClass]="{
          'input-valid': f.inspectionType.touched && f.inspectionType.valid,
          'input-mandatory': (f.inspectionType.touched && f.inspectionType.invalid) || f.inspectionType.value === null || f.inspectionType.value === '',
          'input-yellow': f.inspectionType.value !== null,
        }"
        formControlName="inspectionType"
        class="form-control input-auto"
        (blur)="calculateCost()"
        (change)="calculateSamplingRate()">
        <option value="0">None</option>
        <option value="1">Level1</option>
        <option value="2">Level2</option>
        <option value="3">Level3</option>
      </select>
    </div>

    <div class="col-4 position-relative">
      <label class="form-label no-wrap has-icon">
        <span class="label-text">Process Cycle Time/Batch(s)</span>
        <app-info-tooltip [infoId]="'Forging_Process_Cycle_Time_Per_Batch'"></app-info-tooltip>
      </label>
      <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'processCycleTime'"></app-field-comment>
      <input type="number" formControlName="processTime" class="form-control" [OnlyNumber]="true" min="0" (blur)="calculateCost()" />
    </div>

    <div class="col-4 offset-4">
      <label class="form-label no-wrap has-icon">
        <span class="label-text font-medium">Net Process Cost($)</span>
        <app-info-tooltip [infoId]="'Net_Process_Cost'"></app-info-tooltip>
      </label>
      <input type="number" formControlName="directProcessCost" class="form-control font-semibold text-base" readonly="readonly" />
    </div>
  </div>
</ng-container>
