<form [formGroup]="materialForm" (change)="onMaterialFormValueChange()" autocomplete="off" *ngIf="selectedMaterialInfo">
  <!-- {{ selectedMaterialInfo | json }} -->
  <!-- <div class="card mb-2">
    <div class="card-header">Material</div>
    <div class="card-body">
      <div class="row ">
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">ESG Impact-(Kg CO2):</label>
            <input type="number" class="form-control" formControlName="esgImpactCO2Kg" placeholder="ESG Impact-(Kg CO2)"
              [ngClass]="{'input-failure':!fmaterial.esgImpactCO2Kg.errors,'input-success':fmaterial.esgImpactCO2Kg.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>

      </div>
    </div>
  </div> -->

  <mat-expansion-panel #panelMaterialInfo>
    <mat-expansion-panel-header class="custom-header">
      <div class="header-container">
        <div class="header-left">
          <ng-container *ngIf="!panelMaterialInfo.expanded">
            <mat-icon svgIcon="dropdown-down-icon" class="open-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelMaterialInfo.expanded">
            <mat-icon svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
          <span class="header-title">Material</span>
        </div>

        <div class="header-right" *ngIf="!panelMaterialInfo.expanded">
          <!-- <span class="co2-total">{{ totalEsgAnnualKgCO2 | number: '1.0-4' }} Kg CO2</span> -->
          <span class="co2-total">
            <span class="label">Total Kg CO2 / Part</span>
            <strong>
              {{ totalEsgAnnualKgCO2Part | number: '1.0-4' }}
            </strong>
          </span>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelMaterialInfo.expanded">
      <section>
        <div class="row no-padding-top">
          <!-- <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">ESG Impact-(Kg CO2):</label>
              <input type="number" class="form-control" formControlName="esgImpactCO2Kg"
                placeholder="ESG Impact-(Kg CO2)"
                [ngClass]="{'input-failure':!fmaterial.esgImpactCO2Kg.errors,'input-success':fmaterial.esgImpactCO2Kg.errors}"
                [OnlyNumber]="true" (blur)="calculateSustainability()">
            </div>
          </div>
          <div class="col">

          </div>
          <div class="col">

          </div> -->
          <div class="table-wrap">
            <table mat-table [dataSource]="listMaterialInfo" class="mat-elevation-z8 custom-table" aria-describedby="Material">
              <ng-container matColumnDef="materialDescription">
                <th mat-header-cell *matHeaderCellDef class="header-cell left-align">Description</th>
                <td mat-cell *matCellDef="let element">{{ element.materialDescription }}</td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell">Sub Total</td>
              </ng-container>

              <ng-container matColumnDef="esgImpactCO2Kg">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Kg CO2 / Kg</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgImpactCO2Kg | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgImpactCO2Kg | number: '1.0-4' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="esgAnnualVolumeKg">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Annual Volume (Kg)</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgAnnualVolumeKg | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgAnnualVolumeKg | number: '1.0-4' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="esgAnnualKgCO2">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Annual Kg CO2</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgAnnualKgCO2 | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgAnnualKgCO2 | number: '1.0-4' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="esgAnnualKgCO2Part">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Kg CO2 / Part</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgAnnualKgCO2Part | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgAnnualKgCO2Part | number: '1.0-4' }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </div>
        </div>
      </section>
    </ng-container>
  </mat-expansion-panel>
</form>

<form [formGroup]="manufacturingInfoform" (change)="onManufacturingInfoChange()" autocomplete="off" *ngIf="processInfoDtoOut">
  <!-- {{ processInfoDtoOut | json }} -->
  <!-- <div class="card mb-2">
    <div class="card-header">Manufacturing </div>
    <div class="card-body">
      <div class="row ">
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">ESG Impact-(Kg CO2):</label>
            <input type="number" class="form-control" formControlName="esgImpactElectricityConsumption"
              placeholder="ESG Impact-(Kg CO2)"
              [ngClass]="{'input-failure':!fmanufacturing.esgImpactElectricityConsumption.errors,'input-success':fmanufacturing.esgImpactElectricityConsumption.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
        <div class="col">
        </div>


        <div class="col">
        </div>

      </div>
    </div>
  </div> -->
  <mat-expansion-panel #panelManufacturinglInfo>
    <mat-expansion-panel-header class="custom-header">
      <div class="header-container">
        <div class="header-left">
          <ng-container *ngIf="!panelManufacturinglInfo.expanded">
            <mat-icon svgIcon="dropdown-down-icon" class="open-icon"></mat-icon>
          </ng-container>
          <ng-container *ngIf="panelManufacturinglInfo.expanded">
            <mat-icon svgIcon="dropdown-up-icon"></mat-icon>
          </ng-container>
          <span class="header-title">Manufacturing</span>
        </div>

        <div class="header-right" *ngIf="!panelManufacturinglInfo.expanded">
          <!-- <span class="co2-total">{{ totalEsgImpactAnnualKgCO2 | number: '1.0-4' }} Kg CO2</span> -->
          <span class="co2-total">
            <span class="label">Total Kg CO2 / Part</span>
            <strong>
              {{ totalEsgImpactAnnualKgCO2Part | number: '1.0-4' }}
            </strong>
          </span>
        </div>
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelManufacturinglInfo.expanded">
      <section>
        <div class="row no-padding-top">
          <!-- <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">ESG Impact-(Kg CO2):</label>
              <input type="number" class="form-control" formControlName="esgImpactCO2Kg"
                placeholder="ESG Impact-(Kg CO2)"
                [ngClass]="{'input-failure':!fmaterial.esgImpactCO2Kg.errors,'input-success':fmaterial.esgImpactCO2Kg.errors}"
                [OnlyNumber]="true" (blur)="calculateSustainability()">
            </div>
          </div>
          <div class="col">

          </div>
          <div class="col">

          </div> -->
          <div class="table-wrap">
            <table mat-table [dataSource]="listProcessInfoDtoOut" class="mat-elevation-z8 custom-table" aria-describedby="Manufacturing">
              <ng-container matColumnDef="processType">
                <th mat-header-cell *matHeaderCellDef class="header-cell left-align">Description</th>
                <td mat-cell *matCellDef="let element">{{ element.processType }}</td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell">Sub Total</td>
              </ng-container>

              <ng-container matColumnDef="esgImpactElectricityConsumption">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Kg CO2 / Hr</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgImpactElectricityConsumption | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgImpactElectricityConsumption | number: '1.0-4' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="esgImpactAnnualUsageHrs">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Annual Usage (Hrs)</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgImpactAnnualUsageHrs | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgImpactAnnualUsageHrs | number: '1.0-4' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="esgImpactAnnualKgCO2">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Annual Kg CO2</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgImpactAnnualKgCO2 | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgImpactAnnualKgCO2 | number: '1.0-4' }}
                </td>
              </ng-container>

              <ng-container matColumnDef="esgImpactAnnualKgCO2Part">
                <th mat-header-cell *matHeaderCellDef class="header-cell right-align">Kg CO2 / Part</th>
                <td mat-cell *matCellDef="let element" class="right-align">
                  <div class="input-box">{{ element.esgImpactAnnualKgCO2Part | number: '1.0-4' }}</div>
                </td>
                <td mat-footer-cell *matFooterCellDef class="footer-cell right-align">
                  {{ totalEsgImpactAnnualKgCO2Part | number: '1.0-4' }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsManufacturing"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsManufacturing"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumnsManufacturing"></tr>
            </table>
          </div>
        </div>
      </section>
    </ng-container>
  </mat-expansion-panel>
</form>
<form [formGroup]="packaginform" (change)="onPackageFormValueChange()" autocomplete="off" *ngIf="packagingInfoDto">
  <!-- {{ packagingInfoDto | json }} -->
  <!-- <div class="card mb-2">
    <div class="card-header">Packaging </div>
    <div class="card-body">
      <div class="row ">
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">ESG Impact per Box(Kg CO2):</label>
            <input type="number" class="form-control" formControlName="esgImpactperBox"
              placeholder="ESG Impact per Box(Kg CO2)"
              [ngClass]="{'input-failure':!fpackaging.esgImpactperBox.errors,'input-success':fpackaging.esgImpactperBox.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">ESG Impact per Pallet(Kg CO2):</label>
            <input type="number" class="form-control" formControlName="esgImpactperPallet"
              placeholder="ESG Impact per Pallet(Kg CO2)"
              [ngClass]="{'input-failure':!fpackaging.esgImpactperPallet.errors,'input-success':fpackaging.esgImpactperPallet.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">Total ESG Impact per Part(Kg CO2):</label>
            <input type="number" class="form-control" formControlName="totalESGImpactperPart"
              placeholder="Total ESG Impact per Part(Kg CO2)"
              [ngClass]="{'input-failure':!fpackaging.totalESGImpactperPart.errors,'input-success':fpackaging.totalESGImpactperPart.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <mat-expansion-panel #panelPackagingInfo>
    <mat-expansion-panel-header class="custom-header">
      <!-- Icon + Title in same flex row -->
      <div class="header-left">
        <ng-container *ngIf="!panelPackagingInfo.expanded">
          <mat-icon svgIcon="dropdown-down-icon" class="open-icon"></mat-icon>
        </ng-container>
        <ng-container *ngIf="panelPackagingInfo.expanded">
          <mat-icon svgIcon="dropdown-up-icon"></mat-icon>
        </ng-container>
        <span class="header-title">Packaging</span>
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelPackagingInfo.expanded">
      <section>
        <div class="row no-padding-top">
          <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">ESG Impact per Box(Kg CO2):</label>
              <input
                type="number"
                class="form-control"
                formControlName="esgImpactperBox"
                placeholder="ESG Impact per Box(Kg CO2)"
                [ngClass]="{ 'input-failure': !fpackaging.esgImpactperBox.errors, 'input-success': fpackaging.esgImpactperBox.errors }"
                [OnlyNumber]="true"
                (blur)="calculateSustainability()" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">ESG Impact per Pallet(Kg CO2):</label>
              <input
                type="number"
                class="form-control"
                formControlName="esgImpactperPallet"
                placeholder="ESG Impact per Pallet(Kg CO2)"
                [ngClass]="{ 'input-failure': !fpackaging.esgImpactperPallet.errors, 'input-success': fpackaging.esgImpactperPallet.errors }"
                [OnlyNumber]="true"
                (blur)="calculateSustainability()" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">Total ESG Impact per Part(Kg CO2):</label>
              <input
                type="number"
                class="form-control"
                formControlName="totalESGImpactperPart"
                placeholder="Total ESG Impact per Part(Kg CO2)"
                [ngClass]="{ 'input-failure': !fpackaging.totalESGImpactperPart.errors, 'input-success': fpackaging.totalESGImpactperPart.errors }"
                [OnlyNumber]="true"
                (blur)="calculateSustainability()" />
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </mat-expansion-panel>
</form>
<form [formGroup]="sustainabilityForm" (change)="onFormValueChange()" autocomplete="off" *ngIf="logisticsSummaryDtoOut">
  <!-- {{ logisticsSummaryDtoOut | json }} -->
  <!-- <div class="card mb-2">
    <div class="card-header">Logistics Cost </div>
    <div class="card-body">
      <div class="row ">
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">Full Container ESG (kg CO2):</label>
            <input type="number" class="form-control" formControlName="TotalCarbonFootPrint"
              placeholder="Full Container ESG (kg CO2)"
              [ngClass]="{'input-failure':!f.TotalCarbonFootPrint.errors,'input-success':f.TotalCarbonFootPrint.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">Total ESG per Shipment (kg CO2):</label>
            <input type="number" class="form-control" formControlName="CarbonFootPrint"
              placeholder="Total ESG per Shipment (kg CO2)"
              [ngClass]="{'input-failure':!f.CarbonFootPrint.errors,'input-success':f.CarbonFootPrint.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="form-label no-wrap">Total ESG per Unit (kg CO2):</label>
            <input type="number" class="form-control" formControlName="CarbonFootPrintPerUnit"
              placeholder="Total ESG per Unit (kg CO2)"
              [ngClass]="{'input-failure':!f.CarbonFootPrintPerUnit.errors,'input-success':f.CarbonFootPrintPerUnit.errors}"
              [OnlyNumber]="true" (blur)="calculateSustainability()">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <mat-expansion-panel #panelLogisticsInfo>
    <mat-expansion-panel-header class="custom-header">
      <!-- Icon + Title in same flex row -->
      <div class="header-left">
        <ng-container *ngIf="!panelLogisticsInfo.expanded">
          <mat-icon svgIcon="dropdown-down-icon" class="open-icon"></mat-icon>
        </ng-container>
        <ng-container *ngIf="panelLogisticsInfo.expanded">
          <mat-icon svgIcon="dropdown-up-icon"></mat-icon>
        </ng-container>
        <span class="header-title">Logistics</span>
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelLogisticsInfo.expanded">
      <section>
        <div class="row no-padding-top">
          <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">Full Container ESG (kg CO2):</label>
              <input
                type="number"
                class="form-control"
                formControlName="TotalCarbonFootPrint"
                placeholder="Full Container ESG (kg CO2)"
                [ngClass]="{ 'input-failure': !f.TotalCarbonFootPrint.errors, 'input-success': f.TotalCarbonFootPrint.errors }"
                [OnlyNumber]="true"
                (blur)="calculateSustainability()" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">Total ESG per Shipment (kg CO2):</label>
              <input
                type="number"
                class="form-control"
                formControlName="CarbonFootPrint"
                placeholder="Total ESG per Shipment (kg CO2)"
                [ngClass]="{ 'input-failure': !f.CarbonFootPrint.errors, 'input-success': f.CarbonFootPrint.errors }"
                [OnlyNumber]="true"
                (blur)="calculateSustainability()" />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label class="form-label no-wrap">Total ESG per Unit (kg CO2):</label>
              <input
                type="number"
                class="form-control"
                formControlName="CarbonFootPrintPerUnit"
                placeholder="Total ESG per Unit (kg CO2)"
                [ngClass]="{ 'input-failure': !f.CarbonFootPrintPerUnit.errors, 'input-success': f.CarbonFootPrintPerUnit.errors }"
                [OnlyNumber]="true"
                (blur)="calculateSustainability()" />
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </mat-expansion-panel>
</form>
