<ng-container [formGroup]="formGroup">
  <div class="card">
    <div class="card-header">Part Details</div>
    <div class="card-body">
      <div class="row">
        <div class="col-4 mt-3" *ngIf="compVals.machining.isRod || compVals.machining.isTube || compVals.machining.isWire">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">
              {{ compVals.isEnableUnitConversion ? 'Part Outer Diameter(' + compVals.conversionValue + ')' : 'Part Outer Diameter(mm)' }}
            </span>
            <app-info-tooltip [infoId]="'Part_Outer_Diameter'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partOuterDiameter'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" formControlName="partOuterDiameter" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isTube">
          <label class="form-label no-wrap">{{ compVals.isEnableUnitConversion ? 'Part Inner Diameter(' + compVals.conversionValue + ')' : 'Part Inner Diameter(mm)' }}:</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partInnerDiameter'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" formControlName="partInnerDiameter" (blur)="calculateCost()" min="0" />
        </div>

        <div
          class="col-4 mt-3"
          *ngIf="
            compVals.machining.isHss ||
            compVals.machining.isSquareBar ||
            compVals.machining.isRectangularBar ||
            compVals.machining.isLAngle ||
            compVals.machining.isIBeam ||
            compVals.machining.isWBeams ||
            compVals.machining.isChannel
          ">
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHss">HSS Thickness {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + ')' : '(mm)' }}</label>
          <label
            class="form-label no-wrap"
            *ngIf="
              compVals.machining.isSquareBar ||
              compVals.machining.isRectangularBar ||
              compVals.machining.isLAngle ||
              compVals.machining.isIBeam ||
              compVals.machining.isWBeams ||
              compVals.machining.isChannel
            ">
            Thickness
            {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + ')' : '(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'thickness'"></app-field-comment>
          <input type="number" class="form-control" formControlName="maxWallthick" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div
          class="col-4 mt-3"
          *ngIf="compVals.machining.isSquareBar || compVals.machining.isRectangularBar || compVals.machining.isRod || compVals.machining.isTube || compVals.machining.isHexagonalBar">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">
              Part Length
              {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + ')' : '(mm)' }}
            </span>
            <app-info-tooltip [infoId]="'Part_Length'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partLength'"></app-field-comment>
          <input type="number" class="form-control" formControlName="partLength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div
          class="col-4 mt-3"
          *ngIf="
            compVals.machining.isSquareBar ||
            compVals.machining.isRectangularBar ||
            compVals.machining.isHexagonalBar ||
            compVals.machining.isBlock ||
            compVals.machining.isOtherShapes ||
            compVals.machining.isLAngle ||
            compVals.machining.isIBeam ||
            compVals.machining.isWBeams ||
            compVals.machining.isChannel ||
            compVals.machining.isHss
          ">
          <label class="form-label no-wrap" *ngIf="compVals.machining.isLAngle">Long Leg Length (d)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHss">Side (A)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isIBeam || compVals.machining.isWBeams || compVals.machining.isChannel">
            Width (b)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :
          </label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHexagonalBar">Part Across Flat (A/F)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap has-icon" *ngIf="compVals.machining.isSquareBar || compVals.machining.isRectangularBar || compVals.machining.isBlock || compVals.machining.isOtherShapes">
            <span class="label-text">
              {{ compVals.isEnableUnitConversion ? 'Part Width(' + compVals.conversionValue + ')' : 'Part Width(mm)' }}
            </span>
            <app-info-tooltip [infoId]="'Part_Width'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partWidth'"></app-field-comment>
          <input type="number" class="form-control" formControlName="partWidth" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div
          class="col-4 mt-3"
          *ngIf="
            compVals.machining.isHexagonalBar ||
            compVals.machining.isBlock ||
            compVals.machining.isOtherShapes ||
            compVals.machining.isLAngle ||
            compVals.machining.isIBeam ||
            compVals.machining.isWBeams ||
            compVals.machining.isChannel ||
            compVals.machining.isHss
          ">
          <label class="form-label no-wrap" *ngIf="compVals.machining.isLAngle">Short Leg Length (b)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHss">Side (B)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isIBeam || compVals.machining.isWBeams || compVals.machining.isChannel">
            Height (h)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :
          </label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHexagonalBar">Part Base Edge Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <!-- <label class="form-label no-wrap" *ngIf="compVals.machining.isSquareBar || compVals.machining.isRectangularBar">
                        Part Height/Length({{compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})
                        :</label> -->
          <label class="form-label no-wrap" *ngIf="compVals.machining.isBlock || compVals.machining.isOtherShapes">
            {{ compVals.isEnableUnitConversion ? 'Part Height(' + compVals.conversionValue + ')' : 'Part Height(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partHeight'"></app-field-comment>
          <input type="number" class="form-control" formControlName="partHeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isRod || compVals.machining.isWire">
          <label class="form-label no-wrap has-icon" *ngIf="compVals.machining.isRod">
            <span class="label-text">
              {{ compVals.isEnableUnitConversion ? 'Stock Diameter(' + compVals.conversionValue + ')' : 'Stock Diameter(mm)' }}
            </span>
            <app-info-tooltip [infoId]="'Machining_Stock_Diameter'"></app-info-tooltip>
          </label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isWire">
            {{ compVals.isEnableUnitConversion ? 'Wire Diameter (' + compVals.conversionValue + ')' : 'Wire Diameter(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockDiameter'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" formControlName="stockDiameter" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isTube">
          <label class="form-label no-wrap">
            {{ compVals.isEnableUnitConversion ? 'Stock Outer Diameter(' + compVals.conversionValue + ')' : 'Stock Outer Diameter(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockOuterDiameter'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" formControlName="stockOuterDiameter" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isTube">
          <label class="form-label no-wrap">
            {{ compVals.isEnableUnitConversion ? 'Stock Inner Diameter(' + compVals.conversionValue + ')' : 'Stock Inner Diameter(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockInnerDiameter'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" formControlName="stockInnerDiameter" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isSquareBar || compVals.machining.isRectangularBar">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">
              {{ compVals.isEnableUnitConversion ? 'Stock Width(' + compVals.conversionValue + ')' : 'Stock Width(mm)' }}
            </span>
            <app-info-tooltip [infoId]="'Stock_Width'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockCrossSectionWidth'"></app-field-comment>
          <input type="number" class="form-control" formControlName="stockCrossSectionWidth" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3" *ngIf="compVals.machining.isSquareBar || compVals.machining.isRectangularBar">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">
              {{ compVals.isEnableUnitConversion ? 'Stock Height/Thickness(' + compVals.conversionValue + ')' : 'Stock Height/Thickness(mm)' }}
            </span>
            <app-info-tooltip [infoId]="'Stock_Height_Thickness'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockCrossSectionHeight'"></app-field-comment>
          <input type="number" class="form-control" formControlName="stockCrossSectionHeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isHexagonalBar || compVals.machining.isIBeam || compVals.machining.isWBeams || compVals.machining.isChannel">
          <label class="form-label no-wrap" *ngIf="compVals.machining.isIBeam || compVals.machining.isWBeams || compVals.machining.isChannel">
            Thickness (s) ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :
          </label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHexagonalBar">Stock Base Edge Length ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockHexSideDimension'"></app-field-comment>
          <input type="number" class="form-control" formControlName="stockHexSideDimension" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <div
          class="col-4 mt-3"
          *ngIf="
            compVals.machining.isRod ||
            compVals.machining.isTube ||
            compVals.machining.isSquareBar ||
            compVals.machining.isRectangularBar ||
            compVals.machining.isHexagonalBar ||
            compVals.machining.isWire ||
            compVals.machining.isLAngle ||
            compVals.machining.isIBeam ||
            compVals.machining.isWBeams ||
            compVals.machining.isChannel ||
            compVals.machining.isHss
          ">
          <label class="form-label no-wrap" *ngIf="compVals.machining.isLAngle">L Angle Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isIBeam">I Beam Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isWBeams">W Beam Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isChannel">Channel Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isHss">HSS Length (L)({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isWire">Wire Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <label
            class="form-label no-wrap has-icon"
            *ngIf="
              !(compVals.machining.isLAngle || compVals.machining.isIBeam || compVals.machining.isWBeams || compVals.machining.isChannel || compVals.machining.isHss || compVals.machining.isWire)
            ">
            <span class="label-text">Stock Length({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
            <app-info-tooltip [infoId]="'Machining_Stock_Length'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockLength'"></app-field-comment>
          <input type="number" class="form-control" formControlName="stockLength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <div
          class="col-4 mt-3"
          *ngIf="compVals.machining.isRod || compVals.machining.isTube || compVals.machining.isSquareBar || compVals.machining.isRectangularBar || compVals.machining.isHexagonalBar">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Standard Bar Length ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
            <app-info-tooltip [infoId]="'Machining_Standard_Bar_Length'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'BarLength'"></app-field-comment>
          <input type="number" class="form-control" formControlName="coilLength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isHss">
          <label class="form-label no-wrap">HSS Stock Length ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}):</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockHssLength'"></app-field-comment>
          <select formControlName="coilLength" class="form-control" (change)="calculateCost()">
            <option value="" selected>-------Select Length---------</option>
            <option value="3000">3000</option>
            <option value="5000">5000</option>
            <option value="6000">6000</option>
          </select>
        </div>
        <div class="col-4 mt-3" *ngIf="compVals.machining.isHss">
          <label class="form-label no-wrap">HSS Stock Weight (gr):</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockHssWeight'"></app-field-comment>
          <input type="number" class="form-control" formControlName="coilWeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <div class="col-4 mt-3" *ngIf="compVals.machining.isBlock">
          <label class="form-label no-wrap">
            {{ compVals.isEnableUnitConversion ? 'Block Length(' + compVals.conversionValue + ')' : 'Block Length(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'blockLength'"></app-field-comment>
          <input type="number" class="form-control" formControlName="blockLength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3" *ngIf="compVals.machining.isBlock">
          <label class="form-label no-wrap">
            {{ compVals.isEnableUnitConversion ? 'Block Width(' + compVals.conversionValue + ')' : 'Block Width(mm)' }}
            :
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'blockWidth'"></app-field-comment>
          <input type="number" class="form-control" formControlName="blockWidth" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3" *ngIf="compVals.machining.isBlock">
          <label class="form-label no-wrap">{{ compVals.isEnableUnitConversion ? 'Block Height(' + compVals.conversionValue + ')' : 'Block Height(mm)' }}:</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'blockHeight'"></app-field-comment>
          <input type="number" class="form-control" formControlName="blockHeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3" *ngIf="compVals.machining.isOtherShapes">
          <label class="form-label no-wrap">{{ compVals.isEnableUnitConversion ? 'Stock Cross-sectional Area (' + compVals.conversionValue + '^2)' : 'Stock Cross-sectional Area(mm^2)' }}:</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'stockCrossSectionArea'"></app-field-comment>
          <input type="number" class="form-control" formControlName="stockCrossSectionArea" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>

        <!-- *ngIf="compVals.machining.isRod || compVals.machining.isWire || compVals.machining.isTube || compVals.machining.isSquareBar || compVals.machining.isRectangularBar || compVals.machining.isHexagonalBar || compVals.machining.isBlock || compVals.machining.isOtherShapes" -->
        <div class="col-4 mt-3" *ngIf="!compVals.machining.isHss">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">End Scrap Length ( {{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }})</span>
            <app-info-tooltip [infoId]="'Machining_End_Scrap_Length'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'enterStartEndScrapLength'"></app-field-comment>
          <input type="number" class="form-control" formControlName="enterStartEndScrapLength" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3" *ngIf="compVals.machining.isHss">
          <label class="form-label no-wrap">Part Cutting Allowance ({{ compVals.isEnableUnitConversion ? compVals.conversionValue : 'mm' }}) :</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'cuttingAllowance'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" formControlName="cuttingAllowance" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon" *ngIf="!compVals.machining.isWire">
            <span class="label-text">Parts Per Stock/Bar(Nos)</span>
            <app-info-tooltip [infoId]="'Machining_Parts_Per_Stock_Bar'"></app-info-tooltip>
          </label>
          <label class="form-label no-wrap" *ngIf="compVals.machining.isWire">Parts Per Wire(Nos):</label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partsPerCoil'"></app-field-comment>
          <input type="number" class="form-control" formControlName="partsPerCoil" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">
              Part Surface Area
              {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + '^2)' : '(mm^3)' }}
            </span>
            <app-info-tooltip [infoId]="'Part_Surface_Area'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partSurfaceArea'"></app-field-comment>
          <input type="number" class="form-control" formControlName="partSurfaceArea" (blur)="calculateCost()" />
        </div>
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Net Weight/Part (g)</span>
            <app-info-tooltip [infoId]="'Part_Net_Weight'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'netWeight'"></app-field-comment>
          <input
            type="number"
            class="form-control"
            [ngClass]="{
              'input-mandatory': f.netWeight.errors,
              'input-valid': f.netWeight.valid && !f.netWeight.dirty,
              'input-overridden': f.netWeight.dirty && f.netWeight.touched,
            }"
            placeholder="Enter weight"
            formControlName="netWeight"
            [OnlyNumber]="true"
            (blur)="calculateCost()"
            min="0" />
        </div>
        <div class="col-4">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">Material Utilisation %</span>
            <app-info-tooltip [infoId]="'Material_Utilisation'"></app-info-tooltip>
          </label>
          <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'utilisation'"></app-field-comment>
          <input type="number" class="form-control" formControlName="utilisation" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3">
          <label class="form-label no-wrap has-icon">
            <span class="label-text">
              Part Volume
              {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + '^3)' : '(mm^3)' }}
            </span>
            <app-info-tooltip [infoId]="'Part_Volume'"></app-info-tooltip>
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partVolume'"></app-field-comment>
          <input type="number" class="form-control" [OnlyNumber]="true" placeholder="Enter Volume" formControlName="partVolume" (blur)="calculateCost()" min="0" />
        </div>
        <div class="col-4 mt-3">
          <label class="form-label no-wrap">
            Part Projected/Surface Area
            {{ compVals.isEnableUnitConversion ? '(' + compVals.conversionValue + '^2)' : '(mm^2)' }}
            :
          </label>
          <app-field-comment class="position-absolute right-top-comment" [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'partProjectArea'"></app-field-comment>
          <input
            type="number"
            [ngClass]="{
              'input-mandatory': f.partProjectArea.errors,
              'input-valid': f.partProjectArea.valid && !f.partProjectArea.dirty,
              'input-overridden': f.partProjectArea.dirty && f.partProjectArea.touched,
            }"
            class="form-control"
            placeholder="Enter Area"
            [OnlyNumber]="true"
            formControlName="partProjectArea"
            (blur)="calculateCost()"
            min="0" />
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-left mt-3">
    <div>
      <a class="link-info" href="javascript:void(0)" (click)="compVals.isMaterialDetailsDisplay = !compVals.isMaterialDetailsDisplay" id="_btnMatShow">
        <i class="bx bx-plus"></i>
        {{ compVals.isMaterialDetailsDisplay ? 'Show Less' : 'Show More' }}
      </a>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header">Material Cost Details</div>
    <div class="card-body">
      <div class="row">
        <div class="row" *ngIf="compVals.isMaterialDetailsDisplay">
          <div class="col-4 mt-2">
            <label class="form-label no-wrap">Volume Discount (%):</label>
            <input type="number" class="form-control" formControlName="volumeDiscountPer" readonly />
          </div>
          <div class="col-4 mt-2">
            <label class="form-label no-wrap">Gross Weight(g):</label>
            <input type="number" class="form-control" readonly="readonly" formControlName="grossWeight" />
          </div>
          <div class="col-4 mt-2">
            <label class="form-label no-wrap">Material Cost/Part($):</label>
            <input type="number" class="form-control" readonly="readonly" formControlName="grossMaterialCost" />
          </div>
          <div class="col-4 mt-3">
            <label class="form-label no-wrap">Scrap Weight/Part (g):</label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'scrapWeight'"></app-field-comment>
            <input type="number" class="form-control" formControlName="scrapWeight" [OnlyNumber]="true" (blur)="calculateCost()" min="0" />
          </div>
          <div class="col-4 mt-3">
            <label class="form-label no-wrap">Scrap Recovery Cost/Part($):</label>
            <input type="number" class="form-control" readonly="readonly" formControlName="scrapRecCost" />
          </div>
          <div class="col-4 mt-3">
            <label class="form-label no-wrap has-icon">
              <span class="label-text">Scrap Recovery(%):</span>
              <app-info-tooltip [infoId]="'Part_Scrap_Recovery_Percentage'"></app-info-tooltip>
            </label>
            <app-field-comment [formIdentifier]="compVals.formIdentifier" [fieldIdentifier]="'scrapRecovery'"></app-field-comment>
            <input type="number" class="form-control" formControlName="scrapRecovery" (blur)="calculateCost()" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-4">
            <label class="form-label no-wrap font-semibold">Net Material Cost/Part ($):</label>
            <input type="number" class="form-control text-base font-bold" formControlName="netMaterialCost" readonly />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
