.ai-attribute-modal-container {
  padding: 2%;
  height: 80vh;
  overflow: scroll;
}

.info-secion-container {
  justify-self: center;
  width: 80%;
  display: flex;
  flex-flow: column;
  gap: 3vh;
}

.bt-spinners {
  width: 60px;
  height: 60px;

  margin-bottom: 350px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #222;
  border-top-color: grey;
  animation: 1s spin linear infinite;
  z-index: 2;
}

.overlay {
  position: absolute;
  left: 0;
  top: 4%;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.btn-close {
  position: absolute;
  right: 5vh;
  top: 5vh;
}

.packaging-secion {
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 2%;
}
