// mat-sidenav-container {
//   margin-top: -21px;
// }

mat-list-item {
  cursor: pointer;
}

.is-active {
  background: #f5f9ff;
  color: #3f83f9;
}

.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  min-height: 32px;
}

.container {
  min-height: 500px;
}
.mat-drawer-container {
  --mat-sidenav-content-background-color: var(--bs-white);
}
