.btnSave {
  margin: 20px 0px;
  justify-content: center;

  button {
    width: 7em;
  }
}

.btnSelected {
  background-color: #0d6efd;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.hoverable {
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  // border: 5px solid #000;
  border-radius: 50%;
}

.hoverable .hover-text {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hoverable .background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.hoverable:hover .hover-text {
  display: block;
}

.hoverable:hover .background {
  display: block;
}

#fileInput {
  display: none;
}

.errorMessage {
  font-size: 0.8em;
}

.btn-add-user {
  border: none;
  display: flex;
  padding: 0 16px;
  font-weight: 500;
  box-shadow:
    0 3px 1px -2px #0003,
    0 2px 2px #00000024,
    0 1px 5px #0000001f;
  color: #000000de;
  line-height: 37px;
  align-items: center;
  background: var(--bs-white);
  &:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
}

.user-checkbox-label {
  display: flex;
  gap: 5%;
  align-items: center;
}
