.mat-icon {
  cursor: pointer;
}

.compare-icon {
  top: 0.5rem;
  right: 0.5rem;

  button {
    &:hover,
    &:focus {
      mat-icon {
        color: var(--bs-primary);
      }
    }

    mat-icon {
      color: #000000;
    }
  }
}

.active {
  background-color: #e5e7eb;
}

.action-button {
  div {
    a.default {
      color: #0d6efd;
    }

    a.red {
      color: #dc3545;
    }

    a {
      font-size: 14px;
      cursor: pointer;
      padding: 0 16px;
      min-width: 64px;
      line-height: 36px;
      border-radius: 4px;
      align-items: center;
      display: inline-flex;

      &:hover {
        background: rgba(0, 0, 0, 0.03);
      }

      .mat-icon {
        flex-shrink: 0;
      }
    }
  }
}

.bomContainer {
  gap: 5px;
  height: 300px;
  overflow-y: auto;
  padding: 4px 16px 0 16px;
}

.cadexbomContainer {
  height: auto;
  padding: 16px 10px 10px 10px;
  margin-bottom: 2rem;
}

button.exportimportbtn {
  border: 1px solid #dcdcdc;
  color: var(--bs-link-hover-color);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

.part-image {
  width: 23rem;
}

.uploadImage {
  width: 100%;
  height: 150px;
}

.uploadImage i {
  font-size: 50px;
  display: block;
  color: var(--bs-link-hover-color);
  margin-bottom: 10px;
}

.aligned-with-icon {
  margin-left: 5px;
  font-weight: 400;
  white-space: nowrap;
  color: var(--bs-body-color);
}

.fileviewer-container {
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#file-viewer {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

#file-viewer .cadex-logo {
  visibility: hidden;
  background-color: #ffffff !important;
  color: #dee2e6 !important;
}

@media screen and (min-width: 700px) and (max-width: 1280px) {
  .fileviewer-container {
    width: 12.5rem !important;
  }
}

.section-header {
  font-size: 14px;
  font-weight: 600;
}

.head-controls {
  > button {
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    color: var(--bs-black);

    &:hover {
      background-color: var(--icon-btn-hover);
    }
    &:focus-visible {
      color: var(--bs-white);
      background-color: var(--primary-shade);
    }
    .mat-icon {
      width: 18px;
      height: 18px;
    }
  }
}

.search-wrap {
  .form-control {
    height: 34px;
    padding-inline-start: 35px;
  }
}

.section-seperator {
  height: 1px;
  margin: 0 auto;
  width: calc(100% - 32px);
  background-color: #dcdcdc;
}

::ng-deep .contextmenu-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #666;
  font-weight: bold;
  padding: 0 8px;

  &:hover {
    color: #000;
  }
}

.expand-cta {
  .mat-icon {
    transform: scale(1.2);
  }
}
