<div class="waterfall-chart w-full flex flex-col">
  @if (chartType === 'esg') {
    <div class="waterfall-header-label text-right w-full">% ESG</div>
  } @else {
    <div class="waterfall-header-label text-right w-full">% Should cost</div>
  }
  <ng-container *ngFor="let item of chartData; let i = index; trackBy: trackByItem">
    <div *ngIf="item.resetFlow" class="waterfall-horizontal-separator"></div>

    <div class="waterfall-row max-w-full">
      <div class="waterfall-label">
        <label [class.font-bold]="item.resetFlow" [class.font-medium]="!item.resetFlow">{{ item.label }}</label>
        <span *ngIf="item.resetFlow" class="notification ml-1" [ngbPopover]="item.popContent" placement="auto" [popoverTitle]="item.popTitle">
          <mat-icon class="graph-icon" svgIcon="information"></mat-icon>
        </span>
      </div>

      <div class="waterfall-bar-wrapper flex items-center flex-nowrap justify-between relative">
        @switch (item.resetFlow) {
          @case (1) {
            <div
              *ngFor="let j of exwPrevIndices"
              class="waterfall-bar absolute intermediate"
              [style.width.%]="chartData[j].percent"
              [style.marginLeft.%]="chartData[j].offset"
              [style.backgroundColor]="chartData[j].color">
              <span class="bar-connect block h-full w-full relative"></span>
            </div>
          }
          @case (2) {
            <div
              *ngFor="let j of totPrevIndices"
              class="waterfall-bar absolute"
              [style.width.%]="chartData[j].percent"
              [style.marginLeft.%]="chartData[j].offset"
              [style.backgroundColor]="chartData[j].color"></div>
          }
          @default {
            <div class="waterfall-bar relative connected" [style.width.%]="item.percent" [style.marginLeft.%]="item.offset" [style.backgroundColor]="item.color"></div>
          }
        }
      </div>

      <div class="waterfall-percent-label shrink-0 ml-auto">
        @if (item.resetFlow !== 2) {
          {{ item.percent | number: '1.2-2' }}
        } @else {
          {{ item.percent | number: '1.0-0' }}
        }
        %
      </div>
    </div>
  </ng-container>
</div>
