.sort-icon {
  font-style: italic;
  padding-bottom: 1px;
  cursor: pointer;
}

.modal-header {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
}

.comment-font {
  font-size: 14px !important;
}

.comment-font-subtext {
  font-size: 12px !important;
}
