<div class="dialog-container flex flex-col h-full">
  <div class="content-holder pt-3 px-3 pb-1">
    <h2 class="mb-0 font-semibold text-xs">{{ dialogTitle }}</h2>
  </div>
  <form [formGroup]="formGroup" class="floating-label-form flex flex-col justify-between h-full min-h-0">
    <div class="flex flex-col py-2 px-3">
      <label class="form-label" for="inputDefault">Internal Part Number:</label>
      <mat-form-field appearance="outline" class="part-number-field">
        <input placeholder="Enter" matInput #input formControlName="NewIntPartNumber" name="NewIntPartNumber" />
      </mat-form-field>
    </div>

    <mat-dialog-actions class="actions-holder pb-3 px-3 pt-1 flex items-center gap-2">
      <button class="btn btn-outline-primary" (click)="closeDialog()">Cancel</button>
      @if (confirmButtonColor !== 'accent') {
        <button mat-button color="{{ confirmButtonColor }}" (click)="addBombuttonClicked(input.value)">{{ dialogAction }}</button>
      } @else {
        <button class="btn btn-primary capitalize" (click)="addBombuttonClicked(input.value)">{{ dialogAction }}</button>
      }
    </mat-dialog-actions>
  </form>
</div>
