.dialog-container {
  width: clamp(516px, 30vw, 70vw);
  max-height: 516px;
  min-height: 190px;

  .content-holder {
    .content {
      word-wrap: break-word;
    }
  }

  .actions-holder {
    justify-content: flex-end;

    button {
      min-width: 100px;
    }
  }
}
