.modal-header {
  border: none;
  --bs-modal-header-border-width: 0px;
  .btn-close {
    --bs-btn-close-color: var(--bs-black);
    --bs-btn-close-opacity: 1;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    width: 10px;
    height: 10px;
    font-size: 10px;
  }
}
.modal-body {
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .table-container {
    height: 60vh;
  }
  .custom-p-table {
    height: 100%;
    .p-datatable-thead th:not([class*='min-w-']),
    .p-datatable-tbody td:not([class*='min-w-']) {
      min-width: 130px;
    }
    .p-datatable-tbody {
      max-height: 60vh;
    }

    .p-icon-delete {
      mat-icon {
        display: flex;
        align-items: center;
        color: var(--bs-black);
        justify-content: center;
        svg {
          width: 12px;
          height: 12px;
          color: var(--bs-black);
        }
      }
    }
    .img-div {
      overflow: hidden;
      border-radius: 4px;
      border: 0.5px solid var(--grid-thumb-border);
    }

    .p-datatable-filter .p-inputtext {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
    .pcColumnfilterClearButton {
      display: none;
    }
    .p-placeholder {
      color: var(--label-shade);
    }
    .sticky-col {
      z-index: 1;
      border-left: 0;
      position: sticky;
      background: var(--bs-white);
      &:before {
        top: 0;
        bottom: 0;
        left: 6px;
        width: 6px;
        content: '';
        position: absolute;
        box-shadow: -6px 0px 9px 0px #e5e8f04d;
        border-left: 1px solid var(--table-head-cell-border);
      }
      &.sticky-right {
        right: 0;
      }
      &.sticky-left {
        left: 0;
        &::before {
          display: none;
        }
      }
      &.sticky-mpn {
        left: 64px;
        &::before {
          display: none;
        }
        &::after {
          top: 0;
          bottom: 0;
          width: 6px;
          height: 100%;
          left: auto;
          right: 0px;
          content: '';
          position: absolute;
          box-shadow: 4px 0px 8px 0px #e5e8f04d;
        }
      }
    }

    .partial,
    .grid-bg-color .partial {
      background-color: var(--bg-light-yellow);
      color: var(--text-dark-brown);
    }
    .no-match,
    .grid-bg-color .no-match {
      background-color: var(--bg-light-red);
      color: var(--text-dark-red);
    }
  }
}
.modal-footer {
  border: none;
  --bs-modal-footer-border-width: 0px;
}
