<form [formGroup]="spendClassificationForm" (ngSubmit)="onFormSubmit()" (change)="onFormValueChange()" autocomplete="off" class="spend-classification px-2 pb-2">
  <!-- <mat-expansion-panel [expanded]="true" #panelUnspscInfo class="expansion-panel">
    <mat-expansion-panel-header class="custom-header">
      <div class="header-left">
        <ng-container *ngIf="!panelUnspscInfo.expanded">
          <mat-icon>add</mat-icon>
        </ng-container>
        <ng-container *ngIf="panelUnspscInfo.expanded">
          <mat-icon>remove</mat-icon>
        </ng-container>
        <span class="header-title">UNSPSC Classification</span>
      </div>
    </mat-expansion-panel-header>

    <ng-container *ngIf="panelUnspscInfo.expanded">
      <section> -->
  <div class="card !mb-3">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label class="form-label">UNSPSC Code</label>
          <input
            type="text"
            formControlName="unspscCode"
            class="form-control"
            placeholder="Enter UNSPSC Code"
            (blur)="onUnspscSelectionsChange($any($event))"
            maxlength="8"
            [ngClass]="{ 'input-failure': !f.unspscCode.errors, 'input-success': f.unspscCode.errors }"
            [OnlyNumber]="true" />
        </div>
      </div>
      <div class="col-6">
        <a class="search-link" (click)="openDialog(dialogTemplateUnspsc)">
          <mat-icon color="primary" svgIcon="search_icon"></mat-icon>
          Search UNSPSC code
        </a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <div class="form-group">
          <label class="form-label">Segment</label>
          <div class="dropdown-wrap">
            <select
              formControlName="unspscSegmentId"
              name="unspscSegment"
              [ngClass]="{
                'input-mandatory': f.unspscSegmentId.errors,
                'input-valid': f.unspscSegmentId.valid && !f.unspscSegmentId.dirty,
                'input-overridden': f.unspscSegmentId.dirty && f.unspscSegmentId.touched,
              }"
              (change)="onUnspscSelectionsChange($event)"
              class="form-control">
              <option value="" selected>Select UNSPSC Segment</option>
              <option *ngFor="let unspscSegment of unspscSegmentList" [value]="unspscSegment.unspscSegmentId">{{ unspscSegment.unspscSegment }}</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label class="form-label">Family</label>
          <div class="dropdown-wrap">
            <select
              formControlName="unspscFamilyId"
              name="unspscFamily"
              [ngClass]="{
                'input-mandatory': f.unspscFamilyId.errors,
                'input-valid': f.unspscFamilyId.valid && !f.unspscFamilyId.dirty,
                'input-overridden': f.unspscFamilyId.dirty && f.unspscFamilyId.touched,
              }"
              (change)="onUnspscSelectionsChange($event)"
              class="form-control">
              <option value="" selected>Select UNSPSC Family</option>
              <option *ngFor="let unspscFamily of unspscFamilyList" [value]="unspscFamily.unspscFamilyId">{{ unspscFamily.unspscFamily }}</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <div class="form-group">
          <label class="form-label">Class</label>
          <div class="dropdown-wrap">
            <select
              formControlName="unspscClassId"
              name="unspscClass"
              [ngClass]="{
                'input-mandatory': f.unspscClassId.errors,
                'input-valid': f.unspscClassId.valid && !f.unspscClassId.dirty,
                'input-overridden': f.unspscClassId.dirty && f.unspscClassId.touched,
              }"
              (change)="onUnspscSelectionsChange($event)"
              class="form-control">
              <option value="" selected>Select UNSPSC Class</option>
              <option *ngFor="let unspscClass of unspscClassList" [value]="unspscClass.unspscClassId">
                {{ unspscClass.unspscClass }}
              </option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label class="form-label">Commodity</label>
          <div class="dropdown-wrap">
            <select
              formControlName="unspscCommodityId"
              name="unspscCommodity"
              [ngClass]="{
                'input-mandatory': f.unspscCommodityId.errors,
                'input-valid': f.unspscCommodityId.valid && !f.unspscCommodityId.dirty,
                'input-overridden': f.unspscCommodityId.dirty && f.unspscCommodityId.touched,
              }"
              (change)="onUnspscSelectionsChange($event)"
              class="form-control">
              <option value="" selected>Select UNSPSC Commodity</option>
              <option *ngFor="let unspscCommodity of unspscCommodityList" [value]="unspscCommodity.unspscCommodityId">{{ unspscCommodity.unspscCommodity }}</option>
            </select>
            <mat-icon class="dropdown-arrow" svgIcon="downArrow_icon"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <div class="form-group">
        <label class="form-label">Internal Classification Code</label>
        <input
          type="text"
          formControlName="internalClassificationCode"
          class="form-control"
          placeholder="Enter internal classification Code"
          [ngClass]="{ 'input-failure': !f.internalClassificationCode.errors, 'input-success': f.internalClassificationCode.errors }" />
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12 px-2">
      <div class="form-group">
        <label class="form-label">Internal Description</label>
        <textarea
          formControlName="internalDescription"
          class="form-control resize-none"
          placeholder="Enter internal Description"
          [ngClass]="{ 'input-failure': !f.internalDescription.errors, 'input-success': f.internalDescription.errors }"
          rows="3"></textarea>
      </div>
    </div>
  </div>
  <!-- </section>
    </ng-container>
  </mat-expansion-panel> -->

  <ng-template #dialogTemplateUnspsc>
    <div class="flex flex-col w-full h-full min-h-0">
      <div class="modal-header flex items-center justify-between w-full">
        <h4 class="modal-title" id="modal-basic-title">UNSPSC Lookup</h4>
        <button aria-label="Close modal" title="Close Modal" class="modal-close flex items-center justify-center border-none bg-white" (click)="onCancel()">
          <mat-icon class="close-icon" matTooltip="Close" matTooltipPosition="above">close_icon</mat-icon>
        </button>
      </div>
      <div class="modal-body flex flex-col h-full min-h-0">
        <app-generic-data-table
          [apiUrl]="'/api/master/UnSpscMaster'"
          [columns]="unspscColumns"
          [selectable]="true"
          [dataKey]="'UnspscMasterId'"
          (rowSelect)="handleUnspscSearchSelection($event)"></app-generic-data-table>
      </div>
    </div>
  </ng-template>
</form>
