.input-success {
  border-left: 3px solid red;
}

.input-failure {
  border-left: 3px solid green;
}

agm-map {
  height: 300px;
}

.list_route_info {
  background-color: #f7f9fc;
  border-radius: 5px;
  list-style: none;
}

.list_route_info .route_info_item {
  transform-origin: top center;
  animation: translateY 700ms ease-in-out forwards;
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 20px;
}

.route_info_item p {
  margin: auto;
}

.timeline-line-blue {
  border-left: 5px solid #08f;
  margin-left: 90px;
  z-index: -1;
  height: auto;
}

.timeline-dot-blue {
  background-color: #08f;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  transform: translateX(-58px);
  position: absolute;
}

.timeline-line-green {
  border-left: 5px solid #008000;
  margin-left: 90px;
  z-index: -1;
  height: auto;
}

.timeline-dot-green {
  background-color: #008000;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  transform: translateX(-58px);
  position: absolute;
}

.timeline-line-violet {
  border-left: 5px solid #800080;
  margin-left: 90px;
  z-index: -1;
  height: auto;
}

.timeline-dot-violet {
  background-color: #800080;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  transform: translateX(-58px);
  position: absolute;
}

.nb-spinner {
  width: 75px;
  height: 75px;
  margin: 60px 0px 0px 175px;
  background: transparent;
  border-top: 4px solid #3f83f9;
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}

.bt-spinner {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid var(--primary-shade);
  border-top-color: var(--bs-white);
  animation: 2s spin linear infinite;
  z-index: 2;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-right: -214px;
  overflow-x: auto;
  margin-top: -29px;
}

.hh-grayBox {
  padding: 12px 12px 10px 12px;
}

.pt45 {
  padding-top: 45px;
}

.order-tracking {
  text-align: center;
  width: 100%;
  position: relative;
  display: block;
  flex: 1 1 0;
  min-width: 0;
}

// .order-tracking .is-complete {
//   display: block;
//   position: relative;
//   border-radius: 50%;
//   height: 30px;
//   width: 30px;
//   border: 0px solid #AFAFAF;
//   background-color: #f7be16;
//   margin: 0 auto;
//   transition: background 0.25s linear;
//   -webkit-transition: background 0.25s linear;
//   z-index: 2;
// }

.order-tracking .is-complete:after {
  display: block;
  position: absolute;
  content: '';
  height: 14px;
  width: 7px;
  top: -2px;
  bottom: 0;
  left: 5px;
  margin: auto 0;
  border: 0px solid #afafaf;
  border-width: 0px 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

// .order-tracking.completed .is-complete{
// 	border-color: #27aa80;
// 	border-width: 0px;
// 	background-color: #27aa80;
// }
.order-tracking.completed .is-complete:after {
  border-color: #fff;
  border-width: 0px 3px 3px 0;
  width: 7px;
  left: 11px;
  opacity: 1;
}

.order-tracking p {
  color: #a4a4a4;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0;
  line-height: 20px;
}

.order-tracking p span {
  font-size: 14px;
}

.order-tracking.completed p {
  color: #000;
}

.order-tracking1::before {
  left: calc(-100% + 18px);
  width: 160px;
}

.order-tracking-s::before {
  left: calc(-173% + -59px);
  width: 257%;
}

.order-tracking0::before {
  width: 100%;
  left: calc(-100% + 29px);
}

.order-tracking::before {
  content: '';
  display: block;
  height: 3px;
  top: 13px;
  position: absolute;
  z-index: 0;
  margin-top: 13px;
}

.location-icon-last {
  margin-left: 16px;
  margin-top: 1px;
}

.location-icon-ss {
  margin-top: 3px;
  margin-left: 16px;
}

.location-icon-first {
  margin-left: 17px;
  margin-top: 3px;
}

// .dot1 {
//   margin-top: 0px !important;
// }

.order-tracking:first-child:before {
  display: none;
}
.order-tracking:first-child {
}

.dot {
  height: 14px;
  width: 14px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid #e9e9e9;
  display: inline-block;
  margin-left: 8px;
  margin-top: 19px;
  position: absolute;
  left: 17px;
  top: 0;
  z-index: 1;
}

.location-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  content: url(../../../../../assets/images/map-location-icon-29.png);
  position: absolute;
  left: 0;
  top: 0;
}

.icon1 {
  height: 20px;
  width: 20px;
  margin-right: 11px;
}

.icon-s {
  width: 30px;
  height: 30px;
  margin-right: -650%;
  overflow-x: auto;
  margin-top: -15px;
}

.icon-ss {
  margin-right: -325% !important;
}

.redColor::before {
  background-color: red;
}

.blueColor::before {
  background-color: blue;
}

.greenColor::before {
  background-color: green;
}

.verticalLine {
  width: 1px;
  height: 100px;
  background: #e0e0e0;
  margin-top: -23px;
  transform: translateX(-10px);
}

.cost {
  margin-top: -84px;
  margin-left: -10px;
  width: 154%;
  padding-left: 15px;
  h3 {
    font-size: 1rem;
    white-space: nowrap;
  }
}

.cost-b {
  right: 5%;
  position: absolute;
  width: 32%;
}

@media screen and (max-width: 1300px) {
  .icon-content {
    width: 50%;
  }

  // .order-tracking1::before {
  //   left: calc(-100% + 18px);
  //   width: 96px;
  // }

  // .order-tracking-s[_ngcontent-rxu-c359]::before {
  //   left: calc(-173% - 47px);
  //   width: 257%;
  //   margin-top: 31px !important;
  // }

  // .order-tracking-s::before {
  //   left: calc(-173% - 46px);
  //   width: 257%;
  //   margin-top: 31px !important;
  // }

  // .order-tracking0::before {
  //   width: 131%;
  //   left: calc(-80% - 2px);
  // }

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-right: -144px;
    overflow-x: auto;
    margin-top: -29px;
  }
}

.order-tracking {
  p.route-name {
    margin-left: 0;
    padding-top: 30px;
    .route-name-multiline {
      display: -webkit-box;
      max-width: 120px;
      font-size: 0.75rem;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      white-space: normal;
      text-align: left;
    }
  }
}
.mat-expansion-panel {
  --mat-expansion-header-text-size: 12px;
}
.route-visualization-container {
  border-radius: 6px;
}
.route-item-wrapper {
  flex: 1;
  display: flex;
  &:last-child {
    flex: initial;
    justify-content: flex-end;
  }
}

.route-point {
  flex: 0 0 auto;
  z-index: 2;
  min-width: 50px;
  position: relative;
}

.route-icon-wrapper {
  width: 36px;
  height: 36px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--component-border);
}

.route-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.route-point-label {
  color: var(--sub-heading-text);
  max-width: 80px;

  .route-name-multiline {
    display: -webkit-box;
    max-width: 120px;
    font-size: 0.75rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: center;
  }
}

.route-segment {
  flex: 1 1 auto;
  margin: 0 8px;
  min-width: 10px;
}

.route-segment-line {
  width: 100%;
  height: 1px;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid var(--tab-border);
  &.land-segment {
    border-color: var(--success-green-bg);
  }
  &.sea-segment {
    border-color: var(--primary-shade);
  }
  &.air-segment {
    border-color: var(--stock-red-text);
  }
}

.route-segment-icon {
  height: 20px;
  min-width: 32px;
  padding: 1px 8px;
  border-radius: 16px;
  margin-bottom: 8px;
  background-color: var(--light-blue-border);
  border: 1px solid var(--material-table-border);
}
.segment-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.metric-card {
  border-radius: 6px;
}

.metrics-container {
  margin-top: 10px;
}

.metrics-top-row {
  gap: 8px;
}

.metric-card {
  background: var(--bs-white);
  border: 1px solid var(--light-blue-border);
}

.co2-card {
  border: 2px solid var(--esg-border);
}

.co2-value {
  color: var(--esg-border);
}

.cost-breakdown-card {
  gap: 20px;
  display: flex;
  align-items: center;
  background: var(--blue-light-border);
  border: 1px solid var(--badge-border);
}
.cost-breakdown-divider {
  width: 1px;
  height: 60px;
  background: var(--badge-border);
}

.payment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment-label {
  color: var(--sub-heading-text);
}

// Logistics breakdown ledger
.ledger-container {
  margin-top: 20px;
  padding-top: 14px;
  border-top: 1px solid var(--material-table-border);
  .badge {
    padding: 3px 5px;
    border-radius: 4px;
  }
  .badge-co2 {
    border: 1px solid var(--table-green-text);
  }
  .text-co2 {
    color: var(--success-green-bg);
  }

  .badge-distance {
    border: 1px solid var(--component-border);
  }
  .ledger-card {
    position: relative;
    padding-bottom: 16px;

    &::before {
      top: 30px;
      left: 18px;
      width: 1px;
      content: '';
      height: calc(100% - 30px);
      position: absolute;
      z-index: 1;
      border-left: 1.5px dashed var(--component-border);
    }
  }
  .ledger-card-wrapper:nth-last-of-type(2),
  .ledger-card-wrapper:nth-last-of-type(1) {
    .ledger-card {
      &::before {
        display: none;
      }
    }
  }

  .ledger-card:last-child .leg-icon::before {
    display: none;
  }
  .ledger-leg-subtitle {
    margin-top: 2px;
    padding-left: 52px;
    color: var(--label-shade);
  }
  .ledger-items {
    background-color: var(--light-blue-border);
    border-color: var(--badge-border);
  }

  .ledger-items-outer-wrapper {
    padding-left: 52px;
    .ledger-items-inner-wrapper {
      border-radius: 6px;
      border: 1px solid var(--component-border);
    }
    .ledger-item {
      padding: 14px 12px 14px 0px;
      grid-template-columns: 1.5fr 1fr 1fr;
      &::before {
        top: 50%;
        width: 4px;
        left: -16px;
        content: '';
        position: absolute;
        border-radius: 4px;
        height: calc(100% - 24px);
        transform: translateY(-50%);
        background-color: var(--blue-light-border);
      }
    }
    .meta {
      color: var(--label-shade);
      min-width: 100px;
    }
    .ledger-item {
      border-bottom: 1px solid var(--input-border-color);
    }

    .ledger-subtotal {
      border-radius: 6px;
      color: var(--label-text);
      background-color: var(--blue-light-border);
    }
  }
}

.map-container {
  height: 220px !important;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}
@media screen and (min-width: 1560px) {
  .route-point-label {
    max-width: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .map-container {
    height: 181px !important;
  }
  .route-visualization-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .route-segment {
    min-width: 80px;
    margin: 0 5px;
  }

  .route-point {
    min-width: 80px;
  }

  .route-segment-label {
    font-size: 0.7rem;
  }
}
