<form [formGroup]="costingOverHeadProfitForm" (ngSubmit)="onFormSubmit()" autocomplete="off" (change)="onFormValueChange()">
  <ng-template #popContent>
    <div [innerHTML]="name"></div>
    <div class="div-img" *ngIf="url">
      <img alt="" class="img-class" [src]="url" />
    </div>
  </ng-template>
  <div class="clt container-fluid">
    <div class="row gx-5">
      <ul>
        <div class="row row-cols-4 mt-3">
          <div class="col-md-5 flex align-items-center">
            <label class="form-label no-wrap has-icon" for="inputDefault">
              <span class="label-text">Overhead</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Cost')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
            <a mat-button (click)="clickIcon('OverHead')">
              <span class="material-icons">{{ OverHeadIcon }}</span>
            </a>
          </div>

          <div class="col mx-2"></div>
          <div class="col ng-star-inserted">
            <div class="input-icon">
              <input type="text" style="text-align: right" class="form-control width94p" formControlName="OverheadandProfitAmount" readonly="readonly" id="OverheadandProfitAmount" />
              <i>$</i>
            </div>
          </div>
        </div>

        <div *ngIf="isShowOverHead">
          <ul>
            <li>
              <div class="row row-cols-4 mt-3">
                <div class="col-md-5 flex align-items-center">
                  <label class="form-label no-wrap has-icon" for="inputDefault">
                    <span class="label-text">Material overhead</span>
                    <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Material_Overhead')">
                      <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                    </span>
                  </label>
                </div>
                <div class="col">
                  <div class="input-icon input-icon-right">
                    <input type="number" style="text-align: right" class="form-control" (blur)="calculateCost()" formControlName="mohPer" [OnlyNumber]="true" min="0" />
                    <i>%</i>
                  </div>
                </div>
                <div class="col">
                  <div class="input-icon">
                    <input type="text" style="text-align: right" class="form-control" formControlName="mohCost" readonly="readonly" id="mohCost" />
                    <i>$</i>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="row row-cols-4 mt-3">
                <div class="col-md-5 flex align-items-center">
                  <label class="form-label no-wrap has-icon" for="inputDefault">
                    <span class="label-text">Factory overhead</span>
                    <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Factory_Overhead')">
                      <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                    </span>
                  </label>
                </div>
                <div class="col">
                  <div class="input-icon input-icon-right">
                    <input type="number" #fohPer class="form-control" style="text-align: right" (blur)="calculateCost()" formControlName="fohPer" id="fohPer" [OnlyNumber]="true" min="0" />
                    <i>%</i>
                  </div>
                </div>
                <div class="col">
                  <div class="input-icon">
                    <input type="text" class="form-control" formControlName="fohCost" readonly="readonly" style="text-align: right" id="fohCost" />
                    <i>$</i>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class="row row-cols-4 mt-3">
                <div class="col-md-5 flex align-items-center">
                  <label class="form-label no-wrap has-icon" for="inputDefault">
                    <span class="label-text">SG & A</span>
                    <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('SG_And_A')">
                      <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                    </span>
                  </label>
                </div>
                <div class="col">
                  <div class="input-icon input-icon-right">
                    <input type="number" #sgaPer class="form-control" (blur)="calculateCost()" formControlName="sgaPer" style="text-align: right" id="sgaPer" [OnlyNumber]="true" min="0" />
                    <i>%</i>
                  </div>
                </div>
                <div class="col">
                  <div class="input-icon">
                    <input type="text" class="form-control" style="text-align: right" formControlName="sgaCost" readonly="readonly" id="sgaCost" />
                    <i>$</i>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ul>
      <ul>
        <div class="row row-cols-4 mt-3">
          <div class="col-md-2 mx-2">
            <label class="form-label no-wrap has-icon" for="inputDefault">
              <span class="label-text">Profit</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Profit')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>
          </div>
          <div class="col">
            <div class="input-icon input-icon-right">
              <label class="form-label no-wrap has-icon" for="inputDefault">
                <span class="label-text">Material</span>
                <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Material')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <input
                type="number"
                class="form-control"
                style="text-align: right"
                (blur)="calculateCost()"
                formControlName="materialProfitPer"
                id="materialProfitPer"
                matTooltip="Material Profit Percentage"
                #profitPer
                [OnlyNumber]="true"
                min="0" />
              <i class="percentage">%</i>
            </div>
          </div>
          <div class="col">
            <div class="input-icon input-icon-right">
              <label class="form-label no-wrap has-icon" for="inputDefault">
                <span class="label-text">Manufacturing</span>
                <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Manufacturing')">
                  <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                </span>
              </label>
              <input
                type="number"
                class="form-control"
                style="text-align: right"
                (blur)="calculateCost()"
                formControlName="processProfitPer"
                id="processProfitPer"
                matTooltip="Process Profit Percentage"
                #profitPer
                [OnlyNumber]="true"
                min="0" />
              <i class="percentage">%</i>
            </div>
          </div>
          <div class="col">
            <div class="input-icon">
              <label class="form-label percentage mt-0 mb-0" for="inputDefault"></label>
              <input type="text" class="form-control width94p" style="text-align: right" formControlName="profitCost" readonly="readonly" id="profitCost" />
              <i class="percentage">$</i>
            </div>
          </div>
        </div>
      </ul>
      <ul>
        <div class="row row-cols-4">
          <div class="col-md-5 flex align-items-center">
            <label class="form-label no-wrap has-icon" for="inputDefault">
              <span class="label-text">Cost of capital</span>
              <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Cost_Of_Capital')">
                <mat-icon class="info-icon" svgIcon="information"></mat-icon>
              </span>
            </label>

            <a mat-button (click)="clickIcon('CostOfCapital')">
              <span class="material-icons">{{ CostOfCapitalIcon }}</span>
            </a>
          </div>

          <div class="col mx-2"></div>
          <div class="col">
            <div class="input-icon">
              <input type="text" style="text-align: right" class="form-control width94p" formControlName="CostOfCapitalAmount" readonly="readonly" id="CostOfCapitalAmount" />
              <i>$</i>
            </div>
          </div>
        </div>
        <div *ngIf="isShowCostOfCapital">
          <ul>
            <li>
              <div class="row row-cols-4 mt-3">
                <div class="col-md-5 flex align-items-center">
                  <label class="form-label no-wrap has-icon" for="inputDefault">
                    <span class="label-text">Inventory carrying</span>
                    <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Inventory_Carrying')">
                      <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                    </span>
                  </label>

                  <a mat-button (click)="clickIcon('InventoryCarrying')">
                    <span class="material-icons">{{ InventoryCarryingIcon }}</span>
                  </a>
                </div>

                <div class="col"></div>
                <div class="col">
                  <div class="input-icon">
                    <input type="text" style="text-align: right" class="form-control" formControlName="InventoryCarryingAmount" readonly="readonly" id="InventoryCarryingAmount" />
                    <i>$</i>
                  </div>
                </div>
              </div>
            </li>
            <ul>
              <div *ngIf="isShowInventoryCarrying">
                <li>
                  <div class="row row-cols-4 mt-3">
                    <div class="col-md-5 colsecond">
                      <label class="form-label has-icon no-wrap" for="inputDefault">
                        <span class="label-text">Raw materials</span>
                        <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Raw_Materials')">
                          <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                        </span>
                      </label>
                    </div>
                    <div class="col colthirdwidth">
                      <div class="input-icon input-icon-right">
                        <input type="number" class="form-control" style="text-align: right" (blur)="calculateCost()" formControlName="iccPer" id="iccPer" [OnlyNumber]="true" min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col colthirdwidth">
                      <div class="input-icon">
                        <input type="text" class="form-control" style="text-align: right" formControlName="iccCost" readonly="readonly" id="iccCost" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="row row-cols-4 mt-3">
                    <div class="col-md-5 colsecond">
                      <label class="form-label no-wrap has-icon" for="inputDefault">
                        <span class="label-text">Finish goods</span>
                        <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Finish_Goods')">
                          <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                        </span>
                      </label>
                    </div>
                    <div class="col colthirdwidth">
                      <div class="input-icon input-icon-right">
                        <input type="number" class="form-control" style="text-align: right" (blur)="calculateCost()" formControlName="fgiccPer" id="fgiccPer" [OnlyNumber]="true" min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col colthirdwidth">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control" formControlName="fgiccCost" readonly="readonly" id="fgiccCost" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <div *ngIf="isShowCostOfCapital" class="row row-cols-4 mt-3">
                    <div class="col-md-5 colsecond">
                      <label class="form-label no-wrap has-icon" for="inputDefault">
                        <span class="label-text">Payment Terms</span>
                        <span class="notification" [ngbPopover]="popContent" placement="auto" popoverTitle="Description" (click)="showinfo('Overhead_Payment_Terms')">
                          <mat-icon class="info-icon" svgIcon="information"></mat-icon>
                        </span>
                      </label>
                    </div>
                    <div class="col colthirdwidth">
                      <div class="input-icon input-icon-right">
                        <input
                          type="number"
                          class="form-control"
                          style="text-align: right"
                          (blur)="calculateCost()"
                          formControlName="paymentTermsPer"
                          #paymentPer
                          id="paymentTermsPer"
                          [OnlyNumber]="true"
                          min="0" />
                        <i>%</i>
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-icon">
                        <input type="text" style="text-align: right" class="form-control width105p" formControlName="paymentTermsCost" readonly="readonly" id="paymentTermsCost" />
                        <i>$</i>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            </ul>
          </ul>
        </div>
      </ul>

      <ul>
        <!-- <div class="row row-cols-4 mt-3">
                                        <div class="col-md-5 padding-left">
                                                <label class="form-label" for="inputDefault">Payment Terms
                                                        :</label>
                                        </div>
                                        <div class="col">
                                                <div class="input-icon input-icon-right">
                                                        <input type="number" class="form-control"
                                                                style="text-align: right" (blur)='calculateCost(false)'
                                                                formControlName="paymentTermsPer" #paymentPer
                                                                id="paymentTermsPer" [OnlyNumber]="true" min="0">
                                                        <i>%</i>
                                                </div>
                                        </div>
                                        <div class="col">
                                                <div class="input-icon">
                                                        <input type="text" style="text-align: right"
                                                                class="form-control"
                                                                formControlName="PaymentTermsAmount" readonly="readonly"
                                                                id="PaymentTermsAmount">
                                                        <i>$</i>
                                                </div>
                                        </div>
                                </div> -->
      </ul>
    </div>
  </div>
</form>
