// Feature List Styles in CAD Viewer
.feature-container {
  position: relative;
  border: 1px solid #ddd;
  margin-right: 0.25rem;
  padding-right: 0.5rem;

  .feature-input-container {
    display: none;
  }

  &.feature-selected {
    .feature-checkbox {
      visibility: visible;
    }

    .feature-input-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    label > .feature-checkbox {
      top: 12px;
      left: 11px;
    }
  }

  &:hover {
    .feature-checkbox {
      visibility: visible;
    }
  }

  label > .feature-checkbox {
    visibility: hidden;
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;

    &:checked {
      visibility: visible;
    }
  }
}

.apply-button {
  padding: 0.2rem 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: 6px;
  margin: 8px 0;
  &.submit-button {
    background-color: var(--primary-shade);
  }
  &.update-button {
  }

  &#apply-features {
    position: absolute;
    top: 3.65rem;
    right: 0.5rem;
  }

  &#apply-feature-set {
    display: block;
    margin-left: 0;
    margin-right: 0px;
  }
}
.update-button-div {
  left: 8px;
  top: 105px;
  right: 8px;
  z-index: 10;
  position: absolute;
  background: var(--bs-white);
  .update-button {
    max-width: 110px;
    margin-left: auto;
    margin-right: 8px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #c7c8c9;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
    }
  }
}

.feature-input-container {
  padding: 0.3rem 0;
}

.feature-input-label,
.feature-input-select {
  width: 60%;
}

.feature-input-select {
  padding: 6px 12px;
  height: 2.125rem;
  border-radius: 6px;
  border: 1px solid var(--bs-border-color);
}
.feature-input-textbox {
  width: 30%;
  padding: 6px 12px;
  height: 2.125rem;
  margin-left: 1rem;
  border-radius: 6px;
  border: 1px solid var(--bs-border-color);
}
