.header-highlight {
  color: var(--table-green-text);
}
.drag-handle-col {
  display: flex;
  align-items: center;
  > * {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.manufacturing-table-btn {
  padding: 11px;
  font-size: 0.75rem;

  .mat-icon {
    max-width: 8px;
    max-height: 8px;
    font-size: 8px;
    &.delete-btn {
      max-width: 10px;
      font-size: 10px;
      max-height: 12px;
    }
  }
}
.cdk-drag-preview {
  width: 100%;
  font-size: 14px;
  display: table;
  z-index: 1000;
  color: black;
  line-height: 20px;
  vertical-align: middle;
  background-color: #f3f3f3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-preview mat-icon,
.cdk-drag-preview .material-icons {
  font-size: 10px;
  max-width: 10px;
  vertical-align: middle;
  color: var(--bs-black);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
